/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Form header */

#admin-form .vcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#admin-form #form-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

#admin-form #form-header #header-myforms {
  padding: 0;
}

#admin-form #form-header #header-addcollab {
  padding: 0;
}

#admin-form #form-header .left-spacer {
  margin-left: 15px;
}

#admin-form #form-header .right-spacer {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#admin-form #form-header .right-spacer .navbar__avatar {
  margin: -10px 0;
}

#admin-form #form-header #header-myforms a {
  color: #484848;
  font-size: 18px;
  cursor: pointer;
}

#admin-form #form-header #header-myforms #myforms-text {
  position: absolute;
  top: 3px;
}

#admin-form #form-header #header-myforms a:hover {
  color: #2f60ce;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

#admin-form #form-header #header-myforms .back-arrow {
  color: #2f60ce;
}

#admin-form #form-header #header-title {
  color: #484848;
  text-align: center;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#admin-form #form-header #header-last-saved {
  color: #979797;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

@media not all and (min-width: 768px) {
  #admin-form #form-header #header-title {
    font-size: 22px;
  }

  #admin-form #form-header #header-last-saved {
    font-size: 11px;
  }

  #admin-form #form-header #collab-circle-plus {
    height: 36px;
    width: 36px;
  }
}

@media all and (min-width: 768px) {
  #admin-form #form-header #header-title {
    font-size: 28px;
  }

  #admin-form #form-header #header-last-saved {
    font-size: 12px;
  }

  #admin-form #form-header #collab-circle-plus {
    height: 44px;
    width: 44px;
    margin-right: 6px;
  }
}

#admin-form #form-header #collab-circle-plus {
  color: #484848;
  border: 2px solid #484848;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 0;
}

#admin-form #form-header #collab-circle-plus i {
  vertical-align: middle;
  text-align: center;
}

#admin-form #form-header #collab-circle-user {
  display: block;
  color: #fff;
  margin-left: 7px;
  text-transform: uppercase;
  border: 2px solid #484848;
  background-color: #484848;
  border-radius: 50%;
  cursor: auto;
  outline: none;
  height: 44px;
  width: 44px;
  font-size: 16px;
}

#admin-form #form-header #collab-circle-plus:hover,
#admin-form #form-header #collab-circle-plus.active {
  border-color: #2f60ce;
  color: #2f60ce;
}

/* Form collaborator modal */

@media all and (max-width: 768px) {
  #collaborator-modal-body {
    padding-right: 3em;
    padding-left: 3em;
  }

  #collaborator-modal-body .top-section-label {
    display: flex;
    justify-content: space-between;
  }
}

#collaborator-modal #collab-overlay {
  position: fixed;
  z-index: 450;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
}

#collab-role #role-dropdown-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0;
  margin-top: 0;
}

#collaborator-modal-body .inputs-container {
  margin-bottom: 10px;
}

@media not all and (min-width: 768px) {
  #collaborator-modal-body {
    width: 100%;
    top: 0;
    overflow-y: auto;
  }

  #collab-list .role-column {
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #collab-role #role-dropdown-menu {
    width: inherit;
  }

  /* These are appended to body, hence no nesting */
  #existing-role-dropdown-menu {
    /* Same width as the collab-list itself */
    width: calc(100vw - 78px);
  }
}

@media all and (min-width: 768px) {
  #collaborator-modal-body {
    position: absolute;
    width: 700px;
    top: 125px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }

  #collab-email {
    padding-right: 10px;
  }

  #collab-role {
    padding-left: 0;
  }

  #admin-form #top-section .role-column {
    padding-left: 0;
  }

  #collab-list .role-column {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
  }

  #admin-form .non-mobile-hide {
    display: none !important;
  }
}

#collaborator-modal .role-dropdown-btn {
  height: 48px;
  background-color: #fff;
}

#collaborator-modal-body .remove-left-padding {
  padding-left: 0;
}

#collaborator-modal-body .remove-right-padding {
  padding-right: 0;
}

#role-dropdown-menu .role-explanation {
  color: #888;
}

#collab-role .caret {
  margin-top: 12px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px dashed;
}

#admin-form #role-dropdown-menu .spacer {
  height: 15px;
}

#collaborator-modal-body {
  z-index: 750;
}

#collaborator-modal-body .transfer-owner-email {
  color: #dc2a2a;
}

@media all and (min-width: 768px) {
  #collaborator-modal-body #bottom-section {
    padding-bottom: 30px;
  }
}

@media not all and (min-width: 768px) {
  #collaborator-modal-body #bottom-section {
    /* This padding is to prevent the last dropdown from getting cut off */
    padding-bottom: 130px;
  }
}

#collab-role .dropdown-disabled {
  background-color: #f0f0f0;
  border: solid 1px #ccc;
  cursor: default;
  color: #484848;
}

#collab-role .dropdown-disabled > span {
  opacity: 0.5;
}

#collaborator-modal-body #invite-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

#collaborator-modal-body button#collab-btn {
  width: 100%;
}

#collaborator-modal-body #collab-title {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0;
  color: #4a4a4a;
  padding-bottom: 25px;
}

#collaborator-modal-body #transfer-owner-cancel-btn {
  font-size: 18px;
  color: #2f60ce;
  background-color: white;
  border: 0;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}

#collaborator-modal-body .collab-hr {
  height: 1px;
  border: solid 1px #dcdcdc;
  margin-bottom: 10px;
}

#collaborator-modal-body #collab-list {
  /* If they squeeze the screen too small, white screen will appear at the bottom.
    TODO: Fix if possible. */
  min-height: 60px;
}

#collaborator-modal-body .secret-key-warning {
  margin-bottom: 30px;
}

@media all and (min-width: 768px) {
  #collaborator-modal-body #collab-list {
    overflow-y: auto;
  }

  #collaborator-modal-body .secret-key-warning {
    font-size: 17px;
  }
}

@media not all and (min-width: 768px) {
  #collaborator-modal-body #collab-list {
    /* For mobile, modal must be full screen, so enforce this minimum height to cover the screen. */
    min-height: calc(100vh - 452px);
  }

  #collaborator-modal-body .secret-key-warning {
    font-size: 14px;
  }
}

#admin-form #bottom-section .lock-scroll {
  overflow-y: hidden !important;
}

/* Add margin to the right because scroll bar will disappear, this compensates to
  reduce the movement of elements. Not necessary for mobile, because the list for mobile does not
  scroll; the whole page scrolls. */
@media all and (min-width: 768px) {
  #admin-form #bottom-section .lock-scroll {
    margin-right: 17px;
  }
}

#collaborator-modal-body #collab-list .collab-email {
  line-height: 1.67;
  color: #484848;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#collaborator-modal-body .collaborator-list-entry {
  margin-left: auto;
  margin-right: auto;
}

#collaborator-modal-body #collab-list .btn-delete {
  float: right;
  padding-right: 5px;
}

#collaborator-modal-body #collaborators-close-button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #979797;
  margin-left: 20px;
  position: absolute;
  right: 25px;
  top: 25px;
}

#collaborator-modal-body #collaborators-close-button:hover {
  color: #333;
}

#collab-list .spacer {
  height: 5px;
}

/* existing-role-dropdown-menus are appended to body, hence no nesting */
#existing-role-dropdown-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
  z-index: 1050;
}

.existing-role-button {
  cursor: pointer;
}

#collab-list .caret {
  margin-top: 11px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px dashed;
}

#collab-list .role-dropdown-text {
  font-size: 16px;
}

#existing-collab-role .dropdown-menu > li > a {
  padding-left: 15px;
  padding-right: 15px;
}

#collab-list .current-role-text {
  line-height: 1.67;
}
