.navbar__avatar {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.navbar__avatar__avatar {
  display: block;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #484848;
  background-color: #484848;
  border-radius: 50%;
  outline: none;
  height: 44px;
  width: 44px;
  font-size: 16px;
  cursor: pointer;
}

.navbar__avatar--focused {
  background-color: #f0f0f0;
}

.navbar__dropdown {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 80px;
  -webkit-box-shadow: 1px 3px 5px 0 rgba(48, 51, 54, 0.2);
  box-shadow: 1px 3px 5px 0 rgba(48, 51, 54, 0.2);
  background-color: #fff;
}

.navbar__dropdown--clickable {
  cursor: pointer;
}

.navbar__dropdown--clickable:hover,
.navbar__dropdown--clickable:focus,
.navbar__dropdown--clickable:active {
  background-color: #fdfdfd;
}

.navbar__dropdown__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 24px !important;
}

.navbar__dropdown__user__avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  width: 40px;
  font-size: 14px;
  border: 2px solid #484848;
  background-color: #484848;
  border-radius: 50%;
  outline: none;
  margin-right: 16px;
}

.navbar__dropdown__user__details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__dropdown__user__details--email {
  max-width: 250px;
  overflow-wrap: break-word;
}

.navbar__dropdown__logout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #2f60ce;
  font-weight: bold;
  cursor: pointer;
}

.navbar__dropdown__logout--text {
  padding-right: 9px;
}

.navbar__dropdown__logout:hover {
  color: #264da4;
}

.navbar__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__dropdown ul li {
  padding: 18px 24px;
  border-bottom: 1px solid #dcdcdc;
}
