/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* BANNER COMPONENT */

banner-component {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.banner-container {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 20px;
  font-weight: normal;
  overflow: hidden;
  font-size: 16px;
  z-index: 999;
  width: 100%;
}

.banner-container-info {
  /* Additional padding as opposed to the rest to accomodate dismiss button */
  padding: 12px 50px 12px 20px;
  background-color: #1e3e84;
  color: #f0f4f6;
}

.banner-container-info a {
  color: #f0f4f6;
}

.banner-container a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}

.banner-container-warn {
  background-color: #ffe47a;
  color: #323232;
}

.banner-container-warn a {
  color: #323232;
}

.banner-container-error {
  background-color: #a94442;
  color: #fff;
}

.banner-container-error a {
  color: #fff;
}

.banner-container div {
  display: inline-block;
}

.banner-container #dismiss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
}
