#landing #how-it-works {
  background-color: #f0f4f6;
  height: auto;
  padding: 60px 5% 90px 5%;
}

#landing #how-it-works .carousel-dots {
  display: block;
  text-align: center;
  margin-top: 25px;
}

@media (min-width: 992px) {
  #landing #how-it-works .carousel-dots {
    display: none;
  }
}

#landing #how-it-works #how-header {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.19;
  color: #2f60ce;
}

#landing #how-it-works #how-tabs-container #how-tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 32px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#landing #how-it-works #how-tabs-container #how-tabs span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  padding: 8px 4px;
  margin: 0 10px;
}

@media (min-width: 992px) {
  #landing #how-it-works #how-tabs-container #how-tabs span {
    padding: 8px 16px;
    margin: 0 40px;
  }
}

#landing #how-it-works #how-tabs-container #how-tabs span:active,
#landing #how-it-works #how-tabs-container #how-tabs span:focus,
#landing #how-it-works #how-tabs-container #how-tabs span:hover {
  color: #2f60ce;
}

#landing #how-it-works #how-tabs-container #how-tabs span.hiw-selected-tab {
  color: #2f60ce;
  border-bottom: 4px solid #2f60ce;
}

#landing #how-it-works #how-tabs-container .tab-content #how-disclaimer {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  padding: 0 16px 52px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

@media (min-width: 992px) {
  #landing #how-it-works #how-tabs-container .tab-content #how-container-m {
    display: none;
  }
}

#landing #how-it-works #how-tabs-container .tab-content #how-container {
  display: none;
  overflow: auto;
}

@media (min-width: 992px) {
  #landing #how-it-works #how-tabs-container .tab-content #how-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

#landing #how-it-works #how-tabs-container .tab-content .how-box-spacer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 20%;
  min-width: 220px;
  padding: 0 10px;
}

@media (min-width: 992px) {
  #landing #how-it-works #how-tabs-container .tab-content .how-box-spacer {
    margin: 0 1%;
    padding: 0;
  }
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .how-box {
  margin-top: 74px;
  display: block;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

@media (min-width: 992px) {
  #landing
    #how-it-works
    #how-tabs-container
    .tab-content
    .how-box-spacer
    .how-box {
    -webkit-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
    margin-bottom: 13px;
  }
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .how-box
  .how-details {
  padding: 122px 20px 27px 20px;
}

#landing #how-it-works #how-tabs-container .tab-content .how-box-spacer img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 90%;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .email-img1,
#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .storage-img1 {
  margin-top: 19px;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .storage-img2 {
  margin-top: 38px;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .email-img2 {
  margin-top: 29px;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .email-img3,
#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .storage-img3 {
  margin-top: 0;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .storage-img4 {
  margin-top: 45px;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .email-img4 {
  margin-top: 20px;
}

#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .email-img5,
#landing
  #how-it-works
  #how-tabs-container
  .tab-content
  .how-box-spacer
  .storage-img5 {
  margin-top: 38px;
}

#landing #how-it-works #how-tabs-container .tab-content .how-number {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.45;
  text-align: center;
  color: #2f60ce;
  margin-bottom: 24px;
  width: 40px;
  height: 40px;
  border: solid 2px #2f60ce;
  border-radius: 20px;
  padding-top: 2px;
}

#landing #how-it-works #how-tabs-container .tab-content .how-text {
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
}
