#landing {
  overflow-x: hidden;
}

/* HERO */

#landing #landing-hero {
  background-color: #f0f4f6;
  height: auto;
  overflow: auto;
}

@media not all and (min-width: 992px) {
  #landing #landing-hero #landing-header,
  #landing #landing-hero #landing-banner {
    display: none;
  }

  #landing #landing-hero #landing-header-m,
  #landing #landing-hero #landing-banner-m {
    display: block;
  }
}

@media all and (min-width: 992px) {
  #landing #landing-hero #landing-header,
  #landing #landing-hero #landing-banner {
    display: block;
  }

  #landing #landing-hero #landing-header-m,
  #landing #landing-hero #landing-banner-m {
    display: none;
  }
}

#landing #landing-hero #landing-header {
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
  height: 100px;
}

#landing #landing-hero #landing-header img {
  float: left;
  height: 48px;
  margin-top: -5px;
}

#landing #landing-hero #landing-header button {
  float: right;
  width: 120px;
  height: 48px;
}

#landing #landing-hero #landing-header a {
  float: right;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #323232;
  outline: none;
  text-decoration-line: none;
  margin-right: 55px;
  margin-top: 12px;
}

#landing #landing-hero #landing-header a:hover {
  color: #2f60ce;
  text-decoration-line: none;
}

#landing #landing-hero #landing-header-m {
  background-color: #fff;
  height: 54px;
}

#landing #landing-hero #landing-header-m img {
  float: left;
  height: 28px;
  margin: 13px;
}

#landing #landing-hero #landing-header-m #sign-in-m {
  padding: 13px;
  float: right;
  width: 118px;
  height: 100%;
  background-color: #2f60ce;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

#landing #landing-hero #landing-header-m #sign-in-m:hover {
  background-color: #23489b;
}

#landing #landing-hero #landing-header-m a {
  float: right;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #323232;
  outline: none;
  margin: 13px 21px 13px 13px;
}

#landing #landing-hero #landing-banner {
  margin-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 60px;
}

#landing #landing-hero #landing-banner #tagline {
  font-size: 64px;
  font-weight: 1000;
  line-height: 1.2;
  letter-spacing: -0.3px;
  color: #323232;
  width: 100%;
}

#landing #landing-hero #landing-banner #main {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}

#landing #landing-hero #landing-banner #main #main-left {
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#landing #landing-hero #landing-banner #main #main-left #stats {
  display: flex;
  margin-top: 30px;
  margin-right: 30px;
}

#landing #landing-hero #landing-banner #main #main-left #stats .stat-counts {
  font-size: 36px;
  line-height: 0.89;
  letter-spacing: 1.2px;
  color: #23489b;
  font-weight: 350;
}

#landing #landing-hero #landing-banner #main #main-left #stats .stat-titles {
  opacity: 0.8;
  font-family: Muli, sans-serif;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #484848;
  margin-left: 20px;
}

#landing
  #landing-hero
  #landing-banner
  #main
  #main-left
  #stats
  .stat-counts
  div {
  text-align: right;
  margin-bottom: 25px;
}

#landing
  #landing-hero
  #landing-banner
  #main
  #main-left
  #stats
  .stat-titles
  div {
  margin-bottom: 25px;
}

#landing #landing-hero #landing-banner #main #main-left button {
  margin-top: 42px;
  height: 54px;
  padding: 10px 18px;
}

#landing #landing-hero #landing-banner #main #main-right {
  width: 65%;
}

#landing #landing-hero #landing-banner #main #main-right img {
  width: 100%;
  margin-top: -85px;
}

#landing #landing-hero #landing-banner-m {
  padding: 41px 18px 52px 13px;
  text-align: center;
}

#landing #landing-hero #landing-banner-m #tagline-m {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.09;
  letter-spacing: -0.3px;
  color: #323232;
  margin-bottom: 20px;
}

#landing #landing-hero #landing-banner-m img {
  width: 90%;
  margin-bottom: 10px;
}

#landing #landing-hero #landing-banner-m .stat-count-m {
  font-size: 36px;
  line-height: 0.89;
  letter-spacing: 1.2px;
  color: #23489b;
  margin-bottom: 12px;
}

#landing #landing-hero #landing-banner-m .stat-title-m {
  opacity: 0.8;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 1.2px;
  color: #484848;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#landing #landing-hero #landing-banner-m button {
  width: 95%;
}

/* EXAMPLES */

#landing #landing-examples {
  background-color: #04aa80;
  width: 100%;
  height: auto;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}

@media not all and (min-width: 768px) {
  #landing #landing-examples {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 768px) {
  #landing #landing-examples {
    padding-left: 0;
    padding-right: 0;
  }
}

#landing #landing-examples #example-header {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.19;
  color: #fff;
  margin-bottom: 60px;
}

#landing #landing-examples #carousel .c-example {
  position: relative;
  display: inline;
  cursor: pointer;
}

#landing #landing-examples #carousel .c-example img {
  display: block;
  width: 95%;
  height: 100%;
  margin: 0 2.5%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  z-index: 1;
}

#landing #landing-examples #carousel .c-example .c-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0;
  width: 95%;
  margin: 0 2.5%;
  height: 100%;
  background-color: rgb(30, 62, 132);
  transition: 0.5s ease;
  opacity: 0;
  z-index: 9;
  text-align: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.9px;
  padding-left: 5%;
  padding-right: 5%;
  visibility: hidden;
}

#landing #landing-examples #carousel .c-example:hover img {
  opacity: 0.4;
}

#landing #landing-examples #carousel .c-example:hover .c-overlay {
  opacity: 0.85;
  visibility: visible;
}

#landing #landing-examples #carousel .c-example .c-overlay .c-overlay-content {
  width: 100%;
}

#landing
  #landing-examples
  #carousel
  .c-example
  .c-overlay
  .c-overlay-content
  .c-overlay-agency {
  font-size: 24px;
  font-weight: bold;
}

#landing
  #landing-examples
  #carousel
  .c-example
  .c-overlay
  .c-overlay-content
  .c-overlay-btns {
  width: 100%;
}

#landing
  #landing-examples
  #carousel
  .c-example
  .c-overlay
  .c-overlay-content
  .c-overlay-btns
  a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 54px;
  background: none;
  border-radius: 4px;
  border: solid 1px #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 14px;
  padding-bottom: 18px;
  outline: none;
}

@media not all and (min-width: 768px) {
  #landing
    #landing-examples
    #carousel
    .c-example
    .c-overlay
    .c-overlay-content
    .c-overlay-btns {
    margin-top: 10px;
  }

  #landing
    #landing-examples
    #carousel
    .c-example
    .c-overlay
    .c-overlay-content
    .c-overlay-btns
    a {
    width: 45%;
  }
}

@media all and (min-width: 768px) {
  #landing
    #landing-examples
    #carousel
    .c-example
    .c-overlay
    .c-overlay-content
    .c-overlay-btns {
    margin-top: 40px;
  }

  #landing
    #landing-examples
    #carousel
    .c-example
    .c-overlay
    .c-overlay-content
    .c-overlay-btns
    a {
    width: 35%;
  }
}

#landing
  #landing-examples
  #carousel
  .c-example
  .c-overlay
  .c-overlay-content
  .c-overlay-btns
  a:hover {
  background-color: #fff;
  color: #1e3e84;
}

.carousel-controls {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.carousel-prev {
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.carousel-next {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 0.5;
}

.carousel-dots {
  margin-top: 13px;
}

.carousel-dots .c-dot {
  height: 10px;
  width: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.carousel-dots .c-dot.dotted {
  background-color: #e1b12c;
}

/* FEATURES */

#landing #landing-features {
  background-color: #fffefe;
  height: auto;
  overflow: auto;
}

@media all and (min-width: 992px) {
  #landing #landing-features {
    padding: 90px 10% 0 10%;
  }

  #landing #landing-features .feature-img {
    height: 500px;
  }

  #landing #landing-features .feature1 .feature-content,
  #landing #landing-features .feature3 .feature-content {
    margin-left: 120px;
  }

  #landing #landing-features .feature2 .feature-img {
    display: inline-block;
  }

  #landing #landing-features .feature2 .feature-img-m {
    display: none;
  }

  #landing #landing-features .feature2 .feature-content {
    margin-right: 80px;
  }

  #landing #landing-features .feature {
    margin-bottom: 175px;
    display: flex;
    align-items: center;
  }
}

@media not all and (min-width: 992px) {
  #landing #landing-features {
    padding: 60px 10% 30px 10%;
  }

  #landing #landing-features .feature2 .feature-img {
    display: none;
  }

  #landing #landing-features .feature2 .feature-img-m {
    display: inline-block;
  }

  #landing #landing-features .feature1 .feature-img,
  #landing #landing-features .feature2 .feature-img-m,
  #landing #landing-features .feature3 .feature-img {
    width: 60%;
    min-width: 240px;
    text-align: center;
    float: none;
  }

  #landing #landing-features .feature1 .feature-content,
  #landing #landing-features .feature2 .feature-content,
  #landing #landing-features .feature3 .feature-content {
    text-align: left;
    width: 100%;
    float: none;
  }

  #landing #landing-features .feature .feature-content .feature-title {
    margin-top: 30px;
  }

  #landing #landing-features .feature {
    margin-bottom: 60px;
    text-align: center;
  }
}

#landing #landing-features .feature .feature-content {
  padding-top: 15px;
}

#landing #landing-features .feature .feature-content .feature-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  color: #2f60ce;
  margin-bottom: 32px;
}

#landing #landing-features .feature .feature-content .feature-text:not(i) {
  opacity: 0.8;
  font-size: 18px;
  line-height: 1.7;
  color: #444;
}

#landing #landing-features .feature .feature-content .feature-text i {
  opacity: 1;
  font-size: 20px;
  margin-right: 18px;
  margin-top: 10px;
  color: #04aa80;
}

/* TESTIMONIALS */

@media all and (min-width: 992px) {
  #landing #agency-testimonials #testimonials .c-testim .c-text {
    margin-top: -40px;
    margin-left: 100px;
  }

  #landing #agency-testimonials #testimonials .c-testim .c-name-agency {
    margin-left: 100px;
  }
}

@media not all and (min-width: 992px) {
  #landing #agency-testimonials #testimonials .c-testim .c-text {
    margin-top: 0;
    margin-left: 0;
  }

  #landing #agency-testimonials #testimonials .c-testim .c-name-agency {
    margin-left: 0;
  }
}

#landing #agency-testimonials {
  background-color: #fff;
  padding: 60px 10% 90px 10%;
}

#landing #agency-testimonials #testimonials .c-testim .c-quote {
  font-size: 50px;
  color: #04aa80;
}

#landing #agency-testimonials #testimonials .c-testim .c-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: -0.5px;
  color: #04aa80;
  margin-bottom: 20px;
}

#landing #agency-testimonials #testimonials .c-testim .c-name-agency {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.25;
  color: #323232;
  float: left;
}

#landing #agency-testimonials .carousel-prev,
#landing #agency-testimonials .carousel-next {
  color: #d8d8d8;
}

#landing #agency-testimonials .carousel-controls {
  margin-top: 40px;
}

#landing #agency-testimonials .carousel-prev:hover,
#landing #agency-testimonials .carousel-next:hover {
  color: #484848;
}

#landing #agency-testimonials .carousel-dots {
  display: block;
  text-align: center;
}

/* SIGN UP SECTION */

@media all and (min-width: 992px) {
  #landing #sign-up-section {
    padding: 100px 20%;
  }

  #landing #sign-up-section #actions {
    display: block;
  }

  #landing #sign-up-section #actions-m {
    display: none;
  }
}

@media not all and (min-width: 992px) {
  #landing #sign-up-section {
    padding: 60px 10%;
  }

  #landing #sign-up-section #actions {
    display: none;
  }

  #landing #sign-up-section #actions-m {
    display: block;
  }
}

#landing #sign-up-section {
  background-color: #2f60ce;
  color: #fff;
  text-align: center;
}

#landing #sign-up-section #primary-text {
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 35px;
}

#landing #sign-up-section #secondary-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

#landing #sign-up-section #actions,
#landing #sign-up-section #actions-m {
  text-align: center;
}

#landing #sign-up-section #actions .sign-up-now-btn,
#landing #sign-up-section #actions-m .sign-up-now-btn {
  min-width: 200px;
  height: 54px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  color: #2f60ce;
  text-transform: uppercase;
}

#landing #sign-up-section #actions .sign-up-now-btn {
  margin-right: 35px;
}

#landing #sign-up-section #actions-m .sign-up-now-btn {
  margin-bottom: 25px;
  width: 90%;
}

#landing #sign-up-section #actions .sign-up-now-btn:hover,
#landing #sign-up-section #actions-m .sign-up-now-btn:hover {
  transform: scale(0.95);
}

#landing #sign-up-section #actions .sign-up-help,
#landing #sign-up-section #actions-m .sign-up-help {
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
}
