.form-navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #e4e4e4;
  height: 60px;
  padding: 15px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .form-navbar {
    height: 80px;
    padding: 19px 30px;
  }
}

.form-navbar--left {
  height: 28px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .form-navbar--left {
    height: 40px;
  }
}

.form-navbar__logo {
  height: 100%;
}

.form-navbar__email {
  margin-right: 16px;
  font-size: 16px;
  color: #767676;
  cursor: default;
}

.form-navbar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-navbar__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-navbar__links a:last-child {
  margin-right: 48px;
}

.form-navbar__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #323232;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .form-navbar__link {
    height: 80px;
    margin-right: 18px;
    font-size: 16px;
  }
}

.form-navbar__link:hover {
  color: #2f60ce;
  text-decoration: none;
}

.form-navbar__link--active {
  border-bottom: 4px solid #2f60ce;
  height: 56px;
  margin-bottom: -4px;
}

@media (min-width: 768px) {
  .form-navbar__link--active {
    height: 76px;
  }
}
