/*
** Delete field modal
*/

@media not all and (min-width: 768px) {
  .submit-progress-modal-window .modal-dialog,
  .delete-field-modal-window .modal-dialog,
  .pop-up-modal-window .modal-dialog {
    width: 90%;
  }
}

@media all and (min-width: 768px) {
  .delete-field-modal-window .modal-dialog,
  .pop-up-modal-window .modal-dialog {
    width: 50%;
  }

  .submit-progress-modal-window .modal-dialog,
  .pop-up-modal-window .modal-dialog {
    width: 650px;
  }

  .delete-field-modal-window .action-buttons,
  .pop-up-modal-window .action-buttons {
    margin-bottom: 40px;
  }
}

.collaborator-modal-window,
.create-form-template-modal-window,
.full-screen-modal-window,
.delete-field-modal-window,
.submit-progress-modal-window,
.pop-up-modal-window {
  /* !important needed to over-ride default
	display set by modal library and center modal vertically */
  display: flex !important;
  align-items: center;
}

.delete-field-modal-window .modal-body,
.submit-progress-modal-window .modal-body,
.pop-up-modal-window .modal-body {
  padding: 15px 40px;
}

.collaborator-modal-window .modal-content,
.create-form-template-modal-window .modal-content,
.full-screen-modal-window .modal-content,
.submit-progress-modal-window .modal-content,
.delete-field-modal-window .modal-content,
.pop-up-modal-window .modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0;
  border-width: 0;
}

.pop-up-modal-window .modal-content-spacing {
  margin-top: 20px;
  margin-bottom: 50px;
}

.create-form-template-modal-window .modal-content {
  background: rgba(0, 0, 0, 0);
  min-height: 100%;
}

.create-form-template-modal-window .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}

.full-screen-modal-window .field-title,
.submit-progress-modal-window .field-title,
.delete-field-modal-window .field-title,
.pop-up-modal-window .field-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.92;
  text-align: center;
  color: #2f60ce;
  padding-bottom: 25px;
  padding-top: 40px;
}

.full-screen-modal-window .field-description,
.submit-progress-modal-window .field-description,
.delete-field-modal-window .field-description,
.pop-up-modal-window .field-description {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #000;
  padding-bottom: 36px;
}

.delete-field-modal-window .action-buttons,
.pop-up-modal-window .action-buttons {
  text-align: center;
}

.full-screen-modal-window .loader,
.submit-progress-modal-window .loader {
  font-size: 60px;
  text-align: center;
  color: #2f60ce;
}

/* Create new form modal */

.full-screen-modal-window .modal-content {
  min-height: 100%;
}

.full-screen-modal-window .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}

.full-screen-modal-window .close-full-screen-modal {
  text-align: right;
  font-size: 28px;
  color: #979797;
  padding-right: 25px;
  padding-top: 22px;
}

.full-screen-modal-window .close-full-screen-modal:hover {
  color: #333;
}

.full-screen-modal-window .close-full-screen-modal i {
  cursor: pointer;
}

.full-screen-modal-window .loading-spinner {
  position: absolute;
  color: #2f60ce;
  font-size: 60px;
  left: calc(50% - 30px);
  top: 50%;
}

#create-form-modal #settings-header {
  text-align: center;
}

#create-form-modal .form-option .field-title-bold {
  padding-bottom: 0;
}

#create-form-modal #secret-key .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-form-modal #secret-key .copy-password {
  margin-top: 45px;
  font-size: 12px;
  break-inside: avoid;
  background-color: #f0f0f0;
  min-height: 90px;
  padding: 30px;
}

#create-form-modal #secret-key #btn-continue {
  margin-top: 45px;
  width: 528px;
  text-align: center;
}

#create-form-modal #secret-key p {
  color: #767676;
  margin-top: 35px;
}

#activate-form-modal #btn-close {
  display: block;
  margin: 0 auto;
}

#create-form-modal .secret-key-safekeeping.alert-custom {
  display: flex;
  padding: 14px 16px;
  line-height: 1.39;
}

#create-form-modal .secret-key-safekeeping i {
  padding-top: 4px;
  padding-right: 16px;
}

#create-form-modal .secret-key-safekeeping ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.5em;
}

#create-form-modal .secret-key-safekeeping li::before {
  /* Add a space here because otherwise there's a weird spacing before the first word */
  content: '- ';
  margin-right: 0.5em;
}

#create-form-modal .secret-key-safekeeping a {
  color: #2f60ce;
}
