#results-tab-bar {
  white-space: nowrap;
  height: 53px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

#results-tab-bar #results-tabs-container {
  display: inline-block;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  height: 100%;
  text-align: center;
  -ms-overflow-style: none;
}

#results-tab-bar #results-tabs-container::-webkit-scrollbar {
  display: none;
}

@media all and (min-width: 768px) {
  #results-tab-bar #results-tabs-container {
    width: 60%;
  }
}

#results-tabs-container > li {
  text-align: center;
  padding: 14px 5px 0;
  margin: 0 25px;
  display: inline-block;
  height: 100%;
  max-width: 150px;
  min-width: 70px;
  cursor: pointer;
  font-size: 18px;
}

#results-tabs-container > li > a {
  color: #484848;
  font-weight: bold;
  text-decoration: none;
}

#results-tabs-container > li.active,
#results-tabs-container > li.active:focus,
#results-tabs-container > li.active:hover {
  border-bottom: 3px solid #2f60ce;
}

#results-tabs-container > li.active > a {
  color: #2f60ce;
}

@media not all and (min-width: 768px) {
  #results-tab-bar #results-tabs-container {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  #results-tabs-container > li {
    margin: 0;
    max-width: initial;
    min-width: initial;
  }

  #results-tabs-container > li:first-child {
    margin-right: 5%;
  }

  #results-tabs-container > li:last-child {
    margin-left: 5%;
  }
}

/* Stats style shared between feedback and responses */
#results-tab .stats {
  color: #3263cb;
  font-weight: 700;
}

#results-tab .stats-text {
  font-size: 22px;
}

#results-tab .summary-stat {
  margin-bottom: 15px;
}

/* Loader shared between feedback and responses */
#results-tab .loader {
  text-align: center;
  font-size: 60px;
}

@media (min-width: 768px) {
  #results-tab .loader {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  #results-tab .loader {
    margin-top: 100px;
  }
}

#results-tab .bx-loader {
  color: #3263cb;
}

/* Table shared between feedback and responses */
#results-tab .table {
  table-layout: fixed;
  margin-bottom: 40px;
  font-size: 18px;
}

#results-tab th.header,
#results-tab .ng-table th.sortable.sort-asc,
#results-tab .ng-table th.sortable.sort-desc {
  background-color: #444;
  color: white;
  text-shadow: none;
  border-bottom: none;
}

#results-tab .ng-table td,
#results-tab .ng-table th {
  height: 50px;
  vertical-align: inherit;
}

#results-tab .ng-table th.sortable .sort-indicator::after,
#results-tab .ng-table th.sortable .sort-indicator::before {
  border-color: white transparent;
}

#results-tab .ng-table th.sortable.sort-desc .sort-indicator::after {
  border-top: 4px solid white;
}

#results-tab .ng-table th.sortable.sort-asc .sort-indicator::after,
#results-tab .ng-table th.sortable.sort-desc .sort-indicator::after {
  opacity: 1;
}

#results-tab .ng-table-pager {
  text-align: center;
}
