/* Feedback Stats */

#feedback-tab #summary-border {
  margin-top: 40px;
  margin-bottom: 40px;
}

#feedback-tab .summary-stat {
  margin-bottom: 15px;
}

#feedback-tab .flex-row {
  display: flex;
  align-items: center;
}

#feedback-tab .feedback-summary {
  display: inline-flex;
}

#feedback-tab .feedback-label {
  font-weight: bold;
  color: #979797;
  margin-bottom: -10px;
  text-align: left;
}

#feedback-tab .feedback-average {
  font-weight: bold;
  padding-right: 10px;
  color: #444;
  display: flex;
  align-items: center;
}

#feedback-tab .feedback-emoji {
  height: 1em;
  padding-left: 10px;
}

@media all and (min-width: 768px) {
  #feedback-tab .feedback-label {
    font-size: 16px;
  }

  #feedback-tab .feedback-average {
    font-size: 50px;
  }
}

@media not all and (min-width: 768px) {
  #feedback-tab .feedback-label {
    font-size: 12px;
    margin-bottom: -30px;
  }

  #feedback-tab .feedback-average {
    font-size: 28px;
    margin-top: 25px;
  }

  #feedback-tab .feedback-emoji {
    padding-left: 10px;
  }
}

#feedback-tab .em {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}

/* Overlay */

.overlay-text {
  text-align: center;
  margin-top: 125px;
  font-size: 18px;
  padding: 0 20px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.9;
}

/* Feedback Table */
#feedback-tab th.header.number-col.sortable {
  width: 10%;
  text-align: center;
}

#feedback-tab th.header.rating-col.sortable {
  width: 15%;
  text-align: center;
}

#feedback-tab th.header.feedback-col.sortable {
  width: 55%;
  text-align: left;
  padding-left: 11px;
}

#feedback-tab th.header.time-col.sortable {
  width: 20%;
  text-align: left;
  padding-left: 11px;
}

@media (max-width: 768px) {
  #feedback-tab th.header.number-col.sortable {
    width: 18%;
  }

  #feedback-tab th.header.feedback-col.sortable {
    width: 42%;
  }

  #feedback-tab th.header.time-col.sortable {
    width: 25%;
  }

  #feedback-tab th.header.rating-col-desktop {
    display: none;
  }
}

@media not all and (max-width: 768px) {
  #feedback-tab th.header.rating-col-mobile {
    display: none;
  }
}

#feedback-tab td.number-col {
  text-align: center;
}

#feedback-tab td.rating-col {
  text-align: center;
}

@media not all and (max-width: 768px) {
  #feedback-tab td.rating-col-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  #feedback-tab td.rating-col-desktop {
    display: none;
  }
}

#feedback-tab td.feedback-col {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  padding-left: 11px;
}

#feedback-tab td.time-col {
  text-align: left;
  padding-left: 11px;
}

#feedback-tab .active .page-link {
  color: white;
  background-color: #2f60ce;
}

#feedback-tab .disabled .page-link {
  color: white;
  cursor: default;
}

#feedback-tab .page-link {
  color: #979797;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 0;
}
