#responses-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
}

#responses-tab .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#responses-tab .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#responses-tab .title {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-top: 41px;
  text-align: center;
  color: #323232;
}

#responses-tab .subtitle {
  font-size: 20px;
  line-height: 1.5;
  padding-top: 4px;
  padding-bottom: 32px;
  text-align: center;
  color: #323232;
}

#responses-tab .caption {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #767676;
}

#responses-tab .datepicker-container {
  flex: 1;
}

#responses-tab #date-picker {
  position: relative;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#responses-tab .date-picker-icon {
  z-index: -1;
  color: #2f60ce;
  position: absolute;
  right: 32px;
}

#responses-tab #date-picker input {
  background: transparent;
  width: 278px;
  height: 48px;
  padding-right: 50px;
  padding-left: 14px;
  border: 1px solid #b8b8b8;
}

@media (max-width: 1200px) {
  #responses-tab #date-picker input {
    width: 100%;
  }
}

#responses-tab .response-stats {
  white-space: nowrap;
  min-width: 280px;
}

#responses-tab .datepicker-export-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#responses-tab #optionRows {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  #responses-tab .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #responses-tab .datepicker-export-container {
    margin-top: 12px;
  }

  #responses-tab #date-picker {
    padding-right: 15px;
  }
}

/* Responses table */
#responses-tab .table {
  margin-top: 30px;
}

#responses-tab th.header.respondent-col {
  width: 15%;
  text-align: left;
  padding: 0 20px;
}

#responses-tab th.header.refNo-col {
  width: 45%;
  text-align: left;
}

#responses-tab th.header.time-col {
  width: 40%;
  text-align: left;
  padding-left: 11px;
}

#responses-tab td {
  word-wrap: break-word;
}

#responses-tab tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#responses-tab td.respondent-col {
  text-align: left;
  padding: 0 20px;
}

#responses-tab td.refNo-col {
  text-align: left;
  white-space: normal;
}

#responses-tab td.time-col {
  text-align: left;
  padding-left: 11px;
}

#responses-tab .active .page-link {
  color: white;
  background-color: #2f60ce;
}

#responses-tab .disabled .page-link {
  color: white;
  cursor: default;
}

#responses-tab .page-link {
  color: #979797;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 0;
}

#responses-tab img {
  width: 100%;
  height: auto;
}

/* Upload password to Unlock responses / Activate form */
#secret-key {
  text-align: center;
  width: 100%;
}

#secret-key img#download {
  max-width: 150px;
}

#responses-tab img#no-responses {
  max-width: 236px;
}

#secret-key img#activate {
  max-width: 150px;
}

#secret-key .copy-header {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 700;
}

#secret-key .copy-header .copy-header-highlighted {
  color: #2f60ce;
}

#secret-key .copy-text {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 30px;
}

#secret-key .copy-caption {
  margin-top: 20px;
}

#secret-key .instructions-caption {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#secret-key .copy-key {
  margin-top: 45px;
  font-size: 14px;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#secret-key .copy-key span {
  margin: 0 5px;
}

#secret-key .copy-key .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  min-height: 60px;
  padding: 0 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#secret-key .copy-key .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 54px;
  border-radius: 4px;
  border: solid 1.5px #2f60ce;
  color: #2f60ce;
}

#secret-key .copy-key .icon:hover {
  opacity: 0.5;
}

#secret-key #lost-secret-key {
  margin-top: 42px;
}

#secret-key #enter-secret-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 15px;
}

#secret-key #enter-secret-key .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 54px;
  border-radius: 4px;
  border: solid 1.5px #2f60ce;
  color: #2f60ce;
  flex-direction: column;
  padding: 0 16px;
}

#secret-key #enter-secret-key .icon-text {
  font-size: 14px;
}

#secret-key #enter-secret-key .icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

#secret-key #enter-secret-key input {
  height: 54px;
  margin-right: 10px;
}

#secret-key .input-acknowledgement {
  height: 54px;
}

.input-acknowledgement[placeholder] {
  text-overflow: ellipsis;
}

#secret-key .agree-text {
  color: #a94442;
}

#secret-key .no-select {
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Safari */
  -khtml-user-select: none;

  /* Konqueror HTML */
  -moz-user-select: none;

  /* Old versions of Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#verify-esrvcid .error-msg,
#secret-key .copy-text .dire-alert {
  font-weight: 700;
  color: #dc2a2a;
}

#secret-key .alert-info {
  display: flex;
  padding: 14px 16px;
  margin-top: 20px;
}

#secret-key .instructions {
  text-align: left;
}

#secret-key .instructions-container {
  margin: 0 auto 30px;
}

@media (min-width: 576px) {
  #secret-key .instructions-container {
    width: calc(100% - 115px);
  }
}

#secret-key .alert-info i {
  padding-top: 4px;
  padding-right: 16px;
}

#secret-key .alert-msg {
  display: flex;
  flex-direction: column;
}

#verify-esrvcid .success-msg {
  font-weight: 700;
  color: #04aa80;
}

#responses-tab #detailed-responses #respondent-timestamp {
  background: #f0f4f6;
  padding: 30px 25px;
}

#responses-tab
  #detailed-responses
  #respondent-timestamp
  div.row:not(:last-child) {
  padding-bottom: 10px;
}

#responses-tab #detailed-responses #respondent-timestamp a {
  cursor: pointer;
}

#responses-tab #detailed-responses #question-answer-grp {
  padding-top: 48px;
}

@media (max-width: 576px) {
  #responses-tab #detailed-responses #question-answer-grp {
    padding-top: 40px;
  }
}

#responses-tab #detailed-responses #question-answer-grp .qa-block:first-child {
  padding-top: 0 !important;
}

#responses-tab #detailed-responses #question-answer-grp .qa-block.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  color: #2f60ce;
  padding-top: 58px;
  padding-bottom: 10px;
  border-bottom: 3px solid #2f60ce;
}

@media (max-width: 576px) {
  #responses-tab #detailed-responses #question-answer-grp .qa-block.header {
    font-size: 18px;
  }
}

#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-no-answer,
#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-with-answer {
  padding: 40px 0;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 30px;
  letter-spacing: 0;
  font-size: 20px;
  color: #323232;
}

@media (max-width: 576px) {
  #responses-tab
    #detailed-responses
    #question-answer-grp
    .qa-block.response-no-answer,
  #responses-tab
    #detailed-responses
    #question-answer-grp
    .qa-block.response-with-answer {
    line-height: 24px;
    font-size: 16px;
  }
}

#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-no-answer
  .response-title-container
  .response-title-number,
#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-with-answer
  .response-title-container
  .response-title-number {
  font-size: 16px;
  padding-right: 4px;
}

@media (max-width: 576px) {
  #responses-tab
    #detailed-responses
    #question-answer-grp
    .qa-block.response-no-answer
    .response-title-container
    .response-title-number,
  #responses-tab
    #detailed-responses
    #question-answer-grp
    .qa-block.response-with-answer
    .response-title-container
    .response-title-number {
    font-size: 12px;
  }
}

#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-no-answer
  .response-title-container
  .response-title,
#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-with-answer
  .response-title-container
  .response-title {
  font-weight: bold;
}

#responses-tab
  #detailed-responses
  #question-answer-grp
  .qa-block.response-with-answer
  #response-download-attachment
  > a {
  cursor: pointer;
}

#responses-tab #detailed-responses #respondent-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#responses-tab
  #detailed-responses
  #respondent-header
  .respondent-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#responses-tab #detailed-responses #respondent-header #back-to-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

#responses-tab #detailed-responses #respondent-header #back-to-list i {
  color: #2f60ce;
}

#responses-tab #detailed-responses #respondent-header #back-to-list span {
  font-size: 18px;
  color: #484848;
}

#responses-tab #detailed-responses #respondent-header #respondent-number {
  font-size: 24px;
  font-weight: bold;
  color: #323232;
}

@media (max-width: 576px) {
  #responses-tab #detailed-responses #respondent-header #respondent-number {
    display: none;
  }
}

#responses-tab #detailed-responses #respondent-header #respondent-number-m {
  display: none;
}

@media (max-width: 576px) {
  #responses-tab #detailed-responses #respondent-header #respondent-number-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #323232;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 25px;
  }
}

#responses-tab #detailed-responses #respondent-header #next-previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#responses-tab
  #detailed-responses
  #respondent-header
  #next-previous
  .btn-respondent {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

#responses-tab
  #detailed-responses
  #respondent-header
  #next-previous
  .btn-respondent:disabled {
  background-color: #b8b8b8;
}

#responses-tab .field-group.text-field .input-custom {
  background: transparent;
  padding-left: 16px !important;
  border: solid 1px #ccc;
}

#filter-by-submission-reset-link {
  padding-top: 13px;
  padding-left: 13px;
  white-space: nowrap;
  cursor: pointer;
}

#filter-by-submission-filter-link {
  padding-top: 13px;
  padding-left: 5px;
  white-space: nowrap;
  cursor: pointer;
}

#filter-by-submission-filter-textbox-container {
  display: flex;
  min-width: 240px;
}

#export-dropdown-options a {
  font-size: 18px;
  color: #484848;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 65px;
}
