{
  "env": {
    "jasmine": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "spec": true,
    "expectAsync": true
  },
  "overrides": [{ "files": ["*.ts"], "extends": ["plugin:jest/recommended"] }]
}
