{
  "env": {
    "jasmine": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "spec": true,
    "expectAsync": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "env": { "jest": true, "jasmine": false },
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
