{
  "root": true,
  "plugins": ["import", "simple-import-sort", "prettier", "testing-library", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:storybook/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["*.stories.*"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "testing-library/no-unnecessary-act": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-unsafe-optional-chaining": "off"
      }
    }
  ],
  "ignorePatterns": ["build/**/*", "!.storybook"],
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    // Rules for auto sort of imports
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Side effect imports.
          ["^\\u0000"],
          // Packages.
          // Packages. `react` related packages come first.
          // Things that start with a letter (or digit or underscore), or
          // `@` followed by a letter.
          ["^react", "^@?\\w"],
          // Root imports
          // Shared imports should be separate from application imports.
          ["^(~shared)(/.*|$)"],
          ["^(~)(/.*|$)"],
          ["^(~typings)(/.*|$)"],
          [
            "^(~assets|~theme)(/.*|$)",
            "^(~contexts)(/.*|$)",
            "^(~constants)(/.*|$)",
            "^(~hooks)(/.*|$)",
            "^(~utils)(/.*|$)",
            "^(~services)(/.*|$)",
            "^(~components)(/.*|$)",
            "^(~templates)(/.*|$)"
          ],
          ["^(~pages)(/.*|$)", "^(~features)(/.*|$)"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "unused-imports/no-unused-imports": "error", 
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
