<form
  name="activateForm"
  id="activate-form-modal"
  ng-init="vm.initializeChecks()"
>
  <!--Closing of modal is disabled when form is being saved-->
  <div
    class="close-full-screen-modal"
    ng-click="vm.savingStatus === 1 || vm.closeActivateFormModal()"
  >
    <i class="bx bx-x"></i>
  </div>
  <div class="modal-body">
    <!-- If form is spcp, prompt user to verify their e-service id-->
    <div ng-if="vm.checkStatus === vm.checkEnum.esrvcId" id="verify-esrvcid">
      <div class="field-title">Please verify your e-service ID</div>
      <div class="loader" ng-if="vm.esrvcIdStatus === 1">
        <i class="bx bx-loader bx-spin"></i>
      </div>
      <div ng-if="!vm.esrvcIdError && vm.esrvcIdSuccess">
        <div
          ng-if="['SP', 'MyInfo', 'CP'].includes(vm.esrvcIdSuccess.authType)"
        >
          <div ng-if="vm.esrvcIdSuccess.authType === 'CP'" class="field-title">
            This form uses Corppass.
          </div>
          <div ng-if="vm.esrvcIdSuccess.authType === 'SP'" class="field-title">
            This form uses Singpass.
          </div>
          <div
            ng-if="vm.esrvcIdSuccess.authType === 'MyInfo'"
            class="field-title"
          >
            This form uses MyInfo.
          </div>
          <div class="field-description">
            Please make sure <b>{{vm.esrvcIdSuccess.esrvcId}}</b> is the correct
            e-service ID
          </div>
        </div>
      </div>
    </div>

    <!-- If form is encrypt, check for password-->
    <verify-secret-key-directive
      ng-if="vm.checkStatus === vm.checkEnum.password"
      id="secret-key"
      header="Activate your form"
      btn-text="Activate Form"
      public-key="vm.publicKey"
      callback="vm.passwordCallback"
      saving-status="vm.savingStatus"
      is-activation-modal="true"
    >
    </verify-secret-key-directive>

    <!-- When e-service id is wrong, show 'CLOSE'. 
    When password is wrong, do not show, since we will just prompt the user to upload again. (Remaining checks is not decremented)
    When there are no remaining checks (all successful), show saving.  -->
    <button
      id="btn-close"
      class="btn-medium btn-custom"
      ng-click="vm.closeActivateFormModal()"
      ng-disabled="vm.savingStatus === 1"
      ng-if="vm.esrvcIdError || vm.remainingChecks === 0"
    >
      <span ng-if="vm.savingStatus === 0">Close</span>
      <span ng-if="vm.savingStatus === 1"
        ><i class="bx bx-loader bx-spin"></i> Saving</span
      >
      <span ng-if="vm.savingStatus === 2">Saved!</span>
    </button>
  </div>
</form>
