<!-- Collaborator Modal -->
<div id="collaborator-modal">
  <div class="close-full-screen-modal" ng-click="closeModal()">
    <i class="bx bx-x"></i>
  </div>

  <div
    id="collaborator-modal-body"
    ng-class="lockCollaboratorScroll ? 'mobile-scroll-lock' : ''"
  >
    <div ng-if="isDisplayTransferOwnerModal">
      <div class="label-custom" id="invite-title">
        Transfer ownership to
        <span class="transfer-owner-email">{{transferOwnerEmail}}</span>
      </div>
      <div class="" id="collab-title">
        Are you sure? You will lose form ownership and the right to delete this
        form. You will still have Editor rights.
      </div>
      <button
        type="submit"
        id="transfer-owner-btn"
        class="btn-custom red-bg-dark btn-medium"
        ng-click="transferOwner()"
        ng-class="btnStatus >= 2 ? 'btn-pressed' : ''"
      >
        Yes, transfer
      </button>
      <button
        type="submit"
        id="transfer-owner-cancel-btn"
        class="btn-medium"
        ng-click="toggleTransferOwnerModal()"
      >
        Cancel
      </button>
    </div>

    <div ng-if="isDisplayRemoveSelfFromCollabModal">
      <div class="label-custom" id="invite-title">
        Remove myself as a collaborator from this form
      </div>
      <div class="" id="collab-title">
        You will be removed as a collaborator and will lose access to this form.
        You cannot undo this.
      </div>
      <button
        type="submit"
        id="transfer-owner-btn"
        class="btn-custom red-bg-dark btn-medium"
        ng-click="removeSelfFromCollab()"
        ng-class="btnStatus >= 2 ? 'btn-pressed' : ''"
      >
        Remove me
      </button>
      <button
        type="submit"
        id="transfer-owner-cancel-btn"
        class="btn-medium"
        ng-click="toggleRemoveSelfFromCollabModal()"
      >
        Cancel
      </button>
    </div>

    <div
      ng-if="!isDisplayTransferOwnerModal && !isDisplayRemoveSelfFromCollabModal"
    >
      <!-- Top section contains the title and functionality to add new collaborators -->
      <div id="top-section" ng-if="userCanEdit">
        <div class="top-section-label">
          <div class="label-custom" id="invite-title">New collaborators</div>
        </div>

        <!-- Input and save button -->
        <div ng-form="collab.form">
          <div
            class="row inputs-container inputs-container--{{myform.responseMode}}"
            ng-init="collab.form.role = ROLES.EDITOR"
          >
            <div
              id="collab-email"
              ng-if="userCanEdit"
              class="col-sm-9 col-xs-12"
            >
              <input
                ng-model="collab.form.email"
                type="email"
                placeholder="Enter email address"
                spellcheck="false"
                class="input-custom input-medium"
              />
              <!-- Error messages -->
              <div
                ng-if="collab.form.$invalid"
                class="alert-custom alert-error"
              >
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg"
                  >Please enter a valid email address</span
                >
              </div>
            </div>
            <!-- Viewer mode only dropdown menu-->
            <div
              id="collab-role"
              ng-if="userCanEdit"
              class="col-xs-12 col-sm-3 role-column"
            >
              <div
                id="new-collaborator-dropdown"
                class="btn-group btn-block"
                uib-dropdown
              >
                <button
                  id="change-role-button"
                  type="button"
                  uib-dropdown-toggle
                  class="input-custom input-medium role-dropdown-btn"
                >
                  <span class="pull-left">{{ collab.form.role }}</span>
                  <span class="caret pull-right"></span>
                </button>
                <ul
                  id="role-dropdown-menu"
                  class="dropdown-menu dropdown-menu-right"
                  role="menu"
                  aria-labelledby="change-role-button"
                  uib-dropdown-menu
                >
                  <li role="menuitem">
                    <a
                      href
                      ng-if="user.email === myform.admin.email"
                      ng-click="selectRole(ROLES.ADMIN)"
                    >
                      <div class="input-medium">{{ ROLES.ADMIN }}</div>
                      <div class="role-explanation">Edit and delete form</div>
                    </a>
                  </li>
                  <li class="spacer"></li>
                  <li role="menuitem">
                    <a href ng-click="selectRole(ROLES.EDITOR)">
                      <div class="input-medium">{{ ROLES.EDITOR }}</div>
                      <div class="role-explanation">Edit form</div>
                    </a>
                  </li>
                  <li class="spacer"></li>
                  <li role="menuitem">
                    <a href ng-click="selectRole(ROLES.VIEWER)">
                      <div class="input-medium">{{ ROLES.VIEWER }}</div>
                      <div class="role-explanation">View responses only</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Reminder to share secret key -->
          <div
            class="alert-custom alert-info secret-key-warning"
            ng-if="myform.responseMode === 'encrypt'"
          >
            <i class="bx bx-info-circle bx-md icon-spacing"></i>
            <span class="alert-msg">
              Share your secret key with collaborators who need to access
              response data.
            </span>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <button
                ng-disabled="(collab.form.$invalid || collab.form.email == undefined || collab.form.email == '')  && btnStatus == 1"
                ng-if="collab.form.role !== ROLES.ADMIN"
                type="submit"
                id="collab-btn"
                class="btn-custom btn-medium"
                ng-click="saveCollabEmail()"
                ng-class="btnStatus >= 2 ? 'btn-pressed' : ''"
              >
                <span ng-if="btnStatus == 1">Add</span>
                <span ng-if="btnStatus == 2">
                  <i class="bx bx-loader bx-spin bx-md"></i>
                </span>
                <span ng-if="btnStatus == 3">
                  <i class="bx bx-check bx-md"></i>
                </span>
              </button>
              <button
                ng-disabled="(collab.form.$invalid || collab.form.email == undefined || collab.form.email == '')  && btnStatus == 1"
                ng-if="collab.form.role === ROLES.ADMIN"
                type="submit"
                id="collab-btn"
                class="btn-custom btn-medium"
                ng-click="handleTransferOwnerButtonClick()"
              >
                <span ng-if="btnStatus == 1">Transfer Ownership</span>
                <span ng-if="btnStatus == 2">
                  <i class="bx bx-loader bx-spin bx-md"></i>
                </span>
                <span ng-if="btnStatus == 3">
                  <i class="bx bx-check bx-md"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <br />
      <hr />
      <br />

      <!-- Bottom section contains the collaborators list -->
      <div
        id="bottom-section"
        ng-class="myform.permissionList.length <= 0 ? 'non-mobile-hide' : ''"
      >
        <!-- List of collaborators -->
        <div class="label-custom" id="invite-title">Existing collaborators</div>
        <div
          id="collab-list"
          ng-class="lockCollaboratorScroll ? 'lock-scroll' : ''"
        >
          <!-- First user in the list is the admin-->
          <div class="row collaborator-list-entry">
            <div class="col-xs-12 col-sm-8 collab-email remove-left-padding">
              {{ myform.admin.email}}
            </div>
            <div id="owner-role" class="col-xs-5 col-sm-3 role-column">
              <span class="pull-left current-role-text">{{ ROLES.ADMIN }}</span>
            </div>
            <div
              class="
                col-xs-2 col-xs-offset-5 col-sm-1 col-sm-offset-0
                remove-right-padding
              "
            ></div>
          </div>
          <div class="collab-hr"></div>

          <!-- List of other collaborators -->
          <div ng-repeat="userObj in myform.permissionList track by $index">
            <div class="row collaborator-list-entry">
              <div class="col-xs-12 col-sm-8 collab-email remove-left-padding">
                {{userObj.email}}
              </div>
              <div
                id="existing-collab-role"
                class="col-xs-5 col-sm-3 role-column"
              >
                <!-- Text only, for view-only collaborators list, as well as own email, since you cannot edit your own rights -->
                <div
                  id="role-text-only"
                  ng-if="!userCanEdit || user.email === userObj.email.toLowerCase()"
                >
                  <span class="pull-left current-role-text"
                    >{{ permissionsToRole(userObj) }}</span
                  >
                </div>
                <!-- Admin/Editor collaborators list -->
                <!-- toggleScrollLock is called twice here because if you open the dropdown then close the modal,
                    on-toggle will no longer be called when opening the dropdown, only when closing it.
                    Hence, it is called by on-toggle AND on ng-click. This would not be necessary if uib-dropdown
                    were not buggy. Note that the is-open flag is still set accurately even when the
                    on-toggle stops being called, hence we call toggleScrollLock using the is-open's property. -->
                <div
                  id="role-dropdown"
                  ng-if="userCanEdit && user.email !== userObj.email.toLowerCase()"
                  uib-dropdown
                  uib-dropdown-toggle
                  dropdown-append-to-body
                  is-open="collaboratorDropdownsOpen[$index]"
                  on-toggle="toggleScrollLock(open, $index)"
                  ng-click="toggleScrollLock(collaboratorDropdownsOpen[$index], $index)"
                  class="btn-group btn-block existing-role-button"
                >
                  <span type="button" class="role-dropdown-btn">
                    <span class="pull-left current-role-text"
                      >{{ permissionsToRole(userObj) }}</span
                    >
                    <span class="caret pull-right"></span>
                  </span>
                  <ul
                    id="existing-role-dropdown-menu"
                    class="dropdown-menu"
                    uib-dropdown-menu
                    role="menu"
                    aria-labelledby="existing-role-button"
                  >
                    <li role="menuitem">
                      <a
                        href
                        ng-if="user.email === myform.admin.email"
                        ng-click="handleUpdateRoleToOwner($index)"
                      >
                        <div class="role-dropdown-text">{{ ROLES.ADMIN }}</div>
                        <div>Edit and delete form</div>
                      </a>
                    </li>
                    <li class="spacer"></li>
                    <li role="menuitem">
                      <a href ng-click="updateRole($index, ROLES.EDITOR)">
                        <div class="role-dropdown-text">{{ ROLES.EDITOR }}</div>
                        <div>Edit forms</div>
                      </a>
                    </li>
                    <li class="spacer"></li>
                    <li role="menuitem">
                      <a href ng-click="updateRole($index, ROLES.VIEWER)">
                        <div class="role-dropdown-text">{{ ROLES.VIEWER }}</div>
                        <div>View responses only</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="
                  col-xs-2 col-xs-offset-5 col-sm-1 col-sm-offset-0
                  remove-right-padding
                "
              >
                <button
                  class="btn-delete"
                  ng-if="user.email !== userObj.email.toLowerCase() && userCanEdit"
                  ng-click="deleteCollabEmail(userObj.email);closeEditCollaboratorDropdowns()"
                >
                  <i class="bx bx-trash bx-md"></i>
                </button>
                <button
                  class="btn-delete"
                  ng-if="user.email === userObj.email.toLowerCase()"
                  ng-click="handleRemoveSelfFromCollabButtonClick()"
                >
                  <i class="bx bx-trash bx-md"></i>
                </button>
              </div>
            </div>
            <div class="collab-hr"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
