<div class="modal-body">
  <div ng-if="attachmentsToDownload <= 0">
    <div class="field-title">
      Downloading and unlocking responses. Do not switch tabs or close your
      browser.
    </div>
    <div class="loader">
      <i class="bx bx-loader bx-spin"></i>
    </div>
    <div class="field-description">
      <b>Decrypting large amount of files.</b><br />Decryption might take a
      while depending on the capabilities of your device.
    </div>
  </div>
  <div ng-if="attachmentsToDownload > 0">
    <div class="field-title">
      Download {{ attachmentsToDownload }} responses and attachments
    </div>
    <div class="field-description">
      <p>
        Up to {{ attachmentsToDownload }} files are being downloaded into your
        destination folder.
      </p>
      <p>
        After download is complete, you can refer to the
        <strong>Download Status</strong> column in the exported CSV file to see
        the status of each attachment download.
      </p>
      <p><strong>Estimated time:</strong> 30-50 minutes per 1,000 responses.</p>
    </div>
    <div class="loader"><i class="bx bx-loader bx-spin"></i></div>
    <div class="action-buttons">
      <center>
        <a ng-click="$dismiss()" class="modal-add-btn">Cancel Download</a>
      </center>
    </div>
  </div>
</div>
