<div class="modal-body">
  <div class="field-title">Are you sure you want to delete this form?</div>
  <div class="field-description">
    What you are about to do <b>cannot be undone</b>. Your form
    "<b>{{vm.currFormTitle}}</b>" will be permanently deleted and all associated
    feedback will be removed as well.
  </div>
  <div class="action-buttons">
    <button
      type="submit"
      ng-click="vm.deleteForm()"
      class="btn-custom btn-medium modal-save-btn"
    >
      Delete Form
    </button>
    <a ng-click="vm.cancel()" class="modal-cancel-btn">Cancel</a>
  </div>
</div>
