<div class="modal-body">
  <div class="field-title">Are you sure you want to delete this field?</div>
  <div class="field-description">
    What you are about to do <b>cannot be undone</b>. This field will be
    permanently deleted and any associated form logic may break as a result.
  </div>
  <div class="action-buttons">
    <button
      type="submit"
      ng-click="vm.confirmDeleteField()"
      class="btn-custom btn-medium modal-save-btn"
    >
      Delete Field
    </button>
    <a ng-click="vm.closeDeleteFieldWarningModal()" class="modal-cancel-btn"
      >Cancel</a
    >
  </div>
</div>
