<div class="pop-up-modal">
  <div class="modal-body">
    <div class="field-title">
      Download {{ responsesCount }} responses and attachments
    </div>
    <div ng-if="responsesCount > 0" class="field-description">
      <div class="modal-content-spacing">
        <div>
          Separate zip files will be downloaded,
          <strong>one for each response</strong>.
        </div>
        <div>You may adjust the date range before proceeding.</div>
      </div>
      <div class="modal-content-spacing">
        <strong>Estimated time:</strong> 30-50 minutes per 1,000 responses.
      </div>
      <div class="alert-custom alert-info alert-margin">
        <p>
          <i class="bx bx-info-circle bx-md"></i> Downloading many attachments
          can be an intensive operation
        </p>
        <ul>
          <li>Do not use Internet Explorer</li>
          <li>Your network connectivity is stable</li>
          <li>Your device has sufficient disk space for the download</li>
        </ul>
      </div>
    </div>
    <div ng-if="responsesCount === 0" class="field-description">
      <p>
        The date range you selected does not contain any responses. Please
        select a date range containing responses and try again.
      </p>
    </div>
    <div class="action-buttons">
      <button
        type="button"
        class="btn-custom btn-medium"
        ng-click="$close()"
        ng-disabled="responsesCount === 0"
      >
        Download
      </button>
      <a class="modal-cancel-btn" ng-click="$dismiss()"> Cancel </a>
    </div>
  </div>
</div>
