<div class="modal-body" ng-form="vm.endPageForm">
  <div class="row no-margin">
    <div class="col-md-5 col-xs-12 col-sm-12 container no-padding">
      <div class="edit-panel">
        <div class="row modal-header">
          <h2 class="modal-title">Edit Thank You</h2>
        </div>
        <div class="row question">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Title
          </div>
          <div class="col-md-12">
            <input
              class="input-custom input-medium"
              type="text"
              name="title"
              ng-model="vm.myform.endPage.title"
              required
            />
          </div>
        </div>

        <div
          ng-if="vm.endPageForm.title.$error.required"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg">Please fill in a title</span>
        </div>

        <div class="row"><br /></div>

        <div class="row description">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Follow-up instructions
          </div>
          <div class="col-md-12">
            <textarea
              class="input-custom input-medium"
              type="text"
              ng-model="vm.myform.endPage.paragraph"
            ></textarea>
          </div>
        </div>

        <div class="row"><br /></div>

        <div class="row">
          <div class="col-sm-6 modal-input-left">
            <div class="label-custom label-medium label-bottom">
              Button text
            </div>
            <input
              class="input-custom input-medium"
              type="text"
              ng-model="vm.myform.endPage.buttonText"
              placeholder="Submit another form"
            />
          </div>
          <div class="col-sm-6 modal-input-right">
            <div class="label-custom label-medium label-bottom">
              Button link
            </div>
            <input
              type="text"
              name="buttonLink"
              class="input-custom input-medium"
              ng-model="vm.myform.endPage.buttonLink"
              placeholder="Default to form link"
              validate-url
              allow-http="true"
            />
            <div
              class="alert-custom alert-error"
              ng-if="vm.endPageForm.buttonLink.$invalid"
            >
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg"> Please enter a valid URL</span>
            </div>
          </div>
        </div>

        <div class="row"><br /></div>

        <div class="modal-footer row">
          <button
            type="submit"
            ng-click="vm.saveEndPage(!vm.endPageForm.$invalid)"
            class="btn-custom btn-medium modal-save-btn"
            ng-disabled="disableSave()"
          >
            Save
          </button>
          <a ng-click="vm.cancel()" class="modal-cancel-btn">Cancel</a>
        </div>
      </div>
    </div>

    <div
      class="preview-page-panel col-md-7 hidden-sm hidden-xs container no-padding"
    >
      <form class="public-form">
        <end-page-component
          logo-url="{{ vm.logoUrl }}"
          title="{{ vm.myform.endPage.title }}"
          paragraph="{{ vm.myform.endPage.paragraph }}"
          button-text="{{ vm.myform.endPage.buttonText }}"
          button-link="{{ vm.myform.endPage.buttonLink }}"
          auth-type="{{ vm.myform.authType }}"
          is-admin-preview="true"
          color-theme="{{ vm.myform.startPage.colorTheme }}"
          class="preview-field"
        >
        </end-page-component>
      </form>
    </div>
  </div>
</div>
