<div class="modal-body myinfo">
  <div class="row no-margin">
    <!-- MyInfo field explanation on the left -->
    <div
      class="col-md-5 col-xs-12 col-sm-12 container no-padding"
      ng-form="editFieldForm"
    >
      <div class="edit-panel">
        <!-- Top title -->
        <div class="row modal-header">
          <h2 class="modal-title">
            <field-icon-component
              type-name="{{vm.field.myInfo.attr}}"
            ></field-icon-component
            >{{vm.field.title}}
          </h2>
        </div>

        <!-- Warn if this is a logic field. -->
        <div
          ng-if="vm.isConditionField"
          class="alert-custom alert-info alert-margin"
        >
          <i class="bx bx-info-circle bx-md icon-spacing"></i>
          <span class="alert-msg"
            >Changes to this field could affect your form's logic.</span
          >
        </div>

        <div class="row"><br /></div>

        <div class="row question">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Data Source
          </div>
          <div class="col-md-12">{{vm.field.myInfo.source}}</div>
        </div>

        <div class="row"><br /></div>

        <div class="row question">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Verified For
          </div>
          <div class="col-md-12">
            <i class="bx" ng-class="vm.verifiedForSG ? 'bx-check' : 'bx-x'"></i
            >Singaporeans
          </div>
          <div class="col-md-12">
            <i class="bx" ng-class="vm.verifiedForPR ? 'bx-check' : 'bx-x'"></i
            >Permanent Residents
          </div>
          <div class="col-md-12">
            <i class="bx" ng-class="vm.verifiedForF ? 'bx-check' : 'bx-x'"></i
            >Foreigners with
            <a
              translate-attr="{ href: 'LINKS.SINGPASS_ELIGIBILITY_FAQ' }"
              target="_blank"
              >Singpass</a
            >
          </div>
        </div>

        <div class="row"><br /></div>

        <div class="row question">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Description
          </div>
          <div class="col-md-12">{{vm.field.myInfo.description}}</div>
        </div>

        <div class="row"><br /></div>

        <div class="modal-footer row">
          <button
            type="submit"
            ng-click="vm.saveMyInfoField()"
            class="btn-custom btn-medium modal-save-btn"
            ng-disabled="disableSave()"
          >
            Save
          </button>
          <a ng-click="vm.cancelMyInfoField()" class="modal-cancel-btn"
            >Cancel</a
          >
        </div>
      </div>
    </div>

    <!-- MyInfo preview on the right -->
    <div
      class="preview-field-panel col-md-7 hidden-sm hidden-xs container no-padding"
    >
      <div class="modal-preview-content">
        <form name="forms.myForm" class="public-form">
          <field-directive
            field="vm.field"
            class="preview-field"
            forms="forms"
            isadminpreview="true"
            colortheme="{{ vm.myform.startPage.colorTheme }}"
          >
          </field-directive>
        </form>
      </div>
    </div>
  </div>
</div>
