<div class="logic-modal modal-body" ng-form="vm.logicForm">
  <div class="row">
    <div class="logic-modal-panel if-panel">
      <div class="row modal-header">
        <h2 class="modal-title hidden-md hidden-lg">
          IF
          <small
            ><i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Only 6 types of fields can be used as if-fields in logic statements: Yes/No, Radio Button, Rating, Number, Decimal and Dropdown fields."
              tooltip-trigger="'click mouseenter'"
              tooltip-placement="auto right'"
            ></i
          ></small>
        </h2>
        <h3 class="modal-title hidden-xs hidden-sm">
          IF
          <small
            ><i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Only 6 types of fields can be used as if-fields in logic statements: Yes/No, Radio, Rating, Number, Decimal and Dropdown fields."
              tooltip-trigger="'click mouseenter'"
              tooltip-placement="auto right'"
            ></i
          ></small>
        </h3>
        <h4>
          e.g. If "Gender" is equals to "Male" <b>AND</b> "Age" is more than or
          equal to 16
        </h4>
        <div
          ng-hide="vm.subsetIfFields(vm.logic).length > 0"
          class="alert-custom alert-info alert-margin"
        >
          <i class="bx bx-info-circle bx-md icon-spacing"></i>
          <span class="alert-msg">
            <div class="warning-with-padding">
              Your form does not have fields that Logic can apply on. Logic can
              only be applied to Yes/No, Radio, Rating, Number, Decimal and
              Dropdown fields.
            </div>
          </span>
        </div>
      </div>

      <div>
        <div
          ng-repeat="condition in vm.logic.conditions"
          class="row condition-panel"
        >
          <div
            class="and-condition-text col-lg-11 col-md-11 col-sm-10 col-xs-10"
          >
            AND
          </div>
          <div class="row logic-container-and-btns if-container-and-btns">
            <div
              class="
                col-lg-11 col-md-11 col-sm-10 col-xs-10
                logic-container
                if-container
              "
            >
              <div
                ng-if="condition.value && !condition.fieldInfo"
                class="col-md-offset-2 col-md-10 col-xs-12 warning-with-padding"
              >
                <div class="alert-custom alert-error">
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg"
                    >Field previously chosen is missing.</span
                  >
                </div>
              </div>
              <div class="col-md-2 col-xs-12 field-title">Field</div>
              <div class="col-md-10 col-xs-12 field-input">
                <ui-select
                  theme="selectize"
                  search-enabled="true"
                  ng-model="condition.field"
                  ng-required="true"
                  ng-init="vm.initCondition(condition)"
                  ng-change="vm.loadState(condition, true)"
                >
                  <ui-select-match>
                    <field-icon-component
                      ng-if="$select.selected.fieldType"
                      type-name="{{ $select.selected.fieldType }}"
                    ></field-icon-component>
                    <span>{{ $select.selected.title }}</span>
                  </ui-select-match>
                  <ui-select-choices
                    repeat="field._id as field in vm.subsetIfFields(vm.logic) | filter: { title: $select.search }"
                  >
                    <field-icon-component
                      type-name="{{ field.fieldType }}"
                    ></field-icon-component>
                    <span ng-bind="field.title"></span>
                  </ui-select-choices>
                </ui-select>
              </div>

              <br />
              <div class="col-md-2 col-xs-12 field-title">State</div>
              <div class="col-md-10 col-xs-12 field-input">
                <ui-select
                  theme="selectize"
                  search-enabled="true"
                  ng-model="condition.state"
                  ng-required="true"
                  ng-disabled="vm.isIfStateDisabled(condition)"
                  ng-change="vm.loadValue(condition, true)"
                >
                  <ui-select-match>{{ $select.selected }}</ui-select-match>
                  <ui-select-choices
                    repeat="state in condition.ifStates | filter: $select.search"
                  >
                    <span ng-bind="state"></span>
                  </ui-select-choices>
                </ui-select>
              </div>

              <br />
              <div class="col-md-2 col-xs-12 field-title">Value</div>
              <div
                ng-if="condition.ifValueType === 'single-select'"
                class="col-md-10 col-xs-12 field-input"
                id="single-select"
              >
                <ui-select
                  theme="selectize"
                  search-enabled="true"
                  ng-model="condition.value"
                  ng-disabled="vm.isIfValueDisabled(condition)"
                  ng-required="true"
                  uis-open-close="vm.onDropdownOpenClose()"
                >
                  <ui-select-match>{{ $select.selected }}</ui-select-match>
                  <ui-select-choices
                    refresh="vm.filterOptions($select.search, condition.ifValues)"
                    refresh-delay="300"
                    repeat="value in vm.filteredOptions | limitTo: vm.infiniteScroll.currentItems track by $index"
                    infinite-scroll="vm.addMoreItems()"
                    infinite-scroll-container="'#single-select .ui-select-choices-content'"
                    infinite-scroll-distance="3"
                  >
                    <span ng-bind="value"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div
                ng-if="condition.ifValueType === 'multi-select'"
                class="col-md-10 col-xs-12 field-input"
                id="multi-select"
              >
                <ui-select
                  multiple
                  search-enabled="true"
                  ng-model="condition.value"
                  ng-disabled="vm.isIfValueDisabled(condition)"
                  ng-required="true"
                  uis-open-close="vm.onDropdownOpenClose()"
                >
                  <ui-select-match
                    placeholder="Click to add up to multiple values"
                    >{{ $item }}</ui-select-match
                  >
                  <ui-select-choices
                    refresh="vm.filterOptions($select.search, condition.ifValues)"
                    refresh-delay="300"
                    repeat="value in vm.filteredOptions | limitTo: vm.infiniteScroll.currentItems track by $index"
                    infinite-scroll="vm.addMoreItems()"
                    infinite-scroll-container="'#multi-select .ui-select-choices-content'"
                    infinite-scroll-distance="3"
                  >
                    <span ng-bind="value"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div
                ng-if="condition.ifValueType === 'multi-value'"
                class="col-md-10 col-xs-12 field-input"
                id="multi-select"
                ng-init="vm.initValue(condition)"
              >
                <div
                  class="inline-option"
                  ng-repeat="option in condition.value track by $index"
                >
                  <ui-select
                    multiple
                    search-enabled="true"
                    ng-model="condition.value[$index]"
                    ng-value="true"
                    ng-disabled="vm.isIfValueDisabled(condition)"
                    ng-required="true"
                    uis-open-close="vm.onDropdownOpenClose()"
                    class="inline-input"
                  >
                    <ui-select-match
                      placeholder="Click to add up to multiple values"
                      >{{ $item.value }}</ui-select-match
                    >
                    <ui-select-choices
                      refresh="vm.filterOptions($select.search, condition.ifValues)"
                      refresh-delay="300"
                      repeat="value in vm.filteredOptions | limitTo: vm.infiniteScroll.currentItems track by $index"
                      infinite-scroll="vm.addMoreItems()"
                      infinite-scroll-container="'#multi-select .ui-select-choices-content'"
                      infinite-scroll-distance="3"
                    >
                      <span ng-bind="value.value"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="inline-btn">
                    <button
                      class="btn-delete"
                      ng-click="vm.deleteOption(condition, option)"
                    >
                      <i class="bx bx-trash bx-lg"></i>
                    </button>
                  </div>
                </div>
                <a
                  ng-click="vm.addOption(condition)"
                  class="modal-add-btn col-md-10 col-xs-10"
                  ><i class="bx bx-plus icon-spacing"></i>Add another
                  combination</a
                >
                <div class="row" ng-if="vm.hasEmptyConditionError(condition)">
                  <div class="col-md-12">
                    <div class="alert-custom alert-error">
                      <i class="bx bx-exclamation bx-md icon-spacing"></i>
                      <span class="alert-msg"
                        >You must specify at least one value.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                ng-if="condition.ifValueType === 'number'"
                class="col-md-10 col-xs-12 field-input"
              >
                <input
                  type="number"
                  class="form-control"
                  ng-model="condition.value"
                  ng-disabled="vm.isIfValueDisabled(condition)"
                  required
                />
              </div>
            </div>
            <div
              ng-show="vm.checkIfHasInvalidValues(condition.value, condition.fieldInfo, condition.state)"
              class="col-md-10 col-md-offset-2 col-xs-12 warning-with-padding"
            >
              <div class="alert-custom alert-error">
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg"
                  >One or more of {{condition.fieldInfo.title}}'s values above
                  are invalid.</span
                >
              </div>
            </div>
            <div
              class="
                col-lg-1 col-md-1 col-sm-2 col-xs-2
                logic-btn-container
                if-btn-container
              "
            >
              <a
                class="btn btn-custom add-condition-btn"
                type="button"
                ng-click="vm.addCondition()"
              >
                <i class="bx bx-plus"></i>
              </a>
              <a
                class="btn btn-custom remove-condition-btn"
                type="button"
                ng-disabled="vm.isDeleteConditionDisabled()"
                ng-click="vm.isDeleteConditionDisabled() || vm.deleteCondition(condition)"
              >
                <i class="bx bx-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="logic-modal-panel then-panel">
      <div class="row modal-header">
        <h2 class="modal-title hidden-md hidden-lg">
          THEN
          <small>
            <i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Any field type can be set as hidden/shown based on a condition. Be careful not to string conditions in a loop (i.e. If A, then B. If B, then A)"
              tooltip-trigger="'click mouseenter'"
              tooltip-placement="auto right'"
            ></i>
          </small>
        </h2>
        <h3 class="modal-title hidden-xs hidden-sm">
          THEN
          <small>
            <i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Any field type can be set as hidden/shown based on a condition. Be careful not to string conditions in a loop (i.e. If A, then B. If B, then A)"
              tooltip-trigger="'click mouseenter'"
              tooltip-placement="auto right'"
            ></i>
          </small>
        </h3>
        <h4>e.g. Then show "Have you completed National Service?"</h4>
      </div>

      <div
        class="logic-type-container"
        ng-show="!vm.logicTypeSelection.showFields && !vm.logicTypeSelection.preventSubmit"
      >
        <div
          class="logic-type-option show-fields-option"
          ng-click="vm.selectLogicType(true)"
        >
          <i class="bx bx-show logic-type-icon logic-type-enable"></i>
          <div class="logic-type-option-text">
            <div class="logic-type-option-title field-title">Show fields</div>
            <div class="logic-type-option-subtitle">
              Change visibility of fields
            </div>
          </div>
          <i class="bx bx-chevron-right logic-proceed-arrow"></i>
        </div>
        <div
          class="logic-type-option prevent-submit-option"
          ng-click="vm.selectLogicType(false)"
        >
          <i class="bx bx-x-circle logic-type-icon logic-type-disable"></i>
          <div class="logic-type-option-text">
            <div class="logic-type-option-title field-title">
              Disable submission
            </div>
            <div class="logic-type-option-subtitle">
              Disallow users to submit the form
            </div>
          </div>
          <i class="bx bx-chevron-right logic-proceed-arrow"></i>
        </div>
      </div>

      <div
        class="logic-container-and-btns then-container-and-btns"
        ng-show="vm.logicTypeSelection.showFields || vm.logicTypeSelection.preventSubmit"
      >
        <div
          class="logic-container then-container show-fields-container"
          ng-show="vm.logicTypeSelection.showFields"
        >
          <div
            ng-if="vm.checkIfMissingHiddenFields(vm.logic)"
            class="col-md-10 col-md-offset-2 col-xs-12 warning-with-padding"
          >
            <div class="alert-custom alert-error">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg"
                >One or more of the fields below is missing.</span
              >
            </div>
          </div>
          <div class="col-md-2 col-xs-12 field-title">Show</div>
          <div class="col-md-10 col-xs-12 field-input">
            <!-- ng-model-options below is required to ensure logic.show is not undefined -->
            <ui-select
              multiple
              search-enabled="true"
              ng-model="vm.logic.show"
              ng-model-options="{ allowInvalid: true }"
              ng-required="vm.logicTypeSelection.showFields"
            >
              <ui-select-match placeholder="Click to add up to multiple fields">
                <field-icon-component
                  type-name="{{ $item.fieldType }}"
                ></field-icon-component>
                {{ vm.getFieldTitle($item) }}
              </ui-select-match>
              <ui-select-choices
                repeat="field._id as field in vm.subsetThenFields(vm.logic) | filter: { title: $select.search } "
              >
                <field-icon-component
                  type-name="{{ field.fieldType }}"
                ></field-icon-component>
                <span ng-bind="vm.getFieldTitle(field)"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div
          class="logic-container then-container prevent-submit-container"
          ng-show="vm.logicTypeSelection.preventSubmit"
        >
          <div class="field-title">Disable form submission</div>
          <textarea
            class="form-control input-custom input-medium"
            ng-model="vm.logic.preventSubmitMessage"
            ng-required="vm.logicTypeSelection.preventSubmit"
            placeholder="Custom message to display on submit"
          ></textarea>
        </div>
        <div
          class="
            col-lg-1 col-md-1 col-sm-2 col-xs-2
            logic-btn-container
            then-btn-container
          "
        >
          <a
            class="btn btn-custom remove-condition-btn"
            type="button"
            ng-click="vm.clearLogicTypeSelection()"
          >
            <i class="bx bx-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      ng-click="vm.save()"
      class="btn-custom btn-medium modal-save-btn"
      ng-disabled="vm.shouldDisableSave()"
    >
      Save
    </button>
    <a ng-click="vm.cancel()" class="modal-cancel-btn">Cancel</a>
  </div>
</div>
