<div class="modal-body" ng-form="vm.startPageForm">
  <div class="row no-margin">
    <div class="col-md-5 col-xs-12 col-sm-12 container no-padding">
      <div class="edit-panel">
        <div class="row modal-header">
          <h2 class="modal-title">Edit Welcome</h2>
        </div>

        <div class="row question logo-options">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Logo
          </div>
          <div
            class="field-group radiobtn"
            ng-repeat="state in vm.formLogoStates"
          >
            <div class="col-xs-12 radio-option">
              <label class="col-xs-12">
                <input
                  type="radio"
                  ng-change="vm.updateLogoUrl()"
                  ng-model="vm.myform.startPage.logo.state"
                  name="logo"
                  ng-value="state.enum"
                  ng-required="!vm.myform.startPage.logo.state"
                />
                {{state.name}}
                <span
                  class="radiomark"
                  ng-class="vm.myform.startPage.logo.state === state.enum ? '{{ vm.myform.startPage.colorTheme }}-border' : ''"
                ></span>
              </label>
            </div>
          </div>
          <div
            ng-if="vm.myform.startPage.logo.state === vm.FormLogoState.Custom"
            class="col-md-12"
          >
            <div class="upload-logo">
              <div ng-if="!vm.myform.startPage.logo.fileName">
                <button
                  class="btn-custom btn-small"
                  ng-model="vm.uploaded.file"
                  name="uploadedFile"
                  ng-required="vm.myform.startPage.logo.state === vm.FormLogoState.Custom"
                  ngf-select="vm.uploadLogo($file, $invalidFile)"
                  ngf-max-files="1"
                  ngf-max-size="vm.maxLogoSize"
                  ngf-accept="vm.validLogoExtensions.toString()"
                  ngf-before-model-change="vm.beforeResizing()"
                  ngf-resize-if="$width > 1024"
                  ngf-resize="{ width: 1024 }"
                  ngf-validate-after-resize="true"
                  ng-disabled="vm.uploading"
                >
                  <div ng-if="!vm.uploading">
                    <i class="bx bx-cloud-upload icon-spacing"></i>Upload
                  </div>
                  <div ng-if="vm.uploading">
                    <i class="bx bx-loader bx-spin bx-md icon-spacing"></i
                    >Uploading...
                  </div>
                </button>

                <div ng-if="vm.uploading" id="upload-button-footer">
                  <div id="upload-button-footer-right">
                    <a
                      ng-click="vm.cancelUpload()"
                      id="upload-button-footer-cancel"
                      >Cancel</a
                    >
                  </div>
                </div>
              </div>
              <div ng-if="vm.myform.startPage.logo.fileName" id="upload-image">
                <div id="image-details">
                  <span id="image-name"
                    >{{ vm.myform.startPage.logo.fileName }}</span
                  >
                  <span id="image-size"
                    >{{
                    (vm.myform.startPage.logo.fileSizeInBytes/1000000).toFixed(2)
                    }} MB</span
                  >
                </div>
                <div id="remove-image">
                  <i class="bx bx-trash" ng-click="vm.removeLogo()"></i>
                </div>
              </div>
              <div
                class="alert-custom alert-error alert-padding-top"
                ng-if="vm.uploadError"
              >
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg">{{ vm.uploadError }}</span>
              </div>
            </div>
          </div>
        </div>
        <div
          ng-if="(vm.startPageForm.logo.$touched || vm.hasClickedSave) && vm.startPageForm.logo.$error.required"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg">Please specify your form logo</span>
        </div>
        <div
          ng-if="(vm.startPageForm.logo.$touched || vm.hasClickedSave) && vm.startPageForm.uploadedFile.$error.required"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg">Please upload a logo</span>
        </div>

        <div class="row"><br /></div>

        <div class="row description">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Color Theme
          </div>
          <div class="col-md-12 color-field">
            <div ng-repeat="color in vm.colorThemes">
              <label
                ng-class="vm.myform.startPage.colorTheme === '{{color}}' ? 'selected-color-field' : ''"
                class="{{color}}"
              >
                <input
                  type="radio"
                  value="{{color}}"
                  ng-model="vm.myform.startPage.colorTheme"
                />
              </label>
            </div>
          </div>
        </div>

        <div class="row"><br /></div>

        <div class="row question">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Time Taken for Form (in minutes)
          </div>
          <div class="col-md-12">
            <!-- Pattern allows numbers (1 <= x <= 999) -->
            <input
              class="input-custom input-medium"
              placeholder="e.g. 5"
              type="tel"
              ng-pattern="/^[1-9][0-9]{0,2}$/"
              ng-model="vm.myform.startPage.estTimeTaken"
              name="estTimeTaken"
              required
            />
          </div>
        </div>

        <div
          ng-if="vm.startPageForm.estTimeTaken.$invalid && (vm.startPageForm.estTimeTaken.$dirty || vm.startPageForm.estTimeTaken.$touched || vm.hasClickedSave)"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <!-- No number filled in -->
          <span
            ng-if="vm.startPageForm.estTimeTaken.$error.required"
            class="alert-msg"
            >Please specify the estimated time taken to fill your form</span
          >
          <!-- Number filled in but invalid according to pattern -->
          <span
            ng-if="!vm.startPageForm.estTimeTaken.$error.required && vm.startPageForm.estTimeTaken.$error.pattern"
            class="alert-msg"
            >The time taken should be between 1 to 1000</span
          >
        </div>

        <div class="row"><br /></div>

        <div class="row description">
          <div class="col-md-12 label-custom label-medium label-bottom">
            Instructions for Form
          </div>
          <div class="col-md-12">
            <textarea
              class="input-custom input-medium"
              type="text"
              ng-model="vm.myform.startPage.paragraph"
              placeholder="e.g. 1) You will require your sales receipt to fill this reimbursement form."
              name="paragraph"
              rows="12"
            ></textarea>
          </div>
        </div>

        <div class="row"><br /></div>

        <div class="modal-footer row">
          <button
            type="submit"
            ng-click="vm.saveStartPage(!vm.startPageForm.$invalid)"
            class="btn-custom btn-medium modal-save-btn"
            ng-disabled="disableSave()"
          >
            Save
          </button>
          <a ng-click="vm.cancel()" class="modal-cancel-btn">Cancel</a>
        </div>
      </div>
    </div>

    <div
      class="preview-page-panel col-md-7 hidden-sm hidden-xs container no-padding"
    >
      <form class="public-form">
        <start-page-component
          logo-url="{{ vm.logoUrl }}"
          color-theme="{{ vm.myform.startPage.colorTheme }}"
          est-time-taken="vm.myform.startPage.estTimeTaken"
          paragraph="{{ vm.myform.startPage.paragraph }}"
          logo-state="{{ vm.myform.startPage.logo.state }}"
          form-title="{{ vm.myform.title }}"
          auth-type="vm.myform.authType"
          is-admin-preview="true"
          class="preview-field"
        >
        </start-page-component>
      </form>
    </div>
  </div>
</div>
