<div class="modal-body">
  <div class="row no-margin">
    <div
      class="col-md-5 col-xs-12 col-sm-12 container no-padding"
      ng-form="vm.editFieldForm"
    >
      <div class="edit-panel">
        <div class="row modal-header">
          <h2 class="modal-title">
            <field-icon-component
              type-name="{{vm.field.fieldType}}"
            ></field-icon-component
            >Edit {{vm.field.fieldName}}
          </h2>
        </div>

        <!-- Logic warning -->
        <div
          ng-if="vm.isConditionField"
          class="alert-custom alert-info alert-margin"
        >
          <i class="bx bx-info-circle bx-md icon-spacing"></i>
          <span class="alert-msg"
            >Changes to this field could affect your form's logic.</span
          >
        </div>

        <div
          ng-if="!['statement','image'].includes(vm.field.fieldType)"
          class="row question"
        >
          <div class="col-md-12 label-custom label-medium label-bottom">
            Title
          </div>
          <div class="col-md-12">
            <input
              type="text"
              class="input-custom input-medium"
              ng-model="vm.field.title"
              name="title{{vm.field._id}}"
              value="{{vm.field.title}}"
              required
            />
          </div>
        </div>

        <div
          ng-show="vm.editFieldForm.title{{vm.field._id}}.$error.required"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg">Please fill in a title</span>
        </div>

        <!-- Image -->
        <div class="row" ng-if="vm.field.fieldType === 'image'">
          <div class="col-md-12">
            <div class="label-custom label-medium label-bottom">
              Upload an image (jpg, png, or gif)
            </div>
            <div ng-if="!(vm.field.url && vm.field.name && vm.field.size)">
              <button
                class="btn-custom btn-small"
                ng-model="vm.field.uploadedFile"
                ngf-select="vm.uploadImage($file, $invalidFile, vm.field)"
                ngf-max-files="1"
                ngf-max-size="vm.maxImageSize"
                ngf-accept="vm.validImageExtensions.toString()"
                ngf-before-model-change="vm.beforeResizing()"
                ngf-resize-if="$width > 1024"
                ngf-resize="{ width: 1024 }"
                ngf-validate-after-resize="true"
                ng-disabled="vm.uploading"
              >
                <div ng-if="!vm.uploading">
                  <i class="bx bx-cloud-upload icon-spacing"></i>Upload
                </div>
                <div ng-if="vm.uploading">
                  <i class="bx bx-loader bx-spin bx-md icon-spacing"></i
                  >Uploading...
                </div>
              </button>
              <div ng-if="vm.uploading" id="upload-button-footer">
                <div id="upload-button-footer-right">
                  <a
                    ng-click="vm.cancelUpload()"
                    id="upload-button-footer-cancel"
                    >Cancel</a
                  >
                </div>
              </div>
            </div>
            <div
              ng-if="vm.field.url && vm.field.name && vm.field.size"
              id="upload-image"
            >
              <div id="image-details">
                <span id="image-name">{{ vm.field.name }}</span>
                <span id="image-size">{{ vm.field.size }}</span>
              </div>
              <div id="remove-image">
                <i class="bx bx-trash" ng-click="vm.removeImage(vm.field)"></i>
              </div>
            </div>
            <div
              class="alert-custom alert-error alert-padding-top"
              ng-if="vm.uploadError"
            >
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">{{ vm.uploadError }}</span>
            </div>
          </div>
        </div>
        <!-- End Image -->

        <div class="row"><br /></div>

        <div class="row description">
          <div ng-switch="vm.field.fieldType">
            <div
              ng-switch-when="statement"
              class="col-md-12 label-custom label-medium label-bottom"
            >
              Statement
            </div>
            <div
              ng-switch-default
              class="col-md-12 label-custom label-medium label-bottom"
            >
              Description
            </div>
          </div>
          <div class="col-md-12">
            <textarea
              type="text"
              class="input-custom input-medium"
              ng-model="vm.field.description"
              name="description{{vm.field._id}}"
              placeholder="{{ (vm.field.fieldType === 'attachment' && 'e.g. Please attach images with .png, .jpeg, .jpg or .svg extensions.') ||
                (vm.field.fieldType === 'decimal' && 'e.g. Please enter a decimal between 10 and 20.') ||
                '' }}"
            >
            </textarea>
          </div>
          <div ng-if="vm.field.fieldType === 'attachment'" class="col-md-12">
            <div class="alert-custom alert-info alert-margin">
              <i class="bx bx-info-circle bx-md icon-spacing"></i>
              <span class="alert-msg"
                >View our
                <a
                  translate-attr="{href:'LINKS.WHITELISTED_ATTACHMENT_TYPES'}"
                  target="_blank"
                  >complete list</a
                >
                of accepted file types. Please also read our
                <a
                  translate-attr="{ href: 'LINKS.GUIDE.EMAIL_RELIABILITY' }"
                  target="_blank"
                  >FAQ on email reliability</a
                >
                relating to unaccepted file types.</span
              >
            </div>
          </div>
        </div>

        <!-- Attachment -->
        <div ng-if="vm.field.fieldType === 'attachment'" class="row">
          <div class="col-md-12 attachment-div">
            <div class="label-custom label-medium label-bottom">
              Max Size of Individual Attachment
              <i
                class="glyphicon glyphicon-question-sign"
                uib-tooltip="{{vm.attachmentTooltipText}}"
                tooltip-trigger="'click mouseenter'"
              ></i>
            </div>

            <div class="attachment-size-width">
              <ui-select
                theme="selectize"
                search-enabled="false"
                ng-model="vm.field.attachmentSize"
              >
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices
                  repeat="option.value as option in vm.attachmentSizes"
                >
                  <span ng-bind="option.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <br />

            <div class="progress attachment-size-loader">
              <div
                class="progress-bar"
                ng-style="(vm.attachmentSize - vm.field.attachmentSize >= 0) ? { 'width': (vm.attachmentsMax - vm.attachmentSize) / vm.attachmentsMax * 100 + '%', 'background-color': 'rgba(240, 173, 78, 0.8)' } : { 'width': (vm.attachmentsMax - vm.attachmentSize) / vm.attachmentsMax * 100 + '%', 'background-color': '#d9524e' }"
              ></div>
              <div
                class="progress-bar progress-bar-success"
                ng-style="(vm.attachmentSize - vm.field.attachmentSize >= 0) ? { 'width': vm.field.attachmentSize / vm.attachmentsMax * 100 + '%', 'background-color': '#05e3ab', 'border': '1px dashed #000' } : {'width': vm.attachmentSize / vm.attachmentsMax * 100 + '%', 'background-color': '#d9524e', 'border': '0px'}"
              ></div>
            </div>
            <div ng-if="vm.attachmentSize - vm.field.attachmentSize >= 0">
              <div
                ng-if="vm.attachmentSize !== vm.attachmentsMax"
                class="attachment-size-text"
                ng-style="{ 'width': (vm.attachmentsMax - vm.attachmentSize) / vm.attachmentsMax * 100 + '%' }"
              >
                Used
              </div>
              <div
                class="attachment-size-text"
                ng-style="{ 'width': vm.field.attachmentSize / vm.attachmentsMax * 100 + '%' }"
              >
                {{ vm.field.attachmentSize }} MB
              </div>
            </div>
            <div ng-if="vm.attachmentSize - vm.field.attachmentSize < 0">
              <div class="attachment-maxsize-text">
                {{ vm.field.attachmentSize - vm.attachmentSize +
                vm.attachmentsMax }} / {{ vm.attachmentsMax }} MB
              </div>
            </div>
          </div>
          <div
            ng-if="vm.field.fieldType === 'attachment' && vm.attachmentSize - vm.field.attachmentSize < 0"
            class="col-md-12"
          >
            <div class="alert-custom alert-error alert-margin">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg"
                >You have exceeded your form's attachment size limit of {{
                vm.attachmentsMax }} MB. Kindly reduce the size of your
                attachments.</span
              >
            </div>
          </div>
        </div>
        <!-- End Attachment -->

        <!-- Required field toggle -->
        <div
          ng-if="!['statement','section','table','image'].includes(vm.field.fieldType)"
          class="row"
        >
          <div class="row"><br /></div>
          <div class="toggle-option">
            <div class="col-xs-8 label-custom label-medium">Required</div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.required ? 'toggle-selector-on' : ''"
                onclick=""
              >
                <input type="checkbox" ng-model="vm.field.required" />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.required ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!-- End required field toggle -->

        <!-- Date -->
        <div ng-if="vm.field.fieldType === 'date'" class="row">
          <br />
          <br />
          <div class="col-xs-8 label-custom label-medium label-bottom">
            <span>Date range validation</span>
            <i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Dates are based on Singapore Time (GMT+8)"
              tooltip-trigger="'click mouseenter'"
            ></i>
          </div>
          <br />

          <div class="col-xs-12">
            <div class="col-xs-12 custom-val-dropdown">
              <div class="input-group">
                <ui-select
                  theme="selectize"
                  search-enabled="true"
                  ng-model="vm.field.dateValidation.selectedDateValidation"
                  ng-change="vm.handleDateValidationChange()"
                  style="margin-bottom: 0"
                >
                  <ui-select-match placeholder="None"
                    >{{$select.selected}}</ui-select-match
                  >
                  <ui-select-choices
                    repeat="option in vm.dateValidationOptions | filter: $select.search"
                  >
                    <span ng-bind="option"></span>
                  </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                  <button
                    type="button"
                    class="btn btn-dropdown"
                    ng-click="vm.handleClearDateValidation()"
                    ng-disabled="!vm.field.dateValidation.selectedDateValidation"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div
            class="col-xs-12"
            ng-if="vm.field.dateValidation.selectedDateValidation === vm.DATE_VALIDATION_OPTIONS.custom"
            ng-init="vm.reformatDateRange()"
          >
            <div class="col-sm-6 col-xs-12 min-val-input">
              <input
                id="dateMinBox"
                placeholder="Min date"
                class="input-custom input-medium"
                uib-datepicker-popup="dd MMM yyyy"
                is-open="focusMin"
                ng-click="focusMin=true"
                ng-change="focusMax=true; vm.triggerDateChangeTracker()"
                ng-model-options="{timezone: 'utc'}"
                datepicker-options="{}"
                ng-model="vm.field.dateValidation.customMinDate"
                ng-disabled="!vm.field.dateValidation.selectedDateValidation || vm.field.dateValidation.selectedDateValidation !== vm.DATE_VALIDATION_OPTIONS.custom"
                datepicker-template-url="modules/forms/base/directiveViews/datepicker.html"
                datepicker-popup-template-url="modules/forms/base/directiveViews/datepicker-popup.html"
              />
            </div>
            <div class="col-sm-6 col-xs-12 max-val-input">
              <input
                id="dateMaxBox"
                placeholder="Max date"
                class="input-custom input-medium"
                uib-datepicker-popup="dd MMM yyyy"
                is-open="focusMax"
                ng-click="focusMax=true"
                ng-change="vm.triggerDateChangeTracker()"
                ng-model-options="{timezone: 'utc'}"
                datepicker-options="{}"
                ng-model="vm.field.dateValidation.customMaxDate"
                ng-disabled="!vm.field.dateValidation.selectedDateValidation || vm.field.dateValidation.selectedDateValidation !== vm.DATE_VALIDATION_OPTIONS.custom"
                datepicker-template-url="modules/forms/base/directiveViews/datepicker.html"
                datepicker-popup-template-url="modules/forms/base/directiveViews/datepicker-popup.html"
              />
            </div>
          </div>
          <div class="col-xs-12" ng-if="vm.showEmptyDateRangeError()">
            <div>
              <div class="alert-custom alert-error">
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg"
                  >You must specify at least one date.</span
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12" ng-if="vm.showProblemDateRangeError()">
            <div>
              <div class="alert-custom alert-error">
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg"
                  >Max date cannot be less than min date.</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- End Date -->

        <!-- Table -->
        <div ng-if="vm.field.fieldType === 'table'">
          <br />
          <div class="toggle-option row">
            <div class="col-xs-8 label-custom label-medium">
              Able to add more rows
            </div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.addMoreRows ? 'toggle-selector-on' : ''"
              >
                <input
                  type="checkbox"
                  ng-model="vm.field.addMoreRows"
                  ng-change="vm.updateMaxTableRows()"
                />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.addMoreRows ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
          <br />
          <div class="label-custom label-medium label-bottom">
            Minimum row(s) required
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input
                type="number"
                class="input-custom input-medium"
                ng-model="vm.field.minimumRows"
                min="1"
              />
            </div>
          </div>
          <div ng-if="vm.field.addMoreRows">
            <br />
            <div class="label-custom label-medium label-bottom">
              Maximum row(s) allowed
            </div>
            <div class="row">
              <div class="col-xs-4">
                <input
                  name="maximumRows"
                  type="number"
                  class="input-custom input-medium"
                  ng-model="vm.field.maximumRows"
                />
              </div>
            </div>
          </div>

          <div
            ng-if="!vm.field.minimumRows
            || (vm.field.addMoreRows && vm.editFieldForm.maximumRows.$error.number)
            || (vm.field.addMoreRows && vm.field.maximumRows !== null && (vm.field.maximumRows <= vm.field.minimumRows))
            || (vm.field.addMoreRows && vm.field.maximumRows !== null && (vm.field.maximumRows < (vm.field.minimumRows + vm.field.additionalRowCount)))"
          >
            <br />
            <div class="alert-custom alert-error">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">The number of rows set is invalid.</span>
            </div>
          </div>
          <hr id="table-divider" />
          <div class="header-custom">Edit Columns</div>
          <form name="vm.forms.tableColumns" novalidate>
            <div
              ng-repeat="tableField in vm.field.columns track by $index"
              class="table-column-card"
            >
              <div class="row table-column-title">
                <div class="col-xs-10 label-custom label-medium">
                  Column {{$index + 1}} Title
                </div>
                <button
                  class="col-xs-2 btn-delete"
                  ng-click="vm.deleteTableColumn($index)"
                  ng-if="vm.field.columns.length >= 2"
                >
                  <i class="bx bx-trash bx-lg pull-right"></i>
                </button>
              </div>
              <input
                type="text"
                class="input-custom input-medium"
                ng-model="tableField.title"
                name="{{ tableField._id || 'defaultID' }}-{{$index}}-title"
                required
              />
              <div
                ng-if="vm.forms.tableColumns[ (tableField._id || 'defaultID') + '-' + $index + '-title' ].$error.required"
                class="alert-custom alert-error"
              >
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg">Please fill in a title</span>
              </div>
              <br />
              <div class="label-custom label-medium label-bottom">Field</div>
              <ui-select
                ng-model="tableField.columnType"
                theme="selectize"
                class="table-column-dropdown"
                ng-change="vm.updateColumnType($index)"
              >
                <ui-select-match>
                  <field-icon-component
                    type-name="{{tableField.columnType}}"
                  ></field-icon-component>
                  {{vm.tableColumnNames[tableField.columnType]}}
                </ui-select-match>
                <ui-select-choices repeat="type in vm.tableColumnTypes">
                  <field-icon-component
                    type-name="{{type}}"
                  ></field-icon-component>
                  {{vm.tableColumnNames[type]}}
                </ui-select-choices>
              </ui-select>
              <br />
              <div class="toggle-option row">
                <div class="col-xs-8 label-custom label-medium">Required</div>
                <div class="col-xs-4 field-input">
                  <label
                    class="toggle-selector pull-right"
                    ng-class="tableField.required ? 'toggle-selector-on' : ''"
                    onclick=""
                  >
                    <input type="checkbox" ng-model="tableField.required" />
                    <div class="toggle-selector-switch">
                      <i
                        ng-class="tableField.required ? 'bx bx-check' : 'bx bx-x' "
                      ></i>
                    </div>
                  </label>
                </div>
              </div>
              <div
                ng-if="tableField.columnType === 'dropdown'"
                ng-init="tableField.fieldOptionsFromText=tableField.fieldOptions.join('\n')"
              >
                <br />
                <div class="label-custom label-medium label-bottom">
                  Options
                </div>
                <textarea
                  required
                  name="{{ tableField._id || 'defaultID' }}-{{$index}}-options"
                  class="input-custom input-medium"
                  rows="4"
                  ng-model="tableField.fieldOptionsFromText"
                  ng-change="vm.updateColumnOptions($index)"
                  ng-model-options="{ debounce: 300 }"
                  placeholder="Please enter one option per line."
                >
                </textarea>
                <div
                  ng-if="vm.forms.tableColumns[ (tableField._id || 'defaultID') + '-' + $index + '-options' ].$error.required"
                  class="alert-custom alert-error"
                >
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg"
                    >Please specify at least one option</span
                  >
                </div>
              </div>
            </div>
          </form>

          <button ng-click="vm.addTableColumn()" id="add-column">
            <i class="bx bx-plus icon-spacing"></i>
            Add Column
          </button>
        </div>
        <!-- End table -->

        <!-- Email -->
        <div
          class="row"
          ng-if="vm.field.fieldType === 'email'"
          feature-toggle
          feature-name="verified-fields"
        >
          <br />
          <div class="toggle-option">
            <div class="col-xs-8 label-custom label-medium">
              OTP verification
              <i
                class="glyphicon glyphicon-question-sign"
                uib-tooltip="When enabled, respondents must verify by entering a code sent to their email address"
                tooltip-trigger="'click mouseenter'"
              ></i>
            </div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.isVerifiable? 'toggle-selector-on' : ''"
                onclick=""
              >
                <input
                  type="checkbox"
                  ng-model="vm.field.isVerifiable"
                  is-verifiable-save-interceptor
                />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.isVerifiable ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div
          class="row"
          ng-show="vm.field.fieldType === 'email'"
          feature-toggle
          feature-name="verified-fields"
        >
          <br />
          <div class="toggle-option">
            <div
              ng-class="{'toggle-option--disabled' : !vm.field.isVerifiable}"
              class="col-xs-8 label-custom label-medium"
            >
              Restrict email domains<i
                class="glyphicon glyphicon-question-sign"
                uib-tooltip-html="vm.tooltipHtml"
                tooltip-trigger="'click mouseenter'"
              ></i>
            </div>
            <div class="col-xs-4 field-input">
              <!-- Warning: Do not touch onclick="" unless you know what you are doing. -->
              <!-- Reference: https://github.com/ghinda/css-toggle-switch#browser-support -->
              <label
                class="toggle-selector pull-right"
                ng-class="{'toggle-selector-on': vm.field.isVerifiable && vm.field.hasAllowedEmailDomains, 'toggle-selector--disabled': !vm.field.isVerifiable}"
                onclick=""
              >
                <input
                  type="checkbox"
                  ng-model="vm.field.hasAllowedEmailDomains"
                  ng-change="vm.handleRestrictEmailDomainsToggle()"
                  ng-disabled="!vm.field.isVerifiable"
                />
                <div class="toggle-selector-switch">
                  <i
                    ng-show="vm.field.isVerifiable"
                    ng-class="vm.field.hasAllowedEmailDomains ? 'bx bx-check' : 'bx bx-x'"
                  ></i>
                  <i ng-show="!vm.field.isVerifiable" class="bx bxs-lock"></i>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div
          ng-show="vm.field.fieldType === 'email' && vm.field.isVerifiable && vm.field.hasAllowedEmailDomains"
        >
          <br />
          <div class="row label-custom label-medium">
            <div class="col-md-12 label-bottom">Domains allowed</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                class="input-custom input-medium"
                ng-disabled="!vm.field.isVerifiable || !vm.field.hasAllowedEmailDomains"
                ng-required="vm.field.hasAllowedEmailDomains"
                ng-model="vm.field.allowedEmailDomainsFromText"
                name="allowedEmailDomainsFromText"
                validate-email-domain-from-text
                placeholder="{{ vm.field.allowedEmailDomainsPlaceholder }}"
              >
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div
                ng-messages="vm.editFieldForm.allowedEmailDomainsFromText.$error"
              >
                <div
                  ng-message="emailDomainFromTextValidator"
                  class="alert-custom alert-error"
                >
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg">
                    You may have duplicate or invalid email domains. Please
                    check that all the domains start with @.
                  </span>
                </div>
                <div class="alert-custom alert-error" ng-message="required">
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg">
                    Allowed domains cannot be empty.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          ng-show="vm.field.fieldType === 'email'"
          class="edit-fields-line"
        ></div>

        <div class="row" ng-if="vm.field.fieldType === 'email'">
          <div class="toggle-option">
            <div class="col-xs-8 label-custom label-medium">
              Email confirmation
              <span>
                <i
                  class="glyphicon glyphicon-question-sign"
                  uib-tooltip="Customise an email acknowledgement to respondents"
                  tooltip-trigger="'click mouseenter'"
                ></i>
              </span>
            </div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.autoReplyOptions.hasAutoReply ? 'toggle-selector-on' : ''"
                onclick=""
              >
                <input
                  type="checkbox"
                  ng-model="vm.field.autoReplyOptions.hasAutoReply"
                />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.autoReplyOptions.hasAutoReply ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div
          ng-form="autoReplyForm"
          ng-if="vm.field.fieldType === 'email' && vm.field.autoReplyOptions.hasAutoReply"
        >
          <br />
          <div class="row label-custom label-medium label-bottom">
            <div class="col-md-12">Subject of email</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="text"
                class="input-custom input-medium"
                ng-model="vm.field.autoReplyOptions.autoReplySubject"
                placeholder="Default email subject"
              />
            </div>
          </div>
          <div class="row"><br /></div>
          <div class="row label-custom label-medium label-bottom">
            <div class="col-md-12">Sender name</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                name="senderName"
                type="text"
                class="input-custom input-medium"
                ng-model="vm.field.autoReplyOptions.autoReplySender"
                placeholder="Default sender name is your agency name"
                ng-pattern="/^[^:]+$/"
              />
              <div
                ng-if="autoReplyForm.senderName.$invalid"
                class="alert-custom alert-error"
              >
                <i class="bx bx-exclamation bx-md icon-spacing"></i>
                <span class="alert-msg"
                  >Please do not use colons, ":", in the Sender Name</span
                >
              </div>
            </div>
          </div>
          <div class="row"><br /></div>
          <div class="row label-custom label-medium label-bottom">
            <div class="col-md-12">Email body</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                class="input-custom input-medium"
                ng-model="vm.field.autoReplyOptions.autoReplyMessage"
                placeholder="Default email body"
                rows="11"
              ></textarea>
            </div>
          </div>
          <div class="row"><br /></div>
          <div class="row">
            <div class="toggle-option">
              <div
                ng-class="{'toggle-option--disabled' : vm.myform.responseMode
              === vm.responseModeEnum.ENCRYPT}"
                class="col-xs-8 label-custom label-medium"
              >
                Include PDF response<i
                  ng-show="vm.myform.responseMode === vm.responseModeEnum.ENCRYPT"
                  class="glyphicon glyphicon-question-sign"
                  uib-tooltip="For security reasons, pdf responses are not included in email confirmations for Storage mode forms."
                  tooltip-trigger="'click
              mouseenter'"
                ></i>
              </div>
              <div class="col-xs-4 field-input">
                <label
                  class="toggle-selector pull-right"
                  ng-class="{'toggle-selector-on' :
                vm.field.autoReplyOptions.includeFormSummary,
                'toggle-selector--disabled': vm.myform.responseMode === vm.responseModeEnum.ENCRYPT}"
                >
                  <!-- Allow input only in email mode, since encrypt mode does not support including form responses in autoreply -->
                  <input
                    ng-if="vm.myform.responseMode !== vm.responseModeEnum.ENCRYPT"
                    type="checkbox"
                    ng-model="vm.field.autoReplyOptions.includeFormSummary"
                  />
                  <div class="toggle-selector-switch">
                    <i
                      ng-show="vm.myform.responseMode !==
                    vm.responseModeEnum.ENCRYPT"
                      ng-class="vm.field.autoReplyOptions.includeFormSummary ? 'bx bx-check' : 'bx bx-x' "
                    ></i>
                    <i
                      ng-show="vm.myform.responseMode ===
                    vm.responseModeEnum.ENCRYPT"
                      class="bx bxs-lock"
                    ></i>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- End email -->

        <!-- Allow international numbers toggle for phone fields -->
        <div
          class="row"
          ng-if="['mobile', 'homeno'].includes(vm.field.fieldType)"
        >
          <br />
          <div class="toggle-option">
            <div class="col-xs-8 label-custom label-medium label-bottom">
              <span>Allow International Numbers</span>
            </div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.allowIntlNumbers ? 'toggle-selector-on' : ''"
                onclick=""
              >
                <input type="checkbox" ng-model="vm.field.allowIntlNumbers" />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.allowIntlNumbers ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!-- End allow international numbers toggle -->
        <br />

        <!-- Mobile field directive -->
        <configure-mobile-directive
          ng-if="vm.field.fieldType === 'mobile'"
          field="vm.field"
          name="'SMS'"
          character-limit="300"
          feature-toggle
          feature-name="sms"
        >
        </configure-mobile-directive>
        <!-- End mobile field directive ---->

        <!-- Radio, checkbox -->
        <div
          ng-if="vm.field.fieldType === 'radiobutton' || vm.field.fieldType === 'checkbox'"
          class="row"
        >
          <div class="row"><br /></div>
          <div class="toggle-option">
            <div class="col-xs-8 label-custom label-medium label-bottom">
              Others option
            </div>
            <div class="col-xs-4 field-input">
              <label
                class="toggle-selector pull-right"
                ng-class="vm.field.othersRadioButton ? 'toggle-selector-on' : ''"
                onclick=""
              >
                <input type="checkbox" ng-model="vm.field.othersRadioButton" />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="vm.field.othersRadioButton ? 'bx bx-check' : 'bx bx-x' "
                  ></i>
                </div>
              </label>
            </div>
          </div>
        </div>

        <!-- Radio, checkbox, dropdown -->
        <div class="row" ng-if="vm.showAddOptions(vm.field)">
          <div class="row"><br /></div>
          <div class="col-xs-12 label-custom label-medium label-bottom">
            Options
          </div>
          <div class="col-xs-12 field-input dropdown-options">
            <div
              ng-if="vm.field.fieldType === 'dropdown' || vm.field.fieldType === 'checkbox'"
              class="optionFrom"
            >
              <textarea
                class="input-custom input-medium"
                rows="4"
                ng-model="vm.field.fieldOptionsFromText"
                ng-change="vm.reloadFieldOptions(vm.field)"
                ng-model-options="{ debounce: 300 }"
                placeholder="Please enter one option per line."
              ></textarea>
            </div>
          </div>
          <div
            ng-if="vm.field.fieldType === 'radiobutton'"
            class="option-panel col-md-12 col-xs-12"
          >
            <div
              ng-repeat="option in vm.field.manualOptions track by $index"
              class="option inline-option"
            >
              <div class="inline-input">
                <input
                  type="text"
                  name="{{option}}{{vm.field._id}}"
                  ng-model="vm.field.manualOptions[$index]"
                  class="input-custom input-medium"
                />
              </div>
              <div class="inline-btn">
                <button
                  class="btn-delete"
                  ng-click="vm.deleteOption(vm.field, option)"
                >
                  <i class="bx bx-trash bx-lg"></i>
                </button>
              </div>
            </div>
            <a
              ng-click="vm.addOption(vm.field)"
              class="modal-add-btn col-md-10 col-xs-10"
              ><i class="bx bx-plus icon-spacing"></i>Add Option</a
            >
          </div>
        </div>
        <div class="row" ng-if="vm.showEmptyOptionsError(vm.field)">
          <div class="col-md-12">
            <div class="alert-custom alert-error">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg"
                >You must have at least one option to create this field.</span
              >
            </div>
          </div>
        </div>

        <!-- Duplicate options warning -->
        <div class="row" ng-if="vm.showDuplicateOptionsError(vm.field)">
          <div class="col-md-12">
            <div class="alert-custom alert-error">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">Duplicate options detected.</span>
            </div>
          </div>
        </div>

        <!-- Blank options warning -->
        <div class="row" ng-if="vm.showBlankOptionsError(vm.field)">
          <div class="col-md-12">
            <div class="alert-custom alert-error">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg"
                >Blank options detected. Options must not be blank.</span
              >
            </div>
          </div>
        </div>

        <!-- Rating -->
        <div class="row" ng-if="vm.field.fieldType === 'rating'">
          <div id="rating-options">
            <div class="row"><br /></div>
            <div
              class="col-md-4 col-xs-12 label-custom label-medium label-bottom"
            >
              Steps
            </div>
            <div class="col-md-8 col-xs-12 field-input">
              <ui-select
                theme="selectize"
                search-enabled="true"
                ng-model="vm.field.ratingOptions.steps"
                ng-required="true"
              >
                <ui-select-match>{{ $select.selected }}</ui-select-match>
                <ui-select-choices
                  repeat="step in vm.ratingSteps | filter: $select.search"
                >
                  <span ng-bind="step"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <br />
            <div
              class="col-md-4 col-xs-12 label-custom label-medium label-bottom"
            >
              Shape
            </div>
            <div class="col-md-8 col-xs-12 field-input">
              <ui-select
                theme="selectize"
                search-enabled="true"
                ng-model="vm.field.ratingOptions.shape"
                ng-required="true"
              >
                <ui-select-match>{{ $select.selected }}</ui-select-match>
                <ui-select-choices
                  repeat="shape in vm.ratingShapes | filter: $select.search"
                >
                  <span ng-bind="shape"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <!-- End Rating -->

        <!-- Custom validation field -->
        <div
          class="row"
          ng-init="vm.enforceCompatibility(vm.field)"
          ng-if="vm.showCustomValidationOptions(vm.field)"
        >
          <div class="row"><br /></div>
          <div class="col-xs-12 label-custom label-medium label-bottom">
            Custom Validation
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 custom-val-dropdown">
              <div class="input-group">
                <ui-select
                  theme="selectize"
                  search-enabled="true"
                  ng-model="vm.field.ValidationOptions.selectedValidation"
                  ng-change="vm.resetCustomValidationParams(vm.field); vm.setFocus()"
                  style="margin-bottom: 0"
                >
                  <ui-select-match placeholder="None"
                    >{{$select.selected}}</ui-select-match
                  >
                  <ui-select-choices
                    repeat="option in vm.customValidationOptions | filter: $select.search"
                  >
                    <span ng-bind="option"></span>
                  </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                  <button
                    type="button"
                    class="btn btn-dropdown"
                    ng-click="vm.clearCustomValidation(vm.field)"
                    ng-disabled="!vm.field.ValidationOptions.selectedValidation"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 custom-val-input">
              <input
                id="customValInputBox"
                type="number"
                ng-model="vm.field.ValidationOptions.customVal"
                ng-min="1"
                ng-max="10000"
                class="input-custom input-medium"
                placeholder="No. of Characters"
                ng-disabled="!vm.field.ValidationOptions.selectedValidation"
                ng-change="vm.changeFxn(vm.field)"
              />
            </div>
          </div>
        </div>
        <!-- End custom validation field -->

        <!-- Decimal -->
        <div ng-if="vm.field.fieldType === 'decimal'">
          <div class="row">
            <div class="row"><br /></div>
            <div class="toggle-option range-validation">
              <div class="col-xs-8 label-custom label-medium">
                Range Validation
              </div>
              <div class="col-xs-4 field-input">
                <label
                  class="toggle-selector pull-right"
                  ng-class="vm.field.validateByValue ? 'toggle-selector-on' : ''"
                  ng-click="vm.resetRangeValidationParams(vm.field)"
                >
                  <input type="checkbox" ng-model="vm.field.validateByValue" />
                  <div class="toggle-selector-switch">
                    <i
                      ng-class="vm.field.validateByValue ? 'bx bx-check' : 'bx bx-x' "
                    ></i>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-sm-6 col-xs-12 min-val-input">
                <input
                  type="number"
                  ng-model="vm.field.ValidationOptions.customMin"
                  ng-pattern="/^-?[0-9]*(\.[0-9]+)?$/"
                  placeholder="Min"
                  ng-disabled="!vm.field.validateByValue"
                  class="input-custom input-medium"
                />
              </div>
              <div class="col-sm-6 col-xs-12 max-val-input">
                <input
                  type="number"
                  ng-model="vm.field.ValidationOptions.customMax"
                  ng-pattern="/^-?[0-9]*(\.[0-9]+)?$/"
                  ng-min="vm.field.ValidationOptions.customMin"
                  placeholder="Max"
                  ng-disabled="!vm.field.validateByValue"
                  class="input-custom input-medium"
                />
              </div>
            </div>
          </div>
          <div
            ng-if="vm.editFieldForm.$error.number || vm.editFieldForm.$error.pattern"
            class="alert-custom alert-error"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg">Please enter a valid number</span>
          </div>
          <div
            ng-if="vm.editFieldForm.$error.min"
            class="alert-custom alert-error"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg">Please enter a valid range</span>
          </div>
        </div>
        <!-- End Decimal -->

        <!-- Checkbox -->
        <div ng-if="vm.field.fieldType === 'checkbox'">
          <div class="row">
            <div class="row"><br /></div>
            <div class="toggle-option range-validation">
              <div class="col-xs-8 label-custom label-medium">
                Selection Limits<i
                  class="glyphicon glyphicon-question-sign"
                  uib-tooltip="Customise the number of options that form-fillers are allowed to select"
                  tooltip-trigger="'click mouseenter'"
                >
                </i>
              </div>
              <div class="col-xs-4 field-input">
                <label
                  class="toggle-selector pull-right"
                  ng-class="vm.field.validateByValue ? 'toggle-selector-on' : ''"
                  ng-click="vm.resetRangeValidationParams(vm.field)"
                >
                  <input type="checkbox" ng-model="vm.field.validateByValue" />
                  <div class="toggle-selector-switch">
                    <i
                      ng-class="vm.field.validateByValue ? 'bx bx-check' : 'bx bx-x' "
                    ></i>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-sm-6 col-xs-12 min-val-input">
                <input
                  type="number"
                  ng-model="vm.field.ValidationOptions.customMin"
                  ng-min="1"
                  ng-max="vm.field.fieldOptions.length + vm.field.othersRadioButton"
                  ng-pattern="/^[0-9]*$/"
                  placeholder="Min"
                  ng-disabled="!vm.field.validateByValue"
                  class="input-custom input-medium"
                />
              </div>
              <div class="col-sm-6 col-xs-12 max-val-input">
                <input
                  type="number"
                  ng-model="vm.field.ValidationOptions.customMax"
                  ng-pattern="/^[0-9]*$/"
                  ng-min="vm.field.ValidationOptions.customMin || 1"
                  ng-max="vm.field.fieldOptions.length + vm.field.othersRadioButton"
                  placeholder="Max"
                  ng-disabled="!vm.field.validateByValue"
                  class="input-custom input-medium"
                />
              </div>
            </div>
          </div>
          <div
            ng-if="vm.editFieldForm.$error.number || vm.editFieldForm.$error.pattern"
            class="alert-custom alert-error"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg">Please enter a valid number</span>
          </div>
          <div
            ng-if="vm.editFieldForm.$error.min"
            class="alert-custom alert-error"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg">Please enter a valid range</span>
          </div>
          <div
            ng-if="!vm.editFieldForm.$error.min && vm.editFieldForm.$error.max"
            class="alert-custom alert-error"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg"
              >Error - You have only created {{vm.field.fieldOptions.length +
              vm.field.othersRadioButton}} option(s)</span
            >
          </div>
        </div>
        <!-- End Checkbox -->

        <div class="row"><br /></div>
        <div class="modal-footer row">
          <button
            type="submit"
            ng-click="vm.saveField(!vm.editFieldForm.$invalid)"
            class="btn-custom btn-medium modal-save-btn"
            ng-disabled="vm.saveInProgress || vm.disableSave() || vm.editFieldForm.$invalid"
          >
            Save
          </button>
          <a ng-click="vm.cancel()" class="modal-cancel-btn">Cancel</a>
        </div>
      </div>
    </div>

    <!-- Preview of field on the right -->
    <div
      class="preview-field-panel col-md-7 hidden-sm hidden-xs container no-padding"
    >
      <div class="modal-preview-content">
        <form name="vm.forms.myForm" novalidate class="public-form">
          <field-directive
            field="vm.field"
            is-validate-date="vm.field.isValidateDate"
            class="preview-field"
            forms="vm.forms"
            isadminpreview="true"
            colortheme="{{ vm.myform.startPage.colorTheme }}"
          >
          </field-directive>
        </form>
        <!-- Start email preview -->
        <div
          ng-if="vm.field.fieldType === 'email' && vm.field.autoReplyOptions.hasAutoReply"
          id="email-preview"
        >
          <hr />
          <p>
            <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp;<b
              >Subject:</b
            >
            <span class="editable-text"
              >{{vm.field.autoReplyOptions.autoReplySubject ?
              vm.field.autoReplyOptions.autoReplySubject : "Thank you for
              submitting " + vm.myform.title }}</span
            >
          </p>
          <p>
            <i class="fa fa-reply fa-fw" aria-hidden="true"></i>&nbsp;<b
              >Sender Name:</b
            >
            <span class="editable-text"
              >{{vm.field.autoReplyOptions.autoReplySender ?
              vm.field.autoReplyOptions.autoReplySender :
              vm.myform.admin.agency.fullName}}</span
            >
          </p>
          <!-- Forms using ENCRYPT mode do not have response.pdf -->
          <p
            ng-if="vm.myform.responseMode !== vm.responseModeEnum.ENCRYPT && vm.field.autoReplyOptions.includeFormSummary"
          >
            <i class="fa fa-paperclip fa-fw"></i>&nbsp;<b>Attachments:</b>
            <span class="editable-text"
              >&nbsp;<i class="fa fa-file-pdf-o" aria-hidden="true"></i
              >&nbsp;response.pdf</span
            >
          </p>
          <div id="email-preview-content">
            <p class="editable-text">
              {{vm.field.autoReplyOptions.autoReplyMessage ?
              vm.field.autoReplyOptions.autoReplyMessage : "Dear Sir or
              Madam,\n\nThank you for submitting this form.\n\nRegards,\n" +
              vm.myform.admin.agency.fullName}}
            </p>
          </div>
        </div>
        <!-- End email preview -->
      </div>
    </div>
  </div>
</div>
