<div class="page-container">
  <banner-component message="vm.bannerContent | linky"></banner-component>
  <navbar-component></navbar-component>

  <div id="list-tab">
    <section data-ng-init="vm.listForms()">
      <div id="list-form" class="container" ng-if="vm.user">
        <react-switch-banner-component
          ng-if="vm.reactAdminRollout > 0"
        ></react-switch-banner-component>
        <!-- When forms have already been created -->
        <div id="list-form-exist" ng-if="vm.myforms.length > 0">
          <div
            id="list-form-overlay"
            ng-click="vm.clearFormBtns()"
            ng-aria-disable
          ></div>

          <!-- Welcome message -->
          <div id="welcome" class="row">Welcome back, {{vm.userName}}</div>

          <!-- Form item for Create New Form -->
          <div
            ng-click="vm.openCreateModal(); vm.clearFormBtns()"
            id="create-new"
            class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 form-item"
          >
            <span id="create-plus" class="bx bx-plus"></span>
            <span id="create-plus-text">Create new form</span>
          </div>

          <!-- List of forms  -->
          <div
            ng-repeat="form in vm.myforms"
            data-formid="{{form._id}}"
            class="col-xs-10 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 form-item"
            ng-class="{'inactive': form.status!=='PUBLIC', 'active': vm.showFormBtns[form._id], 'duplicated': vm.duplicatedForms[form._id]}"
            ng-click="vm.editForm(form)"
          >
            <!-- Top part of form item with text -->
            <div class="form-text">
              <div class="form-name" id="content-desktop">
                {{form.title | limitTo: 24}}{{form.title.length > 24 ? '...' :
                ''}}
              </div>
              <div class="form-name" id="content-mobile">{{form.title}}</div>
              <div class="form-lastupdated">{{form.lastModifiedString}}</div>
              <div class="form-islive" ng-if="form.status==='PUBLIC'">
                Published
              </div>
              <div class="form-islive" ng-if="form.status==='PRIVATE'">
                Inactive
              </div>
            </div>
            <!-- Bottom part of form item with buttons -->
            <div
              class="form-btns"
              ng-click="vm.viewFormBtns(form._id); $event.stopPropagation()"
            >
              <!-- Hidden buttons that appear only after more is clicked -->
              <div
                ng-hide="!vm.showFormBtns[form._id]"
                class="form-btns-hidden"
              >
                <i
                  class="bx bx-trash form-btn-trash"
                  ng-click="vm.openDeleteModal($index)"
                  ng-hide="vm.user._id !== form.admin._id"
                  uib-tooltip="DELETE"
                  tooltip-trigger="'click mouseenter'"
                ></i>
                <i
                  class="bx bx-duplicate form-btn-copy"
                  ng-click="vm.duplicateForm($index)"
                  uib-tooltip="DUPLICATE"
                  tooltip-trigger="'click mouseenter'"
                ></i>
                <a ui-sref="viewForm({formId: form._id})"
                  ><i
                    class="bx bx-pencil form-btn-edit"
                    uib-tooltip="EDIT"
                    tooltip-trigger="'click mouseenter'"
                  ></i
                ></a>
              </div>
              <!-- More button to open hidden buttons and make form item active -->
              <i
                ng-if="!vm.showFormBtns[form._id]"
                class="bx bx-dots-horizontal-rounded form-btn-more"
              ></i>
            </div>
          </div>
        </div>

        <!-- When there are no forms yet -->
        <div ng-if="vm.myforms.length === 0" id="welcome-placeholder">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div id="welcome">Welcome {{vm.userName}}</div>
              <img
                id="welcome-image"
                class="hidden-sm hidden-md hidden-lg"
                src="/public/modules/core/img/build-illustration.svg"
              />
              <div id="welcome-message">
                Your dashboard seems empty. Start creating a new form or view
                some examples below.
              </div>
              <button
                id="welcome-btn"
                ng-click="vm.openCreateModal()"
                class="btn-custom btn-medium"
              >
                Create New Form
              </button>
            </div>
            <img
              id="welcome-image"
              class="col-sm-6 hidden-xs"
              src="/public/modules/core/img/build-illustration.svg"
            />
          </div>
          <div id="divider"></div>
        </div>
      </div>
    </section>
  </div>
</div>
