<!-- <script type="text/ng-template" id="addFieldsModal.html"> -->
<div
  id="add-field-modal"
  ng-model="addField.types"
  class="hidden-sm hidden-md hidden-lg hidden-xl"
>
  <uib-tabset>
    <uib-tab heading="Basic">
      <div class="add-field-modal-panel">
        <div ng-repeat="type in vm.addField.types">
          <div
            ng-if="vm.adminHasAccess(type.name)"
            ng-class="{'add-field-item':true, 'inactive': vm.isDisabledField(type)}"
            ng-click="vm.isDisabledField(type) || vm.addNewField(type.name)"
          >
            <div class="add-field-icon">
              <field-icon-component
                type-name="{{type.name}}"
              ></field-icon-component>
            </div>
            <div class="add-field-text">{{type.value}}</div>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab feature-toggle feature-name="spcp-myinfo">
      <uib-tab-heading> MyInfo </uib-tab-heading>
      <!-- Unlike the non-mobile view, no overlay is shown. Thus, fields are -->
      <!-- disabled instead if they do not fulfil a certain criteria. -->
      <div ng-if="vm.myform.authType === 'MyInfo'">
        <div class="myinfo-category">PERSONAL</div>
        <div class="add-field-modal-panel">
          <div
            ng-repeat="type in vm.addField.myInfoTypes | filter: { category: 'personal'}"
          >
            <div
              ng-class="{'add-field-item':true, 'inactive': vm.isStorageForm}"
              ng-click="vm.isStorageForm || vm.addNewMyInfoField(type.name)"
            >
              <div class="add-field-icon">
                <field-icon-component
                  type-name="{{type.name}}"
                ></field-icon-component>
              </div>
              <div class="add-field-text">{{type.value}}</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="myinfo-category">CONTACT</div>
        <div class="add-field-modal-panel">
          <div
            ng-repeat="type in vm.addField.myInfoTypes | filter: { category: 'contact'}"
          >
            <div
              ng-class="{'add-field-item':true, 'inactive': vm.isStorageForm}"
              ng-click="vm.isStorageForm || vm.addNewMyInfoField(type.name)"
            >
              <div class="add-field-icon">
                <field-icon-component
                  type-name="{{type.name}}"
                ></field-icon-component>
              </div>
              <div class="add-field-text">{{type.value}}</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="myinfo-category">EMPLOYMENT & EDUCATION</div>
        <div class="add-field-modal-panel">
          <div
            ng-repeat="type in vm.addField.myInfoTypes | filter: { category: 'employment_education'}"
          >
            <div
              ng-class="{'add-field-item':true, 'inactive': vm.isStorageForm}"
              ng-click="vm.isStorageForm || vm.addNewMyInfoField(type.name)"
            >
              <div class="add-field-icon">
                <field-icon-component
                  type-name="{{type.name}}"
                ></field-icon-component>
              </div>
              <div class="add-field-text">{{type.value}}</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="myinfo-category">FAMILY</div>
        <div class="add-field-modal-panel">
          <div
            ng-repeat="type in vm.addField.myInfoTypes | filter: { category: 'family'}"
          >
            <div
              ng-class="{'add-field-item':true, 'inactive': vm.isStorageForm}"
              ng-click="vm.isStorageForm || vm.addNewMyInfoField(type.name)"
            >
              <div class="add-field-icon">
                <field-icon-component
                  type-name="{{type.name}}"
                ></field-icon-component>
              </div>
              <div class="add-field-text">{{type.value}}</div>
            </div>
          </div>
        </div>
      </div>

      <div id="myinfo-disable-mobile" ng-if="vm.myform.authType !== 'MyInfo'">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="72"
          height="72"
          viewBox="0 0 72 72"
        >
          <g fill="none" fill-rule="nonzero">
            <rect
              width="25"
              height="25"
              x="5"
              y="42"
              stroke="#333"
              stroke-width="4"
              rx="1"
            />
            <rect
              width="25"
              height="25"
              x="5"
              y="6"
              stroke="#333"
              stroke-width="4"
              rx="1"
            />
            <rect
              width="25"
              height="25"
              x="41"
              y="42"
              stroke="#333"
              stroke-width="4"
              rx="1"
            />
            <path fill="#333" d="M56 16h11v4H56v12h-4V20H41v-4h11V5h4v11z" />
          </g>
        </svg>
        <br />
        Enable MyInfo on the <b>Settings</b> tab to access pre-filled fields
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<!-- </script> -->
