<div class="pop-up-modal">
  <div class="modal-body">
    <div class="field-title">{{ vm.title }}</div>
    <div class="field-description" ng-bind-html="vm.description"></div>
    <div class="action-buttons">
      <button
        type="submit"
        ng-click="vm.confirm()"
        ng-class="vm.isImportant ? 'red-bg-dark' : 'modal-save-btn'"
        class="btn-custom btn-medium"
      >
        {{ vm.confirmButtonText || 'OK' }}
      </button>
      <a
        ng-click="vm.cancel()"
        ng-if="vm.cancelButtonText"
        class="modal-cancel-btn"
      >
        {{ vm.cancelButtonText }}
      </a>
    </div>
  </div>
</div>
