<div id="responses-tab">
  <div ng-if="vm.loading" class="loader">
    <i class="bx bx-loader bx-spin"></i>
  </div>

  <!-- Email Mode -->
  <div
    ng-if="!vm.loading && !vm.isEncryptResponseMode"
    class="standard-padding"
  >
    <span ng-if="vm.responsesCount > 0" class="stats-text">
      <span class="stats">{{vm.responsesCount}}</span> response(s) to date.
    </span>
    <span ng-if="vm.responsesCount === 0" class="stats-text">
      <span class="stats">No</span> responses yet.
    </span>
  </div>
  <div
    class="alert-custom alert-info"
    ng-if="!vm.loading && !vm.isEncryptResponseMode"
  >
    <i class="bx bx-info-circle bx-md icon-spacing"></i>
    <span class="alert-msg">
      FormSG does <u>not</u> store form responses. <br /><br />
      To collate the responses in your Outlook Inbox, use the
      <a translate-attr="{ href: 'LINKS.COLLATE_TOOL' }" target="_blank"
        ><b>Data Collation Tool</b></a
      >.
    </span>
  </div>

  <!-- Storage Mode -->
  <div ng-if="!vm.loading && vm.isEncryptResponseMode">
    <div
      ng-if="vm.currentView === 1 && vm.responsesCount === 0 && vm.filterBySubmissionRefId === ''"
    >
      <div class="flex-column">
        <img
          id="no-responses"
          src="/public/modules/forms/admin/img/empty.svg"
        />
        <div class="title">No signs of movement</div>
        <div class="subtitle">This form doesn't have any responses yet.</div>

        <div class="caption">
          Once there are responses, you will need your Secret Key to read them.
        </div>
      </div>
    </div>
    <div
      class="flex-column"
      ng-if="vm.responsesCount > 0 && vm.currentView === 1"
    >
      <verify-secret-key-directive
        id="secret-key"
        header-highlight="{{ vm.responsesCount }}"
        header=" response(s) to date"
        subtitle="To view your responses, enter or upload your Secret Key below."
        btn-text="Unlock Responses"
        public-key="vm.myform.publicKey"
        callback="vm.unlock"
        saving-status="0"
        is-activation-modal="false"
      >
      </verify-secret-key-directive>
    </div>
    <div ng-if="vm.currentView === 2">
      <div class="flex-row">
        <div class="col-xl-3 response-stats">
          <span class="stats-text">
            <span
              ><span class="stats">{{vm.responsesCount}}</span> response(s) to
              date</span
            >
            <a
              id="filter-by-submission-filter-link"
              ng-show="!vm.filterBySubmissionShowFilterBox"
              ng-click="vm.filterBySubmissionShowFilterBox = true"
            >
              <i class="bx bx-search"></i>
            </a>
          </span>
        </div>
        <div
          class="col-xl-6"
          ng-show="vm.filterBySubmissionShowFilterBox"
          id="filter-by-submission-filter-textbox-container"
        >
          <input
            class="input-custom input-medium"
            ng-model="vm.filterBySubmissionRefIdTextbox"
            ng-change="vm.filterBySubmissionChanged()"
            ng-model-options="{ debounce: 150 }"
            placeholder="Search by reference no."
          />
          <span
            id="filter-by-submission-reset-link"
            ng-show="vm.filterBySubmissionRefId !== ''"
          >
            <a ng-click="vm.filterBySubmissionReset()">View&nbsp;All</a>
          </span>
        </div>
        <div class="datepicker-export-container col-xl-3">
          <date-range-picker-directive
            class="datepicker-container"
            ng-model="vm.datePicker.date"
          ></date-range-picker-directive>
          <div class="btn-group" uib-dropdown>
            <button
              class="btn-custom btn-small"
              aria-haspopup="true"
              aria-expanded="false"
              uib-dropdown-toggle
              id="btn-export-dropdown"
            >
              <span class="hidden-xs" ng-hide="vm.csvDownloading">Export</span>
              <span class="hidden-xs" ng-show="vm.csvDownloading"
                >Downloading</span
              >
              <span class="caret"></span>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-right"
              id="export-dropdown-options"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="btn-export-dropdown"
            >
              <li role="menuitem">
                <a
                  id="btn-export-dropdown-responses"
                  ng-click="vm.exportCsv(false)"
                  style="cursor: pointer"
                  >CSV only</a
                >
              </li>
              <li role="menuitem">
                <a
                  ng-click="vm.confirmSubmissionCountsBeforeDownload()"
                  style="cursor: pointer"
                  >CSV and attachments</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-row" ng-show="vm.filterBySubmissionShowFilterBox">
        <div class="col-xl-5"></div>
      </div>
      <div class="row">
        <div ng-if="vm.responsesCount > 0" class="col-md-12">
          <table class="table" ng-table="vm.tableParams" show-filter="false">
            <tr ng-repeat="row in $data" ng-click="vm.rowOnClick($index)">
              <td
                title="'#'"
                class="respondent-col"
                header-class="'respondent-col'"
              >
                {{row.number}}
              </td>
              <td
                title="'Response ID'"
                class="refNo-col"
                header-class="'refNo-col'"
              >
                {{row.refNo}}
              </td>
              <td title="'Time'" class="time-col" header-class="'time-col'">
                {{row.submissionTime}}
              </td>
            </tr>
          </table>
        </div>
        <div
          ng-if="vm.responsesCount === 0 && vm.filterBySubmissionRefId !== ''"
        >
          <div class="flex-column">
            <img
              ng-src="/public/modules/core/img/error-illustration.svg"
              id="no-responses"
            />
            <div class="title">No results found</div>
            <div class="subtitle">
              Did you enter the right response ID? We can't seem to find the
              response.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="detailed-responses"
      ng-if="vm.responsesCount > 0 && vm.currentView === 3"
    >
      <div id="respondent-header">
        <div class="respondent-header-container">
          <div id="back-to-list" ng-click="vm.backToList()">
            <i class="bx bx-arrow-back bx-lg icon-spacing"></i>
            <span>Back to list</span>
          </div>
          <div id="respondent-number">
            Respondent #{{ vm.decryptedResponse.responseNum }}
          </div>
          <div id="next-previous">
            <button
              class="btn-custom btn-small btn-respondent"
              ng-click="vm.previousRespondent()"
              ng-disabled="vm.currentResponse.number >= vm.responsesCount"
            >
              <i class="bx bx-chevron-left bx-lg"></i>
            </button>
            <button
              class="btn-custom btn-small btn-respondent"
              ng-click="vm.nextRespondent()"
              ng-disabled="vm.currentResponse.number <= 1"
            >
              <i class="bx bx-chevron-right bx-lg"></i>
            </button>
          </div>
        </div>
        <div id="respondent-number-m">
          Respondent #{{ vm.decryptedResponse.responseNum }}
        </div>
      </div>

      <div id="respondent-timestamp">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <b>Response ID</b>
          </div>
          <div class="col-xs-12 col-sm-8">{{ vm.decryptedResponse.refNo }}</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <b>Timestamp</b>
          </div>
          <div class="col-xs-12 col-sm-8">
            {{ vm.decryptedResponse.submissionTime }}
          </div>
        </div>
        <div class="row" ng-if="vm.attachmentDownloadUrls.size > 0">
          <div class="col-xs-12 col-sm-4"><b>Attachments</b></div>
          <div class="col-xs-12 col-sm-8">
            <a ng-click="vm.downloadAllAttachments()"
              >Download {{ vm.attachmentDownloadUrls.size }} Attachment(s) in
              ZIP</a
            >
          </div>
        </div>
      </div>

      <div id="question-answer-grp">
        <div
          ng-repeat="field in vm.decryptedResponse.content track by $index"
          class="qa-block"
          ng-class="field.isHeader ? 'header' : ((field.answer || field.answerArray) ? 'response-with-answer' : 'response-no-answer')"
        >
          <response-component
            field="field"
            encryption-key="vm.encryptionKey"
          ></response-component>
        </div>
      </div>
    </div>
  </div>
</div>
