/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.navbar__avatar {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.navbar__avatar__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #484848;
  background-color: #484848;
  border-radius: 50%;
  outline: none;
  height: 44px;
  width: 44px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media not all and (min-width: 768px) {
  .navbar__avatar__avatar {
    height: 36px;
    width: 36px;
    font-size: 14px;
  }
}

.navbar__avatar__avatar--alert {
  position: absolute;
  bottom: 12px;
  right: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #a94442;
  border-radius: 50%;
  background-color: #a94442;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar__avatar__avatar--alert::after {
  content: '';
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
}

.navbar__avatar--focused {
  background-color: #f0f0f0;
}

.navbar__dropdown {
  cursor: initial;
  z-index: 1000;
  width: 280px;
  position: absolute;
  right: 0;
  top: 80px;
  -webkit-box-shadow: 1px 3px 5px 0 rgba(48, 51, 54, 0.2);
  box-shadow: 1px 3px 5px 0 rgba(48, 51, 54, 0.2);
  background-color: #fff;
}

.navbar__dropdown--clickable {
  cursor: pointer;
}

.navbar__dropdown--clickable:hover,
.navbar__dropdown--clickable:focus,
.navbar__dropdown--clickable:active {
  background-color: #fdfdfd;
}

.navbar__dropdown__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 24px !important;
}

.navbar__dropdown__user__avatar {
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  width: 40px;
  font-size: 14px;
  border: 2px solid #484848;
  background-color: #484848;
  border-radius: 50%;
  outline: none;
  margin-right: 16px;
  display: inline-table;
  text-align: center;
  line-height: 36px;
}

.navbar__dropdown__user__details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
}

.navbar__dropdown__user__details--email {
  max-width: 250px;
  overflow-wrap: break-word;
}

.navbar__dropdown__user__contact {
  padding: 0 !important;
}

.navbar__dropdown__user__contact--missing {
  padding: 6px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2dede;
  font-size: 14px;
  letter-spacing: -0.04px;
  color: #a94442;
}

.navbar__dropdown__user__contact--missing i {
  margin-right: 16px;
}

.navbar__dropdown__user__contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar__dropdown__user__contact__details--label {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #323232;
  margin-right: 16px;
}

.navbar__dropdown__user__contact__details--link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.3px;
  color: #2f60ce;
  text-decoration: underline;
  cursor: pointer;
}

.navbar__dropdown__user__contact__details--link:focus,
.navbar__dropdown__user__contact__details--link:active,
.navbar__dropdown__user__contact__details--link:hover {
  color: #264da4;
}

.navbar__dropdown__user__contact__details--value {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar__dropdown__user__contact__details--value div:first-child {
  margin-right: 8px;
}

.navbar__dropdown__logout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #2f60ce;
  font-weight: bold;
  cursor: pointer;
}

.navbar__dropdown__logout--text {
  padding-right: 9px;
}

.navbar__dropdown__logout:focus,
.navbar__dropdown__logout:active,
.navbar__dropdown__logout:hover {
  color: #264da4;
}

.navbar__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__dropdown ul li {
  padding: 18px 24px;
  border-bottom: 1px solid #dcdcdc;
}
