.ecm-modal-window {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ecm-modal-window .modal-content {
  border-radius: 0;
  border-width: 0;
}

.ecm-modal-window .modal-dialog {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .ecm-modal-window .modal-dialog {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .ecm-modal-window .modal-dialog {
    width: 90%;
  }
}

#edit-contact-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#edit-contact-modal .bx-loader {
  font-size: 30px;
}

#edit-contact-modal .close-modal {
  text-align: right;
  font-size: 28px;
  color: #979797;
  padding: 12px;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

#edit-contact-modal .close-modal:focus,
#edit-contact-modal .close-modal:hover,
#edit-contact-modal .close-modal:active {
  color: #7e7e7e;
}

#edit-contact-modal input {
  width: 100%;
  border: solid 2px #b8b8b8;
  color: #484848;
  display: block;
  border-radius: 0;
  outline: none;
  letter-spacing: 0.2px;
}

#edit-contact-modal input.ng-touched.ng-invalid {
  border: 2px solid #a94442;
}

#edit-contact-modal input:focus,
#edit-contact-modal input:active {
  border: 2px solid #2f60ce;
}

#edit-contact-modal .ecm__content {
  max-width: 575px;
  color: #323232;
  text-align: center;
  padding: 24px;
}

#edit-contact-modal .ecm__content__image {
  width: 80px;
  margin: 20px;
}

#edit-contact-modal .ecm__content__header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
}

#edit-contact-modal .ecm__content__subheader {
  margin-top: 8px;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: -0.3px;
  text-align: center;
}

#edit-contact-modal .ecm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .ecm__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#edit-contact-modal .ecm__form__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 12px;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .ecm__form__input {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

#edit-contact-modal .ecm__form__input input {
  line-height: 1.5;
  height: 54px;
  font-size: 20px;
}

#edit-contact-modal .ecm__form__input .intl-tel-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#edit-contact-modal .ecm__otp {
  color: #2f60ce;
  margin-left: 24px;
  text-align: left;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .ecm__otp {
    margin-left: 0;
  }
}

#edit-contact-modal .ecm__otp__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

#edit-contact-modal .ecm__otp__subheader {
  font-size: 18px;
  line-height: 1.28;
  margin-bottom: 16px;
}

#edit-contact-modal .ecm__otp__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .ecm__otp__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#edit-contact-modal .ecm__otp__input--input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 12px;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .ecm__otp__input--input {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

#edit-contact-modal .ecm__otp__input button {
  margin-top: 0;
}

#edit-contact-modal .ecm__otp__resend button {
  font-size: 18px;
  line-height: 1.67;
  color: #2f60ce;
  background: none;
  border: none;
  text-decoration: underline;
}

#edit-contact-modal .ecm__otp__resend button:disabled {
  opacity: 0.5;
}

#edit-contact-modal .ecm__otp__resend button:hover,
#edit-contact-modal .ecm__otp__resend button:active,
#edit-contact-modal .ecm__otp__resend button:focus {
  color: #264da4;
}

#edit-contact-modal .ecm__otp__resend span {
  opacity: 0.5;
}

#edit-contact-modal .ecm__vfn-button--success {
  background-color: #04aa80;
}

#edit-contact-modal .ecm__vfn-button--success:disabled {
  opacity: 1;
}

#edit-contact-modal .ecm__button {
  min-width: 140px;
}

#edit-contact-modal .ecm__button--verify {
  min-width: 110px;
}

#edit-contact-modal .otp__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9ecf5;
  padding: 32px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .otp__form {
    padding: 12px;
  }
}

@media screen and (max-width: 425px) {
  #edit-contact-modal .otp__form img {
    display: none;
  }
}
