footer-component a {
  outline: none;
  text-decoration-line: none;
}

footer-component .landing__footer {
  display: block;
  color: #484848;
}

footer-component .landing__footer .footer__section {
  -webkit-align-items: normal;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 44px;
  padding-top: 44px;
}

footer-component .landing__footer .footer__section--bottom-border {
  border-bottom: 2px solid;
  border-color: #dcdcdc;
}

footer-component .footer__tagline {
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
}

footer-component .tagline--name {
  margin: 0;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
}

footer-component .tagline--caption {
  margin-left: 0.5rem;
  font-size: 14px;
  font-style: italic;
}

footer-component .footer__links {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer-component .footer__links--link {
  display: block;
  margin-bottom: 1rem;
  margin-right: 0;
  color: #484848;
}

footer-component a:hover,
footer-component a:focus,
footer-component a:active {
  color: #2f60ce;
  opacity: 1;
  text-decoration-line: none;
}

footer-component .footer__links--link--last {
  margin-bottom: 0;
  margin-right: 0;
}

footer-component .footer__logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer-component .footer__logo--builtby {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-bottom: 6px;
}

footer-component .footer__logo--logo {
  height: 48px;
  width: 183px;
}

footer-component .footer__socials {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 72px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 4px;
}

footer-component .footer__socials--links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer-component .footer__socials--link {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 32px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer-component .footer__socials--link--first {
  margin-left: 0;
  margin-right: 8px;
}

footer-component .footer__socials--link--last {
  margin-left: 8px;
  margin-right: 0;
}

footer-component .footer__copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 10px;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 30em) {
  footer-component .footer__links--link {
    margin-bottom: 1rem;
  }

  footer-component .footer__links--link--last {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 48em) {
  footer-component .landing__footer .footer__section {
    margin-left: 64px;
    margin-right: 64px;
  }

  footer-component .footer__copyright {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 62em) {
  footer-component .landing__footer .footer__section {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  footer-component .footer__tagline {
    padding-bottom: 0;
  }

  footer-component .footer__links {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer-component .footer__links--link {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  footer-component .footer__links--link--last {
    margin-bottom: 0;
    margin-right: 0;
  }

  footer-component .footer__socials {
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    margin-top: 0;
  }
}
