@font-face {
  font-family: 'sgds-icons';
  src: url('../resources/fonts/sgds-icons.ttf') format('truetype'),
    url('../resources/fonts/sgds-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* stylelint-disable */
.sgds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sgds-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable */

.sgds-icon-sg-crest::before {
  content: '\e948';
  color: #db0000;
}

.sgds-masthead {
  position: relative;
  background-color: #f0f0f0;
  height: auto;
  padding: 4px 0;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .sgds-masthead {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.sgds-masthead .is-text {
  margin-left: 4px;
}

.sgds-masthead .sgds-icon {
  font-size: 20px;
}

.sgds-masthead a {
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sgds-masthead a:hover {
  color: #151515;
}

#sg-govt-banner {
  padding-left: 8%;
  padding-right: 8%;
  background-color: #f0f0f0;
}

#sg-govt-banner.banner-x-padding-small {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 992px) {
  #sg-govt-banner {
    padding: 0;
  }
}

#sg-govt-banner a:focus,
#sg-govt-banner a:active,
#sg-govt-banner a:hover {
  color: #000;
  text-decoration: none;
}
