/* Color Themes */

/* BLUE */
.blue-bg {
  background-color: #2f60ce !important;
  color: white !important;
}

.blue-bg-dark {
  background-color: #1e3e84 !important;
  color: white !important;
}

button.btn-custom.blue-bg:hover,
button.btn-custom.blue-bg.btn-pressed,
button.btn-custom.blue-bg-dark:hover,
button.btn-custom.blue-bg-dark.btn-pressed {
  background-color: #0e2558 !important;
  border-color: #0e2558 !important;
}

.blue-border {
  border-color: #2f60ce !important;
}

.blue-border-dark {
  border-color: #1e3e84 !important;
}

.blue-font {
  color: #2f60ce !important;
}

.blue-label {
  border: solid 2px #2f60ce !important;
  background-color: rgba(47, 96, 206, 0.2) !important;
  color: #2f60ce !important;
}

/* Radio */
.field-group.radiobtn .radiomark.blue-border::before {
  background-color: #2f60ce !important;
}

/* Rating */
.angular-input-stars > li.blue-font .active {
  color: #2f60ce !important;
}

/* ====================================================== */

/* RED */
.red-bg {
  background-color: #dc2a2a !important;
  color: white !important;
}

.red-bg-dark {
  background-color: #b22222 !important;
  color: white !important;
}

button.btn-custom.red-bg:hover,
button.btn-custom.red-bg.btn-pressed,
button.btn-custom.red-bg-dark:hover,
button.btn-custom.red-bg-dark.btn-pressed {
  background-color: #7c0e0e !important;
  border-color: #7c0e0e !important;
}

.red-border {
  border-color: #dc2a2a !important;
}

.red-border-dark {
  border-color: #b22222 !important;
}

.red-font {
  color: #dc2a2a !important;
}

.red-label {
  border: solid 2px #dc2a2a !important;
  background-color: rgba(220, 42, 42, 0.2) !important;
  color: #dc2a2a !important;
}

/* Radio */
.field-group.radiobtn .radiomark.red-border::before {
  background-color: #dc2a2a !important;
}

/* Rating */
.angular-input-stars > li.red-font .active {
  color: #dc2a2a !important;
}

/* ====================================================== */

/* GREEN */
.green-bg {
  background-color: #048665 !important;
  color: white !important;
}

.green-bg-dark {
  background-color: #025641 !important;
  color: white !important;
}

button.btn-custom.green-bg:hover,
button.btn-custom.green-bg.btn-pressed,
button.btn-custom.green-bg-dark:hover,
button.btn-custom.green-bg-dark.btn-pressed {
  background-color: #003c2d !important;
  border-color: #003c2d !important;
}

.green-border {
  border-color: #048665 !important;
}

.green-border-dark {
  border-color: #025641 !important;
}

.green-font {
  color: #048665 !important;
}

.green-label {
  border: solid 2px #048665 !important;
  background-color: rgba(4, 134, 101, 0.2) !important;
  color: #048665 !important;
}

/* Radio */
.field-group.radiobtn .radiomark.green-border::before {
  background-color: #048665 !important;
}

/* Rating */
.angular-input-stars > li.green-font .active {
  color: #048665 !important;
}

/* ====================================================== */

/* ORANGE */
.orange-bg {
  background-color: #ff6d00 !important;
  color: white !important;
}

.orange-bg-dark {
  background-color: #a34600 !important;
  color: white !important;
}

button.btn-custom.orange-bg:hover,
button.btn-custom.orange-bg.btn-pressed,
button.btn-custom.orange-bg-dark:hover,
button.btn-custom.orange-bg-dark.btn-pressed {
  background-color: #562806 !important;
  border-color: #562806 !important;
}

.orange-border {
  border-color: #ff6d00 !important;
}

.orange-border-dark {
  border-color: #a34600 !important;
}

.orange-font {
  color: #ff6d00 !important;
}

.orange-label {
  border: solid 2px #ff6d00 !important;
  background-color: rgba(255, 109, 0, 0.2) !important;
  color: #ff6d00 !important;
}

/* Radio */
.field-group.radiobtn .radiomark.orange-border::before {
  background-color: #ff6d00 !important;
}

/* Rating */
.angular-input-stars > li.orange-font .active {
  color: #ff6d00 !important;
}

/* ====================================================== */

/* BROWN */
.brown-bg {
  background-color: #8d7b68 !important;
  color: white !important;
}

.brown-bg-dark {
  background-color: #5a4e42 !important;
  color: white !important;
}

button.btn-custom.brown-bg:hover,
button.btn-custom.brown-bg.btn-pressed,
button.btn-custom.brown-bg-dark:hover,
button.btn-custom.brown-bg-dark.btn-pressed {
  background-color: #342f29 !important;
  border-color: #342f29 !important;
}

.brown-border {
  border-color: #8d7b68 !important;
}

.brown-border-dark {
  border-color: #5a4e42 !important;
}

.brown-font {
  color: #8d7b68 !important;
}

.brown-label {
  border: solid 2px #8d7b68 !important;
  background-color: rgba(141, 123, 104, 0.2) !important;
  color: #8d7b68 !important;
}

/* Radio */
.field-group.radiobtn .radiomark.brown-border::before {
  background-color: #8d7b68 !important;
}

/* Rating */
.angular-input-stars > li.brown-font .active {
  color: #8d7b68 !important;
}

/* ====================================================== */

/* GREY */
.grey-bg {
  background-color: #495c66 !important;
  color: white !important;
}

.grey-bg-dark {
  background-color: #2e3b42 !important;
  color: white !important;
}

button.btn-custom.grey-bg:hover,
button.btn-custom.grey-bg.btn-pressed,
button.btn-custom.grey-bg-dark:hover,
button.btn-custom.grey-bg-dark.btn-pressed {
  background-color: #0e171c !important;
  border-color: #0e171c !important;
}

.grey-border {
  border-color: #495c66 !important;
}

.grey-border-dark {
  border-color: #2e3b42 !important;
}

.grey-font {
  color: #495c66 !important;
}

.grey-label {
  border: solid 2px #495c66 !important;
  background-color: rgba(73, 92, 102, 0.2) !important;
  color: #495c66 !important;
}

/* Radio */
.field-group.radiobtn .radiomark.grey-border::before {
  background-color: #495c66 !important;
}

/* Rating */
.angular-input-stars > li.grey-font .active {
  color: #495c66 !important;
}
