/* Uib Datepicker thead */

div.uib-datepicker thead tr:first-child button {
  padding: 0.5em;
  background-color: white;
  border: 0;
}

div.uib-datepicker thead tr:first-child button.uib-left.uib-right {
  color: #b8b8b8;
}

div.uib-datepicker thead tr:first-child button.uib-left:hover {
  color: #2f60ce;
}

div.uib-datepicker thead tr:first-child button.uib-right:hover {
  color: #2f60ce;
}

div.uib-datepicker thead tr:first-child {
  border-bottom: 1px solid #d6d6d6;
}

/* ====================================================== */

/* Uib Datepicker title */

div.uib-datepicker .uib-title:hover .uib-title-year {
  color: #2f60ce;
}

/* ====================================================== */

/* Uib Datepicker week (day-picker) */

div.uib-datepicker .uib-weeks button {
  height: 2.85em;
  width: 2.85em;
  border-radius: 50%;
  color: #767676;
}

/* ====================================================== */

/* Uib Datepicker month (month-picker) */

div.uib-datepicker .uib-months button {
  height: 2.85em;
  min-width: 5em;
  border-radius: 0.5em;
  color: #767676;
}

/* ====================================================== */

/* Uib Datepicker year (year-picker) */

div.uib-datepicker .uib-years button {
  height: 2.85em;
  min-width: 5em;
  border-radius: 0.5em;
  color: #767676;
}

/* ====================================================== */

/* Uib Datepicker label buttons */

div.uib-datepicker .uib-label-btn:hover {
  background-color: #f0f4f6;
  border: 1px solid #f0f4f6;
}

div.uib-datepicker .uib-label-btn.text-muted {
  color: #b8b8b8;
}

div.uib-datepicker .uib-label-btn.border-info {
  border: 1px solid #2f60ce;
}

div.uib-datepicker .uib-label-btn.active {
  color: white;
  background-color: #2f60ce;
  border: 1px solid #2f60ce;
}

/* ====================================================== */

/* Uib Datepicker Popup */

ul.uib-datepicker-popup .uib-button-bar .uib-datepicker-current {
  text-align: center;
  color: #2f60ce;
  width: 100%;
  padding: 0;
  background-color: white;
}
