#end-page-header {
  margin-top: 68px;
  text-transform: uppercase;
}

#end-page-header #end-page-timestamp {
  font-weight: bold;
}

#end-page-header #end-page-submissionId {
  font-size: 12px;
}

#end-page-header #end-page-submissionId #end-page-id {
  text-transform: lowercase;
}
