#error-page-bg {
  background-color: #2f60ce;
  text-align: center;
  height: 400px;
}

#error-page-bg #error-page-content {
  position: relative;
  padding: 40px;
  max-width: 750px;
  margin: 0 auto;
}

#error-page-bg #error-page-content img {
  height: 406px;
  width: 100%;
}

#error-page-bg #error-page-content h3 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
  color: #323232;
  letter-spacing: 0.5px;
  line-height: 1.3;
}

#error-page-bg #error-page-content p {
  margin: 15px auto 0 auto;
  font-size: 16px;
  color: #767676;
  max-width: 510px;
}

#error-page-bg #form-footer #form-id-text {
  font-size: 14px;
  color: #b8b8b8;
  padding-bottom: 10px;
}

@media not all and (min-width: 768px) {
  #error-page-bg {
    height: 300px;
  }

  #error-page-bg #error-page-content {
    position: relative;
    top: 7%;
    padding: 40px;
  }

  #error-page-bg #error-page-content h3 {
    font-size: 22px;
  }

  #error-page-bg #error-page-content img {
    height: 280px;
    width: 100%;
  }
}

#error-page-bg #form-footer {
  position: relative;
  top: 5%;
}
