#feedback-form-container {
  max-width: 800px;
  margin: 0 auto;
}

#feedback-form-container #feedback-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

#feedback-form-container #feedback-description {
  text-align: center;
  font-weight: 200;
  color: #767676;
  margin-bottom: 34px;
}

#feedback-form-container #feedback-sub-title {
  margin-top: 53px;
  margin-bottom: 12px;
  font-size: 20px;
  color: #323232;
  font-weight: 600;
}

#feedback-form-container #feedback-textfield {
  font-size: 16px;
  height: 150px;
  resize: vertical;
}

#feedback-form-container #feedback-submit-btn {
  margin-top: 30px;
}

/* Feeling options */
#feedback-form-container .feeling-field {
  text-align: center;
}

#feedback-form-container .feeling-field input[type='radio'] {
  display: none;
}

#feedback-form-container .feeling-field label {
  text-align: center;
  padding: 10px;
  border: 2px solid transparent;
  transition: border-color 0.1s ease-in;
  margin: 0 3px;
}

#feedback-form-container .feeling-field label:hover {
  border-color: #ffc800;
}

#feedback-form-container .feeling-field label > i {
  font-size: 28px;
}

#feedback-form-container .feeling-field label img {
  pointer-events: none;
}

#feedback-form-container .feeling-field .selected-feeling-field {
  border-color: #ffc800;
}
