/* Preview mode header on top of form's preview */

#preview-header {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #04aa80;
  line-height: 1.22;
  font-size: 18px;
  color: #fff;
}

#preview-header #preview-header-title {
  float: left;
  width: 90%;
  padding: 12.5px 12.5px 12.5px 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#preview-header #preview-header-edit {
  background-color: #048665;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration-line: none;
  color: #fff;
}

@media all and (min-width: 768px) {
  #preview-header #preview-header-edit {
    min-width: 175px;
    width: 10%;
  }

  #preview-header #preview-header-edit i {
    margin-right: 20px;
  }
}

@media not all and (min-width: 768px) {
  #preview-header #preview-header-edit {
    min-width: 60px;
    width: 15%;
  }

  #preview-header #preview-header-edit i {
    font-size: 30px;
    margin-top: -5px;
  }
}

#preview-header #preview-header-edit:hover {
  background-color: #025641;
}

/* Live form */

.public-form .form-header {
  width: 100%;
  color: black !important;
  padding: 20px 16.2222222% 13.6px 16.2222222%;
  overflow-wrap: normal;
  z-index: 11;
}

.public-form .form-header img {
  display: block;
  max-width: 100%;
  max-height: 110px;
  width: auto;
  height: auto;
}

@media all and (min-width: 768px) {
  .public-form .form-header {
    font-size: 30px;
  }
}

@media not all and (min-width: 768px) {
  .public-form .form-header {
    font-size: 25px;
  }
}

.public-form .form-locked-msg {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 40px;

  /* Offset container padding */
  margin-left: -35px;
  margin-right: -35px;
}

.public-form.submit-form .form-locked-msg.myinfo-error {
  color: #a94442;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

.public-form.submit-form .form-locked-msg.myinfo-error i {
  position: relative;
  top: 4px;
  font-size: 22px;
}

.public-form.submit-form,
.public-form.submit-form .overlay {
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

.public-form.submit-form .btn-sm {
  font-size: 1em !important;
}

.public-form.submit-form .btn {
  font-size: 1.3em;
}

.public-form.submit-form .btn:hover {
  opacity: 0.9;
  outline: none;
}

.public-form.submit-form .btn[disabled] {
  opacity: 0.3;
}

/* Start page & end page */
div.start-end-page {
  word-wrap: break-word;
}

div.start-end-page .form-actions {
  padding: 10px;
}

div.start-end-page .form-actions .btn {
  text-decoration: none;
  min-width: 120px;
}

div.start-end-page .form-actions .url-btn {
  background-color: #5bc0de;
  margin: 25px;
}

/* Form fields */

.field-directive {
  margin: 0;
  padding: 10px 0;
  position: relative;
}

/* Form footer */

#form-submit {
  margin-left: -5px;
  margin-right: -5px;
}

#form-submit #preview-captcha-notice {
  margin-top: 20px;
}

/* Have to use important to override Google's default CSS */
.grecaptcha-badge {
  width: 100% !important;
  box-shadow: none !important;
  margin-top: 10px;
}

.rc-anchor-normal .rc-anchor-pt {
  margin-left: -5px !important;
  right: auto !important;
  width: 88px !important;
}

.disable-link {
  pointer-events: none;
}

.end-page-link {
  padding-top: 10px;
}

#form-footer {
  text-align: center;
  padding-bottom: 107px;
  margin-top: 89px;
}

#form-footer-logo {
  margin: 0 auto 19px auto;
  width: 340px;
  max-width: 90%;
  border-top: 2px solid #e2e2e2;
  text-align: center;
}

#form-footer-logo .form-footer-links {
  margin-top: 40px;
}

#form-footer-logo .form-footer-links a {
  padding: 0 12px;
}

#form-footer-logo > p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 38px;
  margin-bottom: 0;
  color: #767676;
  text-transform: uppercase;
}

#form-footer-logo img {
  display: block;
  height: 72px;
  margin: 19px auto 0 auto;
}

#form-footer #privacy-policy {
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 48px;
}
