/* =========== Start Page CSS =========== */
#start-page-main-container {
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 62px;
}

#start-page-main-container > .form-header {
  background-color: white;
}

/* Form Title */
#start-page-main-container #start-page-title {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#start-page-main-container #start-page-title h1 {
  max-width: 1094px;
  font-size: 74px;
  font-weight: 200;
  line-height: 1.11;
  letter-spacing: -1.2px;
  margin: auto;
  padding: 0 100px;
}

@media not all and (min-width: 768px) {
  #start-page-main-container #start-page-title h1 {
    font-size: 40px;
    padding: 0 50px;
  }
}

#start-page-main-container #start-page-time-taken {
  font-weight: 200;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 0;
  letter-spacing: 0.5px;
  padding: 0 35px;
}

#start-page-main-container #start-page-time-taken > i {
  margin-right: 4px;
  font-size: 23px;
  position: relative;
  top: 1px;
}

#start-page-main-container #start-page-btn-container {
  display: block;
  padding: 0 35px;
}

#start-page-main-container
  #start-page-btn-container
  label
  input[type='checkbox'] {
  display: none;
}

#start-page-main-container #start-page-btn-container label .checkmark {
  position: absolute;
  height: 24px;
  width: 24px;
  border: solid 1px #fff;
  text-align: center;
  vertical-align: middle;
}

#start-page-main-container #start-page-btn-container label .checkmark > i {
  font-size: 22px;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
}

#start-page-main-container #start-page-btn-container .remember-me-btn {
  margin-top: 30px;
}

#start-page-main-container #start-page-btn-container .remember-me-span {
  font-size: 18px;
  font-weight: 300;
  margin-left: 35px;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  #start-page-main-container .row {
    padding: 70px 0;
  }
}

@media not all and (min-width: 768px) {
  #start-page-main-container .row {
    padding: 50px 0;
  }
}

/* Instructions */
#start-page-req #start-page-req-content {
  display: inline-block;
  text-align: left;
  padding-bottom: 45px;
  border-bottom: 2px solid rgba(184, 184, 184, 0.61);
  width: 100%;
}

#start-page-req #start-page-req-content > h3 {
  margin-bottom: 0;
}

#start-page-req #start-page-req-content > p {
  margin-top: 26px;
  margin-bottom: 0;
  line-height: 1.67;
  color: #484848;
  font-size: 18px;
  white-space: pre-wrap;
}

/* Page Header */

#start-page-header {
  padding: 20px 0;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}

@media not all and (min-width: 768px) {
  #start-page-header {
    display: none;
  }
}

#start-page-header #start-page-header-title {
  margin: -4px 30px 0 35px;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.2px;
  color: white;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#start-page-header #start-page-header-nav {
  text-align: right;
  margin-right: 32px;
}

#start-page-header .start-page-header-nav-item {
  margin: 0 0 0 32px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#start-page-header .start-page-header-nav-item > i {
  margin-left: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

/* =========== End Page CSS =========== */
#end-page-main-container {
  color: white;
  letter-spacing: 0.3px;
  margin-bottom: 73px;
  padding: 0 100px;
}

@media not all and (min-width: 768px) {
  #end-page-main-container {
    padding: 0 40px;
  }
}

#end-page-main-container #end-page-title {
  font-size: 44px;
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 13px;
}

#end-page-main-container .end-page-follow-up {
  font-weight: 200;
  font-size: 18px;
}

#end-page-main-container .end-page-follow-up.end-page-instructions {
  margin-bottom: 40px;
}

#end-page-main-container .end-page-follow-up > p {
  white-space: pre-wrap;
}

#end-page-main-container .end-page-follow-up > p > a {
  text-decoration: underline;
  color: white;
}

#end-page-main-container #end-page-btn-link {
  font-size: 18px;
  font-weight: 600;
  margin-top: 38px;
  margin-bottom: 60px;
}

#end-page-main-container #end-page-btn-link > p {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#end-page-main-container #end-page-btn-link > p > span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 2px;
}

/* =========== Common Utils =========== */
#start-page-main-container .start-page-btn,
#end-page-main-container .end-page-btn {
  margin: 66px auto 59px auto;
  background-color: white;
  color: #2f5fce;
  max-width: 350px;
  height: 58px;
  padding: 17px;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
}

#start-page-main-container .start-page-multiline-btn {
  height: auto;
  max-width: max-content;
}

#start-page-main-container .start-page-multiline-btn-decorator {
  display: flex;
  align-items: center;
}

#start-page-main-container .start-page-btn {
  margin: 39px auto 0 auto;
}

#end-page-main-container .end-page-btn {
  margin: 66px auto 59px auto;
}

#start-page-main-container .start-page-btn:hover,
#end-page-main-container .end-page-btn:hover {
  opacity: 1;
  transform: scale(0.95);
}

#start-page-main-container .start-page-btn:focus,
#end-page-main-container .end-page-btn:focus {
  outline: none;
}

#start-page-main-container .start-page-btn i,
#end-page-main-container .end-page-btn i {
  margin-left: 9px;
  font-size: 22px;
}

#start-page-main-container .start-page-btn[disabled],
#end-page-main-container .end-page-btn[disabled] {
  opacity: 1;
}

#start-page-main-container .start-page-btn[disabled]:hover,
#end-page-main-container .end-page-btn[disabled]:hover {
  opacity: 1;
}
