.verifiable .field-question > span,
.verifiable .field-question > div {
  white-space: pre;
}

.verifiable .vfn-section {
  background-color: #e9ecf5;
  color: #2f60ce;
  line-height: 23px;
  font-size: 18px;
  margin-left: 15px;
  width: 100%;
  padding: 32px 24px;
  display: flex;
}

.verifiable .vfn-section .top-2x {
  margin-top: 16px;
}

.verifiable .vfn-section .top-1x {
  margin-top: 8px;
}

.verifiable .vfn-section .title {
  font-weight: 600;
}

.verifiable .vfn-section .resend > a {
  text-decoration: underline;
  cursor: pointer;
}

.verifiable .vfn-section .resend.disabled,
.verifiable .vfn-section .resend.disabled > a {
  color: #b8b8b8;
  cursor: not-allowed;
}

.verifiable .vfn-section .resend span {
  margin-left: 1px;
}

.verifiable .btn--loading {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vfn-btn-container {
  padding-left: 0;
}

.vfn-slot {
  padding-left: 0;
  padding-right: 0;
}

@media all and (max-width: 768px) {
  .vfn-btn-container {
    padding-top: 8px;
    margin-bottom: 0;
    padding-left: 15px;
  }
}
