# adds datadog config into environment

commands:
  01-datadog:
    command: "/tmp/add-datadog-env.sh"

files:
  "/tmp/add-datadog-env.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        # Reach into the undocumented container config
        AWS_REGION='`{"Ref": "AWS::Region"}`'
        ENV_TYPE=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_PREFIX)
        ENV_SITE_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_ENV_SITE_NAME)
        TARGET_DIR=/etc/formsg

        echo "Checking if ${TARGET_DIR} exists..."
        if [ ! -d ${TARGET_DIR} ]; then
            echo "Creating directory ${TARGET_DIR} ..."
            mkdir -p ${TARGET_DIR}
            if [ $? -ne 0 ]; then
                echo 'ERROR: Directory creation failed!'
                exit 1
            fi
        else
            echo "Directory ${TARGET_DIR} already exists!"
        fi

        echo "Adding datadog config for ${ENV_SITE_NAME} in ${AWS_REGION}"
        echo "DD_GIT_REPOSITORY_URL=@DD_GIT_REPOSITORY_URL" >> $TARGET_DIR/.env
        echo "DD_GIT_COMMIT_SHA=@DD_GIT_COMMIT_SHA" >> $TARGET_DIR/.env
