# Pulls additional config from AWS SSM Parameter Store for compatibility with IAC (key-value pairs)

commands:
  03-update-env:
    command: "/tmp/update-env.sh"

files:
  "/tmp/update-env.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        # Reach into the undocumented container config
        AWS_REGION='`{"Ref": "AWS::Region"}`'
        ENV_TYPE=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_PREFIX)
        ENV_SITE_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_ENV_SITE_NAME_SHORT)
        TARGET_DIR=/etc/formsg

        echo "Checking if ${TARGET_DIR} exists..."
        if [ ! -d ${TARGET_DIR} ]; then
            echo "Creating directory ${TARGET_DIR} ..."
            mkdir -p ${TARGET_DIR}
            if [ $? -ne 0 ]; then
                echo 'ERROR: Directory creation failed!'
                exit 1
            fi
        else
            echo "Directory ${TARGET_DIR} already exists!"
        fi

        echo "Creating config for ${ENV_SITE_NAME} in ${AWS_REGION}"
        aws ssm get-parameter --name "/virus-scanner-guardduty/${ENV_SITE_NAME}/GUARDDUTY_QUARANTINE_S3_BUCKET" --with-decryption --region $AWS_REGION | jq -r '"GUARDDUTY_CLEAN_S3_BUCKET=\(.Parameter.Value)"' >> $TARGET_DIR/.env
        aws ssm get-parameter --name "/virus-scanner-guardduty/${ENV_SITE_NAME}/GUARDDUTY_CLEAN_S3_BUCKET" --with-decryption --region $AWS_REGION | jq -r '"GUARDDUTY_CLEAN_S3_BUCKET=\(.Parameter.Value)"' >> $TARGET_DIR/.env
        aws ssm get-parameter --name "/virus-scanner-guardduty/${ENV_SITE_NAME}/GUARDDUTY_LAMBDA_FUNCTION_NAME" --with-decryption --region $AWS_REGION | jq -r '"GUARDDUTY_LAMBDA_FUNCTION_NAME=\(.Parameter.Value)"' >> $TARGET_DIR/.env

packages:
  yum: 
    jq: []