<div id="error-page-bg">
  <div id="error-page-content">
    <img ng-src="/public/modules/core/img/error-illustration.svg" />
    <h3>{{ vm.errorMessage }}</h3>
    <p ng-bind-html="vm.subText | linky:'_blank'"></p>
  </div>

  <div id="form-footer">
    <div ng-if="!!vm.formId" id="form-id-text">
      Target Form ID: {{ vm.formId }}
    </div>
    <div id="form-footer-logo">
      <p>Powered By</p>
      <a ui-sref="landing"
        ><img src="/public/modules/core/img/logo-vertical-light.svg"
      /></a>
    </div>
  </div>
</div>
