<!--
  Formsg customized datepicker template. Specify the path to this file
  using datepicker-popup-template-url for the datepicker popup <input />

  Adapted from https://github.com/angular-ui/bootstrap/blob/master/template/datepickerPopup/popup.html
-->

<ul
  role="presentation"
  class="uib-datepicker-popup dropdown-menu uib-position-measure"
  dropdown-nested
  ng-if="isOpen"
  ng-keydown="keydown($event)"
  ng-click="$event.stopPropagation()"
>
  <li ng-transclude></li>
  <li ng-if="showButtonBar" class="uib-button-bar">
    <button
      type="button"
      class="btn uib-datepicker-current"
      ng-click="select('today', $event)"
      ng-disabled="isDisabled('today')"
    >
      {{ getText('current') }}
    </button>
  </li>
</ul>
