<div ng-if="!uiState.formSubmitted">
  <form class="start-end-page text-center">
    <start-page-component
      logo-url="{{ logoUrl }}"
      color-theme="{{ form.startPage.colorTheme }}"
      est-time-taken="form.startPage.estTimeTaken"
      paragraph="{{ form.startPage.paragraph }}"
      logo-state="{{ form.startPage.logo.state }}"
      form-title="{{ form.title }}"
      my-info-error="myInfoError"
      auth-type="form.authType"
      is-admin-preview="false"
      is-template="form.isTemplate"
      form-login="formLogin(isPersistentLogin)"
    >
    </start-page-component>
  </form>

  <div
    ng-if="!myInfoError && (form.authType==='NIL' || (form.authType!=='NIL' && SpcpSession.userName)) || form.isTemplate"
    id="form-container"
    class="padded-view"
  >
    <!-- Form Fields View -->
    <div class="form-fields">
      <!-- Warning label for prefill -->
      <div class="col-md-12" ng-if="hasPrefill">
        <div>
          <div class="alert-custom alert-prefill standard-padding">
            <i class="bx bx-info-circle bx-md icon-spacing"></i>
            <span class="alert-msg"
              >The highlighted fields in this form have been pre-filled
              according to the link that you clicked. Please check that these
              values are what you intend to submit, and edit if necessary.
            </span>
          </div>
        </div>
      </div>
      <!-- End Warning label for prefill -->

      <!-- Form fields -->
      <form name="forms.myForm" novalidate class="standard-padding">
        <div
          ng-repeat="field in form.form_fields"
          data-index="{{$index}}"
          data-id="{{field._id}}"
          class="row field-directive"
          ng-class="{ activeField: selected._id === field._id }"
          ng-if="field.isVisible"
        >
          <field-directive
            field="field"
            forms="forms"
            is-validate-date="field.isValidateDate"
            colortheme="{{ form.startPage.colorTheme }}"
            is-template="form.isTemplate"
            transaction-id="transactionId"
            form-id="form._id"
          ></field-directive>
        </div>
      </form>

      <!-- Form footer -->
      <div id="form-submit" class="row">
        <div
          ng-class="!uiState.submitPreventedMessage ? 'standard-padding' : 'standard-padding no-bottom-margin'"
        >
          <!-- Submit button if not in preview mode -->
          <button
            class="btn-custom btn-large form-submit-btn {{ form.startPage.colorTheme }}-bg-dark {{ form.startPage.colorTheme }}-border-dark"
            ng-disabled="disableSubmitButton || isSubmitButtonDisabled()"
            ng-click="checkCaptchaAndSubmit()"
            ng-class="uiState.submitButtonClicked ? 'btn-pressed' : ''"
          >
            <span
              ng-if="!uiState.submitButtonClicked && !uiState.submitPrevented"
              >Submit</span
            >
            <span
              ng-if="!uiState.submitButtonClicked && uiState.submitPrevented"
              >Submission Disabled</span
            >
            <span ng-if="uiState.submitButtonClicked"
              ><i class="bx bx-loader bx-spin bx-lg"></i
            ></span>
          </button>
        </div>
        <div class="standard-padding" ng-if="uiState.submitPreventedMessage">
          <div class="alert-custom alert-error">
            <i class="bx bx-exclamation bx-md icon-spacing"></i
            ><span class="alert-msg" id="submit-prevented-message"
              >{{ uiState.submitPreventedMessage }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page View -->
<div ng-if="uiState.formSubmitted">
  <form class="start-end-page text-center">
    <end-page-component
      logo-url="{{ logoUrl }}"
      title="{{ form.endPage.title }}"
      paragraph="{{ form.endPage.paragraph }}"
      button-text="{{ form.endPage.buttonText }}"
      button-link="{{ form.endPage.buttonLink }}"
      auth-type="{{ form.authType }}"
      is-admin-preview="false"
      color-theme="{{ form.startPage.colorTheme }}"
      submission-id="{{ submissionId }}"
      timestamp="{{ timestamp }}"
    >
    </end-page-component>
  </form>
</div>

<div class="padded-view">
  <!-- Optional Survey Form -->
  <div ng-if="uiState.formSubmitted" class="form-fields row">
    <feedback-form-component
      is-preview="form.isPreview"
      form-id="{{ form._id }}"
      submission-id="{{ submissionId }}"
      color-theme="{{ form.startPage.colorTheme }}"
    >
    </feedback-form-component>
  </div>
</div>

<!-- Form disclaimer -->
<div id="form-footer">
  <div id="form-footer-logo">
    <p>Powered By</p>
    <a ui-sref="landing" target="_blank">
      <img src="/public/modules/core/img/logo-vertical-light.svg" />
    </a>
    <div class="form-footer-links">
      <a ui-sref="privacy" target="_blank">Privacy Policy</a>
      <a ui-sref="terms" target="_blank">Terms of Use</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div>
        <div
          vc-recaptcha
          key="captchaService.publicKey"
          ng-if="form.hasCaptcha && !disableSubmitButton"
          size="invisible"
          on-create="captchaService.setWidget(widgetId)"
          on-success="captchaService.onSuccess(response, submitForm)"
          on-error="captchaService.onError(form)"
          on-expire="captchaService.expire()"
          data-badge="inline"
        ></div>
      </div>
    </div>
  </div>
</div>
