<form name="editLogic" id="edit-logic">
  <!-- Form Logics -->
  <div id="logic-units">
    <!-- Logic error alert -->
    <div ng-if="vm.isLogicError" class="alert-custom alert-error alert-margin">
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Your form's logic has errors. Scroll down to fix them before sharing
        your form.</span
      >
    </div>

    <!-- Warning message -->
    <div
      ng-if="vm.myform.form_logics.length == 0 && !vm.isLogicError"
      class="alert-custom alert-info alert-margin"
    >
      <i class="bx bx-info-circle bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Only advanced users should attempt to implement conditional logic
        within forms.</span
      >
    </div>
    <div
      ng-if="vm.myform.form_logics.length > 0 && !vm.isLogicError"
      class="alert-custom alert-info alert-margin"
    >
      <i class="bx bx-info-circle bx-md icon-spacing"></i>
      <span class="alert-msg">
        <div class="warning-with-padding">
          <strong
            >You are responsible for testing whether the form logic you specify
            works as expected.</strong
          >
        </div>
        <div>
          You may receive warnings if your form logic is faulty. However, an
          absence of errors does <em>not</em> mean that your form logic works.
          Please test thoroughly.
        </div>
      </span>
    </div>

    <!-- Logic units -->
    <div ng-model="vm.myform.form_logics">
      <div
        class="logic-panel"
        ng-repeat="logic in vm.myform.form_logics track by $index"
      >
        <div ng-click="vm.openEditLogicModal(logic, false, $index)">
          <div class="logic-panel-section logic-panel-conditions">
            <div class="logic-top">
              <div class="if-then-text">IF</div>
              <div class="logic-close">
                <i
                  class="bx bx-trash"
                  ng-click="vm.deleteLogic($index); $event.stopPropagation()"
                ></i>
              </div>
            </div>

            <div
              class="logic-panel-repeat"
              ng-repeat="condition in logic.conditions"
            >
              <div
                class="field-panel"
                ng-init="condition.fieldInfo=vm.getField(condition.field)"
              >
                <div class="field-panel-inner" ng-if="condition.fieldInfo">
                  <field-icon-component
                    class="field-cond-icon"
                    type-name="{{vm.getFieldFieldType(condition.fieldInfo)}}"
                  ></field-icon-component>
                  <div class="field-cond-text">
                    {{ vm.getFieldTitle(condition.fieldInfo) }}
                  </div>
                </div>
                <div
                  class="field-panel-inner field-error"
                  ng-if="!condition.fieldInfo"
                >
                  <i class="bx bx-exclamation"></i>
                  <div class="field-error-text">Field not found</div>
                </div>
                <div
                  class="field-panel-inner field-error"
                  ng-show="vm.checkIfHasInvalidValues(condition.value, condition.fieldInfo, condition.state) && vm.isLogicError"
                >
                  <!-- Also check vm.isLogicError because it is most up to date with the form's current state -->
                  <i class="bx bx-exclamation"></i>
                  <div class="field-error-text">
                    Some values are no longer valid.
                  </div>
                </div>
              </div>
              <div class="if-state-value">
                {{condition.state}}
                <u
                  >{{vm.formatValue(condition.value,
                  condition.fieldInfo.fieldType)}}</u
                >
              </div>
            </div>
          </div>
          <div
            class="logic-panel-section logic-panel-outcomes outcome-show-fields"
            ng-if="logic.logicType === vm.LogicType.ShowFields"
          >
            <div class="if-then-text then-show">THEN SHOW</div>

            <div
              class="logic-panel-repeat"
              ng-repeat="fieldInfo in vm.mapIdsToFields(logic.show)"
            >
              <div class="field-panel">
                <div class="field-panel-inner" ng-if="fieldInfo">
                  <field-icon-component
                    class="field-cond-icon"
                    type-name="{{vm.getFieldFieldType(fieldInfo)}}"
                  ></field-icon-component>
                  <div class="field-cond-text">
                    {{ vm.getFieldTitle(fieldInfo) }}
                  </div>
                </div>
                <div class="field-panel-inner field-error" ng-if="!fieldInfo">
                  <i class="bx bx-exclamation"></i>
                  <div class="field-error-text">Field not found</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              logic-panel-section logic-panel-outcomes
              outcome-prevent-submit
            "
            ng-if="logic.logicType === vm.LogicType.PreventSubmit"
          >
            <div class="if-then-text then-show">THEN DISABLE FORM</div>
            <div class="field-panel">
              <div class="field-panel-inner">
                <div class="field-cond-text">
                  {{ logic.preventSubmitMessage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add New Logic -->
    <div id="add-new-logic" ng-click="vm.addLogic()">
      <i class="bx bx-directions"></i>Add new logic
    </div>
  </div>
</form>
