<div class="form-title-input">
  <label for="settings-name" class="label-custom label-large label-bottom">
    Form Name
  </label>
  <div ng-init="vm.focusOnInput()">
    <input
      id="settings-name"
      class="input-custom input-medium"
      type="text"
      name="title"
      ng-model="vm.formData.title"
      ng-model-options="{ allowInvalid: true }"
      ng-minlength="4"
      ng-required="true"
      ng-maxlength="200"
      ng-pattern="/^[a-zA-Z0-9_\-.\/() &`;'&quot;]*$/"
      autocomplete="off"
      ng-keyup="$event.keyCode === 13 && vm.formController.title.$valid && vm.saveForm()"
      ng-class="vm.formController.title.$invalid && vm.formController.title.$dirty ? 'input-error' : ''"
      ng-blur="vm.saveForm()"
    />
  </div>

  <div
    class="alert-custom alert-error"
    ng-if="vm.formController.title.$invalid && vm.formController.title.$dirty"
    ng-messages="vm.formController.title.$error"
  >
    <i class="bx bx-exclamation bx-md icon-spacing"></i>
    <span class="alert-msg" ng-message="pattern"
      >Form name cannot contain special characters.</span
    >
    <span class="alert-msg" ng-message="minlength"
      >Form name must be at least 4 characters.</span
    >
    <span class="alert-msg" ng-message="maxlength"
      >Form name must be at most 200 characters.</span
    >
    <span class="alert-msg" ng-message="required">Form name is required.</span>
  </div>
  <div
    ng-if="vm.formController.title.$valid && vm.formController.title.$dirty && vm.formData.title.length > 40"
    class="alert-custom alert-info"
  >
    <i class="bx bx-exclamation bx-md icon-spacing"></i>
    <span class="alert-msg"
      >It is advised to use a shorter, more succinct form name.</span
    >
  </div>
</div>
