#billing-tab {
  width: 100%;
  height: 100%;
  background-color: #f0f4f6;
  overflow-x: hidden;
}

#billing-tab .container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 50px;
}

/* Header */

#billing-tab #title-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

#billing-tab #title {
  font-weight: bold;
  font-size: 28px;
  color: #2f60ce;
  margin-top: 41px;
}

#billing-tab #sub-title {
  font-size: 18px;
  line-height: 1.67;
  color: #484848;
}

@media not all and (min-width: 768px) {
  #billing-tab #sub-title.subtitle-hidden {
    display: none;
  }
}

#billing-tab #divider {
  height: 1px;
  border: solid 0.5px #dcdcdc;
  margin: 39px 0 29px 0;
}

/* Calendar Dropdown */

#billing-tab .selectize-input,
#billing-tab .selectize-input.focus,
#billing-tab .selectize-input.selectize-focus {
  border: solid 1px #b8b8b8 !important;
}

#billing-tab .selectize-control,
#billing-tab .selectize-input {
  height: 48px;
}

#billing-tab .selectize-input {
  box-shadow: none;
}

/* Login Stats */

#billing-tab #stats-options-grp {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  #billing-tab #stats-options-grp {
    flex-direction: row;
    align-items: center;
  }

  #billing-tab #options-grp {
    min-width: 450px;
  }

  #billing-tab #stats-grp {
    align-items: center;
  }
}

@media (max-width: 768px) {
  #billing-tab #stats-options-grp {
    flex-direction: column;
    align-items: flex-start;
  }

  #billing-tab #options-grp {
    width: 100%;
  }

  #billing-tab #stats-grp {
    align-items: end;
  }
}

#billing-tab #stats-grp {
  color: #484848;
  font-size: 18px;
  height: 48px;
  display: flex;
}

#billing-tab #stats-grp .stat-text {
  font-weight: 700;
}

/* Button */

#billing-tab button {
  margin-top: 0;
}

/* Loader */

#billing-tab .loader {
  font-size: 60px;
  position: absolute;
  z-index: 5;
  width: 100%;
}

#billing-tab .loader i {
  color: #3263cb;
  position: relative;
  top: 50px;
  left: calc(50% - 35px);
}

#billing-tab #table-loader-grp {
  position: relative;
  margin-bottom: 40px;
  margin-top: 29px;
}

/* No Results View */

#billing-tab .search-error {
  display: flex;
  flex-direction: column;
}

#billing-tab .search-error img {
  width: auto;
  height: 40vh;
  min-height: 270px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#billing-tab .search-error #msg-1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: rgb(50, 50, 50);
}

#billing-tab .search-error #msg-2 {
  font-size: 18px;
  text-align: center;
  color: rgb(118, 118, 118);
}

/* Billing Table */

#billing-tab table {
  table-layout: fixed;
  font-size: 18px;
}

#billing-tab th.header,
#billing-tab .ng-table th.sortable.sort-asc,
#billing-tab .ng-table th.sortable.sort-desc {
  background-color: #444;
  color: white;
  text-shadow: none;
  border-bottom: none;
}

#billing-tab .ng-table td,
#billing-tab .ng-table th {
  height: 50px;
  vertical-align: inherit;
}

#billing-tab .ng-table th.sortable .sort-indicator::after,
#billing-tab .ng-table th.sortable .sort-indicator::before {
  border-color: white transparent;
}

#billing-tab .ng-table th.sortable.sort-desc .sort-indicator::after {
  border-top: 4px solid white;
}

#billing-tab .ng-table th.sortable.sort-asc .sort-indicator::after,
#billing-tab .ng-table th.sortable.sort-desc .sort-indicator::after {
  opacity: 1;
}

#billing-tab th.header.total-col.sortable {
  width: 10%;
  text-align: center;
}

#billing-tab th.header.email-col.sortable,
#billing-tab th.header.auth-col.sortable {
  width: 25%;
  text-align: left;
  padding-left: 11px;
}

#billing-tab th.header.title-col.sortable {
  width: 40%;
  text-align: left;
  padding-left: 11px;
}

#billing-tab td.total-col {
  text-align: center;
}

#billing-tab td.email-col,
#billing-tab td.title-col,
#billing-tab td.auth-col {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  padding-left: 11px;
}

@media (min-width: 768px) {
  #billing-tab .auth-col-mobile {
    display: none;
  }
}

@media not all and (min-width: 768px) {
  #billing-tab .auth-col-desktop {
    display: none;
  }
}

/* Background blur on search */

#billing-tab .background-blur {
  opacity: 0.5;
}

/* Search Bar */

#billing-tab #search-icon {
  color: #484848;
  font-size: 24px;
  cursor: pointer;
}

#billing-tab #search-input {
  position: relative;
}

@media (min-width: 768px) {
  #billing-tab #search-input {
    min-width: 450px;
  }
}

@media not all and (min-width: 768px) {
  #billing-tab #search-input {
    width: 100%;
  }
}

#billing-tab #search-input input {
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
}

#billing-tab #search-input i.bx-search {
  position: absolute;
  top: 14px;
  left: 9px;
  color: #484848;
  font-size: 24px;
}

#billing-tab #search-input i.bx-x {
  position: absolute;
  top: 12px;
  right: 9px;
  color: #979797;
  font-size: 24px;
  cursor: pointer;
}

/* Billing Intro */

#billing-tab #intro-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#billing-tab #intro-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #323232;
  padding-top: 30px;
}

#billing-tab #intro-sub-title {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #323232;
  margin-bottom: 30px;
}

#billing-tab #intro-img {
  height: 230px;
  width: auto;
}

@media (min-width: 768px) {
  #billing-tab #intro-container {
    width: 510px;
  }
}

@media (max-width: 768px) {
  #billing-tab #intro-container {
    width: 345px;
  }
}

/* Billing Intro Button */

#billing-tab #btn-search {
  margin-top: 30px;
}

#billing-tab #faq-link a {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  #billing-tab #faq-link {
    margin-top: 13px;
    text-align: right;
  }
}

@media all and (max-width: 768px) {
  #billing-tab #faq-link {
    margin-top: 20px;
    text-align: center;
  }

  #billing-tab .btn-custom {
    width: 100%;
  }
}
