/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version,IE 11
*/

/* ie11 specific css */
.examples-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  @supports (display: grid) {
    .examples-container {
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
      grid-gap: 1rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .examples-container #form-card {
    width: 320px;
    min-width: 320px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media all and (min-width: 992px) {
  @supports (display: grid) {
    .examples-container {
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(auto-fill, 265px);
      grid-gap: 1rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .examples-container #form-card {
    width: 265px;
    min-width: 265px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media not all and (min-width: 768px) {
  .examples-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .examples-container examples-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .examples-container #form-card {
    width: 320px;
  }
}

#form-card .bottom-section,
#form-card .top-section {
  background-color: #fff;
  text-align: center;
}

#form-card .bottom-section {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
}

#form-card .bottom-section #agency-name {
  font-weight: bold;
  color: #767676;
  letter-spacing: 0.25px;
}

#form-card .bottom-section #last-submission {
  color: #b8b8b8;
  letter-spacing: 0.25px;
}

#form-card .top-section {
  padding-top: 7px;
  padding-bottom: 7px;
}

#form-card .top-section img {
  max-height: 27px;
  width: auto;
}

#form-card .middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 115px;
  font-weight: 200;
  font-size: 18px;
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: capitalize;
}

#form-card .middle-section .form-title {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 23px;
  max-height: 69px;
}

#form-card {
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#form-card:hover {
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

@media not all and (min-width: 768px) {
  #form-card {
    width: 100%;
  }
}

/* FULL SCREEN TEMPLATE */

.full-screen-template {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.full-screen-template .template-background {
  background-color: rgba(50, 50, 50, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.full-screen-template .template-header {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  border-bottom: solid 1px #e4e4e4;
  padding: 16px 29px;
}

.template-header .header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Use template button spinner */
.full-screen-template .bx-loader {
  color: #3263cb;
}

#examples-tab .template-header .header-group .bx-lg,
.template-header .header-group .bx-lg {
  color: white;
}

.template-header .header-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 27px;
}

.template-header .header-stat .stat-title {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.7px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.template-header .header-stat .stat-value {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.07;
  color: black;
}

.template-header .header-stat .stat-value .rating-value {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.template-header .header-stat .stat-value .rating-value img {
  padding-left: 10px;
  height: 26px;
}

.full-screen-template .template-iframe {
  height: calc(100% - 81px);
  width: 1024px;
  max-width: 100%;
  background: white;
  margin: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices
     Enable iframe scrolling on iOS devices */
  .full-screen-template .template-iframe {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

.full-screen-template .template-iframe iframe {
  width: 100%;
  height: 100%;
}

.template-header .use-template-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 70px;
}

@media (max-width: 768px) {
  .full-screen-template .template-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 140px;
  }

  .template-header .use-template-btn {
    width: 100%;
    margin-right: 0;
  }
}

.template-header .close-button {
  cursor: pointer;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #979797;
  margin-left: 27px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.template-header .close-button:hover {
  color: #333;
}

.full-screen-template .loading-spinner {
  position: absolute;
  font-size: 60px;
  left: calc(50% - 30px);
  top: 50%;
}

@media (max-width: 768px) {
  /* To match the position of the spinner in the iframe */
  .full-screen-template .loading-spinner {
    top: calc(50% + 60px);
  }
}
