/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sign-in {
  height: 100vh;
  background-color: #fff;
}

/* CSS shared by Email and OTP section */

#sign-in .input-box {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
}

#sign-in .input-container {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#sign-in .input-container .input-wrapper {
  max-width: 80%;
  padding: 40px;
}

#sign-in .input-banner {
  display: block;
  background-color: #2f60ce;
  position: absolute;
  top: 0;
  left: 0;
}

#sign-in .input-overlay {
  display: block;
  position: absolute;
}

#sign-in .btn-grp {
  margin-bottom: 50px;
}

@media not all and (max-width: 992px) {
  #sign-in .input-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #sign-in .input-banner {
    height: 100%;
    width: 40%;
  }

  #sign-in .input-overlay {
    width: 37%;
    height: 55%;
    top: 30%;
    left: 12.5%;
    max-height: 344px;
    max-width: 524px;
  }
}

@media (max-width: 992px) {
  #sign-in .input-container {
    width: initial;
    max-width: 100%;
  }

  #sign-in .input-container .input-wrapper {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #sign-in .input-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    padding-top: 448px;
  }

  #sign-in .input-banner {
    height: 200px;
    width: 100%;
  }

  #sign-in .input-overlay {
    width: 430px;
    height: 283px;
    top: 68px;
    left: auto;
    max-height: 283px;
    max-width: 430px;
  }
}

@media not all and (min-width: 768px) {
  #sign-in .input-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #sign-in .input-banner {
    display: none;
  }

  #sign-in .input-overlay {
    display: none;
  }

  #sign-in .input-container {
    padding: 20px;
  }
}

#sign-in .btn-qn {
  font-size: 18px;
  color: #767676;
  margin-left: 25px;
}

#sign-in .input-label {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
}

#sign-in .input-sublabel {
  font-size: 16px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 20px;
}

#sign-in .title {
  font-size: 28px;
  font-weight: bold;
  color: #2f60ce;
}

#sign-in #tagline {
  font-size: 16px;
  color: #767676;
  margin-top: 15px;
}

#sign-in .btn-custom {
  margin-top: 30px;
}

#sign-in .otp-disable {
  cursor: not-allowed;
  pointer-events: none;
}

@media (min-width: 768px) {
  #sign-in .input-custom,
  #sign-in .alert-custom,
  #sign-in #tagline {
    width: 460px;
    max-width: 100%;
  }

  #sign-in .logo {
    height: 57px;
  }

  #sign-in .input-label {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  #sign-in .input-custom,
  #sign-in .alert-custom,
  #sign-in #tagline {
    width: 345px;
    max-width: 100%;
  }

  #sign-in .logo {
    height: 54px;
  }

  #sign-in .btn-qn {
    margin-top: 100px;
    display: block;
    margin-left: 0;
    text-align: center;
  }

  #sign-in .input-label {
    margin-top: 46px;
  }
}
