.create-form {
  padding: 20px;
}

.create-form .create-form-header {
  text-align: center;
  padding-bottom: 36px;
}

.create-form #create-form-secret-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.create-form #create-form-secret-key #download {
  margin-bottom: 32px;
}

.create-form #create-form-secret-key .copy-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #323232;
  padding-bottom: 12px;
}

.create-form #create-form-secret-key .same-width-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 576px) {
  .create-form #create-form-secret-key .same-width-container {
    max-width: 454px;
  }
}

.create-form #create-form-secret-key .copy-text {
  max-width: 678px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #323232;
  padding-bottom: 36px;
}

.create-form #create-form-secret-key .copy-text .dire-alert {
  color: #dc2a2a;
  font-weight: 700;
}

.create-form #create-form-secret-key .copy-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -10px;
}

.create-form #create-form-secret-key .copy-key > * {
  margin: 10px;
}

.create-form #create-form-secret-key .copy-key .text {
  max-width: 454px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #f0f4f6;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0.93px;
  color: #323232;
  padding: 20px;
  word-break: break-all;
}

.create-form #create-form-secret-key .copy-key .key-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 60px;
  max-width: 454px;
}

.create-form #create-form-secret-key .icon-container:first-child {
  padding-right: 5px;
}
.create-form #create-form-secret-key .icon-container:nth-child(2) {
  padding-left: 5px;
}

.create-form #create-form-secret-key .copy-key .key-actions .icon-container {
  width: 50%;
}

.create-form #create-form-secret-key .copy-key .key-actions .icon {
  border-radius: 4px;
  padding: 16px;
  color: #2f60ce;
  border: solid 1.5px #2f60ce;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.create-form #create-form-secret-key .copy-key .key-actions .icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.create-form #create-form-secret-key .copy-key .key-actions .icon-text {
  font-size: 14px;
}

.create-form #create-form-secret-key #btn-continue {
  margin-top: 30px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  min-height: 48px;
}

.create-form #create-form-secret-key .save-caption {
  padding-top: 45px;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #eee;
}

/* Templates */
.create-form #template-separator {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.create-form #template-separator::before,
.create-form #template-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dcdcdc;
}
.create-form #template-separator::before {
  margin-right: 2em;
}
.create-form #template-separator::after {
  margin-left: 2em;
}

@media all and (max-width: 768px) {
  .create-form #template-separator::before {
    margin-right: 0.5em;
  }
  .create-form #template-separator::after {
    margin-left: 0.5em;
  }
}

.create-form #template-separator span {
  background: #fff;
  padding: 0 1em;
  letter-spacing: 0.96px;
}

.create-form .template-title {
  padding-bottom: 1em;
}

.create-form .templates-container #title {
  font-weight: bold;
  font-size: 28px;
  color: #2f60ce;
  text-align: center;
}

@media (min-width: 768px) {
  .create-form .templates-container #title {
    font-weight: bold;
    font-size: 28px;
    color: #2f60ce;
    text-align: left;
  }
}

.create-form .templates-container .templates-banner {
  text-align: center;
}

.create-form .templates-container .templates-banner .templates-banner-img {
  margin-top: 40px;
  width: 300px;
  max-width: 90%;
}

.create-form #start-from-scratch-button {
  margin-top: 20px;
}

.create-form-template .template-background {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
}

.create-form-template .template-header {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  border-bottom: solid 1px #e4e4e4;
  padding: 16px 29px;
}

@media (max-width: 768px) {
  .create-form-template .template-header {
    flex-direction: column;
    height: 140px;
  }
}

.create-form-template .template-preview {
  position: relative;
  z-index: 1;
  width: 1024px;
  max-width: 100%;
  margin: auto;
  background: #fff;
}

@media (max-width: 320px) {
  .create-form .examples-container #form-card {
    width: 100%;
  }
}

.create-form #form-card .bottom-section {
  text-transform: initial;
  padding: 15px 20px;
}
