#admin-form #edit-logic {
  background-color: #fff;
}

.logic-modal.modal-body {
  background: #f0f4f6;
}

.logic-modal .modal-header {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
}

.logic-modal .modal-header h4 {
  font-size: 16px;
}

.full-page-modal .modal-dialog > .modal-content > .logic-modal {
  height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
  padding: 0 15px;
}

.logic-modal .btn:focus {
  outline: none;
}

.logic-modal .condition-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 5px;
}

.logic-modal .condition-panel .if-container-and-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.logic-modal .then-panel .then-container-and-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logic-modal .logic-modal-panel {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px 35px;
}

.logic-modal .logic-modal-panel.if-panel {
  margin-bottom: 30px;
}

@media not all and (min-width: 768px) {
  .logic-modal .logic-modal-panel.then-panel {
    border-top: 1px solid #dcdcdc;
  }
}

.logic-modal .if-container .field-input > input,
.logic-modal .if-container .ui-select-bootstrap > div,
.logic-modal .if-container .selectize-input {
  padding: 5px 10px !important;
}

.logic-modal .then-container .field-input .ui-select-bootstrap > div {
  padding: 10px !important;
}

.logic-modal
  .logic-container
  .field-input
  .ui-select-bootstrap
  > div.ui-select-no-choice {
  padding: 0 !important;
}

.logic-modal .ui-select-bootstrap .ui-select-match-item {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.logic-modal .condition-panel .ui-select-bootstrap .ui-select-match-item {
  background-color: #deecfd;
  border-color: #a1b5ce;
}

.logic-modal .then-panel .ui-select-bootstrap .ui-select-match-item {
  background-color: #ddf3de;
  border-color: #94c096;
}

.logic-modal .ui-select-choices-row span[uis-transclude-append],
.logic-modal .ui-select-match-item span[uis-transclude-append] {
  white-space: normal;
}

.logic-modal .selectize-input,
.logic-modal input:not(.ui-select-search),
.logic-modal input:not(.ui-select-search).ng-invalid.ng-dirty:focus {
  border-color: #ccc !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logic-modal div.selectize-input.selectize-focus,
.logic-modal input:not(.ui-select-search):focus {
  border: 1px solid #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.logic-modal .form-control[disabled],
.selectize-control .selectize-input.disabled {
  background-color: #ededed;
  opacity: 0.5;
}

.logic-modal .logic-container .field-title {
  padding-top: 5px;
}

.logic-modal .logic-container,
.logic-modal .logic-type-option {
  background-color: white;
  font-size: 18px;
  border: 1px solid #ddd;
}

.logic-modal
  .then-container.show-fields-container
  input::-webkit-input-placeholder {
  font-size: 16px;
}

.logic-modal .then-container.show-fields-container input:-ms-input-placeholder {
  font-size: 16px;
}

.logic-modal
  .then-container.show-fields-container
  input::-ms-input-placeholder {
  font-size: 16px;
}

.logic-modal .then-container.show-fields-container input::placeholder {
  font-size: 16px;
}

.logic-modal .form-control {
  border-radius: 0;
  height: auto;
  font-size: 18px;
}

.logic-modal .alert-custom {
  font-size: 16px;
}

.logic-modal .if-container {
  -webkit-box-shadow: -5px 0 #2460ce;
  box-shadow: -5px 0 #2460ce;
  padding: 25px 0;
  width: 90%;
}

.logic-modal .then-container {
  padding: 25px 0;
  margin-left: 5px;
  width: 90%;
}

.logic-modal .then-container.show-fields-container {
  -webkit-box-shadow: -5px 0 #048665;
  box-shadow: -5px 0 #048665;
}

.logic-modal .then-container.prevent-submit-container {
  -webkit-box-shadow: -5px 0 #dc2a2a;
  box-shadow: -5px 0 #dc2a2a;
  padding: 20px 25px;
}

.logic-modal .then-container.prevent-submit-container textarea {
  resize: vertical;
}

.logic-modal .then-container.prevent-submit-container .field-title {
  padding-bottom: 10px;
}

.logic-modal .logic-btn-container {
  padding: 0;
}

.logic-modal .logic-btn-container .btn {
  margin: 0 0 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.condition-panel:not(:first-child) .if-btn-container .add-condition-btn {
  display: none;
}

.logic-modal .logic-btn-container i,
.logic-modal .logic-btn-container i:hover {
  font-weight: 600;
  color: white;
  text-align: center;
}

.logic-modal .inline-option .inline-input {
  display: table-cell;
}

.logic-modal .inline-option .inline-btn {
  width: 10%;
  padding: 0 auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.logic-modal .inline-option .inline-btn button {
  padding: 0;
}

.logic-modal .remove-condition-btn {
  background-color: #db4545;
}

.logic-modal .remove-condition-btn:hover:not([disabled]) {
  background-color: #871a1a;
}

.condition-panel:first-child .and-condition-text {
  display: none;
}

.and-condition-text {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.logic-modal .modal-footer {
  padding-left: 20px;
}

@media not all and (min-width: 768px) {
  .logic-modal .modal-footer {
    margin-bottom: 80px;
  }
}

.logic-modal .then-panel .logic-type-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.logic-modal .then-panel .logic-type-option .logic-type-icon {
  font-size: 3.5rem;
  display: inline-flex;
  align-items: center;
}

.logic-modal
  .then-panel
  .logic-type-option
  .logic-type-icon.logic-type-disable {
  color: #da182b;
}

.logic-modal .then-panel .logic-type-option .logic-type-icon.logic-type-enable {
  color: #1cad80;
}

.logic-modal .then-panel .logic-type-option.show-fields-option {
  -webkit-box-shadow: -5px 0 #048665;
  box-shadow: -5px 0 #048665;
}

.logic-modal .then-panel .logic-type-option.prevent-submit-option {
  -webkit-box-shadow: -5px 0 #dc2a2a;
  box-shadow: -5px 0 #dc2a2a;
}

.logic-modal .then-panel .logic-type-option .logic-type-option-text {
  padding-left: 20px;
}

.logic-modal .then-panel .logic-type-option .logic-proceed-arrow {
  margin-left: auto;
  font-size: 3.5rem;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.logic-modal .then-panel .logic-type-option .logic-type-option-subtitle {
  color: #464646;
  font-size: 16px;
}

.logic-modal .field-title {
  font-weight: 600;
}

@media all and (min-width: 768px) {
  .logic-modal .then-panel {
    border-left: 1px solid #ddd;
  }

  .logic-modal field-icon-component i {
    padding-right: 10px;
  }
}

@media not all and (min-width: 768px) {
  .logic-modal.modal-body > .row {
    display: block;
  }

  .logic-modal .then-container {
    width: 100%;
  }

  .logic-modal .then-container input.ui-select-search {
    width: 100% !important;
  }
}

.share-tab-warning {
  margin-bottom: 20px;
}

.warning-with-padding {
  padding-bottom: 5px;
}

/* Neater logic CSS */
@media all and (min-width: 768px) {
  #logic-units {
    width: 70%;
  }
}

@media not all and (min-width: 768px) {
  #logic-units {
    width: 90%;
  }
}

#logic-units {
  margin: 0 auto;
}

#logic-units .logic-panel {
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-left: 5px;
  cursor: pointer;
}

#logic-units .logic-panel .logic-panel-section .logic-top i:hover {
  font-weight: 600;
}

#logic-units .logic-panel .logic-panel-section {
  padding: 20px;
  border-right: 1px solid #2f60ce;
}

#logic-units .logic-panel .logic-panel-conditions {
  -webkit-box-shadow: -5px 0 #2460ce, 0 1px #dcdcdc;
  box-shadow: -5px 0 #2460ce, 0 1px #dcdcdc;
  border-top: 1px solid #2f60ce;
}

#logic-units .logic-panel .logic-panel-outcomes {
  border-bottom: 1px solid #2f60ce;
}

#logic-units .logic-panel .logic-panel-outcomes.outcome-show-fields {
  -webkit-box-shadow: -5px 0 #048665;
  box-shadow: -5px 0 #048665;
}

#logic-units .logic-panel .logic-panel-outcomes.outcome-prevent-submit {
  -webkit-box-shadow: -5px 0 #dc2a2a;
  box-shadow: -5px 0 #dc2a2a;
}

#logic-units .logic-panel:hover {
  background-color: #f0f4f6;
}

#logic-units .field-panel {
  height: 40px;
  border-radius: 0;
  border: 1px solid #2f60ce;
  width: 60%;
  max-width: 50%;
  padding: 0 10px;
  margin-right: 20px;
  margin-bottom: 5px;
}

#logic-units .field-panel .field-panel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logic-units .logic-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logic-units .logic-top .if-then-text {
  width: 80%;
}

#logic-units .logic-top .logic-close {
  width: 20%;
}

#logic-units .logic-top .logic-close i {
  float: right;
  font-size: 25px;
  color: #2f60ce;
  cursor: pointer;
}

#logic-units .logic-top .logic-close i:hover {
  color: #1e3e84;
}

#logic-units .logic-panel .if-then-text {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1.2px;
  margin-top: 0;
  margin-bottom: 15px;
}

#logic-units .logic-panel .logic-panel-repeat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logic-units .logic-panel .logic-panel-repeat .field-panel .field-cond-icon {
  font-size: 20px;
  margin-top: 6px;
  margin-right: 10px;
  color: #2f60ce;
}

#logic-units .logic-panel .field-panel .field-cond-text {
  margin-top: 7px;
  margin-right: 10px;
  font-size: 16px;
  color: #4a4a4a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#logic-units .logic-panel .logic-panel-repeat .if-state-value {
  width: 50%;
  color: #4a4a4a;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
}

#logic-units .logic-panel .field-error i {
  color: #a94442;
  font-size: 22px;
  margin-top: 7px;
  margin-right: 7px;
}

#logic-units .logic-panel .field-error .field-error-text {
  color: #a94442;
  font-weight: bold;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#logic-units #add-new-logic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  border: solid 1px #23489b;
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 18px;
  background-color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.22;
  color: #4a4a4a;
}

#logic-units #add-new-logic:hover {
  background-color: #04aa80;
  border: solid 2px #07926e;
  cursor: pointer;
  color: #fff;
}

#logic-units #add-new-logic:hover i {
  color: #fff;
}

#logic-units #add-new-logic i {
  font-size: 25px;
  color: #23489b;
  margin-right: 10px;
}
