/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.modal-body {
  overflow-x: hidden;
}

/* Center all dialogs */
.modal-dialog {
  margin: auto;
}

#admin-form .admin-form-content .tab-content .tab-pane .logic-container,
#admin-form .admin-form-content .tab-content .tab-pane .settings-container,
#admin-form .admin-form-content .tab-content .tab-pane .share-container,
#admin-form .admin-form-content .tab-content .tab-pane .results-container,
#admin-form .admin-form-content .tab-content .tab-pane .build-container {
  overflow: auto;
  height: 100%;
}

#admin-form .admin-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

  /* Height of header and navbar */
  height: calc(100% - 135px);
}

#admin-form .admin-form-content .nav-pills {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

#admin-form .admin-form-content .tab-content {
  height: 100%;

  /* overflow: hidden; */
}

#admin-form .admin-form-content .tab-content .tab-pane {
  height: 100%;
}

/* Left/bottom side of edit form: Add field icons */

@media not all and (min-width: 768px) {
  #admin-form #current-fields {
    width: 100%;
    padding: 25px 35px 90px 35px;
  }

  #admin-form #current-fields .current-field-item .current-field-title {
    margin-left: 20px;
  }
}

@media all and (min-width: 768px) {
  #admin-form #current-fields {
    padding: 45px 10% 45px 10%;
    overflow: auto;
    height: 100%;
  }

  #admin-form #current-fields .current-field-item .current-field-title {
    margin-left: 5vw;
  }
}

/* Style navigation tabs */

#admin-form #add-field {
  float: left;
  width: 270px;
  overflow-y: scroll;
  background-color: #f0f4f6;
  height: 100%;
}

#admin-form #add-field #myinfo-disable-screen .myinfo-storage-overlay {
  font-size: 80px;
  margin-bottom: 20px;
}

#admin-form #add-field #myinfo-disable-screen {
  height: 100vh;
  text-align: center;
  background-color: rgba(77, 104, 117, 0.9);
  color: white;
  padding: 168px 40px 168px 40px;
}

#admin-form #add-field #myinfo-disable-screen a {
  color: white;
}

#admin-form #add-field #myinfo-disable-screen svg {
  margin-bottom: 20px;
}

#admin-form #add-field .myinfo-category {
  font-size: 13px;
  margin-left: 5px;
  margin-bottom: 13px;
}

#admin-form #add-field hr {
  border: solid 1px #dee7eb;
  margin: 0 13px;
}

#admin-form #add-field .nav-tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#admin-form #add-field .nav-tabs > li {
  background-color: #23489b;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
}

#admin-form #add-field .nav-tabs > li > a {
  color: #b3c9f9;
  margin-right: 0;
  border: 0;
}

#admin-form #add-field .nav-tabs > li.active > a,
#admin-form #add-field .nav-tabs > li.active > a:focus,
#admin-form #add-field .nav-tabs > li > a:hover {
  color: white;
  background-color: #23489b;
  cursor: pointer;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid white;
}

#admin-form #add-field .tab-content .tab-pane .row {
  margin-left: 0;
  margin-right: 0;
  padding: 20px 8px;
}

#admin-form #add-field .add-field-panel {
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center;
  position: relative;
}

#admin-form #add-field .add-field-panel .add-field-item {
  height: 110px;
  width: 110px;
  margin: 5px;
  padding: 18px 10% 17px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border: solid 1px #dfdfdf;
}

#admin-form #add-field .add-field-panel .add-field-item .add-field-icon {
  font-size: 30px;
  color: #23489b;
}

#admin-form #add-field .add-field-panel .add-field-item .add-field-text {
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.14;
  color: #4a4a4a;
}

#admin-form #add-field .add-field-panel .add-field-item:hover {
  background-color: #04aa80;
  border: solid 2px #07926e;
  cursor: pointer;
}

#admin-form #add-field .add-field-panel .add-field-item:hover .add-field-icon,
#admin-form #add-field .add-field-panel .add-field-item:hover .add-field-text {
  color: #fff;
}

/* Disabled fields on desktop */

#admin-form #add-field .add-field-panel .add-field-item.inactive,
#admin-form #add-field .add-field-panel .add-field-item.inactive:hover {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #fff;
  border: solid 1px #dfdfdf;
}

#admin-form
  #add-field
  .add-field-panel
  .add-field-item.inactive:hover
  .add-field-icon {
  color: #23489b;
}

#admin-form
  #add-field
  .add-field-panel
  .add-field-item.inactive:hover
  .add-field-text {
  color: #4a4a4a;
}

/* Add field on mobile */

#admin-form #add-field-mobile #add-field-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 20;
  background-color: #fff;
  opacity: 0.6;
}

#admin-form #add-field-mobile #add-field-btn {
  position: fixed;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  bottom: 10px;
  left: calc(50% - 93px);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.89;
  width: 186px;
  height: 50px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #23489b;
}

#admin-form #add-field-mobile #add-field-btn > i {
  margin-top: 3px;
  margin-left: -6px;
  margin-right: 6px;
  font-size: 20px;
}

.add-field-modal-backdrop {
  background-color: #f0f4f6;
}

.add-field-modal-backdrop.in {
  opacity: 1;
}

#add-field-modal {
  overflow: hidden;
  height: 100vh;
  background-color: #f0f4f6;
}

#add-field-modal .nav-tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-field-modal .nav-tabs > li {
  background-color: #fff;
  font-size: 18px;
  font-weight: 800;
  line-height: 0.89;
  text-align: center;
  color: #23489b;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
}

#add-field-modal .nav-tabs > li > a {
  color: #767676;
  margin-right: 0;
  border: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

#add-field-modal .nav-tabs > li.active > a,
#add-field-modal .nav-tabs > li.active > a:focus,
#add-field-modal .nav-tabs > li > a:hover {
  color: #23489b;
  cursor: pointer;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #23489b;
}

#add-field-modal .add-field-modal-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#add-field-modal .add-field-modal-panel .add-field-item {
  width: 70px;
  margin: 20px 10px 20px 10px;
  text-align: center;
}

#add-field-modal .add-field-modal-panel .add-field-item .add-field-icon {
  color: #23489b;
  font-size: 30px;
}

#add-field-modal .add-field-modal-panel .add-field-item .add-field-text {
  font-size: 12px;
  line-height: 1.33;
  color: #484848;
}

#add-field-modal .myinfo-category {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #484848;
  margin-top: 23px;
  margin-bottom: 5px;
  text-align: center;
}

#add-field-modal hr {
  margin-top: -20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d2dde2;
}

#close-mobile-field #close-field-btn {
  position: fixed;
  bottom: 30px;
  left: calc(50% - 25px);
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1e3e84;
  text-align: center;
}

#close-mobile-field #close-field-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1900;
  background-color: #f0f4f6;
  opacity: 0.7;
}

#add-field-modal #myinfo-disable-mobile {
  margin-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#add-field-modal #myinfo-disable-mobile svg {
  margin-bottom: 35px;
}

/* Disabled fields on mobile */

#add-field-modal .add-field-modal-panel .add-field-item.inactive {
  opacity: 0.2;
}

/* Right side of edit form: Current fields */

#admin-form #current-fields #warning-messages {
  margin-bottom: 30px;
}

#admin-form #current-fields .start-end-item {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.22;
  color: #4a4a4a;
}

#admin-form #current-fields .current-field-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  border: solid 1px #23489b;
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0 17px 0 17px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#admin-form #current-fields .current-field-item.active {
  background-color: #04aa80;
  border: solid 2px #07926e;
  cursor: pointer;
  color: #fff;
}

#admin-form #current-fields .current-field-item:hover,
#admin-form #current-fields .current-field-item.active {
  cursor: pointer;
}

#admin-form #current-fields .field-placeholder {
  opacity: 0.5;
}

#admin-form #current-fields hr.divider-line {
  margin-top: 35px;
  margin-bottom: 35px;
  border: solid 0.5px #dcdcdc;
}

#admin-form #current-fields .current-field-margin {
  height: 10px;
}

#admin-form #current-fields .current-field-item .current-field-icon {
  font-size: 22px;
  color: #23489b;
}

#admin-form
  #current-fields
  .current-field-item
  .current-field-icon
  *:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#admin-form #current-fields .current-field-item .current-field-title {
  font-size: 18px;
  line-height: 1.22;
  color: #4a4a4a;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#admin-form #current-fields .current-field-item .current-field-options,
#admin-form #current-fields .current-field-item .current-field-opt-icon-group {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#admin-form #current-fields .current-field-item .current-field-opt-icon {
  font-size: 23px;
  color: #979797;
  opacity: 0.54;
  width: 50px;
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#admin-form #current-fields .current-field-item .current-myinfo-icon {
  width: 65px;
  height: 24px;
  border-radius: 14.5px;
  margin-left: auto;
  font-size: 10px;
  color: #767676;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  #admin-form #current-fields .current-field-item:hover {
    background-color: #04aa80;
    border: solid 2px #07926e;
    cursor: pointer;
    color: #fff;
  }

  #admin-form
    #current-fields
    .current-field-item
    .current-field-opt-icon
    i:hover {
    opacity: 0.65;
  }

  #admin-form #current-fields .current-field-item:hover .current-field-icon,
  #admin-form #current-fields .current-field-item:hover .current-field-title,
  #admin-form
    #current-fields
    .current-field-item:hover
    .current-field-opt-icon {
    color: #fff;
    opacity: 1;
  }

  #admin-form #current-fields .current-field-item:hover .current-myinfo-icon {
    color: white;
    background-color: #01b588;
  }
}

#admin-form #current-fields .current-field-item .current-field-drag {
  cursor: all-scroll;
}

#admin-form #current-fields .current-field-item.active .current-field-icon,
#admin-form #current-fields .current-field-item.active .current-field-title,
#admin-form #current-fields .current-field-item.active .current-field-opt-icon {
  color: #fff;
  opacity: 1;
}

#admin-form #current-fields .current-field-hidden {
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#admin-form #current-fields .current-field-hidden .current-field-icon,
#admin-form #current-fields .current-field-hidden .current-field-title {
  color: #dcdcdc;
}

/* Edit modal */

#admin-form #edit-form {
  background-color: #fff;
  height: 100%;
}

.edit-modal-window .modal-dialog {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.full-page-modal.edit-modal-window {
  overflow: hidden;
}

.full-page-modal .modal-dialog {
  width: 100%;
  margin: 0;
}

.full-page-modal .modal-header > .modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.full-page-modal .modal-header > .modal-title i {
  font-size: 33px;
  color: #08080d;
}

@media all and (min-width: 768px) {
  .full-page-modal .modal-header > .modal-title i {
    margin-right: 20px;
  }
}

@media not all and (min-width: 768px) {
  .full-page-modal .modal-header > .modal-title i {
    margin-right: 11px;
  }
}

.full-page-modal .modal-dialog > .modal-content {
  border: none;
  border-radius: 0;
  overflow: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.full-page-modal .modal-dialog .tab-content {
  overflow-y: auto;
  top: 60px;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 200px;
}

.full-page-modal .modal-dialog > .modal-content > .modal-body .edit-panel,
.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .preview-field-panel,
.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .preview-page-panel {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .preview-field-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .preview-page-panel {
  background-color: white;
}

.full-page-modal .modal-dialog > .modal-content > .modal-body .edit-panel {
  padding: 50px 50px 80px 50px;
  background-color: #f0f4f6;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .edit-panel::-webkit-scrollbar {
  display: none;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body
  .edit-panel
  .modal-title {
  font-size: 20px;
  color: #4a4a4a;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body.myinfo
  .edit-panel
  i {
  opacity: 1;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: -10px;

  /* margin-top: 0px; */
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body.myinfo
  .edit-panel
  i.bx-check {
  color: #04aa80;
}

.full-page-modal
  .modal-dialog
  > .modal-content
  > .modal-body.myinfo
  .edit-panel
  i.bx-x {
  color: red;
}

/* Used to cover background on mobile fullscreen */

.custom-modal-backdrop {
  background-color: #fff;
}

.modal-on-top {
  /* important is necessary to override uibmodal generated z-index */
  z-index: 3000 !important;
}

.custom-modal-backdrop.in {
  opacity: 1;
}

.edit-modal-window .modal-body {
  background-color: #f1f1f1;
  padding: 0;
}

.edit-modal-window .modal-body > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media not all and (min-width: 480px) {
  .edit-modal-window .edit-panel {
    padding: 15px 25px;
    width: 100vw;
  }
}

.edit-modal-window .edit-panel .row.optionFrom {
  margin-bottom: 15px;
}

.edit-modal-window .edit-panel .option-panel label.btn-custom {
  padding-top: 12px;
}

@media (max-width: 768px) {
  .edit-modal-window .edit-panel .option-panel #upload-btn {
    padding-left: 0;
  }
}

.edit-modal-window .edit-panel .option-panel input[type='file'] {
  display: none;
}

.edit-modal-window .edit-panel .option {
  margin-top: 10px;
}

.edit-modal-window .edit-panel .inline-option {
  display: table;
  width: 100%;
}

.edit-modal-window .edit-panel .inline-option .inline-input {
  display: table-cell;
}

.edit-modal-window .edit-panel .inline-option .inline-btn {
  width: 64px;
  padding: 0 auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.edit-modal-window .edit-panel .inline-option .inline-btn button {
  padding: 0;
}

.edit-modal-window .edit-panel .load-file-progress {
  min-height: 32px;
  margin-top: 10px;
}

.edit-modal-window .edit-panel .load-file-progress .progress-bar span {
  height: 100%;
  font-size: 14px;
  line-height: 32px;
}

.edit-modal-window .edit-panel .field-input:last-child .ui-select-container {
  margin-bottom: 30px;
}

.edit-modal-window .edit-panel .selectize-input,
.edit-modal-window .edit-panel .custom-val-dropdown .input-group-btn button {
  height: 48px;
  color: #484848;
  font-size: 18px;
}

.edit-modal-window .edit-panel .selectize-input input {
  color: #484848;
  font-size: 18px;
}

.edit-modal-window .edit-panel .selectize-input.selectize-focus {
  border-color: #b8b8b8 !important;
}

.edit-modal-window .edit-panel .selectize-dropdown-content {
  max-height: 145px;
}

.edit-modal-window .preview-field-panel > .modal-header {
  margin: 15px 25px 0 25px;
}

.edit-modal-window .preview-field-panel > .modal-preview-content {
  padding: 0 10% 25% 10%;
  width: 100%;
  margin: auto;
}

.edit-modal-window .preview-field-panel #email-preview {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.edit-modal-window .preview-field-panel #email-preview > hr {
  margin-left: -15px;
  margin-right: -15px;
}

.edit-modal-window .preview-field-panel #email-preview #email-preview-content {
  border: 2px dashed #283d86;
  padding: 20px;
}

.edit-modal-window .preview-field-panel #email-preview #response-id {
  color: #979797;
}

.edit-modal-window .preview-field-panel #email-preview .editable-text {
  color: #283d86;
  text-align: justify;
  white-space: pre-wrap;
}

/* Mobile field preview */
.edit-modal-window .preview-field-panel #sms-preview {
  margin-top: 20px;
  padding-right: 15px;
}

.edit-modal-window .preview-field-panel #sms-preview #sms-preview-content {
  position: relative;
  background-color: #e9ecf5;
  border-radius: 15px;
  padding: 17px 35px;
  width: 375px; /* iPhone X width */
  word-wrap: break-word;
  display: inline-block;
}

.edit-modal-window
  .preview-field-panel
  #sms-preview
  #sms-preview-content
  #sms-preview-tail {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-10px, 7px);
  -ms-transform: translate(-10px, 7px);
  transform: translate(-10px, 7px);
}

/* End mobile preview */

.edit-modal-window .preview-field {
  resize: vertical;
}

.edit-modal-window .edit-panel textarea {
  resize: vertical;
}

.edit-modal-window .edit-panel textarea.ng-invalid {
  border: 2px solid #a94442 !important;
}

#admin-form .ui-sortable-placeholder {
  visibility: visible !important;
  border: none;
  padding: 1px;
  background: #000;
  background: rgba(0, 0, 0, 0.5) !important;
}

@media not all and (min-width: 768px) {
  .edit-modal-window .edit-panel .custom-val-input {
    padding-left: 0;
  }
}

.edit-modal-window .edit-panel .custom-val-dropdown {
  padding-right: 0;
  padding-left: 0;
}

.edit-modal-window .edit-panel .custom-val-input {
  padding-right: 0;
}

.edit-modal-window .edit-panel .range-validation {
  padding-bottom: 10px;
}

@media all and (min-width: 768px) {
  .edit-modal-window .edit-panel .min-val-input {
    padding-left: 0;
    padding-right: 2px;
  }

  .edit-modal-window .edit-panel .max-val-input {
    padding-left: 2px;
    padding-right: 0;
  }
}

@media not all and (min-width: 768px) {
  .edit-modal-window .edit-panel .min-val-input {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
  }

  .edit-modal-window .edit-panel .max-val-input {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
** Table
*/

.edit-modal-window .edit-panel hr#table-divider {
  margin-top: 35px;
  margin-bottom: 35px;
  border: solid 0.5px #9b9b9b;
}

.edit-modal-window .edit-panel #add-column {
  border-radius: 4px;
  background-color: transparent;
  border-color: #2f60ce;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  color: #2f60ce;
  outline: 0;
  text-transform: uppercase;
  cursor: pointer;
  height: 48px;
  width: 100%;
  padding: 0;
  margin-top: 25px;
}

.edit-modal-window .edit-panel #add-column .bx {
  font-size: 18px;
  font-weight: 600;
}

.edit-modal-window .edit-panel .table-column-card {
  background-color: #fff;
  margin-top: 24px;
  padding: 25px;
}

.edit-modal-window .edit-panel .table-column-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.edit-modal-window .edit-panel .table-column-dropdown i {
  color: #2f60ce;
}

.edit-modal-window
  .edit-panel
  .table-column-dropdown
  .ui-select-choices-row-inner,
.edit-modal-window .edit-panel .table-column-dropdown .ui-select-choices-row {
  font-size: 18px;
}

/*
** Attachments
*/

.attachment-size-loader {
  background-color: #fff;
  margin-bottom: 0;
  height: 30px;
  margin-top: -15px;
}

.attachment-size-text {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.attachment-maxsize-text {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

.attachment-size-width {
  width: 100%;
}

.attachment-div {
  margin-bottom: 20px;
}

/* Color options on Edit Start Page modal */

.color-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.color-field input[type='radio'] {
  display: none;
}

.color-field label {
  margin-top: 20px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.color-field label::before {
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid black;
  display: none;
}

.color-field .selected-color-field {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.color-field .selected-color-field::before {
  display: block;
  opacity: 0.8;
}

.color-field label.blue {
  background-color: #2f60ce;
}

.color-field label.blue::before {
  border: 2px solid #2f60ce;
}

.color-field label.red {
  background-color: #dc2a2a;
}

.color-field label.red::before {
  border: 2px solid #dc2a2a;
}

.color-field label.green {
  background-color: #048665;
}

.color-field label.green::before {
  border: 2px solid #048665;
}

.color-field label.brown {
  background-color: #8d7b68;
}

.color-field label.brown::before {
  border: 2px solid #8d7b68;
}

.color-field label.orange {
  background-color: #ff6d00;
}

.color-field label.orange::before {
  border: 2px solid #ff6d00;
}

.color-field label.grey {
  background-color: #495c66;
}

.color-field label.grey::before {
  border: 2px solid #495c66;
}

/*
** Modal Buttons
*/
a.modal-cancel-btn {
  font-size: 18px;
  color: #2f60ce;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}

/* Logo options on Edit Start Page Modal */
.logo-options {
  padding-bottom: 10px;
}

.logo-options .upload-logo {
  padding-left: 53px;
  padding-top: 8px;
}

a.modal-add-btn {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  padding-left: 0;
  color: #2f60ce;
  text-decoration: underline;
}

a.modal-add-btn:focus,
a.modal-add-btn:hover,
a.modal-cancel-btn:focus,
a.modal-cancel-btn:hover {
  color: #0e2558;
}

@media all and (min-width: 768px) {
  .modal-input-left {
    padding-right: 4px;
  }

  .modal-input-right {
    padding-left: 4px;
  }

  .modal-cancel-btn {
    margin-left: 50px;
  }
}

@media not all and (min-width: 768px) {
  .modal-input-right {
    margin-top: 18px;
  }

  .modal-save-btn {
    width: 100%;
  }

  .modal-cancel-btn {
    display: block;
    margin-left: 0;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .btn-custom.btn-small {
    margin-top: 10px;
  }
}

/* Components */

.toggle-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggle-option--disabled {
  color: #979797;
}

/* Dropdown */

.dropdown-options {
  margin-bottom: 20px;
}

/* Beta icon for new fields */
.beta-icon {
  display: inline-block;
  position: absolute;
  background-color: #ffd32a;
  color: black;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 4px;
  margin-left: 15px;
  vertical-align: middle;
  line-height: normal;
}

/* Image */

#upload-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: solid 1px #b8b8b8;
  background-color: #fff;
}

#image-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 14px 0 14px 20px;
}

#image-name {
  color: #323232;
  font-size: 18px;
}

#image-size {
  color: #323232;
  font-size: 13px;
}

#upload-button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #767676;
}

#upload-button-footer-right {
  width: 100%;
  float: right;
  text-align: right;
}

#upload-button-footer-cancel {
  cursor: pointer;
}

#remove-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

#remove-image i {
  font-size: 24px;
  cursor: pointer;
}

.edit-fields-line {
  border: solid 1px #9b9b9b;
  height: 2px;
  margin: 30px 0;
}

.prefill-copy-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: grab;
  color: #b8b8b8;
}

.prefill-input {
  background: #f0f0f0;
  border: 1px solid #ccc;
  color: #979797;
}

.pull-right {
  cursor: pointer;
}

.inline-padding {
  /* margin is set so that the error message appears to be in the same block as the toggle options */
  margin: 0 15px;
}
