#btn-export .download-icon {
  width: initial;
}

#btn-export {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 768px) {
  #btn-export {
    margin-top: 0;
  }
}

#btn-export.btn-full-width {
  width: 100%;
}

@media all and (min-width: 768px) {
  #btn-export .download-icon {
    padding-right: 18px;
  }
}

@media not all and (min-width: 768px) {
  #btn-export {
    width: auto;
    min-width: 56px;
    float: right;
  }
}
