.form-emails-input {
  padding-bottom: 45px;
}

.form-emails-input label {
  margin-bottom: 0;
}

.form-emails-input #email-row {
  /* This allows the elements of the row to use absolute position */
  position: relative;
}

.form-emails-input #email-reliability-link {
  text-align: left;
  padding-bottom: 10px;
}

.form-emails-input #email-reliability-link a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .form-emails-input .label-bottom-with-link {
    padding-bottom: 10px;
  }

  .form-emails-input #email-reliability-link {
    text-align: right;
    position: absolute;
    bottom: 0;

    /* Font size for link is smaller, hence aligned to the bottom */
    right: 0;
  }
}
