/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* List forms */

#list-tab {
  width: 100%;
  height: 100%;
  background-color: #f0f4f6;
  overflow-x: hidden;
}

#list-form #list-form-exist #list-form-overlay {
  position: absolute;

  /* Huge width in addition to negative left positioning allows for both sides
  of the form to be covered */
  width: 150vw;
  left: -50%;
  height: 100%;
  z-index: 0;
}

#list-form {
  z-index: 100;
  padding-bottom: 50px;
  position: relative;
}

/* Welcome message */
#list-form #list-form-exist #welcome {
  font-weight: bold;
  color: #2f60ce;
  font-size: 28px;
}

@media not all and (min-width: 768px) {
  #list-form #list-form-exist #welcome {
    margin: 25px auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #list-form #list-form-exist #welcome {
    margin: 25px 25px 25px 10px;
  }
}

/* Form item on list forms */
#list-form #list-form-exist .form-item {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);

  /* Transparent border so content is not
    pushed around when form item is active
    */
  border: solid 3px transparent;
}

#list-form #list-form-exist .form-item:hover .form-text .form-name,
#list-form #list-form-exist .form-item:hover .form-text .form-lastupdated,
#list-form #list-form-exist .form-item:hover .form-text .form-islive,
#list-form #list-form-exist .form-item.active .form-text .form-name,
#list-form #list-form-exist .form-item.active .form-text .form-lastupdated,
#list-form #list-form-exist .form-item.active .form-text .form-islive,
#list-form #list-form-exist .form-item.duplicated .form-text .form-name,
#list-form #list-form-exist .form-item.duplicated .form-text .form-lastupdated,
#list-form #list-form-exist .form-item.duplicated .form-text .form-islive {
  color: #fff;
}

/* Create New Form */
#list-form #list-form-exist .form-item#create-new {
  background-color: #2f60ce;
  color: #fff;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.38;
}

/* Mouseover behavior */
#list-form #list-form-exist .form-item#create-new:hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #82a0e2;
  cursor: pointer;
}

#list-form #list-form-exist .form-item#create-new.active {
  background-color: #23489b;
}

#list-form #list-form-exist .form-item:not(#create-new):hover,
#list-form #list-form-exist .form-item:not(#create-new).active {
  background-color: #04aa80;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  border: solid 3px #07926e;
}

/*  Regular forms */
#list-form #list-form-exist .form-item.inactive {
  opacity: 0.5;
}

#list-form #list-form-exist .form-item.duplicated {
  border: solid 3px #23489b;
  background-color: #2f60ce;
}

#list-form #list-form-exist .form-item.duplicated:hover {
  background-color: #2f60ce;
}

#list-form #list-form-exist .form-item a {
  text-decoration: none;
  color: #fff;
}

#list-form #list-form-exist .form-item .form-text .form-name {
  font-size: 14px;
  line-height: 1.67;
  white-space: nowrap;
  color: #323232;
  padding: 0 15px 10px 15px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#list-form #list-form-exist .form-item .form-text .form-lastupdated {
  font-size: 12px;
  color: #767676;
  text-transform: uppercase;
}

#list-form #list-form-exist .form-item .form-text .form-islive {
  font-size: 12px;
  color: #767676;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

#list-form #list-form-exist .form-item .form-btns {
  float: right;
}

#list-form #list-form-exist .form-item .form-btns .form-btns-hidden {
  margin-top: -10px;
  color: #fff;
}

#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-trash {
  margin-right: 25px;
  cursor: pointer;
}

#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-copy {
  margin-right: 25px;
  cursor: pointer;
}

#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-edit {
  margin-right: 5px;
  cursor: pointer;
}

#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-trash:hover,
#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-copy:hover,
#list-form
  #list-form-exist
  .form-item
  .form-btns
  .form-btns-hidden
  .form-btn-edit:hover {
  opacity: 0.7;
}

#list-form #list-form-exist .form-item .form-btns i.form-btn-more {
  opacity: 0.54;
  color: #767676;
}

#list-form #list-form-exist .form-item:hover .form-btns .form-btn-more {
  color: #fff;
  opacity: 1;
}

/* Larger screen sizes */
@media all and (min-width: 768px) {
  #list-form #list-form-exist {
    margin-top: 41px;
    margin-left: 0;
  }

  /* Regular form items */
  #list-form #list-form-exist .form-item {
    width: 195px;
    height: 200px;
    margin: 15px;
    padding: 15px;
  }

  #list-form #list-form-exist .form-item .form-text .form-name {
    margin-top: 25px;
  }

  #list-form #list-form-exist .form-item .form-btns {
    margin-top: 5px;
    font-size: 27px;
  }

  /* Welcome message */
  #list-form #list-form-exist #welcome {
    font-size: 28px;
    margin: 25px 25px 25px 10px;
  }

  /* Create new form button */
  #list-form #list-form-exist .form-item #create-plus {
    font-size: 100px;
  }

  #list-form #list-form-exist .form-item #create-plus-text {
    margin-top: 15px;
    text-align: center;
    display: block;
  }
}

/* Small screen sizes */
@media not all and (min-width: 768px) {
  #list-form #list-form-exist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* Regular form items */
  #list-form #list-form-exist .form-item {
    margin: 10px auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #list-form #list-form-exist .form-item .form-btns {
    margin-top: 15px;
    font-size: 27px;
  }

  /* Create new form button */
  #list-form #list-form-exist .form-item#create-new {
    vertical-align: middle;
  }

  #list-form #list-form-exist .form-item #create-plus {
    vertical-align: middle;
    font-size: 24px;
  }
}

/* No forms placeholder */
#list-form #welcome-placeholder {
  margin-left: 15px;
  margin-right: 15px;
}

#list-form #welcome-placeholder #welcome {
  color: #2f60ce;
  font-weight: bold;
  font-size: 28px;
}

#list-form #welcome-placeholder #welcome-message {
  color: #767676;
  font-size: 18px;
  line-height: 1.44;
}

#list-form #welcome-placeholder #examples-header {
  text-align: left;
}

#list-form #welcome-placeholder #examples-link {
  font-size: 18px;
  color: #2f60ce;
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
}

#list-form #welcome-placeholder #divider {
  height: 2px;
  border: solid 0.5px #dcdcdc;
  margin-top: 45px;
  margin-bottom: 45px;
}

#list-form .examples-container {
  margin-top: 25px;
}

@media (min-width: 768px) {
  #list-form #welcome-placeholder {
    text-align: left;
    margin-top: 70px;
  }

  #list-form #welcome-placeholder #welcome {
    margin-bottom: 10px;
  }

  #list-form #welcome-placeholder #welcome-message {
    margin-bottom: 30px;
    margin-right: 30px;
  }

  #list-form #welcome-placeholder #welcome-image {
    max-width: 430px;
    float: right;
  }
}

@media not all and (min-width: 768px) {
  #list-form #welcome-placeholder {
    text-align: center;
    margin-top: 35px;
  }

  #list-form #welcome-placeholder #welcome {
    margin-bottom: 10px;
  }

  #list-form #welcome-placeholder #welcome-message {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  #list-form #welcome-placeholder #welcome-image {
    max-width: 310px;
    width: 90%;
  }

  #list-form #welcome-placeholder #welcome-btn {
    width: 100%;
  }
}

/* Increase number of lines and limit character count only for larger screens */

#content-desktop {
  display: none;
}

#content-mobile {
  display: block;
}

@media all and (min-width: 768px) {
  #list-form #list-form-exist .form-item .form-text .form-name {
    line-height: 1.1;
    height: 3.3em;
    white-space: normal;
    word-break: break-word;
  }

  #content-desktop {
    display: block;
  }

  #content-mobile {
    display: none;
  }
}
