#settings-form {
  max-width: 100%;
}

#settings-form .settings-input {
  padding-bottom: 45px;
}

#settings-form .settings-input label,
#settings-form .enable-features label {
  margin-bottom: 0;
}

#settings-form .enable-features .beta-icon {
  margin: 0;
}

#settings-form .enable-features .field-optional {
  font-size: 15px;
  font-weight: normal;
  color: #b8b8b8;
  margin-left: 10px;
}

#settings-form .feature-divider {
  margin-top: 40px;
}

#settings-form .enable-features .glyphicon {
  margin-left: 40px !important;
}

#settings-form .settings-divider {
  height: 1px;
  border: solid 0.5px #dcdcdc;
}

#settings-form #golive-option {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

#settings-form #golive-option .activity-label {
  font-weight: 700;
  text-transform: uppercase;
}

#settings-form #golive-option #active-label {
  color: #04aa80;
}

#settings-form #golive-option #inactive-label {
  color: #b22222;
}

#settings-form #golive-option #eservice-missing-message {
  font-size: 16px;
  color: #767676;
  font-weight: normal;
  line-height: 1.5;
}

#settings-form .radio-option {
  padding-top: 10px;
  padding-bottom: 10px;
}

#settings-form .radio-option > label {
  padding-left: 53px;
  font-size: 20px;
  color: #767676;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

#settings-form .radio-option:hover {
  background-color: #f0f4f6;
}

#settings-form input[type='radio'] {
  display: none;
}

#settings-form .radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border: solid 1px #b8b8b8;
  border-radius: 50%;
}

#settings-form .radiomark::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 7px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: transparent;
}

#settings-form .radiomark > i {
  font-size: 22px;
  color: #fff;
}

#settings-form .radiomark.blue-border::before {
  background-color: #2f60ce;
}

#settings-form #myinfo-sp-warning {
  margin-bottom: 0;
  margin-top: 12px;
}

@media (max-width: 768px) {
  #settings-form #golive-option {
    flex-direction: column;
  }

  #settings-form #golive-option button {
    width: 100%;
  }
}

#settings-form .settings-save.esrvcId-input,
#settings-form .alert-custom.esrvcId-input {
  margin-left: 53px;
  width: calc(50% - 53px);
}

@media (max-width: 768px) {
  #settings-form .settings-save.esrvcId-input,
  #settings-form .alert-custom.esrvcId-input {
    width: calc(100% - 53px);
  }
}

#settings-form #enable-captcha {
  display: flex;
  align-items: center;
  padding-bottom: 45px;
}

#settings-form #enable-auth-options {
  padding-bottom: 30px;
}

#settings-form .enable-features {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 10px;
}

#settings-form .feature-container {
  padding-top: 20px;
  padding-bottom: 45px;
}

#settings-form #enable-auth {
  padding-top: 45px;
  padding-bottom: 30px;
}

#settings-form #enable-auth legend {
  border-bottom: 0;
  margin-bottom: 0;
}

#settings-form .authType-disabled label {
  opacity: 0.5;
}

#settings-form .spcp-warning {
  margin-top: 10px;
}

#settings-form .settings-save {
  position: relative;
}

#settings-form .settings-save i.bx.input-states {
  position: absolute;
  bottom: 12px;
  right: 15px;
  color: #484848;
  font-size: 24px;
  cursor: pointer;
}

#settings-form .settings-save i.bx-check.input-saved {
  color: #04aa80;
}

#settings-form input:disabled {
  background-color: initial;
  border: solid 1px rgb(184, 184, 184);
  pointer-events: none;
  opacity: 0.5;
}

#settings-form .settings-save.input-disabled {
  cursor: not-allowed;
}

#settings-form .settings-save.input-disabled.esrvcId-input input:disabled + i {
  pointer-events: none;
}

#settings-form #settings-esrvcId.settings-save.input-disabled i {
  cursor: not-allowed;
}

#settings-form .radio-option.radio-disabled label {
  cursor: not-allowed;
}

#settings-form .radio-option.radio-disabled input {
  pointer-events: none;
}

#settings-form input.input-error {
  border: 2px solid #a94442;
}
