/* Share tab */

#share-tab {
  margin-bottom: 50px;
}

#share-tab .share-title {
  margin-bottom: 19px;
}

/* Share link/template part */

#share-tab .btn-copy {
  margin-bottom: 10px;
}

#share-tab .share-link-input {
  margin-bottom: 16px;
}

#share-tab .share-template-disabled {
  color: #b8b8b8;
  opacity: 0.76;
}

#share-tab #open-link a {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  #share-tab #open-link {
    margin-top: 13px;
    text-align: right;
  }
}

@media not all and (min-width: 768px) {
  #share-tab #open-link {
    margin-top: 20px;
    text-align: center;
  }

  #share-tab .btn-custom {
    width: 100%;
  }
}

/* Divider */

#share-tab .share-divider {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 1px;
  border: solid 0.5px #dcdcdc;
}

/* Embed part */
#share-tab #share-textarea {
  margin-bottom: 16px;
}

#share-tab i.share-glyphicon {
  /* Override the normal glyphicon settings, this one is a bit smaller */
  margin-left: 5px !important;
  font-size: 14px !important;
}

#share-tab .share__tip {
  padding: 5px 0;
}

#share-tab .share__tip.share__tip--first {
  padding-top: 30px;
}
