<div class="page-container">
  <navbar-component></navbar-component>

  <div id="billing-tab" ng-init="vm.generateTimePeriods()" ng-if="vm.user">
    <section class="container" ng-if="!vm.searchState.intro">
      <div id="title">Billing</div>
      <div id="title-grp">
        <div
          id="sub-title"
          ng-class="vm.searchState.hide ? '' : 'subtitle-hidden'"
        >
          Export monthly bill charges
        </div>
        <i
          id="search-icon"
          class="bx bx-search"
          ng-click="vm.openSearch()"
          ng-if="vm.searchState.hide"
        ></i>
        <div id="search-input" ng-if="!vm.searchState.hide">
          <i class="bx bx-search"></i>
          <input
            id="search-bar"
            class="input-custom input-medium"
            ng-model="vm.searchState.input"
            ng-keyup="$event.keyCode === 13 && vm.searchBillingRecords()"
            placeholder="Search for e-service ID"
          />
          <i class="bx bx-x" ng-click="vm.closeSearch()"></i>
        </div>
      </div>
      <div id="divider"></div>
      <div id="stats-options-grp">
        <div id="stats-grp">
          <div ng-if="!vm.loading">
            <span class="stat-text">{{vm.sumTotal}}</span> login(s) for
            <span class="stat-text">{{vm.esrvcId}}</span>
          </div>
        </div>
        <div id="options-grp">
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <ui-select
                theme="selectize"
                search-enabled="true"
                ng-model="vm.selectedTimePeriod"
                ng-change="vm.getBillingForTimePeriod($select.selected, null)"
              >
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices
                  repeat="option in vm.timePeriods | filter: $select.search"
                >
                  <span ng-bind="option.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-sm-6 col-xs-4">
              <export-button-component
                on-click="vm.downloadBilling()"
                is-disabled="vm.sumTotal===0 || vm.loading"
                is-full-width="true"
              ></export-button-component>
            </div>
          </div>
        </div>
      </div>

      <div id="table-loader-grp">
        <div class="loader" ng-if="vm.loading">
          <i class="bx bx-loader bx-spin"></i>
        </div>
        <div
          ng-if="vm.searchError"
          class="search-error"
          ng-class="vm.loading ? 'background-blur' : ''"
        >
          <img ng-src="/public/modules/core/img/error-illustration.svg" />
          <div id="msg-1">An error occurred.</div>
          <div id="msg-2">Note that e-service IDs are case-sensitive.</div>
        </div>
        <div ng-if="!vm.searchError">
          <div ng-if="vm.sumTotal > 0">
            <table
              class="table"
              ng-table="vm.tableParams"
              show-filter="false"
              ng-class="vm.loading ? 'background-blur' : ''"
            >
              <tr ng-repeat="row in $data">
                <td
                  title="'Title'"
                  sortable="'formName'"
                  class="title-col"
                  header-class="'title-col'"
                >
                  <a
                    ui-sref="submitForm({ formId: row.formId })"
                    target="_blank"
                    >{{row.formName}}</a
                  >
                </td>
                <td
                  title="'Owner'"
                  sortable="'adminEmail'"
                  class="email-col"
                  header-class="'email-col'"
                >
                  {{row.adminEmail}}
                </td>
                <td
                  title="'Authentication'"
                  sortable="'authType'"
                  class="auth-col auth-col-desktop"
                  header-class="'auth-col auth-col-desktop'"
                >
                  {{vm.authTypeToName(row.authType)}}
                </td>
                <td
                  title="'Auth'"
                  sortable="'authType'"
                  class="auth-col auth-col-mobile"
                  header-class="'auth-col auth-col-mobile'"
                >
                  {{vm.authTypeToShortName(row.authType)}}
                </td>
                <td
                  title="'#'"
                  sortable="'total'"
                  class="total-col"
                  header-class="'total-col'"
                >
                  {{row.total}}
                </td>
              </tr>
            </table>
          </div>
          <div
            ng-if="vm.sumTotal === 0"
            class="search-error"
            ng-class="vm.loading ? 'background-blur' : ''"
          >
            <img ng-src="/public/modules/core/img/error-illustration.svg" />
            <div id="msg-1">No results found</div>
            <div id="msg-2">Note that e-service IDs are case-sensitive.</div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="container"
      ng-if="vm.searchState.intro"
      id="intro-container"
      ng-init="vm.focusOnBilling()"
    >
      <img id="intro-img" ng-src="/public/modules/core/img/billing.svg" />
      <div id="intro-title">Bill charges</div>
      <div id="intro-sub-title">
        To view your billing, enter your e-service ID below.
      </div>
      <div class="label-custom label-large label-bottom">e-service ID</div>
      <form name="idForm">
        <input
          class="input-custom input-medium"
          ng-model="vm.searchState.input"
          required
        />
        <div class="row" id="btn-search">
          <div class="col-sm-6 col-xs-12">
            <button
              class="btn-custom btn-medium"
              ng-click="vm.searchBillingRecords()"
              ng-disabled="idForm.$invalid"
            >
              Submit
            </button>
          </div>
          <div id="faq-link" class="col-sm-6 col-xs-12">
            <a
              translate-attr="{ href: 'LINKS.ESERVICE_ID_FAQ' }"
              target="_blank"
              >What's an e-service id?</a
            >
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
