<section class="static-view-container col-md-12 col-xs-12">
  <div class="static-view-text col-md-8 col-md-offset-2 col-xs-12">
    <div class="static-view-logo">
      <img src="/public/modules/core/img/logo-horizontal-color.svg" />
    </div>

    <h1 class="hidden-xs static-view-header">Privacy Policy</h1>
    <h2 class="hidden-sm hidden-md hidden-lg static-view-header">
      Privacy Policy
    </h2>

    <p>
      This Privacy Policy must be read in conjunction with the Terms of Use that
      accompany the applicable service you are requesting from us (the
      <b>"Service"</b>). In this Privacy Policy,
      <b>"Public Sector Entities"</b> means the Government (including its
      ministries, departments and organs of state) and public authorities (such
      as statutory boards).
    </p>

    <p>
      1. Insofar as the Service consists of or is provided to you through a
      website, please note that:
    </p>
    <ul>
      <li>
        1.1. We may use "cookies", where a small data file is sent to your
        browser to store and track information about you when you enter our
        websites. The cookie is used to track information such as the number of
        users and their frequency of use, profiles of users and their preferred
        sites. While this cookie can tell us when you enter our sites and which
        pages you visit, it cannot read data off your hard disk.
      </li>
      <li>
        1.2. You can choose to accept or decline cookies. Most web browsers
        automatically accept cookies, but you can usually modify your browser
        setting to decline cookies if you prefer. This may prevent you from
        taking full advantage of the website.
      </li>
    </ul>

    <p>
      2. We may request certain types of data from you in connection with your
      access or use of the Service. The data that may be requested include those
      identified in the Annex herein. Your data may be stored in our servers,
      systems or devices, in the servers, systems or devices of our third party
      service providers or collaborators, or on your device, and may be used by
      us or our third party service providers or collaborators to facilitate
      your access or use of the Service. We or our third party service providers
      or collaborators may collect system configuration information and/or
      traffic information (such as an IP address) and/or use information or
      statistical information to operate, maintain or improve the Services or
      the underlying service of the third party service provider or
      collaborator. For the avoidance of doubt, in this Privacy Policy, a
      reference to a third party service provider or collaborator includes other
      third parties who provide a service or collaborate with our third party
      service provider or collaborator.
    </p>

    <p>3. If you provide us with personally identifiable data:</p>
    <ul>
      <li>
        3.1. We may use, disclose and process the data for any one or more of
        the following purposes:
        <ul>
          <li>
            3.1.1. to assist, process and facilitate your access or use of the
            Service;
          </li>
          <li>
            3.1.2. to administer, process and facilitate any transactions or
            activities by you, whether with us or any other Public Sector Entity
            or third party service provider or collaborator, and whether for
            your own benefit, or for the benefit of a third party on whose
            behalf you are duly authorized to act;
          </li>
          <li>
            3.1.3. to carry out your instructions or respond to any queries,
            feedback or complaints provided by (or purported to be provided by)
            you or on your behalf, or otherwise for the purposes of responding
            to or dealing with your interactions with us;
          </li>
          <li>
            3.1.4. to monitor and track your usage of the Service, to conduct
            research, data analytics, surveys, market studies and similar
            activities, in order to assist us in understanding your interests,
            concerns and preferences and improving the Service (including any
            service of a third party service provider or collaborator) and other
            services and products provided by Public Sector Entities. For the
            avoidance of doubt, we may also collect, use, disclose and process
            such information to create reports and produce statistics regarding
            your transactions with us and your usage of the Services and other
            services and products provided by Public Sector Entities for
            record-keeping and reporting or publication purposes (whether
            internally or externally);
          </li>
          <li>
            3.1.5. for the purposes of storing or creating backups of your data
            (whether for contingency or business continuity purposes or
            otherwise), whether within or outside Singapore;
          </li>
          <li>
            3.1.6. to enable us to contact you or communicate with you on any
            matters relating to your access or use of the Service, including but
            not limited to the purposes set out above, via email, SMS, instant
            messaging, push notifications or such other forms of communication
            that we may introduce from time to time depending on the
            functionality of the Service and/or your device.
          </li>
        </ul>
      </li>
      <li>
        3.2. We may share necessary data with other Public Sector Entities, and
        third party service providers in connection with the Service, so as to
        provide the Service to you in the most efficient and effective way
        unless such sharing is prohibited by law.
      </li>
      <li>
        3.3. We will NOT share your personal data with entities which are not
        Public Sector Entities, except where such sharing is necessary for such
        entities to assist us in providing the Service to you or for fulfilling
        any of the purposes herein.
      </li>
      <li>
        3.4. For your convenience, we may also display to you data you had
        previously supplied us or other Public Sector Entities. This will speed
        up the transaction and save you the trouble of repeating previous
        submissions. Should the data be out-of-date, please supply us the latest
        data.
      </li>
    </ul>

    <p>
      3A. Please note that we may be required to disclose your data by law,
      including any law governing the use/provision of any service of a third
      party service provider or collaborator.
    </p>

    <p>
      4. safeguard your personal data, all electronic storage and transmission
      of personal data is secured with appropriate security technologies.
    </p>

    <p>
      5. You may withdraw your consent to the use and disclosure of your data by
      us with reasonable notice and subject to any prevailing legal or
      contractual restrictions; however, doing so may prevent the proper
      functioning of the Service and may also result in the cessation of the
      Service to you.
    </p>

    <p>
      6. The Service may contain links to external sites whose data protection
      and privacy practices may differ from ours. We are not responsible for the
      content and privacy practices of these other websites and encourage you to
      consult the privacy notices of those sites.
    </p>

    <p>7. Please contact formsg@tech.gov.sg if you:</p>
    <ul>
      <li>
        7.1. have any enquires or feedback on our data protection policies and
        procedures; or
      </li>
      <li>
        7.2. need more information on or access to data which you have provided
        to us in the past.
      </li>
    </ul>
    <br /><br /><br />
    <center>This Privacy Policy is dated 1 Jun 2020.</center>
  </div>
</section>
