<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin(s),</p>
    <p>
      We are contacting you urgently because your FormSG form '<%= formTitle %>'
      (<%= formLink %>) has responses that were unable to be delivered to the
      following recipients: <%= bouncedRecipients %>.
    </p>
    <p>Likely causes:</p>
    <ul>
      <li>email address contains a typo</li>
      <li>email address is no longer valid or being used</li>
    </ul>
    <p><strong>What to do immediately</strong></p>
    <ol>
      <li>
        <strong>Fill in correct and valid email addresses</strong> for your form
        under Settings > ‘Emails where responses will be sent’. We recommend at
        least 2 receiving email addresses to guard against response bounces.
      </li>
      <li>
        Check if the form has been deactivated under Settings. If so, reactivate
        the form to make it public again.
      </li>
      <li>
        Submit a test response on your form, and check that you receive it.
      </li>
      <li>
        Consider switching your form to Storage mode, or
        <a href="https://go.gov.sg/form-prevent-bounce"
          >setting up AutoArchiving</a
        >
        which automates clearing of mailbox capacity (see
        <strong>Preventing future response loss</strong> below).
      </li>
    </ol>
    <p>
      * If you do not have an email address with capacity to receive responses
      right now, please consider deactivating your form temporarily (Settings
      tab) so that further responses are not lost.
    </p>
    <p><strong>Preventing future response loss</strong></p>
    <p>
      Due to the risk of <strong>permanent response loss</strong> from bounced
      emails, we
      <strong>strongly recommend users use Storage mode</strong> whenever
      possible. Note that Storage mode does not support MyInfo and emailed pdf
      responses; for these features you will have to use Email mode.
    </p>
    <p><u>Option 1: Storage mode</u></p>
    <p>
      Under Storage mode, responses will not be sent to your email but are
      downloadable as a spreadsheet from FormSG’s website.
    </p>
    <ol>
      <li>
        Here is a guide to
        <a href="https://go.gov.sg/form-email-storage"
          >switching your form from Email mode to Storage mode</a
        >.
      </li>
      <li>
        Be sure
        <a href="https://go.gov.sg/form-safekeep-secret-key"
          >not to lose the secret key</a
        >, which you will need to access responses. Responses cannot be
        recovered if this key is lost.
      </li>
    </ol>
    <p>Other useful links</p>
    <ul>
      <li>
        <a href="https://go.gov.sg/form-what-is-storage-mode"
          >What is Storage mode?</a
        >
      </li>
      <li>
        <a href="https://go.gov.sg/form-data-classification"
          >Data classification and info sensitivity</a
        >
      </li>
    </ul>
    <p><u>Option 2: Email mode with precautions</u></p>
    <p>If you must use Email mode,</p>
    <ol>
      <li>
        Specify 2 or more email recipients for your Email mode forms in
        Settings, to increase the chance of responses getting delivered to at
        least one recipient.
      </li>
      <li>
        <a href="https://go.gov.sg/form-prevent-bounce">Set up AutoArchiving</a>
        which automates clearing of mailbox capacity.
      </li>
    </ol>
    <p><strong>Recovering bounced responses</strong></p>
    <p>
      Unfortunately, once a response has bounced from your mailbox, FormSG is
      not able to recover the response for you as we do not store response data.
    </p>
    <p>
      However, if you had listed another email recipient in Settings, the
      response may have been successfully sent to them.
    </p>
    <p>The <%= appName %> Support Team</p>
  </body>
</html>
