<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <body>
    <p>Dear Form admin,</p>
    <p>Respondents are facing issues on your form: <%= formTitle %>.</p>
    <p>
      These issues are reported by respondents via the 'Report an issue' button
      on public forms. We encourage you to view these reports as respondents
      might be facing urgent issues relating to form submission.
    </p>
    <p>
      <a href="<%= formResultUrl %>">Login to Forms </a> and view issues
      reported in your results page.
    </p>
    <p>Regards,<br/><%= appName %> team</p>
  </body>
</html>
