<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>
      Your OTP is <%= otpPrefix %>-<strong><%= otp %></strong>. Please use this
      to log in to your <%= appName %> account.
    </p>
    <p>
      If your OTP does not work, please request for a new OTP at <%= appUrl %>
      on the internet.
    </p>
    <br />
    <p>
      This login attempt was made from the IP: <%= ipAddress %>. If you did not
      attempt to log in to FormSG, you may choose to investigate this IP address
      further.
    </p>
    <br />
    <p>The <%= appName %> Support Team</p>
  </body>
</html>
