<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <body
    class="clean-body u_body"
    style="margin: 0; padding: 0; background-color: #f8f9fd"
  >
    <div
      class="u-row-container"
      style="
        padding: 48px;
        background-color: #ffffff;
        width: 507px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
      "
    >
      <p>
        <img width="72px" src="https://file.go.gov.sg/form-logo.png" />
      </p>
      <p
        style="
          width: 411px;
          height: 64px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.019em;
          font-feature-settings: 'cv05' on, 'cv10' on;

          color: #1b1f2c;
          margin-bottom: 32px;
        "
      >
        Your payment on <%= formTitle %> has been received successfully.
      </p>
      <div
        style="
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.006em;

          color: #474747;

          margin-bottom: 32px;
        "
      >
        <p style="margin: 0px">Form: <%= formTitle %></p>
        <p style="margin: 0px">Response ID: <%= submissionId %></p>
        <p style="margin: 0px">Amount paid: S$<%= amountPaid %></p>
        <p>Please visit the link below for your proof of payment.</p>
      </div>
      <button
        style="
          background: #445fcd;
          border: 1px solid #445fcd;
          border-radius: 4px;

          width: 100%;
          height: 56px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.006em;

          color: #ffffff;

          margin-bottom: 32px;
        "
        onclick="window.location.href='<%= invoiceUrl %>'"
      >
        View proof of payment
      </button>
      <hr style="border-top: 1px" />
      <div style="margin-top: 32px">
        <p>
          If you are having trouble with the button above, copy and paste the
          link below into your browser:
        </p>
        <p style="color: #445fcd; word-wrap: break-word"><%= invoiceUrl %></p>
      </div>
    </div>
  </body>
</html>
