<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
    </style>
  </head>
  <body
    class="clean-body u_body"
    style="margin: 0; padding: 0; background-color: #f8f9fd"
  >
    <div
      class="u-row-container"
      style="
        padding: 48px;
        background-color: #ffffff;
        width: 507px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: 48px;
      "
    >
      <p>
        <img width="94.14px" src="https://file.go.gov.sg/form-logo.png" />
      </p>
      <p
        style="
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.019em;
          font-feature-settings: 'cv05' on, 'cv10' on;

          color: #1b1f2c;
          margin-bottom: 32px;
        "
      >
        Your payment on <%= formTitle %> has been received successfully.
      </p>
      <div
        style="
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.006em;

          color: #474747;

          margin-bottom: 32px;
        "
      >
        <p style="margin: 0px">Form: <%= formTitle %></p>
        <p style="margin: 0px">Response ID: <%= submissionId %></p>
        <p style="margin: 0px">Amount paid: S$<%= amountPaid %></p>
        <p>Please visit the link below for your proof of payment.</p>
      </div>
      <a href="<%= invoiceUrl %>" style="color: #fff; text-decoration: none">
        <button
          style="
            background: #445fcd;
            border: 1px solid #445fcd;
            border-radius: 4px;

            width: 100%;
            height: 56px;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.006em;

            color: #ffffff;

            margin-bottom: 32px;
          "
        >
          View proof of payment
        </button>
      </a>
      <hr style="border-top: 1px" />
      <div style="margin-top: 32px">
        <p
          style="
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.006em;
            font-feature-settings: 'cv05' on, 'cv10' on;

            /* color/base/content/default */
            color: #474747;
          "
        >
          If you are having trouble with the button above, copy and paste the
          link below into your browser:
        </p>
        <p
          style="
            color: #445fcd;
            word-wrap: break-word;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.006em;
            font-feature-settings: 'cv05' on, 'cv10' on;
          "
        >
          <%= invoiceUrl %>
        </p>
      </div>
    </div>
  </body>
</html>
