<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You own forms with free SMS OTP verification on a Mobile Number field:
    </p>
    <ol>
      <% forms.forEach(function({title, link}) { %>
      <li><a href="<%= link %>"> <%= title %> </a></li>
      <% }) %>
    </ol>
    <p>
      <b>
        As you have reached the free tier limit of <%= smsVerificationLimit %>
        per account, SMS OTP verification has been automatically disabled on all
        forms you own.
      </b>
      Forms with Twilio already set up will not be affected. Respondents will
      still be able to submit to your forms but will not be prompted to verify
      their mobile numbers
    </p>

    <p>
      We would have previously notified all form admins upon your account
      reaching <%= smsWarningTiers.LOW %>, <%= smsWarningTiers.MED %> and <%=
      smsWarningTiers.HIGH %> free verifications.
    </p>
    <p>
      If you need to send more SMS OTP verifications, please
      <a href="https://go.gov.sg/formsg-guide-verified-smses">
        arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
