<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You own forms with free SMS OTP verification enabled on the Mobile Number
      field:
    </p>
    <ol>
      <% forms.forEach(function({title, link}) { %>
      <li><a href="<%= link %>"> <%= title %> </a>.</li>
      <% }) %>
    </ol>
    <p>
      <b>
        Your account can use <%= numAvailable %> more free verifications until
        free SMS verification is automatically disabled on all forms you own.
      </b>
      Forms with Twilio already set up will not be affected.
    </p>
    <p>
      If you need to send more than <%= smsVerificationLimit %> SMS
      verifications, please
      <a href="https://go.gov.sg/formsg-guide-verified-smses">
        arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
