<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin(s),</p>
    <p>
      You are receiving this as you have enabled SMS OTP verification on a
      Mobile Number field of your form:
      <a href="<%= formLink %>"> '<%= formTitle %>' </a>.
    </p>
    <p>
      Your form can receive <b><%= numAvailable %></b> more responses until free
      SMS OTP verification is automatically disabled.
    </p>
    <p>
      If you require SMS OTP verification for more than 10,000 responses, please
      <a
        href="https://guide.form.gov.sg/AdvancedGuide.html#how-do-i-arrange-payment-for-verified-sms"
        >arrange advance billing with us.
      </a>
    </p>
    <p>
      <b>Important: </b> Please refrain from creating multiple forms for the
      same use case in order to avoid this limit, as such forms risk being
      flagged for abuse and blacklisted.
    </p>
    <p>The FormSG Team</p>
  </body>
</html>
