<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You are receiving this email as you own forms with SMS OTP verification
      enabled:
    </p>
    <ol>
      <% forms.forEach(function({title, link}) { %>
      <li><a href="<%= link %>"> <%= title %> </a></li>
      <% }) %>
    </ol>
    <p>
      Your account can use <b><%= numAvailable %></b> more free verifications
      until free SMS OTP verification is automatically disabled for all owned
      forms.
    </p>
    <p>
      If you need to send more than 10,000 SMS OTP verifications, please
      <a
        href="https://guide.form.gov.sg/AdvancedGuide.html#how-do-i-arrange-payment-for-verified-sms"
        >arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
