<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You are a collaborator on a form with SMS OTP verification enabled on a
      Mobile Number field:
      <a href="<%= form.link %>"> <%= form.title %></a>.
    </p>
    <p>
      The owner of this form has used up <%= percentageUsed %> of their free
      tier limit for SMS verifications.
      <b>
        SMS verification will be disabled for this form when the owner’s account
        has reached <%= smsVerificationLimit %> verifications.
      </b>
    </p>
    <p>
      If you need to send more than <%= smsVerificationLimit %> SMS
      verifications, please
      <a href="https://go.gov.sg/formsg-guide-verified-smses"
        >arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
