<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You are a collaborator on a form with free SMS OTP verification on a
      Mobile Number field:
      <a href="<%= form.link %>"> <%= form.title %></a>.
    </p>

    <p>
      <b>
        As the form owner has reached the account limit of <%=
        smsVerificationLimit %> free verifications, SMS verification has been
        automatically disabled on this form.
      </b>
      Respondents will still be able to submit to this form but will not be
      prompted to verify their mobile numbers.
    </p>

    <p>
      If you need to send more SMS OTP verifications, please
      <a href="https://go.gov.sg/formsg-guide-verified-smses">
        arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
