<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>Dear form admin,</p>
    <p>
      You are receiving this email as you own forms with SMS OTP verification
      enabled:
    </p>
    <ol>
      <% forms.forEach(function({title, link}) { %>
      <li><a href="<%= link %>"> <%= title %> </a>.</li>
      <% }) %>
    </ol>
    <p>
      As you have reached the free tier limit of <%= smsVerificationLimit %>
      verifications sent, SMS OTP verification has been
      <b>automatically disabled</b> on all your form(s). Respondents will still
      be able to submit to your form(s) but will not be prompted to verify their
      mobile numbers.
    </p>

    <p>
      We would have previously notified all form admins upon your account
      reaching <%= smsWarningTiers.LOW %>, <%= smsWarningTiers.MED %> and <%=
      smsWarningTiers.HIGH %> free verifications.
    </p>
    <p>
      If you need to send more SMS OTP verifications, please
      <a
        href="https://guide.form.gov.sg/AdvancedGuide.html#how-do-i-arrange-payment-for-verified-sms"
      >
        arrange advance billing with us.
      </a>
    </p>
    <p>FormSG Team</p>
  </body>
</html>
