<sg-govt-banner-component x-padding-small></sg-govt-banner-component>
<!-- Public Banner -->
<banner-component message="vm.banner.msg | linky"></banner-component>

<section>
  <div ng-if="vm.myform.isPreview" id="preview-header">
    <div id="preview-header-title" ng-if="vm.myform.authType==='NIL'">
      Preview mode
    </div>
    <div id="preview-header-title" ng-if="vm.myform.authType!=='NIL'">
      Preview with test data
    </div>
    <a id="preview-header-edit" ui-sref="viewForm({ formId: vm.myform._id })">
      <i class="bx bx-pencil"></i><span class="hidden-xs">Edit form</span>
    </a>
  </div>
  <div
    ng-if="(vm.myform.status === 'PUBLIC' || vm.myform.isPreview || vm.myform.isTemplate)"
    class="public-form submit-form"
  >
    <!-- Start Page View -->
    <submit-form-directive
      form="vm.myform"
      logo-url="vm.logoUrl"
      my-info-error="vm.myInfoError"
    ></submit-form-directive>
  </div>
</section>
