#examples-tab {
  width: 100%;
  height: 100%;
  background-color: #f0f4f6;
  overflow-x: hidden;
}

#examples-tab .container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 50px;
}

#examples-tab #title {
  font-weight: bold;
  font-size: 28px;
  color: #2f60ce;
  margin-top: 41px;
}

#examples-tab #sub-title {
  font-size: 18px;
  line-height: 1.67;
  color: #484848;
}

#examples-tab #sub-title a {
  text-decoration: underline;
}

#examples-tab #sub-title #searchResults {
  padding-right: 10px;
}

#examples-tab #search-icon {
  margin-left: 25px;
  color: #484848;
  font-size: 24px;
  cursor: pointer;
}

#examples-tab #search-input {
  position: relative;
  margin-left: 25px;
}

#examples-tab #search-input input {
  padding-left: 35px;
  padding-right: 35px;
  width: 250px;
}

#examples-tab #search-input i.bx-search {
  position: absolute;
  top: 14px;
  left: 9px;
  color: #484848;
  font-size: 24px;
}

#examples-tab #search-input i.bx-x {
  position: absolute;
  top: 12px;
  right: 9px;
  color: #979797;
  font-size: 24px;
  cursor: pointer;
}

#examples-tab #search-grp {
  display: flex;
  align-items: center;
  height: 48px;
}

@media all and (min-width: 992px) {
  #examples-tab #search-grp {
    flex-direction: row;
    justify-content: flex-end;
  }

  #examples-tab #forms-list {
    margin-top: 50px;
  }

  #examples-tab #title-grp {
    display: flex;
    align-items: baseline;
  }
}

@media not all and (min-width: 992px) {
  #examples-tab #search-grp {
    margin-top: 25px;
    justify-content: space-between;
  }

  #examples-tab #forms-list {
    margin-top: 20px;
  }
}

@media not all and (min-width: 768px) {
  #examples-tab .hide-dropdown {
    display: none;
  }

  #examples-tab #search-input {
    margin-left: 0;
    width: 100%;
  }

  #examples-tab #search-input input {
    width: 100%;
  }
}

#examples-tab #dropdown-selection {
  font-size: 18px;
  color: #08080d;
  margin-right: 38px;
  cursor: pointer;
}

#examples-tab #dropdown-options a {
  font-size: 18px;
  color: #484848;
  padding: 10px 20px;
}

#examples-tab #dropdown-options a.bold {
  font-weight: bold;
}

/* Loader */
#examples-tab .loader {
  text-align: center;
  font-size: 60px;
}

@media (min-width: 768px) {
  #examples-tab .loader {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #examples-tab .loader {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

#examples-tab .bx-loader {
  color: #3263cb;
}

/* Error when there is no results */
#examples-tab .search-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#examples-tab .search-error #msg-1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #323232;
}

#examples-tab .search-error #msg-2 {
  font-size: 18px;
  text-align: center;
  color: #767676;
}

#examples-tab .search-error img {
  width: auto;
  height: 40vh;
  min-height: 270px;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #examples-tab .search-error img {
    height: 30vh;
    min-height: 150px;
  }
}

/* For maintenance page while we improve Examples search */
#examples-tab-maintenance #title-maintenance {
  font-weight: bold;
  font-size: 28px;
  color: #2f60ce;
  margin-top: 41px;
  text-align: center;
}

#examples-tab-maintenance #sub-title-maintenance {
  font-size: 18px;
  line-height: 1.67;
  color: #484848;
  text-align: center;
}

#examples-tab-maintenance #title-grp-maintenance {
  display: flex;
  align-items: baseline;
}

#examples-tab-maintenance #no-results-maintenance {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#examples-tab-maintenance #no-results-maintenance img {
  width: auto;
  height: 40vh;
  min-height: 270px;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #examples-tab-maintenance #no-results-maintenance img {
    height: 30vh;
    min-height: 150px;
  }
}

/* End for maintenance page while we improve Examples search */
