#privacy-tou ol {
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 425px) {
  #privacy-tou ol {
    padding-inline-start: 28px;
  }
}

#privacy-tou li {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

#privacy-tou .tou-point-bold {
  font-size: 20px;
  color: #323232;
  font-weight: 700;
  word-break: break-word;
}

#privacy-tou .tou-point-header::before {
  font-size: 20px;
}

#privacy-tou ol > li::before {
  content: attr(seq) ' ';
  position: relative;
  left: -44px;
  width: 0;
  height: 0;
  display: inline-block;
}

#privacy-tou ol > li > ol > li::before {
  left: -50px;
}

#privacy-tou ol > li > ol > li > ol > li::before {
  left: -60px;
}
