#privacy-tou ol {
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

#privacy-tou li {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

#privacy-tou ol > li::before {
  content: attr(seq) '.';
  position: relative;
  left: -36px;
  width: 0;
  height: 0;
  display: inline-block;
}

#privacy-tou ol > li > ol > li::before {
  left: -42px;
}

#privacy-tou ol > li > ol > li > ol > li::before {
  left: -52px;
}
