/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#privacy-tou ol {
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 425px) {
  #privacy-tou ol {
    -webkit-padding-start: 28px;
    padding-inline-start: 28px;
  }
}

#privacy-tou li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

#privacy-tou .tou-point-bold {
  font-size: 20px;
  color: #323232;
  font-weight: 700;
  word-break: break-word;
}

#privacy-tou .tou-point-header::before {
  font-size: 20px;
}

#privacy-tou ol > li::before {
  content: attr(seq) ' ';
  position: relative;
  left: -44px;
  width: 0;
  height: 0;
  display: inline-block;
}

#privacy-tou ol > li > ol > li::before {
  left: -50px;
}

#privacy-tou ol > li > ol > li > ol > li::before {
  left: -60px;
}
