<div class="row" id="enable-captcha">
  <div class="col-xs-9 label-custom label-large">
    Enable reCaptcha
    <i
      class="glyphicon glyphicon-question-sign"
      uib-tooltip="Image selection to prove respondent is human and prevent spam submission."
      tooltip-trigger="'click mouseenter'"
    ></i>
  </div>
  <div class="col-xs-3">
    <label
      class="toggle-selector pull-right"
      ng-class="tempForm.hasCaptcha ? 'toggle-selector-on' : ''"
    >
      <input
        type="checkbox"
        ng-model="tempForm.hasCaptcha"
        ng-click="updateCaptcha($event.target.checked)"
      />
      <div class="toggle-selector-switch">
        <i ng-class="tempForm.hasCaptcha ? 'bx bx-check' : 'bx bx-x'"></i>
      </div>
    </label>
  </div>
</div>
