<div id="feedback-tab">
  <div ng-if="loading" class="loader">
    <i class="bx bx-loader bx-spin"></i>
  </div>
  <div class="row" ng-if="!loading">
    <div class="col-xs-12 summary-stat">
      <span
        ng-if="percentageFeedback == 0 || percentageFeedback == undefined"
        class="stats-text"
      >
        <span class="stats">No</span> feedback yet.
      </span>
      <span ng-if="feedbackCount > 0" class="stats-text">
        <span class="stats">{{feedbackCount}}</span> feedback submission(s)
        received.
      </span>
    </div>
  </div>
  <div
    class="summary-stat"
    ng-if="!loading && submissionCount > 0 && percentageFeedback > 0"
  >
    <div class="feedback-label">Average Score</div>
    <div class="row flex-row">
      <div
        class="col-sm-8 col-xs-12 feedback-summary text-nowrap"
        ng-if="feedbackScore && emojiUrl"
      >
        <div class="feedback-average">
          <span>{{feedbackScore}}</span>
          <img class="feedback-emoji" ng-src="{{ emojiUrl }}" />
        </div>
      </div>
      <div class="col-xs-4">
        <export-button-component
          on-click="exportCsv()"
          is-disabled="feedbackCount===0 || csvDownloading"
          is-loading="csvDownloading"
        ></export-button-component>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!loading">
    <div class="col-md-12">
      <table class="table" ng-table="tableParams" show-filter="false">
        <tr ng-repeat="row in $data">
          <td
            title="'No.'"
            sortable="'index'"
            class="number-col"
            header-class="'number-col'"
          >
            {{row.index}}
          </td>
          <td
            title="'Date'"
            sortable="'timestamp'"
            class="time-col"
            header-class="'time-col'"
          >
            <span class="hidden-md hidden-lg">{{row.dateShort}}</span>
            <span class="hidden-sm hidden-xs">{{row.date}}</span>
          </td>
          <td
            title="'Feedback'"
            sortable="'comment'"
            class="feedback-col"
            header-class="'feedback-col'"
          >
            {{row.comment}}
          </td>
          <!-- The following 2 td elements are shown/hidden depending on screen size via CSS -->
          <td
            title="'Rating'"
            sortable="'rating'"
            class="rating-col rating-col-desktop"
            header-class="'rating-col rating-col-desktop'"
          >
            {{row.rating}}
          </td>
          <td
            title="'#'"
            sortable="'rating'"
            class="rating-col rating-col-mobile"
            header-class="'rating-col rating-col-mobile'"
          >
            {{row.rating}}
          </td>
        </tr>
        <div
          id="overlay"
          ng-if="(submissionCount > 0 && percentageFeedback == 0) || submissionCount == 0"
        >
          <div class="overlay-text">
            When your feedback arrives, it will be shown here
          </div>
        </div>
      </table>
    </div>
  </div>
</div>
