<div class="row">
  <div class="toggle-option label-bottom">
    <div
      ng-class="{'toggle-option--disabled' : field.hasAdminExceededSmsLimit || field.hasRetrievalError}"
      class="col-xs-8"
    >
      <div class="label-custom label-medium">
        OTP verification
        <i
          class="glyphicon glyphicon-question-sign"
          uib-tooltip="When enabled, respondents must verify by entering a code sent to their mobile number"
          tooltip-trigger="'click mouseenter'"
        ></i>
      </div>
      <div ng-show="!isLoading && !field.hasRetrievalError">
        <small class="sms-counts"
          >{{verifiedSmsCount}}/{{smsVerificationLimit}} SMSes used</small
        >
      </div>
    </div>
    <div class="col-xs-4 field-input">
      <div ng-show="isLoading" class="loading-spinner">
        <i class="bx bx-loader bx-spin bx-lg icon-spacing"></i>
      </div>
      <label
        ng-show="!isLoading"
        class="toggle-selector pull-right"
        ng-class="{'toggle-selector-on': field.isVerifiable && !field.hasAdminExceededSmsLimit && !field.hasRetrievalError, 'toggle-selector--disabled': field.hasAdminExceededSmsLimit || field.hasRetrievalError}"
        onclick=""
      >
        <input
          type="checkbox"
          ng-model="field.isVerifiable"
          ng-click="openVerifiedSMSModal()"
        />
        <div class="toggle-selector-switch">
          <i
            ng-show="!field.hasAdminExceededSmsLimit && !field.hasRetrievalError"
            ng-class="field.isVerifiable ? 'bx bx-check' : 'bx bx-x'"
          ></i>
          <i
            ng-show="field.hasAdminExceededSmsLimit || field.hasRetrievalError"
            class="bx bxs-lock"
          ></i>
        </div>
      </label>
    </div>
  </div>
  <br />
  <div
    class="alert-custom alert-error inline-padding"
    ng-show="field.hasAdminExceededSmsLimit"
  >
    <i class="bx bx-exclamation bx-md icon-spacing"></i>
    <span class="alert-msg">
      You have reached the free tier limit for SMS verification. To continue
      using SMS verification,
      <a ng-href="{{verifiedSmsSetupLink}}" target="_blank">
        please arrange for billing with us
      </a></span
    >
  </div>
</div>
