<div id="configure-form">
  <form-title-input-component
    form-data="formData"
    form-controller="formController"
    save-form="saveForm()"
    set-focus="true"
  >
  </form-title-input-component>

  <!--Do not show on Edit Settings, responseMode is immutable after creation-->
  <div class="settings-input" ng-if="formMode !== 'edit'">
    <div class="label-custom label-medium label-bottom">
      How do you want to receive responses to your form?
    </div>
    <div id="response-mode">
      <label
        ng-class="formData.responseMode === responseModeEnum.ENCRYPT ? 'selected-responseMode' : ''"
        ng-disabled="!formData.isEncryptModeEnabled"
      >
        <input
          type="radio"
          ng-value="responseModeEnum.ENCRYPT"
          ng-model="formData.responseMode"
          name="responseMode"
          ng-disabled="!formData.isEncryptModeEnabled"
        />
        <div class="storage-option">
          <span class="recommend-tag">Recommended</span>
          <span>Storage</span>
        </div>
      </label>
      <label
        ng-class="formData.responseMode !== responseModeEnum.ENCRYPT ? 'selected-responseMode' : ''"
        ng-disabled="!formData.isEncryptModeEnabled"
      >
        <input
          type="radio"
          ng-value="responseModeEnum.EMAIL"
          ng-model="formData.responseMode"
          name="responseMode"
          ng-disabled="!formData.isEncryptModeEnabled"
        />
        <span>Email</span>
      </label>
    </div>
    <div
      ng-show="formData.responseMode == responseModeEnum.ENCRYPT && formData.isEncryptModeEnabled"
      class="alert-custom alert-info"
    >
      <i class="bx bx-error-circle"></i>
      <div class="alert-msg">
        <span class="alert-content">
          <b>Recommended for most users</b>
          <p>
            View and download responses on FormSG's website. High-volume forms
            should use Storage mode to avoid data loss due to inbox capacity
            issues.
          </p>
          <p>However, choose Email mode if you need any of these features:</p>
          <ul>
            <li>MyInfo</li>
            <li>Emailed copy of response to respondent</li>
          </ul>
        </span>
      </div>
    </div>
    <div
      ng-show="formData.responseMode !== responseModeEnum.ENCRYPT"
      class="alert-custom alert-error"
    >
      <i class="bx bx-error-circle"></i>
      <div class="alert-msg">
        <span class="alert-content">
          <p>
            Receive form responses in your email inbox. FormSG will not store
            your form responses.
          </p>
          <p>
            <b>Not recommended</b> usually, especially for high-volume forms, as
            responses bouncing from your inbox are <b>permanently lost</b>.
          </p>
          <p>
            Please only choose Email mode if you need any of these features:
          </p>
          <ul>
            <li>MyInfo</li>
            <li>Emailed copy of response to respondent</li>
          </ul>
        </span>
      </div>
    </div>
    <div
      ng-show="!formData.isEncryptModeEnabled"
      class="alert-custom alert-info duplicate-info-message"
    >
      <i class="bx bx-error-circle"></i>
      <span class="alert-msg">
        <span class="alert-content">
          This form contains MyInfo fields. Only <strong>Email</strong> mode is
          supported at this point.
        </span>
      </span>
    </div>
  </div>

  <!--Do not show when responseMode === encrypt -->
  <form-emails-input-component
    form-data="formData"
    form-controller="formController"
    save-form="saveForm()"
    ng-show="formData.responseMode !== responseModeEnum.ENCRYPT"
  >
  </form-emails-input-component>
</div>
