<div class="row">
  <div class="toggle-option">
    <div class="col-xs-8 label-custom label-medium label-bottom">
      OTP verification
      <i
        class="glyphicon glyphicon-question-sign"
        uib-tooltip="When enabled, respondents must verify by entering a code sent to their mobile number"
        tooltip-trigger="'click mouseenter'"
      ></i>
    </div>
    <div class="col-xs-4 field-input">
      <label
        class="toggle-selector pull-right"
        ng-class="field.isVerifiable && !field.hasAdminExceededSmsLimit ? 'toggle-selector-on' : ''"
        onclick=""
      >
        <input
          type="checkbox"
          ng-model="field.isVerifiable"
          ng-click="openVerifiedSMSModal()"
        />
        <div class="toggle-selector-switch">
          <i
            ng-class="field.isVerifiable && !field.hasAdminExceededSmsLimit ? 'bx bx-check' : 'bx bx-x' "
          ></i>
        </div>
      </label>
    </div>
  </div>
  <br />
  <div
    ng-if="adminVerifiedSmsState == 'LIMIT_EXCEEDED'"
    class="alert-custom alert-info alert-margin"
  >
    <small>
      <i class="bx bx-info-circle bx-md icon-spacing"></i>
      <span class="alert-msg">
        You have exceeded the limit for sms verification!
        <a href="{{twilioSetupLink}}" target="_blank" class="">
          Please arrange advance billing with us.
        </a>
      </span>
    </small>
  </div>
</div>
