<form name="editForm" id="edit-form">
  <!-- Left side: Field icons -->
  <div id="add-field" class="hidden-xs" ng-model="addField.types">
    <uib-tabset>
      <!-- FormSG Basic Fields -->
      <uib-tab heading="Basic">
        <div class="row">
          <div
            class="col-sm-6 col-md-6 col-lg-6 col-xl-6 add-field-panel"
            ng-repeat="type in addField.types"
          >
            <div
              ng-if="adminHasAccess(type.name)"
              ng-class="{'add-field-item':true, 'inactive': isDisabledField(type)}"
              ng-click="isDisabledField(type) || addNewField(type.name)"
            >
              <!-- Beta Icon -->
              <span class="beta-icon" ng-if="isBetaField(type.name)">
                beta
              </span>
              <!-- New Icon -->
              <span class="beta-icon" ng-if="isNewField(type.name)"> new </span>
              <!-- Field Icon -->
              <div class="add-field-icon">
                <field-icon-component
                  type-name="{{type.name}}"
                ></field-icon-component>
              </div>
              <!-- Field Name -->
              <div class="add-field-text">{{type.value}}</div>
            </div>
          </div>
        </div>
      </uib-tab>

      <!-- MyInfo Fields -->
      <uib-tab>
        <uib-tab-heading> MyInfo </uib-tab-heading>
        <!-- Only show fields if form type is not storage form -->
        <div
          ng-if="myform.authType==='MyInfo' && !isStorageForm && numMyInfoFields < maxMyInfoFields"
        >
          <div class="row">
            <div class="myinfo-category">PERSONAL</div>
            <div
              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 add-field-panel"
              ng-repeat="type in addField.myInfoTypes | filter: { category: 'personal'}"
            >
              <!-- Unlike basic fields, there is no need to set inactive class
              since they must be active if shown  -->
              <div
                class="add-field-item"
                ng-click="addNewMyInfoField(type.name)"
              >
                <div class="add-field-icon">
                  <field-icon-component
                    type-name="{{type.name}}"
                  ></field-icon-component>
                </div>
                <div class="add-field-text">{{type.value}}</div>
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="myinfo-category">CONTACT</div>
            <div
              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 add-field-panel"
              ng-repeat="type in addField.myInfoTypes | filter: { category: 'contact'}"
            >
              <div
                class="add-field-item"
                ng-click="addNewMyInfoField(type.name)"
              >
                <div class="add-field-icon">
                  <field-icon-component
                    type-name="{{type.name}}"
                  ></field-icon-component>
                </div>
                <div class="add-field-text">{{type.value}}</div>
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="myinfo-category">EMPLOYMENT & EDUCATION</div>
            <div
              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 add-field-panel"
              ng-repeat="type in addField.myInfoTypes | filter: { category: 'employment_education'}"
            >
              <div
                class="add-field-item"
                ng-click="addNewMyInfoField(type.name)"
              >
                <div class="add-field-icon">
                  <field-icon-component
                    type-name="{{type.name}}"
                  ></field-icon-component>
                </div>
                <div class="add-field-text">{{type.value}}</div>
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="myinfo-category">FAMILY</div>
            <div
              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 add-field-panel"
              ng-repeat="type in addField.myInfoTypes | filter: { category: 'family'}"
            >
              <div
                class="add-field-item"
                ng-click="addNewMyInfoField(type.name)"
              >
                <div class="add-field-icon">
                  <field-icon-component
                    type-name="{{type.name}}"
                  ></field-icon-component>
                </div>
                <div class="add-field-text">{{type.value}}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- MyInfo exceeded maximum field limit screen -->
        <div
          id="myinfo-disable-screen"
          ng-if="myform.authType === 'MyInfo' && !isStorageForm && numMyInfoFields >= maxMyInfoFields"
        >
          <i class="bx bx-x-circle myinfo-storage-overlay"></i>
          <br />
          You have reached the limit of {{ maxMyInfoFields }} MyInfo fields for
          your form.
        </div>

        <!-- MyInfo activate prompt overlay, only show if authType is not
        SingPass and form is not a Storage Mode form. -->
        <div
          id="myinfo-disable-screen"
          ng-if="myform.authType!=='MyInfo' &&
        myform.responseMode !== responseModeEnum.ENCRYPT"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="72"
            height="72"
            viewBox="0 0 72 72"
          >
            <g fill="none" fill-rule="nonzero">
              <rect
                width="25"
                height="25"
                x="5"
                y="42"
                stroke="#FFF"
                stroke-width="4"
                rx="1"
              />
              <rect
                width="25"
                height="25"
                x="5"
                y="6"
                stroke="#FFF"
                stroke-width="4"
                rx="1"
              />
              <rect
                width="25"
                height="25"
                x="41"
                y="42"
                stroke="#FFF"
                stroke-width="4"
                rx="1"
              />
              <path fill="#FFF" d="M56 16h11v4H56v12h-4V20H41v-4h11V5h4v11z" />
            </g>
          </svg>
          <br />
          Enable MyInfo on the <b>Settings</b> tab to access pre-filled fields
        </div>
        <!-- End MyInfo prompt overlay -->

        <!-- MyInfo not available overlay, show only in Storage Mode forms -->
        <div
          id="myinfo-disable-screen"
          ng-if="myform.responseMode === responseModeEnum.ENCRYPT"
        >
          <i class="bx bx-x-circle myinfo-storage-overlay"></i>
          <br />
          MyInfo fields are not yet available in Storage mode forms.
        </div>
        <!-- End MyInfo not available overlay -->
      </uib-tab>
    </uib-tabset>
  </div>

  <!-- Bottom side: Add field icons on mobile -->
  <div id="add-field-mobile" class="hidden-sm hidden-md hidden-lg hidden-xl">
    <div id="add-field-btn" ng-click="openMobileFields()">
      <i class="bx bx-plus"></i>Add element
    </div>
    <div id="add-field-overlay"></div>
  </div>

  <!-- addFieldsModal.html -->

  <div id="close-mobile-field" class="hidden-sm hidden-md hidden-lg hidden-xl">
    <div
      ng-if="showMobileFieldCancel"
      id="close-field-btn"
      ng-click="closeMobileFields()"
    >
      <i class="bx bx-x"></i>
    </div>
    <div ng-if="showMobileFieldCancel" id="close-field-overlay"></div>
  </div>

  <!-- Right side: Current fields -->
  <div id="current-fields">
    <!-- MyInfo warning for Email mode forms -->
    <div
      class="alert-custom {{ numMyInfoFields < maxMyInfoFields ? 'alert-info' : 'alert-danger' }}"
      ng-if="myform.authType === 'MyInfo' && !isStorageForm"
    >
      <div class="alert-msg">
        <i class="bx bx-info-circle bx-md icon-spacing"></i>
        Only {{ maxMyInfoFields }} MyInfo fields are allowed in Email mode. You
        currently have {{ numMyInfoFields }} MyInfo field(s).
      </div>
    </div>
    <!-- Webhook warning -->
    <div
      ng-if="myform.webhook.url && myform.status === 'PUBLIC'"
      class="alert-custom alert-info"
    >
      <i class="bx bx-info-circle bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Your form is employing webhooks to integrate with a 3rd-party system.
        Unexpected modifications may result in system integration issues.
      </span>
    </div>
    <!-- Start Page -->
    <div
      class="current-field-item start-end-item"
      ng-click="openEditStartPageModal()"
    >
      Welcome
    </div>

    <hr class="divider-line" />

    <!-- Form Fields -->
    <div>
      <div ng-show="!myform.form_fields.length" id="empty-form">
        <img src="/public/modules/core/img/build-illustration.svg" />
        <div id="empty-form-title">Start building your form</div>
        <div class="empty-form-description hidden-xs">
          Click elements on the left to make them appear here
        </div>
        <div
          class="empty-form-description hidden-sm hidden-md hidden-lg hidden-xl"
        >
          Click elements on the bottom to make them appear here
        </div>
      </div>
      <div
        id="dropzone"
        ng-sortable="sortableOptions"
        ng-model="myform.form_fields"
      >
        <div ng-repeat="field in myform.form_fields track by $index">
          <div
            ng-click="field.myInfo ? openMyInfoEditModal(field, isCondition(field)) : openEditModal(field, isCondition(field))"
          >
            <div
              class="current-field-item"
              ng-class="{'active': fieldMoreShown[field._id], 'current-field-hidden': isHidden(field)}"
              uib-tooltip="This field will be hidden by default."
              tooltip-trigger="'click mouseenter'"
              tooltip-enable="isHidden(field)"
            >
              <!-- FieldType Icon -->
              <div class="current-field-icon">
                <field-icon-component
                  type-name="{{field.myInfo ? field.myInfo.attr : field.fieldType}}"
                ></field-icon-component>
              </div>
              <!-- Field Title -->
              <div class="current-field-title">
                {{ getFieldTitle(field) }}
                <span
                  ng-show="field.required && field.fieldType !== 'statement' && field.fieldType !== 'image'"
                  >*</span
                >
              </div>

              <!-- Options or labels on the right -->
              <div class="current-field-options">
                <!-- MyInfo Pill / Placeholder -->
                <div
                  ng-if="!fieldMoreShown[field._id] && field.myInfo"
                  class="current-myinfo-icon"
                >
                  MyInfo
                </div>
                <!-- Options -->
                <div
                  class="current-field-opt-icon-group"
                  ng-if="fieldMoreShown[field._id]"
                >
                  <button
                    class="current-field-opt-icon"
                    ng-click="deleteField($index, isCondition(field) || isHidden(field)); $event.stopPropagation()"
                    uib-tooltip="DELETE"
                    tooltip-trigger="'click mouseenter'"
                  >
                    <i class="bx bx-trash"></i>
                  </button>
                  <button
                    class="current-field-opt-icon"
                    ng-click="tryDuplicateField($index, isCondition(field) || isHidden(field)); $event.stopPropagation()"
                    ng-show="!field.myInfo || numMyInfoFields < maxMyInfoFields"
                    uib-tooltip="DUPLICATE"
                    tooltip-trigger="'click mouseenter'"
                  >
                    <i class="bx bx-duplicate"></i>
                  </button>
                  <button
                    class="current-field-opt-icon current-field-drag"
                    ng-click="$event.stopPropagation()"
                    uib-tooltip="REORDER"
                    tooltip-trigger="'click mouseenter'"
                  >
                    <i class="bx bx-move"></i>
                  </button>
                </div>
                <button
                  ng-if="!fieldMoreShown[field._id]"
                  class="current-field-opt-icon"
                  ng-click="toggleMore(field._id); $event.stopPropagation()"
                >
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider-line" />

    <!-- End Page -->
    <div
      class="current-field-item start-end-item"
      ng-click="openEditEndPageModal()"
    >
      Thank You
    </div>
  </div>
</form>
