<div id="settings-form" class="padded-view" ng-form="settingsForm">
  <div class="row">
    <div class="standard-padding">
      <div
        ng-if="isPublicWithoutEsrvcId()"
        class="alert-custom alert-error alert-margin"
      >
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg"
          >Please specify a valid e-service ID below. Failing to do so may
          result in service disruptions to your form.</span
        >
      </div>

      <div id="golive-option" class="row">
        <div
          ng-if="btnLiveState > 1"
          class="col-xs-12 col-sm-9 label-custom label-large"
        >
          Updating form status ...
        </div>
        <div
          ng-if="tempForm.status === 'PRIVATE' && btnLiveState === 1"
          class="col-xs-12 col-sm-9 label-custom label-large"
        >
          Your form is
          <span class="activity-label" id="inactive-label">inactive</span>
          <i
            class="glyphicon glyphicon-question-sign"
            uib-tooltip="Activate your form to make it publicly accessible and start collecting responses."
            tooltip-trigger="'click mouseenter'"
          ></i>
          <div ng-if="isPrivateWithoutEsrvcId()" id="eservice-missing-message">
            This form cannot be activated until your e-service ID is entered
            below.
          </div>
        </div>
        <div
          ng-if="tempForm.status === 'PUBLIC' && btnLiveState === 1"
          class="col-xs-12 col-sm-9 label-custom label-large"
        >
          Your form is
          <span class="activity-label" id="active-label">active</span>
          <i
            class="glyphicon glyphicon-question-sign"
            uib-tooltip="If deactivated, respondents will no longer be able to access or submit your form."
            tooltip-trigger="'click mouseenter'"
          ></i>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- Go Live button -->
          <button
            id="btn-live"
            class="btn-custom btn-small pull-right"
            ng-disabled="btnLiveState > 1 || isPrivateWithoutEsrvcId() ||
					settingsForm.$invalid"
            ng-click="validateThenSave()"
          >
            <span ng-if="btnLiveState == 1 && tempForm.status === 'PRIVATE'"
              >Activate</span
            >
            <span ng-if="btnLiveState == 1 && tempForm.status !== 'PRIVATE'"
              >Deactivate</span
            >
            <span ng-if="btnLiveState == 2"
              ><i class="bx bx-loader bx-spin bx-lg"></i
            ></span>
            <span ng-if="btnLiveState == 3"
              ><i class="bx bx-check bx-lg"></i
            ></span>
          </button>
        </div>
      </div>

      <div class="settings-input">
        <div class="row">
          <div class="col-xs-9 label-custom label-large label-bottom">
            Limit number of responses
            <i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="Form will automatically deactivate when the set response limit is reached. Enable reCaptcha to prevent spam submissions from triggering this limit."
              tooltip-trigger="'click mouseenter'"
            ></i>
          </div>
          <div class="col-xs-3">
            <label
              class="toggle-selector pull-right"
              ng-class="submissionLimitToggle ? 'toggle-selector-on' : ''"
            >
              <input
                type="checkbox"
                ng-model="submissionLimitToggle"
                ng-change="toggleFormSubmissionLimit()"
              />
              <div class="toggle-selector-switch">
                <i
                  ng-class="submissionLimitToggle ? 'bx bx-check' : 'bx bx-x'"
                ></i>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="settings-input" ng-show="submissionLimitToggle">
        <label for="settings-submissionLimit">
          <div class="label-custom label-large label-bottom">
            Maximum number of responses allowed
          </div>
        </label>
        <div class="settings-save">
          <input
            class="input-custom input-medium"
            id="settings-submissionLimit"
            name="submissionLimit"
            type="number"
            step="1"
            ng-model="tempForm.submissionLimit"
            autocomplete="off"
            ng-required="submissionLimitToggle"
            ng-keyup="$event.keyCode === 13 && saveForm()"
            ng-blur="saveForm()"
            min="{{ submissionLimitToggle ? currentResponsesCount + 1 : submissionLimitUnlimited }}"
          />
        </div>
        <div
          ng-if="settingsForm.submissionLimit.$invalid"
          ng-messages="settingsForm.submissionLimit.$error"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg" ng-message-default
            >You must enter a valid number.</span
          >
          <span class="alert-msg" ng-message="min"
            >Response limit must be higher than already received responses ({{
            currentResponsesCount }}).</span
          >
        </div>
      </div>

      <div class="settings-input">
        <label for="settings-inactiveMessage">
          <div class="label-custom label-large label-bottom">
            Set message for inactive form
          </div>
        </label>
        <div
          class="settings-save"
          ng-class="(settingsForm.inactiveMessage.$invalid) ? 'input-disabled' : ''"
        >
          <input
            class="input-custom input-medium"
            id="settings-inactiveMessage"
            type="text"
            name="inactiveMessage"
            ng-model="tempForm.inactiveMessage"
            ng-minlength="4"
            ng-required="true"
            ng-maxlength="200"
            autocomplete="off"
            ng-keyup="$event.keyCode === 13 && settingsForm.inactiveMessage.$valid && saveForm()"
            ng-blur="saveForm()"
            ng-class="settingsForm.inactiveMessage.$valid ? '' : 'input-error'"
          />
        </div>

        <div
          class="alert-custom alert-error"
          ng-if="settingsForm.inactiveMessage.$invalid && settingsForm.inactiveMessage.$dirty"
          ng-messages="settingsForm.inactiveMessage.$error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg" ng-message="required"
            >Message for inactive form is required.</span
          >
          <span class="alert-msg" ng-message="minlength"
            >Message must be at least 4 characters.</span
          >
          <span class="alert-msg" ng-message="maxlength"
            >Error message must not exceed 200 characters.</span
          >
        </div>
        <div
          ng-if="!settingsForm.inactiveMessage.$invalid && settingsForm.inactiveMessage.$dirty && settingsForm.inactiveMessage.$viewValue.length > 100"
          class="alert-custom alert-info"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span class="alert-msg"
            >It is advised to use a shorter, more succinct error message.</span
          >
        </div>
      </div>

      <!-- Form Options -->
      <div>
        <div class="settings-divider"></div>
        <fieldset>
          <div id="enable-auth">
            <legend class="label-custom label-large">
              Enable Authentication
            </legend>

            <div
              ng-if="isFormEncrypt() && isFormMyInfo()"
              class="alert-custom alert-info spcp-warning"
            >
              <i class="bx bx-info-circle bx-md icon-spacing"></i>
              <span class="alert-msg"
                >MyInfo fields are not supported in Storage mode.</span
              >
            </div>

            <div
              ng-if="isFormPublic()"
              class="alert-custom alert-info spcp-warning"
            >
              <i class="bx bx-info-circle bx-md icon-spacing"></i>
              <span class="alert-msg">
                Deactivate your form to change authentication method.
              </span>
            </div>

            <div
              ng-if="isFormPrivate() && myInfoSPWarning()"
              class="alert-custom alert-info spcp-warning"
            >
              <i class="bx bx-info-circle bx-md icon-spacing"></i>
              <span class="alert-msg"
                >Authentication method cannot be changed without first removing
                MyInfo fields.</span
              >
            </div>
          </div>

          <div id="enable-auth-options">
            <div
              ng-repeat="type in authTypes"
              class="row"
              ng-class="isDisableAuthType() ? 'authType-disabled' : ''"
            >
              <div
                class="radio-option col-xs-12"
                ng-class="isDisableAuthType() ? 'radio-disabled' : ''"
                ng-if="!isFormEncrypt() || type.isEnabledInStorageMode"
              >
                <label for="auth-type-{{type.val}}" class="col-xs-12">
                  <input
                    id="auth-type-{{type.val}}"
                    type="radio"
                    ng-model="tempForm.authType"
                    value="{{ type.val }}"
                    ng-click="updateSettingsByPath('authType', $event.target.value)"
                    ng-disabled="isDisableAuthType()"
                  />
                  {{ type.name }}
                  <span
                    class="radiomark"
                    ng-class="tempForm.authType === type.val ? 'blue-border' : ''"
                  ></span>
                  <i
                    class="glyphicon glyphicon-question-sign"
                    uib-tooltip="Corppass no longer has its own login page, and now uses 
                    Singpass to authenticate corporate users. You will still need a 
                    separate Corppass e-service ID."
                    tooltip-trigger="'click mouseenter'"
                    ng-if="type.val === 'CP'"
                  ></i>
                  <i
                    class="glyphicon glyphicon-question-sign"
                    uib-tooltip="Free Singpass authentication via Singpass app QR code login.
                    Respondents must have the Singpass mobile app installed to log in and
                    submit responses. Password login is not supported.
                    Form admin will receive respondent’s NRIC."
                    tooltip-trigger="'click mouseenter'"
                    ng-if="type.val === 'SGID'"
                  ></i>
                  <a
                    target="_blank"
                    class="sgid-formsg-contact"
                    href="https://go.gov.sg/sgid-formsg"
                    ng-if="type.val === 'SGID'"
                  >
                    Contact us to find out more
                  </a>
                </label>
              </div>
              <div
                class="col-xs-12"
                ng-if="['SP', 'CP', 'MyInfo'].includes(type.val) && tempForm.authType === type.val"
              >
                <div
                  class="settings-save esrvcId-input"
                  id="settings-esrvcId"
                  ng-class="(isFormPublic() ||
										settingsForm.esrvcId.$invalid) ? 'input-disabled' : ''"
                >
                  <input
                    class="input-custom input-medium"
                    type="text"
                    name="esrvcId"
                    ng-model="tempForm.esrvcId"
                    placeholder="{{ ['SP', 'MyInfo'].includes(type.val) ? 'Enter Singpass e-service ID' : 'Enter Corppass e-service ID' }}"
                    ng-pattern="/^\S*$/i"
                    ng-keyup="($event.keyCode === 13 && settingsForm.esrvcId.$valid) && saveForm()"
                    ng-blur="(settingsForm.esrvcId.$valid) && saveForm()"
                    ng-disabled="(isFormPublic() && !isPublicWithoutEsrvcId())"
                    ng-required="true"
                    ng-class="(settingsForm.esrvcId.$invalid && settingsForm.esrvcId.$dirty && isFormPrivate())? 'input-error' : ''"
                  />
                </div>
                <div
                  ng-if="settingsForm.esrvcId.$invalid && settingsForm.esrvcId.$viewValue.length === 0 && isFormPrivate()"
                  class="alert-custom alert-error esrvcId-input"
                >
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg">Please fill in required field</span>
                </div>
                <div
                  ng-if="settingsForm.esrvcId.$invalid && settingsForm.esrvcId.$viewValue.length > 0 && isFormPrivate()"
                  class="alert-custom alert-error esrvcId-input"
                >
                  <i class="bx bx-exclamation bx-md icon-spacing"></i>
                  <span class="alert-msg"
                    >e-service ID must not contain whitespace</span
                  >
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div>
        <edit-captcha-directive
          temp-form="tempForm"
          update-settings="updateSettingsByPath"
        >
        </edit-captcha-directive>
      </div>

      <div class="settings-divider"></div>

      <!-- Form name and emails -->
      <form-title-input-component
        form-data="tempForm"
        form-controller="settingsForm"
        save-form="saveForm()"
      >
      </form-title-input-component>
      <form-emails-input-component
        form-data="tempForm"
        form-controller="settingsForm"
        save-form="saveForm()"
        ng-if="!isFormEncrypt()"
      >
      </form-emails-input-component>

      <div class="row form-option">
        <div class="col-xs-9 label-custom label-large">
          Mode for receiving form data<i
            class="glyphicon glyphicon-question-sign"
            uib-tooltip="This setting can't be changed after form creation. To change it, duplicate this form."
            tooltip-trigger="'click mouseenter'"
          ></i>
        </div>
        <div class="col-xs-3">
          <span class="pull-right label-custom label-large">
            <span ng-if="isFormEncrypt()">Storage</span>
            <span ng-if="!isFormEncrypt()">Email</span>
          </span>
        </div>
      </div>

      <div class="settings-divider feature-divider"></div>

      <!-- Webhooks for encrypted forms -->
      <div ng-if="isFormEncrypt()">
        <div class="row enable-features">
          <label
            for="settings-webhook-url"
            class="col-xs-9 label-custom label-large"
          >
            Webhook Endpoint URL
            <span class="beta-icon"> beta </span>
            <i
              class="glyphicon glyphicon-question-sign"
              uib-tooltip="For developers and IT officers. We will POST encrypted form responses in real-time to the HTTPS endpoint specified here."
              tooltip-trigger="'click mouseenter'"
            ></i>
            <span class="field-optional">(optional)</span>
          </label>
        </div>
        <div class="row feature-container webhook-feature-container">
          <div
            class="settings-save col-xs-12"
            ng-class="(settingsForm.webhookUrl.$invalid) ? 'input-disabled' : ''"
          >
            <input
              class="input-custom input-medium"
              id="settings-webhook-url"
              type="text"
              name="webhookUrl"
              ng-model="tempForm.webhook.url"
              placeholder="https://your-webhook.com/url"
              ng-required="false"
              ng-disabled="isFormPublic()"
              autocomplete="off"
              ng-keyup="$event.keyCode === 13 && settingsForm.webhookUrl.$valid && saveWebhookUrl()"
              ng-blur="saveWebhookUrl()"
              ng-class="settingsForm.webhookUrl.$valid ? '' : 'input-error'"
              validate-url
            />
            <div ng-if="isFormPublic()" class="alert-custom alert-info">
              <i class="bx bx-info-circle bx-md icon-spacing"></i>
              <span class="alert-msg"
                >Webhook URL cannot be changed unless your form is
                deactivated.</span
              >
            </div>
            <div
              class="alert-custom alert-error"
              ng-if="settingsForm.webhookUrl.$invalid"
            >
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">
                Please enter a valid URL (starting with https://)
              </span>
            </div>
          </div>
        </div>
        <div class="settings-input" ng-if="myform.webhook.url">
          <div class="row">
            <div class="col-xs-9">
              <span class="label-custom label-medium label-bottom"
                >Enable retries</span
              >
            </div>
            <div class="col-xs-3">
              <label
                class="toggle-selector pull-right"
                ng-class="tempForm.webhook.isRetryEnabled ? 'toggle-selector-on' : ''"
                ng-style="isWebhookRetryToggleDisabled() ? { 'cursor': 'not-allowed' } : ''"
              >
                <input
                  type="checkbox"
                  ng-model="tempForm.webhook.isRetryEnabled"
                  ng-change="saveForm()"
                  ng-disabled="isWebhookRetryToggleDisabled()"
                />
                <div class="toggle-selector-switch">
                  <i
                    ng-class="tempForm.webhook.isRetryEnabled ? 'bx bx-check' : 'bx bx-x'"
                  ></i>
                </div>
              </label>
            </div>
          </div>
          <div class="alert-custom alert-info alert-margin spcp-warning">
            <i class="bx bx-error-circle bx-md icon-spacing"></i>
            <span class="alert-msg">
              Your system must meet certain requirements before retries can be
              safely enabled.
              <a
                translate-attr="{ href: 'LINKS.WEBHOOK_RETRIES' }"
                target="_blank"
                >Learn more</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
