<!-- The card will not appear if it was injected with a specified template (to open by default) by /use-template -->
<div id="form-card" ng-if="!autoOpenModal" ng-click="openTemplateModal()">
  <div class="top-section">
    <img ng-src="{{form.admin.agency.logo}}" />
  </div>
  <div
    class="middle-section {{ form.colorTheme ?  form.colorTheme : 'blue' }}-bg"
  >
    <div class="form-title" ng-if="form.title.length <= 65">{{form.title}}</div>
    <div class="form-title" ng-if="form.title.length > 65">
      {{form.title.substring(0, 65)}} ...
    </div>
  </div>
  <div class="bottom-section">
    <div id="agency-name">{{form.agency}}</div>
    <div id="last-submission">Last Submitted {{form.timeText}}</div>
  </div>
</div>
