<div class="standard-padding">
  <img id="activate" src="/public/modules/forms/admin/img/activate.svg" />
  <div class="copy-header">
    <span class="copy-header-highlighted" ng-bind="headerHighlight"></span>
    <span ng-bind="header"></span>
  </div>
  <div class="copy-text">
    <span ng-bind="subtitle"></span>
    <i
      class="glyphicon glyphicon-question-sign"
      uib-tooltip="Your secret key was downloaded at form creation."
      tooltip-trigger="'click mouseenter'"
    ></i>
  </div>
  <div class="copy-caption">
    <a
      translate-attr="{ href: 'LINKS.GUIDE.SECRET_KEY_SAFEKEEPING' }"
      target="_blank"
      >Remember to email this secret key to colleagues to avoid losing your
      responses permanently.</a
    >
  </div>

  <div id="enter-secret-key" ng-if="savingStatus === 0">
    <input
      class="input-custom input-medium"
      id="secretKeyInput"
      type="text"
      autocomplete="off"
      placeholder="Enter or upload your Secret Key to continue"
      ng-model="secretKey.value"
    />

    <span
      class="icon"
      title="Upload Secret Key"
      ngf-select="uploadFormKey($file, $invalidFiles)"
      ngf-pattern="'.txt'"
    >
      <i class="bx bx-upload bx-lg"></i>
      <span class="icon-text">Upload</span>
    </span>
  </div>

  <div class="input-group-btn-height">
    <button
      class="btn-custom lg-width"
      ng-if="savingStatus === 0"
      ng-disabled="secretKey.value.length === 0"
      ng-click="validateSecretKey(secretKey.value)"
    >
      {{ btnText }}
    </button>
  </div>

  <div id="lost-secret-key" ng-if="savingStatus === 0">
    <a
      class="underlined-link"
      translate-attr="{ href: 'LINKS.GUIDE.SECRET_KEY_LOSS' }"
      target="_blank"
      rel="noopener noreferrer"
    >
      I can't find my secret key.
    </a>
  </div>
</div>
