<div class="standard-padding">
  <img id="activate" src="/public/modules/forms/admin/img/activate.svg" />
  <div class="copy-header">
    <span class="copy-header-highlighted" ng-bind="headerHighlight"></span>
    <span ng-bind="header"></span>
  </div>

  <div class="instructions-container">
    <div class="standard-padding">
      <div class="alert-custom alert-info">
        <i class="bx bx-error-circle"></i>
        <div class="alert-msg">
          <span>
            <p>
              Back up your secret key by storing it in at least 2 other places
              (e.g. email two colleagues).
            </p>
            <p>
              If you lose this key, the key cannot be reset and your responses
              will be
              <b>permanently lost</b>.
            </p>
          </span>
        </div>
      </div>
    </div>

    <div class="copy-text instructions">
      <b>Step 1:</b> Enter or upload your form's Secret Key
      <i
        class="glyphicon glyphicon-question-sign"
        uib-tooltip="Your secret key was downloaded at form creation."
        tooltip-trigger="'click mouseenter'"
      ></i>
    </div>

    <div id="enter-secret-key" ng-if="savingStatus === 0">
      <input
        class="input-custom input-medium"
        id="secretKeyInput"
        type="text"
        autocomplete="off"
        placeholder="Enter or upload your Secret Key to continue"
        ng-model="secretKey.value"
      />

      <span
        class="icon"
        title="Upload Secret Key"
        ngf-select="uploadFormKey($file, $invalidFiles)"
        ngf-pattern="'.txt'"
      >
        <i class="bx bx-upload bx-lg"></i>
        <span class="icon-text">Upload</span>
      </span>
    </div>
    <div class="copy-text instructions">
      <b>Step 2:</b> Type out this acknowledgement (in
      <b class="agree-text">red</b>) to confirm that you have stored your Secret
      Key safely:
    </div>
    <div class="instructions-caption">
      <b class="agree-text no-select">
        I have shared my secret key with a colleague
      </b>
    </div>
    <div ng-form name="acknowledgementForm">
      <input
        class="input-custom input-medium input-acknowledgement"
        id="acknowledgementInput"
        name="acknowledgementInput"
        type="text"
        autocomplete="off"
        placeholder="I have shared my secret key with a colleague"
        ng-paste="$event.preventDefault()"
        ng-model="inputAcknowledgement"
      />
    </div>
    <div
      ng-if="isAcknowledgementWrong() && acknowledgementForm.acknowledgementInput.$dirty"
      class="alert-custom alert-error"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Please type out the acknowledgement to continue</span
      >
    </div>
  </div>

  <div class="input-group-btn-height">
    <button
      class="btn-custom lg-width"
      ng-if="savingStatus === 0"
      ng-disabled="secretKey.value.length === 0 || isAcknowledgementWrong()"
      ng-click="validateSecretKey(secretKey.value)"
    >
      {{ btnText }}
    </button>
  </div>
</div>
