{
  "root": true,
  "plugins": ["import", "simple-import-sort", "prettier", "unused-imports"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "varsIgnorePattern": "^_",
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ]
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
