<div
  tabindex="0"
  class="navbar__avatar"
  ng-class="vm.isDropdownOpen ? 'navbar__avatar--focused' : ''"
  on-click-outside="vm.isDropdownFocused=false"
  on-click-watcher="vm.isDropdownFocused"
  ng-focus="vm.isDropdownFocused=true"
  ng-blur="vm.isDropdownFocused=false"
  ng-click="vm.isDropdownFocused=true"
  ng-mouseenter="vm.isDropdownHover=true"
  ng-mouseleave="vm.isDropdownHover=false"
>
  <button class="navbar__avatar__avatar">{{vm.avatarText}}</button>
  <div ng-show="vm.showExclamation" class="navbar__avatar__avatar--alert">
    !
  </div>
  <div ng-show="vm.isDropdownOpen" class="navbar__dropdown">
    <ul>
      <!-- User details block -->
      <li class="navbar__dropdown__user">
        <div class="navbar__dropdown__user__avatar">{{vm.avatarText}}</div>
        <div class="navbar__dropdown__user__details">
          <div class="navbar__dropdown__user__details--email">
            {{vm.user.email}}
          </div>
        </div>
      </li>
      <!-- End user details block -->
      <!-- Emergency contact block -->
      <li
        feature-toggle
        feature-name="sms"
        class="navbar__dropdown__user__contact"
      >
        <div
          ng-show="!vm.user.contact"
          class="navbar__dropdown__user__contact--missing"
        >
          <i class="bx bx-error-circle"></i>
          <span>Emergency contact not added</span>
        </div>
        <div class="navbar__dropdown__user__contact__details">
          <div class="navbar__dropdown__user__contact__details--label">
            Contact
          </div>
          <div
            ng-show="!vm.user.contact"
            ng-click="vm.openContactNumberModal()"
            class="navbar__dropdown__user__contact__details--link"
          >
            Add Contact
          </div>
          <div
            ng-show="vm.user.contact"
            class="navbar__dropdown__user__contact__details--value"
          >
            <div>{{vm.user.contact}}</div>
            <div
              class="navbar__dropdown__user__contact__details--link"
              ng-click="vm.openContactNumberModal()"
            >
              Edit
            </div>
          </div>
        </div>
      </li>
      <!-- End emergency contact block -->
      <!-- Logout block -->
      <li
        class="navbar__dropdown--clickable navbar__dropdown__logout"
        ng-click="vm.logout()"
      >
        <span class="navbar__dropdown__logout--text">Logout</span>
        <i class="bx bx-log-out bx-md"></i>
      </li>
      <!-- End logout block -->
    </ul>
  </div>
</div>
