<div class="toolset_dropdown_div">
  <a
    target="_blank"
    translate="MORE_TOOLS.TEXT"
    ng-class="{toolset_dropdown_anchor: vm.isDropdownOpen}"
    on-click-outside="vm.isDropdownFocused=false"
    on-click-watcher="vm.isDropdownFocused"
    ng-focus="vm.isDropdownFocused=true"
    ng-blur="vm.isDropdownFocused=false"
    ng-click="vm.isDropdownFocused=true"
    ng-mouseenter="vm.isDropdownHover=true"
    ng-mouseleave="vm.isDropdownHover=false"
  ></a>
  <div
    ng-show="vm.isDropdownOpen || vm.isDropdownHover"
    ng-mouseenter="vm.isDropdownHover=true"
    ng-mouseleave="vm.isDropdownHover=false"
    class="toolset_dropdown"
  >
    <ul>
      <li ng-repeat="item in vm.labelAndLink">
        <div class="toolset_dropdown_anchor_wrapper">
          <a href="{{item.link}}" class="toolset_dropdown_list_anchor">
            {{item.label}}
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
