<div id="edit-contact-modal">
  <div class="ecm__content">
    <div class="ecm__content__header">
      Please enter an emergency mobile number
    </div>
    <div class="ecm__content__subheader">
      We'll contact you here in the unlikely event of urgent issues with your
      form(s). You can update this number later.
    </div>
    <div class="ecm__content__input">
      <!-- Contact input -->
      <form class="ecm__form" name="verifyForm">
        <!-- Creating a custom input as opposed to using field-mobile as the
      required parameters are different. -->
        <div class="ecm__form__input">
          <input
            name="contact"
            type="tel"
            ng-model="vm.contact"
            aria-label="Emergency contact number field"
            ng-required="true"
            ng-intl-tel-input
            allow-intl-numbers="true"
            ng-change="vm.resetSubmissionState()"
          />
          <!-- Errors -->
          <div
            ng-messages="verifyForm.contact.$error"
            ng-show="verifyForm.contact.$touched"
          >
            <div
              class="alert-custom alert-error"
              ng-message="isValidPhoneNumber"
            >
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">Invalid mobile number</span>
            </div>
            <div class="alert-custom alert-error" ng-message="required">
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">Please fill in required field</span>
            </div>
          </div>
        </div>
        <div>
          <button
            ng-disabled="!vm.contact || vm.isLoading || vm.isSuccess"
            class="ecm__vfn-button vfn-btn btn-custom btn-large field-group"
            ng-class="vm.isSuccess ? 'ecm__vfn-button--success' : ''"
            ng-click="!vm.isSuccess && vm.updateContactNumber()"
          >
            <span ng-if="!vm.isLoading && !vm.isSuccess">Submit</span>
            <span ng-if="!vm.isLoading && vm.isSuccess">Saved</span>
            <i ng-if="vm.isLoading" class="bx bx-loader bx-spin"></i>
          </button>
        </div>
      </form>
      <!-- End contact input -->
    </div>
  </div>
</div>
