<!-- Public Banner -->
<sg-govt-banner-component></sg-govt-banner-component>
<div id="landing" ng-init="vm.init()">
  <!--  -->
  <!-- HERO -->
  <!--  -->
  <div id="landing-hero">
    <!-- Header -->
    <div id="landing-header">
      <img src="/public/modules/core/img/logo-horizontal-color.svg" />
      <button
        class="btn-custom"
        ng-click="vm.signIn()"
        translate="SIGN_IN"
      ></button>
      <a
        target="_blank"
        translate-attr="{ href: 'USER_GUIDE.HREF' }"
        translate="USER_GUIDE.TEXT"
      ></a>
      <a
        target="_blank"
        translate-attr="{ href: 'GITHUB.HREF' }"
        translate="GITHUB.TEXT"
      ></a>
      <toolset-dropdown-component></toolset-dropdown-component>
    </div>
    <div id="landing-header-m">
      <img src="/public/modules/core/img/logo-logomark-color.svg" />
      <div id="sign-in-m" ng-click="vm.signIn()" translate="SIGN_IN"></div>
      <a
        target="_blank"
        translate-attr="{ href: 'USER_GUIDE.HREF' }"
        translate="USER_GUIDE.TEXT"
      ></a>
      <a
        target="_blank"
        translate-attr="{ href: 'GITHUB.HREF' }"
        translate="GITHUB.TEXT"
      ></a>
      <toolset-dropdown-component></toolset-dropdown-component>
    </div>

    <!-- Banner -->
    <div id="landing-banner">
      <div id="tagline">
        <span translate="HERO.TAG_LINE.LINE_1"></span>
        <br />
        <span translate="HERO.TAG_LINE.LINE_2"></span>
      </div>
      <div id="main">
        <div id="main-left">
          <div id="stats">
            <div class="stat-counts">
              <div>{{vm.stats.userCount | number}}</div>
              <div>{{vm.stats.formCount | number}}</div>
              <div>{{vm.stats.submissionCount | number}}</div>
            </div>
            <div class="stat-titles">
              <div translate="HERO.STATS.USERS"></div>
              <div translate="HERO.STATS.FORMS"></div>
              <div translate="HERO.STATS.SUBMISSIONS"></div>
            </div>
          </div>
          <button
            class="btn-custom btn-medium"
            ng-click="vm.signIn()"
            translate="HERO.CALL_TO_ACTION"
          ></button>
        </div>
        <div id="main-right">
          <img
            src="/public/modules/core/img/landing/restricted__build-demo.png"
          />
        </div>
      </div>
    </div>
    <div id="landing-banner-m">
      <div id="tagline-m">
        <span translate="HERO.TAG_LINE.LINE_1"></span>
        <br />
        <span translate="HERO.TAG_LINE.LINE_2"></span>
      </div>
      <img src="/public/modules/core/img/landing/restricted__build-demo.png" />
      <div class="stat-count-m">{{vm.stats.userCount}}</div>
      <div class="stat-title-m" translate="HERO.STATS.USERS"></div>
      <div class="stat-count-m">{{vm.stats.formCount}}</div>
      <div class="stat-title-m" translate="HERO.STATS.FORMS"></div>
      <div class="stat-count-m">{{vm.stats.submissionCount}}</div>
      <div class="stat-title-m" translate="HERO.STATS.SUBMISSIONS"></div>
      <button
        class="btn-custom btn-medium"
        ng-click="vm.signIn()"
        translate="HERO.CALL_TO_ACTION"
      ></button>
    </div>
  </div>

  <!--  -->
  <!-- EXAMPLES -->
  <!--  -->
  <div id="landing-examples">
    <div id="example-header" translate="EXAMPLES_SECTION.HEADER"></div>

    <!-- Carousel items -->
    <div id="carousel">
      <div
        class="c-example"
        ng-repeat="example in vm.carousel.examples track by $index"
      >
        <img ng-src="{{example.img}}" />
        <div class="c-overlay">
          <div class="c-overlay-content">
            <div class="c-overlay-agency">{{example.agency}}</div>
            <div class="c-overlay-title">{{example.title}}</div>
            <div class="c-overlay-btns">
              <a
                ng-href="{{example.formLink}}"
                target="_blank"
                translate="EXAMPLES_SECTION.FORM_BUTTON"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Custom controls -->
    <div class="carousel-controls">
      <div
        class="carousel-prev hidden-xs hidden-sm"
        ng-click="vm.prevCarousel()"
      >
        <i class="bx bx-chevron-left"></i>
      </div>

      <div class="carousel-dots">
        <div
          class="c-dot"
          ng-class="vm.selectedCarousel == 0 ? 'dotted' : ''"
        ></div>
        <div
          class="c-dot"
          ng-class="vm.selectedCarousel == 1 ? 'dotted' : ''"
        ></div>
        <div
          class="c-dot"
          ng-class="vm.selectedCarousel == 2 ? 'dotted' : ''"
        ></div>
      </div>

      <div
        class="carousel-next hidden-xs hidden-sm"
        ng-click="vm.nextCarousel()"
      >
        <i class="bx bx-chevron-right"></i>
      </div>
    </div>
  </div>

  <!--  -->
  <!-- FEATURES -->
  <!--  -->
  <div id="landing-features">
    <div class="feature feature1">
      <img
        src="/public/modules/core/img/landing/restricted__feature1.png"
        class="feature-img"
      />
      <div class="feature-content">
        <div
          class="feature-title"
          translate="FEATURES_SECTION.SUBSECTION_1.HEADER"
        ></div>
        <div class="feature-text">
          <b translate="FEATURES_SECTION.SUBSECTION_1.POINT_1.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_1.POINT_1.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_1.POINT_2.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_1.POINT_2.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_1.POINT_3.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_1.POINT_3.TEXT"></span>
        </div>
      </div>
    </div>

    <div class="feature feature2">
      <img
        src="/public/modules/core/img/landing/restricted__feature2.png"
        class="feature-img feature-img-m"
      />
      <div class="feature-content">
        <div
          class="feature-title"
          translate="FEATURES_SECTION.SUBSECTION_2.HEADER"
        ></div>
        <div class="feature-text">
          <b translate="FEATURES_SECTION.SUBSECTION_2.POINT_1.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_1.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_2.POINT_2.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_2.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_2.POINT_3.TITLE"></b>
          <br />
          <i class="bx bx-check"></i>
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_3.LIST.1"></span>
          <br />
          <i class="bx bx-check"></i>
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_3.LIST.2"></span>
          <br />
          <i class="bx bx-check"></i>
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_3.LIST.3"></span>
          <br />
          <i class="bx bx-check"></i>
          <span translate="FEATURES_SECTION.SUBSECTION_2.POINT_3.LIST.4"></span>
          <br />
        </div>
      </div>
      <img
        src="/public/modules/core/img/landing/restricted__feature2.png"
        class="feature-img"
      />
    </div>

    <div class="feature feature3">
      <img
        src="/public/modules/core/img/landing/restricted__feature3.png"
        class="feature-img"
      />
      <div class="feature-content">
        <div
          class="feature-title"
          translate="FEATURES_SECTION.SUBSECTION_3.HEADER"
        ></div>
        <div class="feature-text">
          <b translate="FEATURES_SECTION.SUBSECTION_3.POINT_1.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_3.POINT_1.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_3.POINT_2.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_3.POINT_2.TEXT"></span>
          <br /><br />
          <b translate="FEATURES_SECTION.SUBSECTION_3.POINT_3.TITLE"></b>
          <br />
          <span translate="FEATURES_SECTION.SUBSECTION_3.POINT_3.TEXT"></span>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <!-- HOW IT WORKS -->
  <!--  -->
  <div id="how-it-works">
    <div id="how-header">How it works</div>
    <div id="how-tabs-container" ng-init="tab=1">
      <ul id="how-tabs">
        <li ng-click="tab=1">
          <span
            ng-class="{'hiw-selected-tab' : tab==1}"
            translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.TAB"
          ></span>
        </li>
        <li ng-click="tab=2">
          <span
            ng-class="{'hiw-selected-tab' : tab==2}"
            translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.TAB"
          ></span>
        </li>
      </ul>

      <div class="tabs-container">
        <!--  -->
        <!-- Storage mode tab -->
        <!--  -->
        <div class="tab-content" ng-show="tab === 1">
          <span
            id="how-disclaimer"
            translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.DISCLAIMER"
          >
          </span>
          <div id="how-container">
            <div class="how-box-spacer">
              <img
                class="storage-img1"
                src="/public/modules/core/img/landing/restricted__img-login.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">1</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_1"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img2"
                src="/public/modules/core/img/landing/restricted__img-storagemode.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">2</div>
                  <div class="how-text">
                    <span
                      translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_2"
                    ></span>
                    <a
                      target="_blank"
                      translate-attr="{ href: 'HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.LINK_2.HREF' }"
                      translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.LINK_2.TEXT"
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img3"
                src="/public/modules/core/img/landing/restricted__img-buildshare.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">3</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_3"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img4"
                src="/public/modules/core/img/landing/restricted__img-secretkey.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">4</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_4"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img5"
                src="/public/modules/core/img/landing/restricted__img-excel.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">5</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_5"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <!-- MOBILE -->
          <div id="how-container-m" class="how-container-storage-m">
            <div class="how-box-spacer">
              <img
                class="storage-img1"
                src="/public/modules/core/img/landing/restricted__img-login.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">1</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_1"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img2"
                src="/public/modules/core/img/landing/restricted__img-storagemode.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">2</div>
                  <div class="how-text">
                    <span
                      translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_2"
                    ></span>
                    <a
                      target="_blank"
                      translate-attr="{ href: 'HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.LINK_2.HREF' }"
                      translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.LINK_2.TEXT"
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img3"
                src="/public/modules/core/img/landing/restricted__img-buildshare.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">3</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_3"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img4"
                src="/public/modules/core/img/landing/restricted__img-secretkey.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">4</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_4"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="storage-img5"
                src="/public/modules/core/img/landing/restricted__img-excel.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">5</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.STORAGE_MODE.FLOW.TEXT_5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-dots">
            <div
              class="c-dot"
              ng-class="vm.selectedStorageHow == 0 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedStorageHow == 1 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedStorageHow == 2 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedStorageHow == 3 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedStorageHow == 4 ? 'dotted' : ''"
            ></div>
          </div>
        </div>
        <!--  -->
        <!-- Email mode tab -->
        <!--  -->
        <div class="tab-content" ng-show="tab == 2">
          <span
            id="how-disclaimer"
            translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.DISCLAIMER"
          >
          </span>
          <div id="how-container">
            <div class="how-box-spacer">
              <img
                class="email-img1"
                src="/public/modules/core/img/landing/restricted__img-login.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">1</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_1"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img2"
                src="/public/modules/core/img/landing/restricted__img-email-mode.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">2</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_2"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img3"
                src="/public/modules/core/img/landing/restricted__img-buildshare.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">3</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_3"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img4"
                src="/public/modules/core/img/landing/restricted__img-responses-email.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">4</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_4"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img5"
                src="/public/modules/core/img/landing/restricted__img-excel.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">5</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_5"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <!-- MOBILE -->
          <div id="how-container-m" class="how-container-email-m">
            <div class="how-box-spacer">
              <img
                class="email-img1"
                src="/public/modules/core/img/landing/restricted__img-login.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">1</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_1"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img2"
                src="/public/modules/core/img/landing/restricted__img-email-mode.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">2</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_2"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img3"
                src="/public/modules/core/img/landing/restricted__img-buildshare.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">3</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_3"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img4"
                src="/public/modules/core/img/landing/restricted__img-responses-email.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">4</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_4"
                  ></div>
                </div>
              </div>
            </div>
            <div class="how-box-spacer">
              <img
                class="email-img5"
                src="/public/modules/core/img/landing/restricted__img-excel.svg"
              />
              <div class="how-box">
                <div class="how-details">
                  <div class="how-number">5</div>
                  <div
                    class="how-text"
                    translate="HOW_IT_WORKS_SECTION.EMAIL_MODE.FLOW.TEXT_5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-dots">
            <div
              class="c-dot"
              ng-class="vm.selectedEmailHow == 0 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedEmailHow == 1 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedEmailHow == 2 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedEmailHow == 3 ? 'dotted' : ''"
            ></div>
            <div
              class="c-dot"
              ng-class="vm.selectedEmailHow == 4 ? 'dotted' : ''"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <!-- TESTIMONIALS -->
  <!--  -->
  <div id="agency-testimonials">
    <div id="testimonials">
      <div class="c-testim" ng-repeat="testim in vm.testims">
        <div class="c-quote"><i class="bx bxs-quote-left"></i></div>
        <div class="c-text">{{testim.text}}</div>
        <div class="c-name-agency">
          <b>{{testim.name}}</b>
          <br />
          {{testim.agency}}
        </div>
      </div>
    </div>

    <!-- Custom controls -->
    <div class="carousel-controls">
      <div
        class="carousel-prev hidden-xs hidden-sm"
        ng-click="vm.prevTestimonial()"
      >
        <i class="bx bx-chevron-left"></i>
      </div>

      <div class="carousel-dots">
        <div
          class="c-dot"
          ng-class="vm.selectedTestimonial == 0 ? 'dotted' : ''"
        ></div>
        <div
          class="c-dot"
          ng-class="vm.selectedTestimonial == 1 ? 'dotted' : ''"
        ></div>
        <div
          class="c-dot"
          ng-class="vm.selectedTestimonial == 2 ? 'dotted' : ''"
        ></div>
      </div>

      <div
        class="carousel-next hidden-xs hidden-sm"
        ng-click="vm.nextTestimonial()"
      >
        <i class="bx bx-chevron-right"></i>
      </div>
    </div>
  </div>

  <!--  -->
  <!-- SIGN UP SECTION -->
  <!--  -->
  <div id="sign-up-section">
    <div id="primary-text" translate="SIGN_UP_SECTION.HEADER"></div>
    <div id="secondary-text" translate="SIGN_UP_SECTION.SECONDARY"></div>
    <div id="actions">
      <button
        class="sign-up-now-btn"
        ng-click="vm.signIn()"
        translate="SIGN_UP_SECTION.CALL_TO_ACTION"
      ></button>
      <a
        class="sign-up-help"
        target="_blank"
        translate-attr="{ href: 'SIGN_UP_SECTION.HELP.HREF' }"
        translate="SIGN_UP_SECTION.HELP.TEXT"
      ></a>
    </div>
    <div id="actions-m">
      <div>
        <button
          class="sign-up-now-btn"
          ng-click="vm.signIn()"
          translate="SIGN_UP_SECTION.CALL_TO_ACTION"
        ></button>
      </div>
      <div>
        <a
          class="sign-up-help"
          target="_blank"
          translate-attr="{ href: 'SIGN_UP_SECTION.HELP.HREF' }"
          translate="SIGN_UP_SECTION.HELP.TEXT"
        ></a>
      </div>
    </div>
  </div>
  <footer-component></footer-component>
</div>
