<form
  name="activateForm"
  id="activate-form-modal"
  ng-init="vm.initializeChecks()"
>
  <!--Closing of modal is disabled when form is being saved-->
  <div
    class="close-full-screen-modal"
    ng-click="vm.savingStatus === 1 || vm.closeActivateFormModal()"
  >
    <i class="bx bx-x"></i>
  </div>
  <div class="modal-body">
    <!-- If form is spcp, check for e-service id-->
    <div ng-if="vm.checkStatus === vm.checkEnum.esrvcId" id="verify-esrvcid">
      <div class="field-title">Validating your e-service ID</div>
      <div class="loader" ng-if="vm.esrvcIdStatus === 1">
        <i class="bx bx-loader bx-spin"></i>
      </div>
      <div ng-if="vm.esrvcIdError">
        <!-- Coding for the future - CorpPass for now always returns success because we have no way of validating it-->
        <div ng-if="['SP', 'CP', 'MyInfo'].includes(vm.esrvcIdError.authType)">
          <div class="field-title error-msg">
            <i class="bx bx-md icon-spacing bx-exclamation"></i>
            {{ 'Your e-service ID is probably invalid ' }}
          </div>
          <div class="field-description">
            <span ng-if="vm.esrvcIdError.errorCode">
              {{ (['SP', 'MyInfo'].includes(vm.esrvcIdError.authType) ?
              'Singpass' : 'Corppass') + ' returns the error code ' }}
              <b>{{vm.esrvcIdError.errorCode}}</b>
              {{' for the e-service ID ' }} <b>{{vm.esrvcIdError.esrvcId}}</b>
            </span>
            <span ng-if="!vm.esrvcIdError.errorCode">
              {{ 'Could not connect to ' + (vm.esrvcIdError.authType === 'CP' ?
              'Corppass' : 'Singpass') + ' to check the e-service id '}}
              <b>{{vm.esrvcIdError.esrvcId}}</b>
            </span>
          </div>
        </div>
      </div>
      <div ng-if="!vm.esrvcIdError && vm.esrvcIdSuccess">
        <div ng-if="['SP', 'MyInfo'].includes(vm.esrvcIdSuccess.authType)">
          <div class="field-title success-msg">
            <i class="bx bx-md icon-spacing bx-check"></i>
            Your e-service ID appears to be valid.
          </div>
        </div>
        <!-- Since CorpPass eservice id cannot be validated, remind user to check-->
        <div ng-if="vm.esrvcIdSuccess.authType === 'CP'">
          <div class="field-title">This form uses Corppass.</div>
          <div class="field-description">
            Please make sure <b>{{vm.esrvcIdSuccess.esrvcId}}</b> is the correct
            e-service ID
          </div>
        </div>
      </div>
    </div>

    <!-- If form is encrypt, check for password-->
    <verify-secret-key-directive
      ng-if="vm.checkStatus === vm.checkEnum.password"
      id="secret-key"
      header="Activate your form"
      btn-text="Activate Form"
      public-key="vm.publicKey"
      callback="vm.passwordCallback"
      saving-status="vm.savingStatus"
      is-activation-modal="true"
    >
    </verify-secret-key-directive>

    <!-- When e-service id is wrong, show 'CLOSE'. 
    When password is wrong, do not show, since we will just prompt the user to upload again. (Remaining checks is not decremented)
    When there are no remaining checks (all successful), show saving.  -->
    <button
      id="btn-close"
      class="btn-medium btn-custom"
      ng-click="vm.closeActivateFormModal()"
      ng-disabled="vm.savingStatus === 1"
      ng-if="vm.esrvcIdError || vm.remainingChecks === 0"
    >
      <span ng-if="vm.savingStatus === 0">Close</span>
      <span ng-if="vm.savingStatus === 1"
        ><i class="bx bx-loader bx-spin"></i> Saving</span
      >
      <span ng-if="vm.savingStatus === 2">Saved!</span>
    </button>
  </div>
</form>
