<div class="page-container">
  <banner-component message="bannerContent | linky"></banner-component>
  <section id="admin-form" class="container" ng-if="user">
    <!-- Header -->
    <div id="form-header" class="vcenter">
      <div id="header-myforms" class="col-md-2 col-sm-3 col-xs-4">
        <a ui-sref="listForms" class="left-spacer">
          <i class="bx bx-arrow-back bx-lg icon-spacing back-arrow"></i>
          <span id="myforms-text" class="hidden-xs">My Forms</span>
        </a>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-4">
        <p id="header-title">{{myform.title}}</p>
        <p id="header-last-saved">Saved at {{lastModifiedString}}</p>
      </div>
      <div id="header-addcollab" class="col-md-2 col-sm-3 col-xs-4">
        <div class="right-spacer">
          <button
            id="collab-circle-plus"
            class="pull-right"
            ng-click="toggleCollabModal()"
            ng-if="user !== undefined"
          >
            <i class="bx bxs-user-plus bx-lg hidden-xs"></i>
            <i
              class="bx bxs-user-plus bx-md hidden-sm hidden-md hidden-lg hidden-xl"
            ></i>
          </button>
          <avatar-dropdown-component></avatar-dropdown-component>
        </div>
      </div>
    </div>

    <!-- Main window with tabs -->
    <uib-tabset class="admin-form-content" type="pills">
      <div id="admin-tab-bar">
        <div id="admin-tabs-container" drag-scroll="true">
          <uib-tab ng-repeat="viewTab in viewTabs" heading="{{viewTab.title}}">
            <div
              class="{{viewTab.route}}-container"
              ui-view="{{viewTab.route}}"
            ></div>
          </uib-tab>
        </div>
        <!-- Preview button -->
        <div id="preview-admin-tabs">
          <a
            id="preview-form-btn"
            ui-sref="previewForm({ formId: myform._id })"
            target="_blank"
          >
            <i id="preview-form-eye" class="bx bx-show"></i>
            <span id="preview-form-text" class="hidden-xs">Preview</span>
          </a>
        </div>
      </div>
    </uib-tabset>
  </section>
</div>
