<form name="vm.createForm" id="create-form-modal">
  <div class="close-full-screen-modal" ng-click="vm.closeCreateModal()">
    <i class="bx bx-x"></i>
  </div>
  <div id="settings-form" class="create-form container">
    <div ng-show="vm.formStatus === 1">
      <div
        ng-if="vm.mode === 'create'"
        id="settings-header"
        class="header-custom"
      >
        Create New Form
      </div>
      <div
        ng-if="vm.mode === 'duplicate' && !vm.showCovid"
        id="settings-header"
        class="header-custom"
      >
        Duplicate Form
      </div>
      <div
        ng-if="['useTemplate', 'createFromTemplate'].includes(vm.mode) && !vm.showCovid"
        id="settings-header"
        class="header-custom"
      >
        Use This Template
      </div>

      <section ng-if="vm.showCovid" class="templates-container">
        <div class="templates-banner">
          <div>
            <img
              class="templates-banner-img"
              src="/public/modules/core/img/build-illustration.svg"
            />
          </div>
          <button
            ng-if="vm.showCovid"
            id="start-from-scratch-button"
            class="btn-medium btn-custom"
            ng-click="vm.handleStartFromScratch()"
          >
            + Start From Scratch
          </button>
        </div>

        <div ng-if="vm.mode === 'create'" id="template-separator">
          <span>OR CHOOSE A TEMPLATE</span>
        </div>

        <div id="title" class="template-title">COVID-19 Templates</div>
        <div id="forms-list" class="examples-container">
          <div
            id="form-card"
            ng-repeat="form in vm.templates"
            ng-click="vm.openTemplateModal(form)"
          >
            <div
              class="middle-section {{ form.startPage.colorTheme ?  form.startPage.colorTheme : 'blue' }}-bg"
            >
              <div class="form-title" ng-if="form.title.length <= 65">
                {{form.title}}
              </div>
              <div class="form-title" ng-if="form.title.length > 65">
                {{form.title.substring(0, 65)}} ...
              </div>
            </div>
            <div class="bottom-section">
              <span>{{vm.firstSentence(form.startPage.paragraph)}}</span>
            </div>
          </div>
        </div>
      </section>
      <!-- End COVID-19 Templates -->

      <section class="standard-padding" ng-if="!vm.showCovid">
        <configure-form-directive
          ng-if="!vm.showCovid"
          form-mode="vm.mode"
          form-data="vm.formData"
          form-controller="vm.createForm"
        >
        </configure-form-directive>

        <button
          id="btn-create"
          class="btn-large btn-custom"
          ng-disabled="vm.createForm.$invalid"
          ng-click="vm.createNewForm()"
        >
          Get Started
        </button>
      </section>
    </div>
    <div class="loading-spinner" ng-show="vm.formStatus === 2">
      <i class="bx bx-loader bx-spin"></i>
    </div>
    <div id="create-form-secret-key" ng-show="vm.formStatus === 3">
      <img id="download" src="/public/modules/forms/admin/img/ic-warning.svg" />

      <div class="copy-header">Save your Secret Key</div>
      <div class="copy-text">
        <div>
          You will need your secret key
          <span class="dire-alert">every time </span>you access your responses.
          <br />
          If you lose your secret key,
          <span class="dire-alert">
            all responses will be permanently lost.
          </span>
        </div>
        <br />
        <div class="alert-custom alert-info secret-key-safekeeping">
          <i class="bx bx-error-circle"></i>
          <div class="alert-msg">
            <span class="alert-content">
              <b>Ways to safekeep</b>
              (<a
                translate-attr="{ href: 'LINKS.GUIDE.SECRET_KEY_SAFEKEEPING' }"
                target="_blank"
                >guide</a
              >)
              <ul>
                <li>
                  <a
                    ng-href="{{ vm.mailToUri }}"
                    target="_blank"
                    ng-click="vm.handleMailToClick()"
                    >Email</a
                  >
                  your secret key to collaborators for safekeeping
                </li>
                <li>Organise multiple keys in a spreadsheet</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="same-width-container">
        <div class="copy-key">
          <div class="text">{{vm.secretKey}}</div>
          <div class="key-actions">
            <div class="icon-container">
              <span
                class="icon"
                ng-disabled="vm.createForm.$invalid"
                ng-click="vm.downloadFile()"
              >
                <i class="bx bx-download bx-lg"></i>
                <span class="icon-text">Download</span>
              </span>
            </div>
            <div class="icon-container">
              <span
                class="icon"
                ngclipboard
                data-clipboard-text="{{vm.secretKey}}"
                ngclipboard-success="vm.copied();"
                uib-tooltip="Copied!"
                tooltip-placement="bottom"
                tooltip-enable="vm.isCopied"
                tooltip-is-open="vm.isCopied"
              >
                <i class="bx bx-copy bx-lg"></i>
                <span class="icon-text">Copy</span>
              </span>
            </div>
          </div>
        </div>
        <button
          id="btn-continue"
          class="btn-medium btn-custom"
          ng-disabled="vm.createForm.$invalid || !vm.hasSavedKey"
          ng-click="vm.createNewForm()"
        >
          {{!vm.hasSavedKey ? "Download key to continue" : "Yes, I have saved my
          key for future use" }}
        </button>
      </div>
    </div>
  </div>
</form>
