<div class="create-form-template">
  <div class="template-background" ng-click="vm.closeTemplateModal()"></div>
  <div class="template-header">
    <div class="header-group"></div>
    <div class="header-group">
      <button
        class="btn-custom btn-medium use-template-btn"
        ng-click="vm.useTemplate()"
      >
        Use Template
      </button>
      <div class="close-button" ng-click="vm.closeTemplateModal()">
        <i class="bx bx-x"></i>
      </div>
    </div>
  </div>
  <div class="template-preview">
    <submit-form-directive
      form="vm.myform"
      disable-submit-button="true"
    ></submit-form-directive>
  </div>
</div>
