<!-- Survey Form -->
<form name="feedback" class="col-sm-12 col-md-offset-1 col-md-10">
  <div id="feedback-form-container">
    <div ng-show="!vm.isSubmitted">
      <h3 id="feedback-title" class="{{ vm.colorTheme }}-font">
        How would you rate your overall experience today?
      </h3>
      <p id="feedback-description">
        Help us improve by sharing with us how we did
      </p>
      <div class="feeling-field">
        <label ng-class="vm.rating === '1' ? 'selected-feeling-field' : ''">
          <input type="radio" value="1" ng-model="vm.rating" />
          <img src="/public/modules/core/img/smileys/angry.svg" />
        </label>
        <label ng-class="vm.rating === '2' ? 'selected-feeling-field' : ''">
          <input type="radio" value="2" ng-model="vm.rating" />
          <img src="/public/modules/core/img/smileys/sad.svg" />
        </label>
        <label ng-class="vm.rating === '3' ? 'selected-feeling-field' : ''">
          <input type="radio" value="3" ng-model="vm.rating" />
          <img src="/public/modules/core/img/smileys/neutral.svg" />
        </label>
        <label ng-class="vm.rating === '4' ? 'selected-feeling-field' : ''">
          <input type="radio" value="4" ng-model="vm.rating" />
          <img src="/public/modules/core/img/smileys/ok.svg" />
        </label>
        <label ng-class="vm.rating === '5' ? 'selected-feeling-field' : ''">
          <input type="radio" value="5" ng-model="vm.rating" />
          <img src="/public/modules/core/img/smileys/happy.svg" />
        </label>
      </div>

      <h3 id="feedback-sub-title">Any other feedback?</h3>

      <textarea
        id="feedback-textfield"
        type="text"
        name="text-area-value"
        class="input-custom input-large"
        ng-model="vm.comment"
        ng-maxlength="5000"
        ng-model-options="{ debounce: 250 }"
        ng-trim="false"
      >
      </textarea>

      <button
        id="feedback-submit-btn"
        ng-disabled="vm.rating === null || feedback.$invalid || vm.isLoading"
        class="btn-custom btn-large {{ vm.colorTheme }}-bg"
        ng-click="vm.submitFeedback()"
      >
        Submit Feedback
      </button>
    </div>
  </div>
</form>
