<div class="date-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number">
        {{ vm.field.field_number }}.
      </span>
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <div class="input-group">
      <input
        id="{{ vm.field._id || 'defaultID'}}"
        name="{{ vm.field._id || 'defaultID'}}"
        class="input-custom input-large"
        uib-datepicker-popup="dd MMM yyyy"
        datepicker-options="vm.dateOptions"
        is-open="focus"
        ng-click="focus=true"
        ng-model="vm.field.fieldValue"
        ng-model-options="vm.field.modelOptions"
        ng-required="vm.field.required"
        ng-disabled="vm.field.disabled"
        ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
        aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
        aria-describedby="description-{{ vm.field._id || 'default'}}"
        datepicker-template-url="modules/forms/base/directiveViews/datepicker.html"
        datepicker-popup-template-url="modules/forms/base/directiveViews/datepicker-popup.html"
      />
      <span class="input-group-btn input-group-btn-height">
        <button
          type="button"
          class="btn"
          ng-click="vm.field.fieldValue = null"
          ng-disabled="!vm.field.fieldValue || vm.field.disabled"
        >
          <i class="bx bx-x bx-md"></i>
        </button>
      </span>
    </div>
  </div>

  <!-- Error -->
  <div
    class="col-xs-12"
    ng-show="vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
    ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
  >
    <field-error-component ng-message="required"></field-error-component>
    <div class="alert-custom alert-error" ng-message="parse">
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Invalid date format. Please choose a date from the popup calendar, or
        else key in a valid date such as '01 Jan 2020'.</span
      >
    </div>
    <div class="alert-custom alert-error" ng-if="vm.isDateInvalid()">
      <!-- // We use vm.isDateInvalid() because of a known bug which prevents us from calling ng-message="dateDisabled" -->
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg"
        >Selected date is not within the allowed date range. Please choose a
        date from the popup calendar.</span
      >
    </div>
  </div>
</div>
