<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      id="description-{{ vm.field._id || 'defaultID'}}"
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- The field is duplicated to rerender country dropdown for intl-tel-input
  when allowIntlNumbers is toggled on and off in the edit field modal. -->
  <div class="col-xs-12 field-input" ng-if="vm.field.allowIntlNumbers">
    <input
      id="{{ vm.field._id  || 'defaultID'}}"
      name="{{ vm.field._id  || 'defaultID'}}"
      type="tel"
      class="input-custom input-large"
      ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
      ng-model="vm.field.fieldValue"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
      ng-intl-tel-input
      allow-intl-numbers="vm.field.allowIntlNumbers"
      is-home-number="true"
    />
  </div>
  <div class="col-xs-12 field-input" ng-if="!vm.field.allowIntlNumbers">
    <input
      id="{{ vm.field._id  || 'defaultID'}}"
      name="{{ vm.field._id  || 'defaultID'}}"
      type="tel"
      class="input-custom input-large"
      ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
      ng-model="vm.field.fieldValue"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
      ng-intl-tel-input
      allow-intl-numbers="vm.field.allowIntlNumbers"
      is-home-number="true"
    />
  </div>
  <!-- Error -->
  <div
    class="col-xs-12"
    ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
    ng-show="vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
  >
    <div
      class="alert-custom alert-error alert-mobile"
      ng-message="isValidPhoneNumber"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg">Invalid home number</span>
    </div>
    <div class="alert-custom alert-error alert-mobile" ng-message="required">
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg">Please fill in required field</span>
    </div>
  </div>
</div>
