<!-- my-form="forms.myForm"> -->
<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <verifiable-field-component
    transaction-id="vm.transactionId"
    field="vm.field"
    input="vm.forms.myForm[(vm.field._id || 'defaultID')]"
  >
    <!-- Input -->
    <div class="col-xs-12 field-input">
      <input
        id="{{ vm.field._id  || 'defaultID'}}"
        type="email"
        name="{{ vm.field._id  || 'defaultID'}}"
        class="input-custom input-large"
        ng-model="vm.field.fieldValue"
        ng-required="vm.field.required"
        ng-disabled="vm.field.disabled"
        validate-email-domain
        validate-email-format
        ng-model-options="{ allowInvalid: true }"
        ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
        placeholder="me@example.com"
        autocomplete="email"
        ng-trim="true"
        ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
        aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
        aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
        ng-change="$parent.vm.resetFieldInTransaction()"
      />
    </div>

    <!-- Error -->
    <div
      class="col-xs-12"
      ng-show="vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
      ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
    >
      <field-error-component ng-message="required"></field-error-component>
      <div ng-message="emailFormatValidator" class="alert-custom alert-error">
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Please enter a valid email.</span>
      </div>
      <div ng-message="emailDomainValidator" class="alert-custom alert-error">
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Not an allowed email domain</span>
      </div>
      <div ng-message="verified" class="alert-custom alert-error">
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Please verify your email.</span>
      </div>
    </div>
  </verifiable-field-component>
</div>
