<div class="table-field field-group">
  <!-- Question -->
  <div class="field-question">
    <div>
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </div>

  <!-- Input -->
  <div>
    <div
      class="table-scrollable table-desktop"
      ng-class="{ 'dropdownPadding': vm.hasEndPadding }"
    >
      <div class="table-row table-labels-desktop">
        <!-- ng-class in ng-repeat below sets whether the column is col-xs-6, col-xs-12 or max-width -->
        <div
          ng-repeat="tableField in vm.field.columns"
          class="table-column"
          ng-class="{'col-xs-12': vm.field.columns.length === 1, 'col-xs-6': vm.field.columns.length === 2 }"
        >
          <div class="label-custom">
            {{tableField.title}}
            <span class="field-optional" ng-if="!tableField.required"
              >(optional)</span
            >
          </div>
        </div>
      </div>
      <div
        ng-repeat="n in vm.generateTableRowIndexes()"
        ng-init="$evenRow = $even; $oddRow = $odd"
      >
        <div class="table-row">
          <!-- ng-class in ng-repeat below sets a couple of things:
							=> whether a row is blue or white
							=> whether the column is col-xs-6, col-xs-12 or max-width
							=> whether a line should be added at the bottom (applies only for the bottom row)
					 -->
          <div
            ng-repeat="component in vm.field.components[n]"
            class="table-column"
            ng-class="{'table-row-blue': $evenRow, 'col-xs-12': vm.field.columns.length === 1,
              'col-xs-6': vm.field.columns.length === 2,'bottom-row-line': vm.isLastRow(n) && $oddRow }"
          >
            <!-- Labels to be shown in mobile mode but not desktop mode -->
            <div class="label-custom label-bottom table-labels-mobile">
              {{vm.field.columns[$index].title}}
              <span class="field-optional" ng-if="!component.required"
                >(optional)</span
              >
            </div>
            <field-directive
              class="table-component"
              field="component"
              on-dropdown-click="vm.handleDropdownClick(component.fieldType, n)"
            />
          </div>
          <!-- ng-class below sets a couple of things:
						=> whether a row is blue or white
						=> whether a line should be added at the bottom (applies only for the bottom row)
          -->
          <!-- Mobile delete button for layout purposes, will be hidden on desktop -->
          <div
            class="table-delete-row-mobile"
            ng-if="vm.field.additionalRowCount > 0 && n >= vm.field.minimumRows"
            ng-class="{ 'bottom-row-line': vm.isLastRow(n) && $oddRow, 'table-row-blue': $evenRow }"
            ng-style="{ 'pointer-events': vm.field.disabled ? 'none' : '', 'cursor': vm.field.disabled ? 'default' : '' }"
          >
            <i class="bx bx-trash bx-lg" ng-click="vm.deleteTableRow(n)"></i>
          </div>
          <div
            class="table-delete-row"
            ng-if="vm.field.additionalRowCount > 0"
            ng-class="{ 'bottom-row-line': vm.isLastRow(n) && $oddRow, 'table-row-blue': $evenRow }"
            ng-style="{ 'pointer-events': vm.field.disabled ? 'none' : '', 'cursor': vm.field.disabled ? 'default' : '' }"
          >
            <i
              class="bx bx-trash bx-lg"
              ng-click="vm.deleteTableRow(n)"
              ng-if="n >= vm.field.minimumRows"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <field-error-component ng-if="vm.isTableError()"> </field-error-component>

  <div class="row table-add-row" ng-if="vm.field.addMoreRows">
    <div class="col-sm-6 col-xs-12">
      <button
        class="btn-custom btn-medium"
        ng-click="vm.addTableRow()"
        ng-disabled="vm.field.disabled || (vm.field.maximumRows !== null && vm.getNumRows() >= vm.field.maximumRows)"
        type="button"
      >
        <i class="bx bx-plus icon-spacing"></i>
        Add more
      </button>
    </div>
    <div class="col-sm-6 col-xs-12" id="row-tally">
      <span ng-if="vm.field.maximumRows"
        >({{vm.getNumRows()}} out of max {{vm.field.maximumRows}} rows)</span
      >
      <span ng-if="vm.field.maximumRows === null"
        >({{vm.getNumRows()}} rows)</span
      >
    </div>
  </div>
</div>
