<div class="rating field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      id="description-{{ vm.field._id || 'default'}}"
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <input-stars
      id="{{ vm.field._id || 'defaultID'}}"
      colortheme="vm.colortheme"
      name="{{ vm.field._id || 'defaultID'}}"
      steps="{{ vm.field.ratingOptions.steps }}"
      icon-base="fa fa-3x"
      icon-empty="{{ vm.field.ratingOptions.shape }}"
      icon-full="{{ vm.field.ratingOptions.shape }}"
      ng-model="vm.field.fieldValue"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-style="{ pointerEvents: vm.field.disabled ? 'none' : 'auto' }"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
      aria-describedby="description-{{ vm.field._id || 'default'}}"
    >
    </input-stars>
  </div>

  <!-- Error -->
  <div class="col-xs-12">
    <field-error-component
      ng-if="vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required && vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
      class="alert-padding-top"
    ></field-error-component>
  </div>
</div>
