<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      id="description-{{ vm.field._id || 'defaultID'}}"
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <verifiable-field-component
    transaction-id="vm.transactionId"
    field="vm.field"
    input="vm.forms.myForm[(vm.field._id || 'defaultID')]"
  >
    <!-- The field is duplicated as a workaround for intl-tel-input issues -->
    <!-- Verification 
	  Jean: Not sure exactly why this was duplicated. I think it doesn't re-render on the edit field client modal when allowIntlNumbers is toggled.
	  ng-change uses $parent.$parent.vm because ng-intl-tel-input actually wraps this input in another directive
   -->
    <div class="col-xs-12 field-input" ng-if="vm.field.allowIntlNumbers">
      <input
        id="{{ vm.field._id  || 'defaultID'}}"
        name="{{ vm.field._id  || 'defaultID'}}"
        type="tel"
        class="input-custom input-large"
        ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
        ng-model="vm.field.fieldValue"
        ng-required="vm.field.required"
        ng-disabled="vm.field.disabled"
        ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
        aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
        aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
        ng-intl-tel-input
        allow-intl-numbers="vm.field.allowIntlNumbers"
        ng-change="$parent.$parent.vm.resetFieldInTransaction()"
      />
    </div>
    <div class="col-xs-12 field-input" ng-if="!vm.field.allowIntlNumbers">
      <input
        id="{{ vm.field._id  || 'defaultID'}}"
        name="{{ vm.field._id  || 'defaultID'}}"
        type="tel"
        class="input-custom input-large"
        ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
        ng-model="vm.field.fieldValue"
        ng-required="vm.field.required"
        ng-disabled="vm.field.disabled"
        ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
        aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
        aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
        ng-intl-tel-input
        allow-intl-numbers="vm.field.allowIntlNumbers"
        ng-change="$parent.$parent.vm.resetFieldInTransaction()"
      />
    </div>
    <!-- Error -->
    <div
      class="col-xs-12"
      ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
      ng-show="vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
    >
      <div
        class="alert-custom alert-error alert-mobile"
        ng-message="isValidPhoneNumber"
      >
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Invalid mobile number</span>
      </div>
      <div class="alert-custom alert-error alert-mobile" ng-message="required">
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Please fill in required field</span>
      </div>
      <div ng-message="verified" class="alert-custom alert-error alert-mobile">
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg">Please verify your mobile number.</span>
      </div>
    </div>
  </verifiable-field-component>
</div>
