<banner-component message="vm.loginBannerContent | linky"></banner-component>
<section id="sign-in" ng-init="vm.redirectIfActiveSession()">
  <!-- Email Input Page -->
  <div class="input-box" ng-if="vm.signInSteps == 'email'">
    <div class="input-banner"></div>
    <img
      class="input-overlay"
      src="/public/modules/core/img/sign-in-illustration.svg"
    />
    <div class="input-container">
      <div class="input-wrapper">
        <img
          class="logo"
          src="/public/modules/core/img/logo-horizontal-color.svg"
        />
        <div id="tagline">Build government forms in minutes</div>
        <div class="input-label">Login</div>
        <div class="input-sublabel">
          Singapore Public Service official email addresses only
        </div>
        <input
          id="email-input"
          class="input-custom input-large"
          placeholder="e.g. john@moe.gov.sg"
          ng-keyup="vm.handleEmailKeyUp($event)"
          type="email"
          data-ng-model="vm.credentials.email"
          autofocus
        />
        <div
          ng-if="vm.signInMsg.isMsg && vm.signInMsg.isError"
          class="alert-custom alert-error"
        >
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          <span
            class="alert-msg"
            ng-bind-html="vm.signInMsg.msg | linky:'_blank'"
          ></span>
        </div>
        <div class="btn-grp">
          <button
            class="btn-custom btn-medium"
            ng-click="vm.checkEmail()"
            ng-disabled="vm.buttonClicked || vm.isSubmitEmailDisabled"
          >
            Get Started
          </button>
          <a
            translate-attr="{ href: 'LINKS.GUIDE.ROOT' }"
            target="_blank"
            class="btn-qn"
            >Have a question?</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Opt Input Page -->
  <div class="input-box" ng-if="vm.signInSteps == 'otp'">
    <div class="input-banner"></div>
    <img
      class="input-overlay"
      src="/public/modules/core/img/sign-in-illustration.svg"
    />
    <div class="input-container">
      <div class="input-wrapper">
        <img
          class="logo"
          src="/public/modules/core/img/logo-horizontal-color.svg"
        />
        <div class="input-label">One-Time Password</div>
        <input
          id="otp-input"
          class="input-custom input-large"
          placeholder="Enter OTP sent to your email"
          type="tel"
          maxlength="6"
          autocomplete="off"
          ng-model="vm.credentials.otp"
          ng-required="false"
          ng-keydown="vm.signInMsg.isMsg = false; vm.manageOtp($event)"
          ng-keyup="$event.keyCode == 13 && vm.credentials.otp.length === 6 && vm.verifyOtp()"
        />
        <div
          ng-if="vm.signInMsg.isMsg"
          ng-class="vm.signInMsg.isError ? 'alert-error' : 'alert-success'"
          class="alert-custom"
        >
          <i
            ng-class="vm.signInMsg.isError ? 'bx bx-exclamation bx-md' : 'bx bx-check bx-md'"
            class="icon-spacing"
          ></i>
          <span class="alert-msg">{{vm.signInMsg.msg}}</span>
        </div>
        <div
          ng-if="!vm.signInMsg.isMsg && !vm.showOtpDelayNotification && vm.isOtpSending"
          class="alert-custom alert-info"
        >
          <i class="bx bx-loader bx-spin bx-md icon-spacing"></i>
          <span class="alert-msg">Sending OTP...</span>
        </div>
        <div
          ng-if="!vm.signInMsg.isMsg && vm.showOtpDelayNotification"
          class="alert-custom alert-info"
        >
          <i class="bx bx-info-circle bx-md icon-spacing"></i>
          <span class="alert-msg">
            OTP might be delayed due to government email traffic. If you are
            unable to sign in, please try again later, or contact us.
          </span>
        </div>
        <div class="btn-grp">
          <button
            class="btn-custom btn-medium"
            ng-disabled="vm.buttonClicked || vm.credentials.otp.length !== 6"
            ng-click="vm.verifyOtp()"
          >
            Sign In
          </button>
          <a
            class="btn-qn"
            href=""
            ng-click="vm.sendOtp()"
            ng-class="vm.isOtpSending ? 'otp-disable' : ''"
            >Resend OTP?</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
