<div id="share-tab" class="padded-view">
  <div class="row">
    <div class="standard-padding">
      <!-- Logic error alert -->
      <div
        ng-if="vm.isLogicError"
        class="alert-custom alert-error share-tab-warning"
      >
        <i class="bx bx-exclamation bx-md icon-spacing"></i>
        <span class="alert-msg"
          >Your form's logic has errors. Edit its logic before sharing your
          form.</span
        >
      </div>

      <!-- Inactive form alert -->
      <div
        class="alert-custom alert-info share-tab-warning"
        ng-if="(vm.status !=='PUBLIC')"
      >
        <i class="bx bx-info-circle bx-md icon-spacing"></i>
        <span class="alert-msg">
          <span>Your form is not published yet.</span>
          <span ng-if="vm.userCanEdit">
            Enable your form in the Settings Tab.</span
          >
        </span>
      </div>

      <!-- Share form link - -->
      <div class="share-title header-custom">Share link</div>
      <input
        class="input-custom input-medium share-link-input"
        ng-value="vm.sharedFormUrl"
        readonly
      />
      <div class="row btn-copy">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <button
            class="btn-custom btn-medium"
            ngclipboard
            data-clipboard-text="{{vm.sharedFormUrl}}"
            ngclipboard-success="vm.onSuccess(0);"
            uib-tooltip="Copied!"
            tooltip-placement="bottom"
            tooltip-enable="vm.isCopied[0]"
            tooltip-is-open="vm.isCopied[0]"
          >
            Copy
          </button>
        </div>
        <div id="open-link" class="col-md-6 col-sm-6 col-xs-12">
          <a
            href="{{vm.sharedFormUrl}}"
            target="_blank"
            class=""
            rel="noopener noreferrer"
            >Open in new window</a
          >
        </div>
      </div>
      <div ng-if="vm.isGovOfficer" class="share__tip share__tip--first">
        <b><i class="bx bx-bulb"></i></b>
        Use
        <a translate-attr="{ href: 'LINKS.GO_GOV' }" target="blank">Go</a>
        to shorten links, get QR codes and analyse link traffic
      </div>
      <div ng-if="vm.isGovOfficer" class="share__tip">
        <b><i class="bx bx-bulb"></i></b>
        Use
        <a translate-attr="{ href: 'LINKS.POSTMAN_GOV' }" target="blank"
          >Postman</a
        >
        to send personalised mass messages over email, SMS and Telegram
      </div>
      <div ng-if="!vm.isGovOfficer" class="share__tip share__tip--first">
        <b><i class="bx bx-bulb"></i> Pro Tip!</b>
        To make this URL easy to share, generate a
        <a
          href="https://www.google.com/search?q=qr+code+generator"
          target="blank"
          >QR code</a
        >
        from it
      </div>

      <!-- Divider -->
      <div class="share-divider"></div>

      <!-- Share template -->
      <div class="share-title header-custom">
        Share template
        <i
          class="glyphicon share-glyphicon glyphicon-question-sign"
          uib-tooltip="Form templates can only be shared when current form is activated."
          tooltip-trigger="'click mouseenter'"
        ></i>
      </div>
      <input
        class="input-custom input-medium share-link-input"
        ng-class="vm.status !== 'PUBLIC' ? 'share-template-disabled' : ''"
        ng-disabled="vm.status !== 'PUBLIC'"
        ng-value="vm.sharedFormUseTemplateUrl"
        readonly
      />
      <button
        class="btn-custom btn-medium btn-copy"
        ng-disabled="vm.status!=='PUBLIC'"
        ngclipboard
        data-clipboard-text="{{vm.sharedFormUseTemplateUrl}}"
        ngclipboard-success="vm.onSuccess(1);"
        uib-tooltip="Copied!"
        tooltip-placement="bottom"
        tooltip-enable="vm.isCopied[1]"
        tooltip-is-open="vm.isCopied[1]"
      >
        Copy
      </button>

      <!-- Divider -->
      <div class="share-divider"></div>

      <!-- Embed -->
      <div class="share-title header-custom">Embed HTML</div>
      <textarea rows="10" id="share-textarea" class="input-custom" readonly>
{{vm.embeddedHTML}}</textarea
      >

      <button
        class="btn-custom btn-medium"
        ngclipboard
        data-clipboard-text="{{vm.embeddedHTML}}"
        ngclipboard-success="vm.onSuccess(2);"
        uib-tooltip="Copied!"
        tooltip-placement="bottom"
        tooltip-enable="vm.isCopied[2]"
        tooltip-is-open="vm.isCopied[2]"
      >
        Copy
      </button>
    </div>
  </div>
</div>
