<!DOCTYPE html>
<html ng-csp>
  <head>
    <%if (GATrackingID) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= GATrackingID%>"
    ></script>
    <script src="/api/v3/client/analytics/google"></script>
    <% } %>
    <!--Embedding custom variables in window-->
    <script src="/api/v3/client/environment"></script>

    <%if (redirectPath) { %>
    <script src="/api/v3/client/redirect?redirectPath=<%= redirectPath%>"></script>
    <% } %>

    <title><%= title %></title>

    <!-- General META -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Semantic META -->
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="<%= description %>" />

    <!-- Facebook META -->
    <meta property="og:site_name" content="<%= title %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="<%= appUrl %>" />
    <% images.forEach(function (image) { %>
    <meta property="og:image" content="<%= image %>" />
    <% }) %>
    <meta property="og:type" content="website" />

    <!-- Google META -->
    <meta
      name="google-site-verification"
      content="-GaIEwTSKAhExD0SJRztGTk8qb6C_lXTKmjtgZSrIr0"
    />

    <!-- Twitter META -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:url" content="<%= appUrl %>" />
    <meta name="twitter:image" content="<%= twitterImage %>" />

    <!-- Fav Icon -->
    <link
      href="/public/modules/core/img/logomark.ico"
      rel="shortcut icon"
      type="image/x-icon"
    />

    <!-- Webpack CSS Files -->
    <link rel="stylesheet" href="/public/bundle.css" />

    <!-- Webpack Google Font Files -->
    <link rel="stylesheet" href="/public/woff.css" />
  </head>

  <!-- App name must be FormSG, which is same as that defined in public/main.js -->
  <body ng-app="FormSG" ng-strict-di>
    <!-- Route loading spinner -->
    <route-loading-indicator></route-loading-indicator>

    <section class="content" ui-view ng-cloak></section>

    <!-- Webpack JavaScript Files -->
    <script src="/public/bundle.js"></script>
  </body>
</html>
