/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Standardised padding */

#admin-form #edit-logic,
#admin-form #settings-form,
#admin-form #share-tab,
#admin-form #results-tab {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

@media (max-width: 576px) {
  #admin-form #results-tab {
    padding: 28px 15px;
  }
}

/* The entire top panel bar */
#admin-tab-bar {
  background-color: #2f60ce;
  white-space: nowrap;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#admin-tab-bar #admin-tabs-container {
  display: inline-block;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  height: 100%;
  text-align: center;
  -ms-overflow-style: none;
}

#admin-tab-bar #admin-tabs-container::-webkit-scrollbar {
  display: none;
}

@media not all and (min-width: 768px) {
  #admin-tab-bar #admin-tabs-container {
    width: 75%;
  }

  #preview-admin-tabs {
    width: 10%;
    min-width: 70px;
    overflow: hidden;
  }

  #preview-admin-tabs #preview-form-btn {
    padding: 13px 15px 13px 15px;
  }
}

@media all and (min-width: 768px) {
  #admin-tab-bar #admin-tabs-container {
    width: 60%;
  }

  #preview-admin-tabs {
    width: 20%;
    min-width: 180px;
    overflow: hidden;
  }

  #preview-admin-tabs #preview-form-btn {
    margin-top: 8px;
    margin-right: 20px;
    padding: 6px 15px 6px 15px;
    border-radius: 4px;
  }
}

#preview-admin-tabs #preview-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  white-space: nowrap;
  cursor: pointer;
  background-color: #82a0e2;
  border: none;
  color: white;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  font-weight: bold;
  text-transform: uppercase;
}

#preview-admin-tabs #preview-form-text {
  font-size: 16px;
  letter-spacing: 1.2px;
  padding-left: 10px;
  padding-top: 2px;
}

#preview-admin-tabs #preview-form-eye {
  font-size: 27px;
}

#preview-admin-tabs a#preview-form-btn:hover {
  opacity: 0.9;
}

#admin-tabs-container {
  scrollbar-width: none;
}
#admin-tabs-container > li {
  width: 20%;
  text-align: center;
  display: inline-block;
  height: 100%;
  max-width: 110px;
  min-width: 70px;
  cursor: pointer;
  font-size: 17px;
}

#admin-tabs-container > li > a {
  color: #b3c9f9;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 14px;
}

#admin-tabs-container > li.active,
#admin-tabs-container > li.active:focus,
#admin-tabs-container > li.active:hover {
  border-bottom: 3px solid #e4e4e4;
}

#admin-tabs-container > li.active > a {
  color: #fff;
}

/* Edit form panel */

.panel-default.newLogic {
  border-style: dashed;
  border-color: #a9a9a9;
  border-width: 3px;
}

/* Datepicker styles */

div[uib-datepicker] {
  -webkit-animation: datepicker-fade-in 0.4s ease;
  animation: datepicker-fade-in 0.4s ease;
}

@-webkit-keyframes datepicker-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes datepicker-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div[uib-datepicker] td button span.text-muted {
  opacity: 0.5;
}

div[uib-datepicker] td button {
  border-color: #fff;
}

div[uib-datepicker] td button:hover {
  background-color: #f0f4f6;
}

div[uib-datepicker] td button.btn-info {
  background-color: #2f60ce;
  border-color: #2f60ce;
}

div[uib-datepicker] thead tr:first-child,
div[uib-datepicker] thead tr:first-child button {
  background-color: #f0f4f6;
  border-color: #f0f4f6;
}

div[uib-datepicker] thead tr:first-child button.btn-default:hover {
  border-color: #ccc;
}

@media (max-width: 400px) {
  div[uib-datepicker] table[ng-switch-when='year'] td button span {
    font-size: 3.5vw;
  }
}

ul.dropdown-menu[uib-datepicker-popup-wrap] {
  padding-top: 0;
}

/* Modal CSS Styles */

.modal-header {
  padding: 15px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  border: none;
}

.modal-footer input[type='text'] {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.modal-footer {
  border-top: none;
  text-align: left;
}

.modal-body > .modal-body-alert {
  color: #796620;
  background-color: #f8eec7;
  border-color: #f2e09a;
  margin: -16px -15px 15px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px 0;
}

#admin-form.container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  padding: 0;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100vh;
}

#admin-form .form-controls .row {
  padding: 5px;
}

/* Styles for admin view tabs */

#admin-form .panel-heading {
  background-color: #f1f1f1;
  position: relative !important;
}

/* Styles for form admin view (/:formID/admin) */

@media not all and (min-width: 768px) {
  #admin-form .panel-heading {
    text-align: center;
  }
}

#admin-form .panel-heading:hover {
  cursor: pointer;
  background-color: #45a247;
  color: #fff;
}

#admin-form .panel-heading a:hover {
  text-decoration: none;
}

#admin-form .panel-heading a.disabled {
  pointer-events: none;
  cursor: default;
}

/* Styles for add fields tab */

#admin-form .oscar-field-select {
  margin: 10px 0 10px;
}

.status-light.status-light-off {
  color: #be0000;
}

.status-light.status-light-on {
  color: #3c0;
}

#empty-form img {
  display: block;
  margin: 0 auto;
  width: 25%;
  height: 35%;
  min-width: 160px;
  min-height: 212px;
}

#empty-form #empty-form-title {
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 7px;
}

#empty-form .empty-form-description {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #979797;
  margin-bottom: 10px;
}

.inactive-row {
  position: absolute;
  bottom: 38px;
}

.inactive-row .list-group-item-text {
  font-size: 0.95em;
}

/* Error and Success messages */
.settings-save-msg {
  margin-top: 1em;
  padding: 8px 28px;
  text-align: left;
}

@media not all and (min-width: 768px) {
  .settings-save-msg {
    text-align: center;
    padding: 1px;
  }
}

.save-changes-err {
  font-size: 0.9em;
  height: 42px;
  color: #a94442;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media not all and (min-width: 1200px) {
  .save-changes-err {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
  }
}

.panel-heading {
  border-radius: 0;
}

.padded-view {
  padding: 0 100px;
  margin: auto;
}

@media not all and (min-width: 576px) {
  .padded-view {
    padding: 0 50px;
    margin: auto;
  }

  #form-container.padded-view,
  #start-page-container .padded-view {
    padding: 0 35px;
  }
}
