/*
  Structure of general CSS classes:

  field-group
    field-question
      field-number
      field-title
      field-optional
      field-description
    field-input
*/

.field-group {
  margin-bottom: 20px;
}

.field-group .field-number {
  font-size: 15px;
  font-weight: 600;
  color: #323232;
  margin-right: 15px;
}

.field-group .field-title {
  overflow-wrap: break-word;
  font-size: 20px;
  font-weight: 600;
  color: #323232;
}

.field-group .field-optional {
  font-size: 15px;
  font-weight: normal;
  color: #b8b8b8;
  margin-left: 10px;
}

.field-group .field-description {
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: normal;
  color: #767676;
  text-align: justify;
  white-space: pre-wrap;
  margin-top: 6px;
}

.field-group .field-question {
  margin-bottom: 15px;
}

/* ====================================================== */

/* Input Focus States */

.field-group .field-input .input-custom:focus {
  border: solid 2px #484848;
}

.field-group .field-input input.ng-invalid.ng-touched,
.field-group .field-input input.ng-invalid.ng-dirty,
.field-group .field-input textarea.ng-invalid.ng-touched,
.field-group .field-input textarea.ng-invalid.ng-dirty,
.field-group .field-input .ng-invalid.ng-touched .selectize-input:not(.focus),
.field-group .field-input .ng-invalid.ng-dirty .selectize-input:not(.focus) {
  border: 2px solid #a94442 !important;
}

.field-group .field-input .selectize-input.focus,
.field-group .field-input .ng-valid > .selectize-input.selectize-focus {
  border: solid 2px #484848 !important;
}

/* ====================================================== */

/* Textfield / Text Area */

.field-group.text-field textarea {
  resize: vertical;
}

.field-group.text-field .input-custom.myinfo-disable {
  background: transparent;
  border: none transparent;
  padding-left: 0;
  color: #484848;
}

.field-group.text-field .prefill-highlight {
  background-color: #fef8e3;
}

/* ====================================================== */

/* Mobile Number */
.field-group.text-field .intl-tel-input {
  width: 30rem;
  max-width: 100%;
}

.field-group.text-field .intl-tel-input input:disabled {
  padding-left: 52px;
}

/* ====================================================== */

/* Section */

.field-group.section .field-title {
  font-size: 28px;
  border: none;
  border-bottom: 3px solid;
}

.field-group.section .field-description {
  margin-top: 9px;
}

/* ====================================================== */

/* Statement */

.field-group.statement {
  font-size: 16px;
  font-weight: normal;
  color: #767676;
  text-align: justify;
  white-space: pre-wrap;
}

/* ====================================================== */

/* Image */

.field-group.image img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto;
  width: fit-content;
}

.field-group.image .field-description {
  text-align: center;
  margin-top: 15px;
  overflow: hidden;
}

/* ====================================================== */

/* Yes/No */

.field-group.yes-no {
  font-size: 20px;
  color: #767676;
}

.field-group.yes-no .custom-toggle label {
  cursor: pointer;
  padding: 13px 10px;
  font-weight: normal;
  background-color: #f0f0f0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #b8b8b8;
  width: 50%;
  text-align: center;
  margin: 0;
}

.field-group.yes-no .custom-toggle label:first-child {
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
}

.field-group.yes-no .custom-toggle label:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
}

.field-group.yes-no .custom-toggle input[type='radio'] {
  display: none;
}

.field-group.yes-no .custom-toggle .bx-check,
.field-group.yes-no .custom-toggle .bx-x {
  vertical-align: bottom;
}

/* ====================================================== */

/* Rating */

.field-group.rating .angular-input-stars {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.field-group.rating .angular-input-stars > li {
  font-size: 17px;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
  color: #484848 !important;
}

/* ====================================================== */

/* Checkbox/Radiobtn */

.field-group.checkbox input[type='checkbox'],
.field-group.radiobtn input[type='radio'] {
  display: none;
}

.field-group.checkbox,
.field-group.radio {
  margin-bottom: 0;
  margin-top: 0;
}

.field-group.checkbox .checkbox-option,
.field-group.radiobtn .radio-option {
  padding-top: 10px;
  padding-bottom: 10px;
}

.field-group.checkbox .checkbox-option > label,
.field-group.radiobtn .radio-option > label {
  padding-left: 53px;
  font-size: 20px;
  color: #767676;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

.field-group.checkbox .checkbox-option:hover,
.field-group.radiobtn .radio-option:hover {
  background-color: #f0f4f6;
}

.field-group.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border: solid 1px #b8b8b8;
  text-align: center;
  vertical-align: middle;
}

.field-group.checkbox .checkmark > i {
  font-size: 30px;
  color: #fff;
  position: relative;
  top: -3px;
  left: -2px;
}

.field-group.radiobtn .radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border: solid 1px #b8b8b8;
  border-radius: 50%;
}

.field-group.radiobtn .radiomark::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 7px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: transparent;
}

.field-group.radiobtn .radiomark > i {
  font-size: 22px;
  color: #fff;
}

.field-group.checkbox .others-text-field-pad,
.field-group.radiobtn .others-text-field-pad {
  padding-left: 56px;
  padding-top: 10px;
}

/* ====================================================== */

/* Dropdown/Date */

.field-group.date-field input {
  background-color: white;
  z-index: 5;
}

.field-group.dropdown .selectize-input,
.field-group.table-field .selectize-input {
  z-index: 5;
  font-size: 20px;
  color: #484848;
  box-shadow: none;
  height: 54px;
}

.field-group.dropdown .selectize-control,
.field-group.table-field .selectize-control {
  max-height: 54px;
}

.field-group.dropdown .ui-select-choices-row-inner,
.field-group.table-field .ui-select-choices-row-inner {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #767676;
}

.field-group.dropdown .bx-x,
.field-group.date-field .bx-x {
  vertical-align: text-bottom;
}

.field-group.dropdown .input-group-btn button,
.field-group.date-field .input-group-btn button {
  background-color: white;
}

.field-group.date-field .input-custom.myinfo-disable {
  color: #484848;
  opacity: 0.5;
}

/* ====================================================== */

/* Attachment */

.field-group.attachment-field .attachment-button {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-group.attachment-field .attachment-button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.field-group.attachment-field .attachment-button input.attachment-upload-input {
  width: 0.01px;
  height: 0.01px;
  opacity: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
  border: none !important;
}

.field-group.attachment-field .attachment-upload {
  margin-right: 12px;
  font-size: 18px;
}

.field-group.attachment-field .attachment-attached {
  border: 1px solid #ccc;
  text-align: left;
}

.field-group.attachment-field .attachment-attached-contents {
  padding-top: 12px;
  padding-bottom: 12px;
}

.field-group.attachment-field .attachment-attached-item {
  display: inline-block;
  vertical-align: middle;
}

.field-group.attachment-field .attachment-attached-name {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.field-group.attachment-field .attachment-attached-size {
  margin-left: 20px;
}

.field-group.attachment-field .attachment-attached-icon {
  line-height: 41px;
  float: right;
  margin-right: 15px;
}

.field-group.attachment-field .attachment-attached-filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}

@media (max-width: 768px) {
  .field-group.attachment-field .attachment-attached-filename {
    max-width: 60%;
  }
}

.field-group.attachment-field .attachment-filesize {
  margin-top: 9px;
  font-size: 16px;
  color: #767676;
}

.field-group.attachment-field .attachment-attached-i {
  font-size: 25px;
  color: #767676;
  margin-top: 10px;
}

.field-group.attachment-field .attachment-attached-i:hover {
  opacity: 0.8;
}

.field-group.attachment-field .attachment-file-i {
  margin-left: 15px;
  font-size: 35px;
  color: #767676;
}

/* ====================================================== */

/* Table */

.field-group.table-field .table-row {
  display: flex;
  align-items: center;
}

.field-group.table-field .table-labels-mobile {
  display: none;
}

.field-group.table-field .table-column {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-top: 12px;
  min-width: 280px;
  flex: 1;
}

.field-group.table-field .table-column .field-group.row,
.field-group.table-field .table-column .field-group.row label,
.field-group.table-field .table-column .field-group.row .field-input,
.field-group.table-field .table-column-mobile .field-group.row,
.field-group.table-field .table-column-mobile .field-group.row label,
.field-group.table-field .table-column-mobile .field-group.row .field-input {
  margin: 0;
  padding: 0;
}

.field-group.table-field .table-component .field-question {
  display: none;
}

.field-group.table-field .table-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}

.field-group.table-field .table-row-blue {
  background-color: #f0f4f6;
}

.field-group.table-field .table-add-row div {
  margin-top: 20px;
}

.field-group.table-field .table-add-row .bx-plus {
  font-weight: 600;
}

.field-group.table-field .table-delete-row-mobile,
.field-group.table-field .table-delete-row,
.field-group.table-field .table-add-row {
  cursor: pointer;
}

.field-group.table-field .table-delete-row {
  min-width: 80px;
  margin-left: -10px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f60ce;
}

.field-group.table-field .table-delete-row.bottom-row-line {
  height: 79px;
}

.field-group.table-field .table-delete-row-mobile {
  display: none;
}

.field-group.table-field .table-row-mobile {
  padding-bottom: 12px;
  padding-top: 12px;
}

.field-group.table-field .table-column-mobile {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.field-group.table-field .input-group-btn .bx-x {
  vertical-align: text-bottom;
}

.field-group.table-field #row-tally {
  color: #767676;
}

@media (min-width: 768px) {
  .field-group.table-field #row-tally {
    text-align: right;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 48px;
  }
}

@media not all and (min-width: 768px) {
  .field-group.table-field #row-tally {
    text-align: center;
    max-width: 210px;
  }
}

.field-group.table-field .bottom-row-line {
  border-bottom: 1px solid #ddd;
}

.field-group.table-field .dropdownPadding {
  padding-bottom: 110px;
}

.field-group.table-field .ui-select-choices-group {
  max-height: 110px;
}

.field-group.table-field .ui-select-match {
  overflow: hidden;
}

/* Mobile styling for table */
@media (max-width: 768px) {
  .field-group.table-field .table-row div.bottom-row-line {
    border-bottom: none;
  }

  .field-group.table-field .table-row.table-labels-desktop {
    display: none;
  }

  .field-group.table-field .table-row div.bottom-row-line:last-child {
    border-bottom: 1px solid #ddd;
  }

  .field-group.table-field .table-delete-row {
    display: none;
  }

  .field-group.table-field .table-delete-row-mobile {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-top: 0;
    color: #2f60ce;
  }

  .field-group.table-field .table-labels-mobile {
    display: flex;
  }

  .field-group.table-field .table-row {
    /* Block for IE11 compatibility in mobile */
    display: block;
  }

  .field-group.table-field .table-column {
    width: 100%;
  }
}
