<div class="start-end-page text-center">
  <div ng-if="vm.logoUrl" class="form-header">
    <center><img ng-src="{{ vm.logoUrl }}" /></center>
  </div>
  <div id="end-page-main-container" class="{{ vm.colorTheme }}-bg">
    <div class="row">
      <p id="end-page-header">
        <span id="end-page-responseid">
          Response ID: <span id="end-page-id"> {{ vm.responseId }} </span>
        </span>
        <br />
        <span>
          Form submitted
          <span id="end-page-timestamp"> {{ vm.timestamp }} </span>
        </span>
      </p>
      <h2 id="end-page-title">{{ vm.title }}</h2>
      <div class="end-page-follow-up end-page-instructions">
        <p ng-bind-html="vm.paragraph | linky:'_blank'"></p>
      </div>
      <div class="end-page-follow-up" ng-if="vm.authType === 'MyInfo'">
        <p>You will be automatically logged out of Singpass.</p>
      </div>

      <div id="end-page-btn-link">
        <p
          ng-click="vm.customLinkReload()"
          ng-class="{'disable-link': vm.isAdminPreview}"
        >
          <span>{{ vm.buttonText }}</span>
          <span ng-if="!vm.buttonText">Submit another form</span>
        </p>
      </div>

      <!-- No log out option for MyInfo as logins do not persist -->
      <div ng-if="['SP', 'CP'].includes(vm.authType) && vm.userName">
        <button
          type="button"
          class="end-page-btn {{ vm.colorTheme }}-font"
          ng-click="vm.formLogout()"
          ng-disabled="vm.isAdminPreview"
        >
          <span>{{ vm.userName }} - Log out</span
          ><span class="hidden-xs"><i class="bx bx-log-out"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
