<div class="attachment-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <label
      for="{{ vm.field._id || 'defaultID' }}"
      class="
        btn-custom btn-large
        col-md-3 col-sm-3 col-xs-12
        ng-scope
        attachment-button
      "
      ng-class="['{{ colortheme }}-bg {{ colortheme }}-border', vm.attachmentIsDisabled(vm.field) ? 'disabled' : '']"
      ng-click="vm.forms.myForm[vm.field._id].$setTouched(); vm.touchAttachment()"
      ng-if="!vm.fileAttached"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
    >
      <input
        id="{{ vm.field._id || 'defaultID' }}"
        type="file"
        class="attachment-upload-input"
        ng-class="vm.isLoading ? btn-pressed : ''"
        name="{{ vm.field._id || 'defaultID' }}"
        ng-required="vm.field.required"
        ngf-before-model-change="vm.beforeResizingImages(vm.field._id)"
        ngf-resize-if="$width > 1024"
        ngf-resize="{width: 1024, centerCrop: false}"
        ngf-validate-after-resize="true"
        ngf-max-files="1"
        ngf-max-size="vm.field.attachmentSize * 1000000"
        ngf-select="vm.uploadFile($file, $invalidFiles, vm.field._id)"
        ng-model="vm.field.fieldValue"
      />
      <span ng-if="vm.isLoading">
        <i class="bx bx-loader bx-spin bx-md icon-spacing"></i>Loading...
      </span>
      <span ng-if="!vm.isLoading">
        <i class="fa fa-cloud-upload attachment-upload"></i>Upload File
      </span>
    </label>
  </div>
  <div class="attachment-filesize col-xs-12" ng-if="!vm.fileAttached">
    Max File Size: {{ vm.field.attachmentSize }} MB
  </div>
  <div ng-if="vm.fileAttached" class="col-xs-12">
    <div class="attachment-attached">
      <div class="attachment-attached-contents">
        <div class="attachment-attached-item">
          <i class="fa fa-file attachment-file-i"></i>
        </div>
        <div class="attachment-attached-item attachment-attached-filename">
          <h4 class="attachment-attached-name">{{ vm.fileName }}</h4>
          <small class="attachment-attached-size">{{ vm.fileSize }}</small>
        </div>
        <div class="attachment-attached-item attachment-attached-icon">
          <a ng-click="vm.removeFile()" href="" ng-disabled="vm.field.disabled"
            ><i
              title="Delete Attachment"
              class="bx bx-trash attachment-attached-i"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Error -->
  <div class="col-xs-12">
    <div
      class="alert-custom alert-error alert-padding-top"
      ng-if="vm.fileError"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <span class="alert-msg">{{ vm.fileError }}. Please try again.</span>
    </div>
    <field-error-component
      ng-if="!vm.fileError && vm.field.required && !vm.fileAttached && (vm.forms.myForm[(vm.field._id || 'defaultID')].$touched || vm.isAttachmentTouched)"
      class="alert-padding-top"
    >
    </field-error-component>
  </div>
</div>
