<div class="field-group radiobtn row">
  <!-- Question -->
  <label class="field-question col-xs-12">
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <div class="col-xs-12 field-input">
    <div
      id="{{ 'radio' + (vm.field._id || 'defaultID') }}"
      data-last-selected="''"
    >
      <!-- Main Input -->
      <div
        ng-repeat="option in vm.field.fieldOptions track by $index"
        class="row"
      >
        <div class="col-xs-12 radio-option">
          <label class="col-xs-12">
            <input
              type="radio"
              id="{{ vm.field._id || 'defaultID' }}"
              name="{{ vm.field._id || 'defaultID' }}"
              ng-model="vm.field.fieldValue"
              value="{{ option }}"
              ng-required="vm.field.required && !vm.field.fieldValue"
              ng-disabled="vm.field.disabled"
              tabindex="{{ $index == 0 ? '' : '-1' }}"
              ng-click="vm.selectRadioBtn($event, vm.field); vm.forms.myForm[vm.field._id || 'defaultID'].$setTouched()"
              aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
              aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
            />
            <span ng-if="option">{{ option }}</span>
            <span ng-if="!option">&nbsp;</span>
            <span
              class="radiomark"
              ng-class="vm.field.fieldValue === option ? '{{ vm.colortheme }}-border' : ''"
            ></span>
          </label>
        </div>
      </div>
      <!-- Others Input -->
      <div ng-if="vm.field.othersRadioButton" class="row">
        <div class="col-xs-12 radio-option">
          <label class="col-xs-12">
            <input
              type="radio"
              id="{{ vm.field._id || 'defaultID' }}"
              name="{{ vm.field._id || 'defaultID' }}"
              ng-model="vm.field.fieldValue"
              value="radioButtonOthers"
              ng-required="vm.field.required"
              ng-disabled="vm.field.disabled"
              ng-click="vm.selectRadioBtn($event, vm.field); vm.forms.myForm[vm.field._id || 'defaultID'].$setTouched()"
            />
            Others
            <span
              class="radiomark"
              ng-class="vm.field.fieldValue === 'radioButtonOthers' ? '{{ vm.colortheme }}-border' : ''"
            ></span>
          </label>
          <div class="col-xs-12 others-text-field-pad">
            <input
              type="text"
              id="{{ 'others' + (vm.field._id || 'defaultID') }}"
              name="{{ 'others' + (vm.field._id || 'defaultID') }}"
              class="input-custom input-large"
              ng-class="vm.field._id"
              ng-model="vm.field.fieldValueOthers"
              ng-required="vm.field.fieldValue === 'radioButtonOthers'"
              ng-click="vm.selectRadioOthers(vm.field._id); vm.forms.myForm[vm.field._id || 'defaultID'].$setTouched()"
              placeholder="If others, please specify."
              autocomplete="off"
              ng-disabled="vm.field.disabled"
              ng-trim="true"
            />
            <!-- Error -->
            <div
              class="alert-custom alert-error"
              ng-if="vm.forms.myForm['others' + (vm.field._id || 'defaultID')].$error.required"
            >
              <i class="bx bx-exclamation bx-md icon-spacing"></i>
              <span class="alert-msg">Please specify others</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Error -->
  <div class="col-xs-12">
    <field-error-component
      ng-if="!vm.forms.myForm['others' + (vm.field._id || 'defaultID')].$error.required &&
      vm.forms.myForm[vm.field._id || 'defaultID'].$error.required &&
      vm.forms.myForm[vm.field._id || 'defaultID'].$touched"
      class="alert-padding-top"
    >
    </field-error-component>
  </div>
</div>
