<div class="yes-no field-group row">
  <!-- Question -->
  <div class="field-question col-xs-12">
    <div>
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-show="!vm.field.required"
        >(optional)</span
      >
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </div>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <div class="custom-toggle" data-last-selected="''">
      <label
        ng-class="vm.field.fieldValue == 'No' ? '{{ vm.colortheme }}-label' : ''"
      >
        <input
          id="{{ vm.field._id || 'defaultID' }}"
          name="{{ vm.field._id || 'defaultID' }}"
          type="radio"
          value="No"
          ng-model="vm.field.fieldValue"
          ng-disabled="vm.field.disabled"
          ng-required="vm.field.required"
          ng-click="vm.selectYesNo($event, vm.field); vm.forms.myForm[vm.field._id || 'defaultID'].$setTouched()"
        />
        <i class="bx bx-x bx-lg icon-spacing"></i>
        NO
      </label>
      <label
        ng-class="vm.field.fieldValue == 'Yes' ? '{{ vm.colortheme }}-label' : ''"
      >
        <input
          id="{{ vm.field._id || 'defaultID'}}"
          name="{{ vm.field._id || 'defaultID' }}"
          type="radio"
          value="Yes"
          ng-model="vm.field.fieldValue"
          ng-disabled="vm.field.disabled"
          ng-required="vm.field.required"
          ng-click="vm.selectYesNo($event, vm.field); vm.forms.myForm[vm.field._id || 'defaultID'].$setTouched()"
        />
        <i class="bx bx-check bx-lg icon-spacing"></i>
        YES
      </label>
    </div>
  </div>

  <!-- Error -->
  <div class="col-xs-12">
    <field-error-component
      ng-if="vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required && vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
      class="alert-padding-top"
    >
    </field-error-component>
  </div>
</div>
