<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <input
      id="{{ vm.field._id  || 'defaultID'}}"
      name="{{ vm.field._id  || 'defaultID'}}"
      class="input-custom input-large"
      ng-model="vm.field.fieldValue"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-pattern="vm.pattern"
      ng-class="vm.field.allowPrefill && vm.field.isPrefilled && 'prefill-highlight'"
      ng-maxlength="{{ vm.field.ValidationOptions && ['Exact', 'Maximum'].includes(vm.field.ValidationOptions.selectedValidation) ? vm.field.ValidationOptions.customVal : ''}}"
      ng-minlength="{{ vm.field.ValidationOptions && ['Exact', 'Minimum'].includes(vm.field.ValidationOptions.selectedValidation) ? vm.field.ValidationOptions.customVal : ''}}"
      ng-model-options="{ allowInvalid: true }"
      ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
      ng-attr-placeholder="{{ vm.placeholder }}"
      autocomplete="on"
      ng-trim="true"
      ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
    />
  </div>

  <!-- Error -->
  <div class="col-xs-12">
    <!-- Custom Validation -->
    <div
      ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
      ng-show="vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
    >
      <field-error-component ng-message="required"></field-error-component>
      <div ng-message="minlength" class="alert-custom alert-error">
        <div class="alert-msg">
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          Minimum {{vm.field.ValidationOptions.customVal}} characters
          ({{vm.forms.myForm[(vm.field._id ||
          'defaultID')].$viewValue.length}}/{{vm.field.ValidationOptions.customVal}})
        </div>
      </div>
      <div ng-message="maxlength" class="alert-custom alert-error">
        <div class="alert-msg">
          <i class="bx bx-exclamation bx-md icon-spacing"></i>
          Maximum {{vm.field.ValidationOptions.customVal}} characters
          ({{vm.forms.myForm[(vm.field._id ||
          'defaultID')].$viewValue.length}}/{{vm.field.ValidationOptions.customVal}})
        </div>
      </div>
    </div>
  </div>
</div>
