<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <input
      id="{{ vm.field._id  || 'defaultID'}}"
      type="number"
      name="{{ vm.field._id  || 'defaultID'}}"
      class="input-custom input-large"
      ng-model="vm.field.fieldValue"
      ng-min="vm.field.ValidationOptions.customMin"
      ng-max="vm.field.ValidationOptions.customMax"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-pattern="/^-?[0-9]*(\.[0-9]+)?$/"
      ng-model-options="{ allowInvalid: true }"
      ng-keyup="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
      autocomplete="off"
      ng-trim="false"
      ng-class="vm.field.disabled && vm.field.fieldValue ? 'myinfo-disable' : ''"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
    />
  </div>

  <!-- Error -->
  <!-- TODO: Convert to ngMessages implementation -->
  <div class="col-xs-12">
    <div
      ng-if="vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required && vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
      class="alert-custom alert-error"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <div class="alert-msg">
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax !== null"
        >
          Please enter a required decimal between
          {{vm.formatNumber(vm.field.ValidationOptions.customMin)}} and
          {{vm.formatNumber(vm.field.ValidationOptions.customMax)}} (inclusive)
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax === null"
        >
          Please enter a required decimal greater than or equal to
          {{vm.formatNumber(vm.field.ValidationOptions.customMin)}}
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax !== null"
        >
          Please enter a required decimal less than or equal to
          {{vm.formatNumber(vm.field.ValidationOptions.customMax)}}
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax === null"
        >
          Please fill in required field
        </div>
      </div>
    </div>
    <!-- Custom Validation -->
    <div
      ng-if="!vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required && vm.forms.myForm[(vm.field._id || 'defaultID')].$invalid"
      class="alert-custom alert-error"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <div class="alert-msg">
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax !== null"
        >
          Please enter a decimal between
          {{vm.formatNumber(vm.field.ValidationOptions.customMin)}} and
          {{vm.formatNumber(vm.field.ValidationOptions.customMax)}} (inclusive)
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax === null"
        >
          Please enter a decimal greater than or equal to
          {{vm.formatNumber(vm.field.ValidationOptions.customMin)}}
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax !== null"
        >
          Please enter a decimal less than or equal to
          {{vm.formatNumber(vm.field.ValidationOptions.customMax)}}
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax === null"
        >
          Please enter a valid decimal
        </div>
      </div>
    </div>
  </div>
</div>
