<div class="dropdown field-group row">
  <!-- Question -->
  <label class="field-question col-xs-12">
    <div id="label-{{ vm.field._id || 'defaultID' }}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
      id="description-{{ vm.field._id || 'defaultID' }}"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <div class="input-group" id="dropdown-input">
      <ui-select
        id="{{ vm.field._id || 'defaultID' }}"
        name="{{ vm.field._id || 'defaultID' }}"
        theme="selectize"
        search-enabled="true"
        ng-model="vm.field.fieldValue"
        ng-required="vm.field.required"
        ng-disabled="vm.field.disabled"
        uis-open-close="vm.onDropdownOpenClose()"
      >
        <ui-select-match> {{ $select.selected }} </ui-select-match>
        <ui-select-choices
          position="down"
          refresh="vm.dropdownFilter($select.search)"
          refresh-delay="300"
          repeat="option in vm.filteredDropdownOptions | limitTo: vm.infiniteScroll.currentItems track by $index"
          infinite-scroll="vm.addMoreItems()"
          infinite-scroll-container="vm.infiniteScroll.scrollContainer"
          infinite-scroll-distance="3"
        >
          <span ng-bind="option"></span>
        </ui-select-choices>
      </ui-select>
      <span class="input-group-btn input-group-btn-height">
        <button
          type="button"
          class="btn btn-dropdown"
          ng-click="vm.field.fieldValue = null"
          ng-disabled="!vm.field.fieldValue || vm.field.disabled"
        >
          <i class="bx bx-x bx-md"></i>
        </button>
      </span>
    </div>
  </div>

  <!-- Error -->
  <div
    class="col-xs-12"
    ng-messages="vm.forms.myForm[(vm.field._id || 'defaultID')].$error"
    ng-show="vm.forms.myForm[vm.field._id || 'defaultID'].$touched"
  >
    <field-error-component ng-message="required"></field-error-component>
  </div>
</div>
