<div class="text-field field-group row">
  <!-- Question -->
  <label
    for="{{ vm.field._id  || 'defaultID'}}"
    class="field-question col-xs-12"
  >
    <div id="label-{{ vm.field._id || 'defaultID'}}">
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
      id="description-{{ vm.field._id || 'defaultID'}}"
    ></div>
  </label>

  <!-- Input -->
  <div class="col-xs-12 field-input">
    <textarea
      id="{{ vm.field._id  || 'defaultID'}}"
      rows="3"
      type="text"
      name="{{ vm.field._id  || 'defaultID' }}"
      class="input-custom input-large"
      ng-model="vm.field.fieldValue"
      ng-maxlength="{{ vm.field.ValidationOptions ? vm.field.ValidationOptions.customMax : ''}}"
      ng-minlength="{{ vm.field.ValidationOptions ? vm.field.ValidationOptions.customMin : ''}}"
      ng-model-options="{ allowInvalid: true }"
      ng-required="vm.field.required"
      ng-disabled="vm.field.disabled"
      ng-trim="true"
      ng-keyup="vm.forms.myForm[vm.field._id  || 'defaultID'].$setTouched()"
      aria-labelledby="label-{{ vm.field._id || 'defaultID'}}"
      aria-describedby="description-{{ vm.field._id || 'defaultID'}}"
    >
    </textarea>
  </div>

  <div class="col-xs-12">
    <!-- Error -->
    <field-error-component
      ng-if="vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required && vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
    >
    </field-error-component>

    <!-- Custom Validation -->
    <div
      ng-if="vm.forms.myForm[(vm.field._id || 'defaultID')].$error.minlength || vm.forms.myForm[(vm.field._id || 'defaultID')].$error.maxlength"
      class="alert-custom alert-error"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <div class="alert-msg">
        <div
          ng-if="vm.field.ValidationOptions.selectedValidation === 'Minimum'"
        >
          Minimum {{vm.field.ValidationOptions.customMin}} characters
          ({{vm.field.fieldValue.length}}/{{vm.field.ValidationOptions.customMin}})
        </div>
        <div
          ng-if="vm.field.ValidationOptions.selectedValidation === 'Maximum'"
        >
          Maximum {{vm.field.ValidationOptions.customMax}} characters
          ({{vm.field.fieldValue.length}}/{{vm.field.ValidationOptions.customMax}})
        </div>
        <div ng-if="vm.field.ValidationOptions.selectedValidation === 'Exact'">
          Must be exactly {{vm.field.ValidationOptions.customMax}} characters
          ({{vm.field.fieldValue.length}}/{{vm.field.ValidationOptions.customMax}})
        </div>
      </div>
    </div>
  </div>
</div>
