<div class="field-group checkbox row">
  <!-- Question -->
  <div class="field-question col-xs-12">
    <div>
      <span class="field-number" ng-show="vm.field.field_number"
        >{{ vm.field.field_number }}.</span
      >
      <span class="field-title">{{ vm.field.title }}</span>
      <span class="field-optional" ng-if="!vm.field.required">(optional)</span>
    </div>
    <div
      class="field-description"
      id="description-{{ vm.field._id || 'defaultID'}}"
      ng-if="vm.field.description"
      ng-bind-html="vm.field.description | linky:'_blank'"
    ></div>
  </div>

  <!-- Main Input -->
  <div class="col-xs-12 field-input">
    <div
      ng-repeat="option in vm.field.fieldOptions track by $index"
      class="row"
    >
      <div class="checkbox-option col-xs-12">
        <label class="col-xs-12">
          <input
            type="checkbox"
            id="{{ vm.field._id || 'defaultID' }}"
            name="{{ vm.field._id || 'defaultID' }}"
            ng-model="vm.field.fieldValue[$index]"
            ng-model-options="{ allowInvalid: true }"
            value="{{ option }}"
            ng-required="vm.field.required && !vm.field.fieldValue.includes(true)"
            ng-disabled="vm.field.disabled"
            tabindex="{{ $index == 0 ? '' : '-1'}}"
            ng-click="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched()"
            min-selected="vm.field.ValidationOptions && vm.field.ValidationOptions.customMin"
            max-selected="vm.field.ValidationOptions && vm.field.ValidationOptions.customMax"
            validate-checkbox="vm.field.fieldValue"
          />
          {{ option }}
          <span
            class="checkmark"
            ng-class="vm.field.fieldValue[$index] === true ? '{{ vm.colortheme }}-bg {{ vm.colortheme }}-border' : ''"
          >
            <i
              ng-show="vm.field.fieldValue[$index] === true"
              class="bx bx-check"
            ></i>
          </span>
        </label>
      </div>
    </div>
    <!-- Others Input -->
    <div ng-if="vm.field.othersRadioButton" class="row">
      <div class="checkbox-option col-xs-12">
        <label class="col-xs-12">
          <input
            type="checkbox"
            id="{{ vm.field._id || 'defaultID' }}"
            name="{{ vm.field._id || 'defaultID' }}"
            ng-model="vm.field.fieldValue[vm.field.fieldValue.length - 1]"
            ng-model-options="{ allowInvalid: true }"
            value="checkboxOthers"
            ng-required="vm.field.required && !vm.field.fieldValue.includes(true)"
            ng-disabled="vm.field.disabled"
            tabindex="{{ $index == 0 ? '' : '-1'}}"
            ng-click="vm.forms.myForm[(vm.field._id || 'defaultID')].$setTouched(); vm.focusCustomCheckbox(vm.field.fieldValue[vm.field.fieldValue.length - 1], vm.field._id)"
            min-selected="vm.field.ValidationOptions && vm.field.ValidationOptions.customMin"
            max-selected="vm.field.ValidationOptions && vm.field.ValidationOptions.customMax"
            validate-checkbox="vm.field.fieldValue"
          />
          Others
          <span
            class="checkmark"
            ng-class="vm.field.fieldValue[vm.field.fieldValue.length - 1] === true ? '{{ vm.colortheme }}-bg {{ vm.colortheme }}-border' : ''"
          >
            <i
              ng-show="vm.field.fieldValue[vm.field.fieldValue.length - 1] === true"
              class="bx bx-check"
            ></i>
          </span>
        </label>
        <div class="others-text-field-pad col-xs-12">
          <input
            type="text"
            id="{{ 'others' + (vm.field._id || 'defaultID') }}"
            name="{{ 'others' + (vm.field._id || 'defaultID') }}"
            class="input-custom input-large"
            ng-class="vm.field._id"
            ng-model="vm.field.fieldValueOthers"
            ng-model-options="{ allowInvalid: true }"
            ng-required="vm.field.fieldValue[vm.field.fieldValue.length - 1] === true"
            ng-click="vm.field.fieldValue[vm.field.fieldValue.length - 1] = true"
            placeholder="If others, please specify."
            autocomplete="off"
            ng-disabled="vm.field.disabled"
            ng-trim="true"
          />
          <!-- Error -->
          <div
            class="alert-custom alert-error"
            ng-if="!vm.forms.myForm[(vm.field._id || 'defaultID')].$error.checkboxValidator &&  
            vm.forms.myForm['others' + (vm.field._id || 'defaultID')].$error.required"
          >
            <i class="bx bx-exclamation bx-md icon-spacing"></i>
            <span class="alert-msg">Please specify others</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Error -->
  <!-- TODO: Convert to ngMessage -->
  <div class="col-xs-12">
    <div
      ng-if="(vm.forms.myForm[(vm.field._id || 'defaultID')].$error.required || 
      vm.forms.myForm[(vm.field._id || 'defaultID')].$error.checkboxValidator) &&
      vm.forms.myForm[(vm.field._id || 'defaultID')].$touched"
      class="alert-custom alert-error"
    >
      <i class="bx bx-exclamation bx-md icon-spacing"></i>
      <div class="alert-msg">
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax !== null"
        >
          <div
            ng-if="vm.field.ValidationOptions.customMin === vm.field.ValidationOptions.customMax"
          >
            Please select exactly {{vm.field.ValidationOptions.customMin}}
            option(s)
          </div>
          <div
            ng-if="vm.field.ValidationOptions.customMin !== vm.field.ValidationOptions.customMax"
          >
            Please select between {{vm.field.ValidationOptions.customMin}} to
            {{vm.field.ValidationOptions.customMax}} options
          </div>
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin !== null && vm.field.ValidationOptions.customMax === null"
        >
          Please select at least {{vm.field.ValidationOptions.customMin}}
          option(s)
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax !== null"
        >
          Please select at most {{vm.field.ValidationOptions.customMax}}
          option(s)
        </div>
        <div
          ng-if="vm.field.ValidationOptions.customMin === null && vm.field.ValidationOptions.customMax === null"
        >
          Please select at least 1 option
        </div>
      </div>
    </div>
  </div>
</div>
