<div class="start-end-page text-center">
  <div id="start-page-header" class="{{ vm.colorTheme }}-bg">
    <p id="start-page-header-title">{{ vm.formTitle }}</p>
    <div id="start-page-header-nav">
      <span
        ng-if="vm.authType!=='NIL' && (vm.isTemplate || vm.userName)"
        class="start-page-header-nav-item"
        ng-click="!vm.isTemplate? vm.formLogout() : null"
      >
        Log out<i class="bx bx-log-out"></i>
      </span>
    </div>
  </div>
  <div id="start-page-container">
    <div id="start-page-main-container" class="{{ vm.colorTheme }}-bg">
      <!-- Header View on all pages -->
      <sg-govt-banner-component></sg-govt-banner-component>
      <div ng-if="vm.logoUrl" class="form-header">
        <!-- TODO: <center> tag is deprecated in HTML5 -->
        <center><img ng-src="{{ vm.logoUrl }}" /></center>
      </div>
      <div
        ng-show="!vm.logoUrl && vm.isAdminPreview && vm.logoState === vm.FormLogoState.Custom"
        class="form-header"
      >
        <center>
          <img ng-src="/public/modules/core/img/bx-image-add.svg" />
        </center>
      </div>

      <div class="row">
        <div id="start-page-title">
          <strong>
            <h1>{{ vm.formTitle }}</h1>
          </strong>
        </div>
        <p id="start-page-time-taken" ng-if="vm.estTimeTaken">
          <i class="fa fa-clock-o"></i>
          <span>
            <strong
              >{{ vm.estTimeTaken }} min{{ vm.estTimeTaken === 1 ? "" : "s"
              }}</strong
            >
            estimated time to complete
          </span>
        </p>
        <div
          id="start-page-btn-container"
          ng-if="['SP', 'CP', 'MyInfo'].includes(vm.authType)"
        >
          <button
            type="button"
            class="start-page-btn {{ vm.colorTheme }}-font"
            ng-click="vm.formLogin({ authType: vm.authType, rememberMe: vm.rememberMe.checked })"
            ng-if="['SP', 'MyInfo'].includes(vm.authType) && !vm.userName && !vm.isTemplate"
            ng-disabled="vm.isAdminPreview"
          >
            <span>Log in with SingPass</span>
            <span class="hidden-xs">
              <i class="bx bx-log-in"></i>
            </span>
          </button>
          <button
            type="button"
            class="start-page-btn {{ vm.colorTheme }}-font"
            ng-click="vm.formLogin({ authType: 'CP', rememberMe: false })"
            ng-if="vm.authType==='CP' && !vm.userName && !vm.isTemplate"
            ng-disabled="vm.isAdminPreview"
          >
            <span>Log in with CorpPass</span>
            <span class="hidden-xs">
              <i class="bx bx-log-in"></i>
            </span>
          </button>
          <button
            type="button"
            class="start-page-btn {{ vm.colorTheme }}-font"
            ng-click="vm.formLogout()"
            ng-if="vm.authType!=='NIL' && vm.userName && !vm.isTemplate"
          >
            <span>{{ vm.userName }} - Log out</span>
            <span class="hidden-xs">
              <i class="bx bx-log-out"></i>
            </span>
          </button>
          <button
            type="button"
            class="start-page-btn {{ vm.colorTheme }}-font"
            ng-if="vm.authType!=='NIL' && vm.isTemplate"
          >
            <span
              >{{ ['SP', 'MyInfo'].includes(vm.authType) ? 'S1234567A' :
              '123456789A'}} - Log out</span
            >
            <span class="hidden-xs">
              <i class="bx bx-log-out"></i>
            </span>
          </button>
          <div ng-if="!vm.userName && !vm.isTemplate">
            <div
              ng-if="['SP', 'MyInfo'].includes(vm.authType)"
              class="form-locked-msg padded-view"
            >
              Login with SingPass to access this form. Your SingPass ID will be
              included with your form submission.
            </div>
            <div ng-if="vm.authType==='CP'" class="form-locked-msg padded-view">
              Login with CorpPass to access this form. Your Entity ID and
              CorpPass ID will be included with your form submission.
            </div>
          </div>
          <label
            class="remember-me-btn"
            ng-if="(vm.authType==='SP') && !vm.userName && !vm.isTemplate"
          >
            <input
              type="checkbox"
              ng-model="vm.rememberMe.checked"
              ng-disabled="vm.isAdminPreview"
            />
            <span
              class="checkmark"
              ng-class="vm.rememberMe.checked === true ? '{{ vm.colorTheme }}-bg' : ''"
            >
              <i
                ng-show="vm.rememberMe.checked === true"
                class="bx bx-check"
                ng-class="'{{ vm.colorTheme }}-font'"
              ></i>
            </span>
            <span class="remember-me-span">Keep me logged in</span>
          </label>
        </div>
      </div>
    </div>
    <div
      ng-if="vm.myInfoError"
      class="form-locked-msg myinfo-error padded-view"
    >
      <i class="bx bx-exclamation"></i>
      <span>
        An error occurred while retrieving your MyInfo details. Kindly refresh
        your browser and log in again, or try again later.
      </span>
    </div>
    <div ng-if="vm.paragraph" id="start-page-req" class="padded-view row">
      <div class="standard-padding">
        <div id="start-page-req-content">
          <h3 class="{{ vm.colorTheme }}-font no-margin">
            <strong>Instructions</strong>
          </h3>
          <p ng-bind-html="vm.paragraph | linky:'_blank'"></p>
        </div>
      </div>
    </div>
  </div>
</div>
