<ng-transclude
  ng-class="(vm.field.isVerifiable ? 'col-sm-9' : 'col-sm-12') + ' vfn-slot'"
></ng-transclude>
<div class="verifiable" ng-if="vm.field.isVerifiable">
  <div class="vfn-btn-container col-sm-3 col-xs-12 pull-right field-group">
    <!-- Verify button -->
    <button
      type="button"
      class="vfn-btn btn-custom btn-large field-group"
      ng-click="vm.getNewOtp()"
      ng-show="!vm.display.verifyBtn.hidden"
      ng-disabled="!vm.isInputValid() || vm.display.verifyBtn.disabled || vm.isLoading"
    >
      <!-- Encapsulate with a div due to animation preventing hide for some reason -->
      <div class="btn--loading" ng-show="vm.display.verifyBtn.loading">
        <i class="bx bx-loader bx-spin"></i>
      </div>
      <span ng-show="!vm.display.verifyBtn.loading">Verify</span>
    </button>

    <!-- Tick -->
    <button
      type="button"
      class="btn-custom btn-large field-group"
      ng-show="!vm.display.tick.hidden"
      disabled="disabled"
    >
      <i class="bx bx-check icon-spacing"></i>Verified
    </button>
  </div>

  <!-- Vfn section -->
  <div
    class="row col-xs-12"
    name="vm.vfnSection"
    ng-form
    ng-show="!vm.display.section.hidden"
  >
    <div class="vfn-section">
      <div class="col-sm-3 hidden-xs top-2x">
        <img
          ng-if="vm.field.fieldType === 'mobile'"
          src="/public/modules/core/img/otp-mobile-illustration.svg"
        />
        <img
          ng-if="vm.field.fieldType === 'email'"
          src="/public/modules/core/img/otp-email-illustration.svg"
        />
      </div>

      <div class="col-xs-12">
        <div class="row col-xs-12 title">
          {{ 'Verify your ' + (vm.field.fieldType === 'mobile' ? 'mobile number'
          : 'email') }}
        </div>
        <div class="row col-xs-12 top-1x">
          {{ (vm.field.fieldType === 'mobile' ? 'A text message' : 'An email') +
          ' with a verification code was just sent to you. The code will be
          valid for 30 minutes.' }}
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 top-2x">
            <!-- OTP Input box-->
            <input
              name="{{vm.otp.id}}"
              class="input-medium input-custom"
              type="text"
              maxlength="6"
              ng-required="!vm.display.section.hidden || (
                          vm.field.isVisible &&
                          vm.field.fieldValue.length > 0)"
              ng-model="vm.otp.value"
              ng-pattern="/^\d{6}$/"
              ng-disabled="vm.display.otpInput.disabled || vm.isLoading"
              ng-change="vm.handleChange()"
            />

            <div
              ng-if="vm.vfnSection[vm.otp.id].$touched && !vm.vfnSection[vm.otp.id].$valid"
              ng-messages="vm.vfnSection[vm.otp.id].$error"
            >
              <field-error-component
                ng-message="required"
              ></field-error-component>
              <field-error-component
                ng-message="pattern"
                text="'OTP must be 6 digits'"
              >
              </field-error-component>
            </div>

            <!--'invalidOtp' message-->
            <div
              ng-if="!vm.vfnSection[vm.otp.id].$touched || vm.vfnSection[vm.otp.id].$valid"
            >
              <field-error-component
                ng-if="vm.display.err"
                text="vm.display.err"
              >
              </field-error-component>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 top-2x">
            <!-- OTP Submit button-->
            <button
              type="button"
              class="btn-custom btn-small"
              ng-click="vm.verifyOtp(vm.otp.value)"
              ng-disabled="!vm.vfnSection[vm.otp.id].$valid ||
            vm.display.otpSubmitBtn.disabled || vm.isLoading"
            >
              <div
                class="btn--loading"
                ng-show="vm.display.otpSubmitBtn.loading"
              >
                <i class="bx bx-loader bx-spin"></i>
              </div>
              <span ng-show="!vm.display.otpSubmitBtn.loading">Submit</span>
            </button>
          </div>
        </div>

        <!--Resend button-->
        <div
          class="row col-xs-12 top-2x resend"
          ng-class="(vm.display.resendBtn.disabled || vm.display.resendBtn.overrideDisabled) ? 'disabled' : ''"
        >
          <a
            ng-click="!vm.display.resendBtn.disabled && !vm.display.resendBtn.overrideDisabled && vm.getNewOtp()"
            >Resend OTP</a
          >
          <span ng-if="vm.countdown > 0"> in {{ vm.countdown}} seconds </span>
        </div>
        <!--'Required but unverified' message  is on the parent input box-->
      </div>
    </div>
  </div>
</div>
