<!-- The card will not appear if it was injected with a specified template (to open by default) by /use-template -->
<div id="form-card" ng-if="!autoOpenModal" ng-click="openTemplateModal()">
  <div class="top-section">
    <img ng-src="{{form.logo}}" />
  </div>
  <div
    class="middle-section {{ form.colorTheme ?  form.colorTheme : 'blue' }}-bg"
  >
    <div class="form-title" ng-if="form.title.length <= 65">{{form.title}}</div>
    <div class="form-title" ng-if="form.title.length > 65">
      {{form.title.substring(0, 65)}} ...
    </div>
  </div>
  <div class="bottom-section">
    <div id="agency-name">{{form.agency}}</div>
  </div>
</div>

<div class="full-screen-template" ng-if="showTemplate">
  <div class="template-background" ng-click="closeTemplateModal()"></div>
  <div class="template-header">
    <div class="header-group">
      <div class="header-stat">
        <div class="stat-title">Rating</div>
        <div class="stat-value">
          <span class="rating-value">
            {{ feedbackScore }}
            <img ng-src="{{ emojiUrl }}" />
          </span>
        </div>
      </div>
    </div>
    <div class="header-group">
      <button
        class="btn-custom btn-medium use-template-btn"
        ng-click="useTemplate()"
      >
        Use Template
      </button>
      <div class="close-button" ng-click="closeTemplateModal()">
        <i class="bx bx-x"></i>
      </div>
    </div>
  </div>
  <div class="template-iframe">
    <div class="loading-spinner" id="iframe-spinner" ng-if="showIframeSpinner">
      <i class="bx bx-loader bx-spin"></i>
    </div>
    <iframe
      ng-src="{{templateUrl}}"
      frameborder="0"
      ng-onload="onIframeLoad()"
    ></iframe>
  </div>
</div>
