<div class="page-container">
  <navbar-component></navbar-component>

  <div id="examples-tab">
    <section class="container" ng-if="vm.user" ng-init="vm.loadNextPage()">
      <div id="title">Form examples</div>
      <div class="row" id="title-grp">
        <div id="sub-title" class="col-md-6">
          <span ng-if="vm.searchParams.searchTerm">
            <span id="searchResults"
              ><b>{{vm.uiState.totalNumResults}}</b> form(s) matching
              ‘{{vm.searchParams.searchTerm}}’ in ‘{{
              vm.searchParams.filterByAgency ? 'Your agency' : 'All agencies'
              }}’</span
            >
            <a href="" ng-click="vm.resetSearch()">Reset</a>
          </span>
          <span ng-if="!vm.searchParams.searchTerm">
            Explore forms and use as a template
          </span>
        </div>
        <div id="search-grp" class="col-md-6">
          <div id="dropdown" class="dropdown" uib-dropdown>
            <span
              class="dropdown-toggle"
              id="dropdown-selection"
              type="button"
              uib-dropdown-toggle
              ng-disabled="disabled"
            >
              {{ vm.searchParams.filterByAgency ? 'Your agency' : 'All agencies'
              }}
              <span class="caret"></span>
            </span>
            <ul
              class="dropdown-menu"
              id="dropdown-options"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="dropdown-selection"
            >
              <li role="menuitem">
                <a href="" ng-click="vm.updateSelection(false)">All agencies</a>
              </li>
              <li role="menuitem">
                <a href="" ng-click="vm.updateSelection(true)">Your agency</a>
              </li>
            </ul>
          </div>

          <i
            id="search-icon"
            class="bx bx-search"
            ng-click="vm.openSearch()"
            ng-if="vm.uiState.hideSearchBar"
          ></i>
          <div id="search-input" ng-if="!vm.uiState.hideSearchBar">
            <i class="bx bx-search"></i>
            <input
              id="search-bar"
              class="input-custom input-medium"
              ng-model="vm.uiState.searchInput"
              ng-keyup="$event.keyCode == 13 && vm.searchForms($event)"
            />
            <i class="bx bx-x" ng-click="vm.closeSearch()"></i>
          </div>
        </div>
      </div>

      <div
        id="forms-list"
        class="examples-container"
        infinite-scroll="vm.loadNextPage()"
        infinite-scroll-disabled="vm.uiState.loadingState!=='free'"
        infinite-scroll-distance="1"
      >
        <!-- if user landed on :formId/use-template, the first card will be that specified templateForm -->
        <examples-card
          ng-repeat="form in vm.uiState.forms"
          form="form"
        ></examples-card>
      </div>
      <div ng-if="vm.uiState.loadingState==='busy'" class="loader">
        <i class="bx bx-loader bx-spin"></i>
      </div>
      <div
        class="search-error"
        ng-if="vm.uiState.numResultsLoadedSoFar === 0 && vm.uiState.loadingState !== 'busy'"
      >
        <img ng-src="/public/modules/core/img/error-illustration.svg" />
        <div id="msg-1">No results found</div>
        <div id="msg-2" ng-if="vm.searchParams.searchTerm">
          Try other keywords such as <i>survey</i>, <i>feedback</i> or
          <i>registration</i>.
        </div>
      </div>
      <!-- This card will not be displayed, as examples-card will not show if hasSpecifiedTemplate -->
      <div>
        <examples-card
          ng-if="!!vm.templateForm"
          form="vm.templateForm"
          auto-open-modal="!!vm.templateForm"
        ></examples-card>
      </div>
    </section>
  </div>
  <!-- End Examples search enabled for beta users -->
</div>
